<a href="https://colab.research.google.com/github/frank-morales2020/MLxDL/blob/main/NEWSOLUTION_FINE_TUNING_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Libraries Installation

In [ ]:
!pip install datasets networkx -q

!pip install torch_geometric -q


# Install Pytorch & other libraries
!pip install torch tensorboard --quiet

# Install Hugging Face libraries
!pip install  --upgrade transformers accelerate evaluate bitsandbytes --quiet

#FlashAttention only supports Ampere GPUs or newer. #NEED A100 , L4  IN GOOGLE COLAB
!pip install -U flash-attn --no-build-isolation --quiet


! pip install peft --quiet
! pip install trl ninja packaging --quiet

# Uncomment only if you're using A100 GPU
#!pip install flash-attn --no-build-isolation
!pip install diffusers safetensors  --quiet
!pip install colab-env --quiet

!pip install mistral_inference -q

!pip install trl==0.8.6 -q


!pip install torch-geometric -q
!pip install sqlparse networkx -q

!pip install bitsandbytes -q


#!pip uninstall -y torchvision -q
!pip install torchvision --no-cache-dir -q
#import evaluate

!pip install sentence-transformers

In [3]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import json
from torch.utils.data import Dataset, DataLoader

from datasets import load_dataset

from peft import LoraConfig, get_peft_model, TaskType

from transformers import (
    AutoTokenizer,
    AutoModelForCausalLM,
    BitsAndBytesConfig,
    Trainer,
    TrainingArguments,
)

#from sentence_transformers import SentenceTransformer
from tqdm import tqdm
import spacy
import numpy as np

from torch_geometric.nn import GAT

from trl import setup_chat_format

import colab_env
import evaluate

Mounted at /content/gdrive

## Original Code

https://github.com/frank-morales2020/MLxDL/blob/main/FineTuning_LLM_Mistral_7B_Instruct_v0_1_for_text_to_SQL_EVALDATA.ipynb

* Import Main Components

In [ ]:
!pip cache purge

Files removed: 3168

In [ ]:
train_dataset = load_dataset("json", data_files="/content/gdrive/MyDrive/datasets/train_dataset.json", split="train")

Generating train split: 0 examples [00:00, ? examples/s]

In [ ]:
train_dataset[0]['messages'][0]['content']

'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_92 (total VARCHAR, finish VARCHAR)'

In [ ]:
train_dataset[0]['messages'][1]['content']

'How many times was the finish t32?'

In [ ]:
train_dataset[0]['messages'][2]['content']

'SELECT COUNT(total) FROM table_name_92 WHERE finish = "t32"'

In [ ]:
len(train_dataset)

10000

* https://stackoverflow.com/questions/70950706/assertionerror-in-torch-geometric-nn-gatconv

Absolutely! Let's describe the dataflow in the provided code, breaking it down step-by-step:

1. **Data Input and Preparation:**
   - The process begins by loading the "sql-create-context" dataset, which presumably contains pairs of natural language questions and their corresponding SQL queries.
   - The dataset is divided into three distinct subsets: training, validation, and testing.
   - The Mistral-7B-Instruct-v0.3 language model and its tokenizer are loaded and prepared.

2. **Data Transformation with `TextToSQLDataset`:**
   - The `TextToSQLDataset` class is responsible for converting raw data into a format suitable for model training and evaluation.
   - For each data sample, the following transformations occur:
      - Tokenization: The input question and the SQL query (answer) are tokenized using the loaded tokenizer.
      - Dependency Parsing: The question is parsed using spaCy to extract the grammatical relationships between words, generating a dependency graph.
      - Dictionary Creation: A dictionary is created to store the tokenized input IDs, attention masks, labels (tokenized SQL query), and the dependency edges extracted from parsing.

3. **Batching and Shuffling with `DataLoader`:**
   - `DataLoader` takes the processed dataset from `TextToSQLDataset` and creates an iterable object for efficient batching.
   - Optionally, shuffling is applied to randomize the order of samples within each epoch during training.

4. **Forward Pass through `GraphModel`:**
   - **Mistral Encoder:** The tokenized input IDs and attention masks are fed into the Mistral model's encoder to obtain contextualized token embeddings.
   - **GATv2 Layer:** The GATv2 layer (Graph Attention Network) takes the token embeddings and the dependency edges as input. It applies graph attention mechanisms to incorporate the structural information from the dependency graph into the token representations.
   - **Pooling:** The node representations (output of GATv2) are aggregated using a pooling operation (e.g., mean pooling) to obtain a fixed-size representation of the entire input sequence.
   - **LM Head:** The pooled representation is passed through a linear layer, which produces logits – unnormalized probabilities for each token in the vocabulary.
   - **Loss Calculation:** During training, if labels (correct SQL queries) are available, the cross-entropy loss is calculated between the predicted logits and the true labels. This loss guides the optimization of the model's parameters.

5. **Model Optimization with PEFT (LoRA):**
   - The `GraphModel` is wrapped with PEFT's LoRA (Low-Rank Adaptation) configuration to enable parameter-efficient fine-tuning.
   - During training, only the parameters of the GATv2 layer and the LM head are updated, while the rest of the model parameters remain frozen.
   - The Hugging Face Trainer manages the training process, iterating over the dataset, computing gradients, and updating the model's parameters based on the calculated loss.

6. **Evaluation:**
   - After (or during) training, the model is evaluated on the validation and test sets.
   - The `compute_metrics` function decodes the predicted logits and labels back into text and assesses the model's performance using two metrics:
      - Semantic Similarity: This metric measures how semantically close the predicted SQL query is to the reference SQL query using SentenceTransformer embeddings.
      - Exact Match: This metric checks if the predicted SQL query matches the reference SQL query exactly.

7. **Output:**
    - The final output is the evaluation results, including semantic similarity and exact match scores, which provide insights into the model's ability to generate accurate SQL queries from natural language questions.

Let me know if you have any further questions or would like clarification on any of the steps!

You're absolutely right! I apologize for the error in the previous diagram. The arrow direction was indeed incorrect.

Here's the corrected graphical representation of the dataflow, with the arrow pointing *into* the `Trainer`:

```
+-------------------+          +----------------------+
| Dataset Loading   |          | TextToSQLDataset     |
|  - sql-create...  | -------> | - Tokenization       |
|  - Split: train...|          | - Dependency Parsing |
+-------------------+          | - Dict Creation      |
                               +----------------------+
                                         |
                                         v
                         +---------------------------+
                         | DataLoader                |
                         | - Batches, Shuffling (opt)|
                         +---------------------------+
                                         |
                                         v
                         +---------------------------+
                         | GraphModel                |
                         | - Mistral Encoder         |
                         | - GATv2 Layer             |
                         | - Pooling                 |
                         | - LM Head                 |
                         | - (Loss Calculation)      |
                         +---------------------------+
                                         |
                                         v
            +--------------+          +---------+         +-----------------+
            | PEFT (LoRA)  | -------> | Trainer | <------ |Evaluation       |
            +--------------+          |         |         |(compute_metrics)|
                                      +---------+         +-----------------+
                                         |
                                         v
                                   +-----------------------+
                                   | - Semantic Similarity |
                                   | - Exact Match         |
                                   +-----------------------+
```

The revised dataflow now accurately shows that the evaluation metrics (semantic similarity and exact match) calculated by the `compute_metrics` function are used by the `Trainer` to assess the model's performance and make decisions during training (e.g., early stopping).

Thank you for pointing out the error! I strive to be as accurate as possible in my responses.

In [ ]:
import torch
from torch.utils.data import Dataset, DataLoader

from transformers import (
    AutoModelForCausalLM, AutoTokenizer,
    BitsAndBytesConfig, Trainer, TrainingArguments,
    set_seed,
    EarlyStoppingCallback,
    DataCollatorForSeq2Seq
)

from peft import (
    LoraConfig,
    get_peft_model,
    TaskType,
    PeftModel,
    PeftConfig,
    PrefixTuningConfig,
    PromptEncoderConfig,
    TaskType
)


from datasets import load_dataset
from sentence_transformers import SentenceTransformer, util
from torch_geometric.nn import GAT
import spacy
import numpy as np
import torch.nn as nn
import evaluate


# Suppress warnings
import warnings
warnings.simplefilter('ignore')

warnings.filterwarnings("ignore", message="The installed version of bitsandbytes was compiled without GPU support.")


# Load spaCy English model
try:
    nlp = spacy.load("en_core_web_sm")
except OSError:
    # Download if not already downloaded
    spacy.cli.download("en_core_web_sm")
    nlp = spacy.load("en_core_web_sm")

# 1. Load and Prepare Data
dataset = load_dataset("b-mc2/sql-create-context")["train"].shuffle(seed=42)

# Manually define splits
train_size = int(0.7 * len(dataset))
eval_size = int(0.15 * len(dataset))
test_size = len(dataset) - train_size - eval_size

train_dataset = dataset.select(range(train_size))
eval_dataset = dataset.select(range(train_size, train_size + eval_size))
test_dataset = dataset.select(range(train_size + eval_size, len(dataset)))

# Optionally, load augmented data (if you have it)
# train_dataset = load_dataset("json", data_files="your_augmented_dataset.json", split="train")

# 2. Mistral Model and Tokenizer
#model_id = "mistralai/Mistral-7B-Instruct-v0.3"


#bnb_config = BitsAndBytesConfig(
#    load_in_4bit=True,
#    bnb_4bit_use_double_quant=True,
#    bnb_4bit_quant_type="nf4",
#    bnb_4bit_compute_dtype=torch.bfloat16
#)


#model_id = "mistralai/Mistral-7B-Instruct-v0.3"

# Model Configuration for Mistral-7B-Instruct-v0.3
#config = AutoModelForCausalLM.from_pretrained(model_id).config
#config.output_hidden_states = True
#config.use_cache = False
#config.torch_dtype = torch.float32
#config.torch_dtype = torch.bfloat16

# Load Model with Quantization
#mistral_model = AutoModelForCausalLM.from_pretrained(
#    model_id,
#    attn_implementation="flash_attention_2",  # Optimization
#    torch_dtype=torch.bfloat16,
#    quantization_config=bnb_config,
#     config=config
#)

#tokenizer = AutoTokenizer.from_pretrained(model_id)
#tokenizer.pad_token = tokenizer.eos_token
#tokenizer.padding_side = "left"

# Configurable Parameters for fine-tuned model
PEFT_MODEL_ID = "frankmorales2020/Mistral-7B-text-to-sql-flash-attention-2-dataeval"

GENERATION_PARAMS = {
    "max_new_tokens": 256, "do_sample": True, "temperature": 0.7, "top_k": 50, "top_p": 0.95
}


import logging
from peft import AutoPeftModelForCausalLM
from transformers import AutoTokenizer, pipeline

# Load Models and Tokenizer
logging.info(f"Loading fine-tuned PEFT model from: {PEFT_MODEL_ID}")
mistral_model = AutoPeftModelForCausalLM.from_pretrained(PEFT_MODEL_ID)
tokenizer = AutoTokenizer.from_pretrained(PEFT_MODEL_ID)
#pipe = pipeline("text-generation", model=mistral_model, tokenizer=tokenizer, **GENERATION_PARAMS)
logging.info("Model and tokenizer loaded successfully!")




# Device Configuration
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

# 3. PyTorch Datasets

import torch
from torch.utils.data import Dataset, DataLoader
from torch_geometric.data import Data, Batch
import spacy

# Load the spaCy English model
try:
    nlp = spacy.load("en_core_web_sm")
except OSError:
    spacy.cli.download("en_core_web_sm")
    nlp = spacy.load("en_core_web_sm")

class TextToSQLDataset(Dataset):
    def __init__(self, dataset, tokenizer):
        self.dataset = dataset
        self.tokenizer = tokenizer

    def __len__(self):
        return len(self.dataset)

    def __getitem__(self, idx):
        item = self.dataset[idx]


        text = item['question']
        target_text = item['answer']


        # 1. Tokenization (with padding and truncation)
        tokenized_input = self.tokenizer(
            text,
            truncation=True,
            padding="max_length",
            max_length=1024,  # Increase as needed
            return_tensors="pt"
        )
        tokenized_target = self.tokenizer(
            target_text,
            truncation=True,
            padding="max_length",
            max_length=1024,  # Increase as needed
            return_tensors="pt"
        )

        # Flatten lists (if needed)
        tokenized_input = {k: v.squeeze(0) for k, v in tokenized_input.items()}
        tokenized_target = {k: v.squeeze(0) for k, v in tokenized_target.items()}


        # Print input text and target text for debugging
        #print('\n')
        #print(f"Sample ID: {idx}")
        #print(f"  - Text: {text}")
        #print(f"  - Target Text: {target_text}")
        #print('\n')

        sample_ids = torch.tensor([idx])  # Create a tensor with the sample ID

        # 2. Dependency Parsing for Edge Extraction
        doc = nlp(text)
        edges = []
        for token in doc:
            head_i = token.head.i
            if 0 <= head_i < len(doc) and token.dep_ != "ROOT" and token.i != head_i:
                edges.append([token.i, head_i])

        # Edge Index Extraction and Validation
        edges = item.get("edges", edges)  # If "edges" is already present in data, use that

        if not edges:  # Handle empty graphs
            num_nodes = len(tokenized_input["input_ids"])
            edges = [[i, i] for i in range(num_nodes)]  # Self-loops for isolated nodes
        else:
            max_index = len(tokenized_input["input_ids"]) - 1
            edges = [(src, tgt) for src, tgt in edges if 0 <= src <= max_index and 0 <= tgt <= max_index]

        # Create edge index tensor
        edge_index = torch.tensor(edges, dtype=torch.long).t().contiguous()

        # Convert everything to tensors BEFORE padding/truncation
        input_ids = tokenized_input["input_ids"].clone().detach()
        attention_mask = tokenized_input["attention_mask"].clone().detach()
        labels = tokenized_target["input_ids"].clone().detach()

        # Handle potentially empty target sequences
        if len(labels) == 0:
            labels = torch.tensor([self.tokenizer.pad_token_id], dtype=torch.long)  # Create a single-element tensor with pad token

        # Padding and Truncation for consistent input shapes
        max_length = 1024  # Adjust if needed

        # Ensure that ALL tensors are truncated/padded to the SAME max_length
        input_ids = input_ids[:max_length]
        attention_mask = attention_mask[:max_length]
        labels = labels[:max_length]

        # Add padding if necessary
        if len(input_ids) < max_length:
            pad_length = max_length - len(input_ids)
            pad_tensor = torch.full((pad_length,), self.tokenizer.pad_token_id)
            input_ids = torch.cat((input_ids, pad_tensor))
            attention_mask = torch.cat((attention_mask, torch.zeros(pad_length, dtype=torch.long)))

        if len(labels) < max_length:
            pad_length = max_length - len(labels)
            labels = torch.cat((labels, torch.full((pad_length,), -100)))  # Pad labels with -100

        # (Optional) Print statements for debugging
        #print("\n")
        #print("Original text:", text)
        #print("Target text:", target_text)
        #print("Tokenized input IDs:", tokenized_input["input_ids"])
        #print("Tokenized target IDs:", tokenized_target["input_ids"])
        #print("Labels:", labels)
        #print("Edge index:", edge_index)

        return {
            "input_ids": input_ids,
            "attention_mask": attention_mask,
            "labels": labels,
            "edges": edge_index,
            "sample_ids": torch.tensor([idx]),  # Add sample_id here
        }

#train_dataset = load_dataset("json", data_files="/content/gdrive/MyDrive/datasets/train_dataset.json", split="train")
#val_dataset   = load_dataset("json", data_files="/content/gdrive/MyDrive/datasets/test_dataset.json", split="train")



import numpy as np
#train_dataset = train_dataset.select(range(100))

#Reduce train_dataset size for POC
POC_sample=26000
train_dataset = train_dataset.select(np.random.choice(len(train_dataset), POC_sample, replace=False))
train_dataset = TextToSQLDataset(train_dataset, tokenizer)


#Minimum: Start with at least 2000-3000 samples.
#This should be enough to provide a good initial assessment of your model's performance and potential.

#Medium: If your computational resources allow, try 5000-7000 samples.
#This could provide a more robust evaluation and potentially lead to better performance.

#Maximum: If you have ample resources, consider using the entire dataset (around 10,000 samples).
#This would give you the most comprehensive training data possible and potentially lead
#to the best model performance.



POC_valsample=1
eval_dataset = eval_dataset.select(np.random.choice(len(eval_dataset), POC_valsample, replace=False))
test_dataset = test_dataset.select(np.random.choice(len(test_dataset), POC_valsample, replace=False))

eval_dataset = TextToSQLDataset(eval_dataset, tokenizer)
test_dataset = TextToSQLDataset(test_dataset, tokenizer)

# Create DataLoader (no collate_fn needed)
#train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)

# 4. GAT Layer and GraphModel
class GATLayer(torch.nn.Module):
    def __init__(self, in_features, out_features, num_heads=8, num_layers=1):
        super(GATLayer, self).__init__()
        self.gat = GAT(in_channels=in_features, hidden_channels=out_features, heads=num_heads,
                        concat=False, num_layers=num_layers)

    def forward(self, x, edge_index):
        return self.gat(x, edge_index)

    # Make the internal linear layers accessible
    def get_lora_target_modules(self):
        # Access the linear layers within the GAT convolutions
        return [module for module in self.gat.modules() if isinstance(module, torch.nn.Linear)]


#  GraphModel
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch_geometric.nn import GATv2Conv

import torch
import torch.nn as nn
from torch_geometric.nn import GATv2Conv


#from transformers import CausalLMOutputWithPast

from dataclasses import dataclass
from typing import Optional, Tuple

@dataclass
class MyCausalLMOutputWithPast:
    loss: Optional[torch.FloatTensor] = None
    logits: torch.FloatTensor = None
    past_key_values: Optional[Tuple[Tuple[torch.FloatTensor]]] = None
    hidden_states: Optional[Tuple[torch.FloatTensor]] = None
    attentions: Optional[Tuple[torch.FloatTensor]] = None


class GraphModel(nn.Module):
    def __init__(self, encoder, tokenizer):
        super(GraphModel, self).__init__()
        self.encoder = encoder
        self.config = encoder.model.config
        self.gatv2 = GATv2Conv(
            in_channels=self.config.hidden_size,
            out_channels=self.config.hidden_size,
            heads=8,
            concat=False,
        )

        # Max Pooling
        self.pool = lambda x, batch: torch.max(x, dim=0, keepdim=True)[0]

        # Additional Feedforward Layer
        self.ffn = nn.Sequential(
            nn.Linear(self.config.hidden_size, self.config.hidden_size * 2),
            nn.ReLU(),
            nn.Linear(self.config.hidden_size * 2, self.config.hidden_size),
        )

        self.lm_head = nn.Linear(self.config.hidden_size, self.config.vocab_size)
        self.tokenizer = tokenizer

        # Add generation config (you might need to adjust this based on your specific needs)
        self.generation_config = encoder.generation_config

    # Forward Pass
    def forward(self, input_ids, attention_mask, edges, labels=None, inputs_embeds=None, sample_ids=None, output_attentions=False, output_hidden_states=False, return_dict=False):



        # Print vocabulary sizes
        #print('\n')
        #print("Mistral Model Vocab Size:", self.encoder.config.vocab_size)
        #print("Tokenizer Vocab Size:", self.tokenizer.vocab_size)
        #print('\n')



        # 1. Token Embeddings (Encoder)
        if input_ids is not None:
            encoder_outputs = self.encoder(
                input_ids.to(self.encoder.model.device),
                attention_mask=attention_mask.to(self.encoder.model.device),
                output_hidden_states=True
            )
            embeddings = encoder_outputs.hidden_states[-1]
        elif inputs_embeds is not None:
            embeddings = inputs_embeds
        else:
            raise ValueError("You have to specify either input_ids or inputs_embeds")

        # Ensure correct shape for GATv2Conv
        if embeddings.dim() > 2:
            embeddings = embeddings.view(-1, embeddings.shape[-1])

        # 2. Edge Index Creation (Batched, with Enhanced Error Handling)
        edge_index = []
        node_offset = 0
        for i, graph_edges in enumerate(edges):
            if graph_edges is None or graph_edges.numel() == 0:  # Check if graph_edges is None or empty
                num_nodes = input_ids.size(1)
                # Create self-loops for isolated nodes if no edges are provided
                graph_edges = torch.arange(node_offset, node_offset + num_nodes, device=embeddings.device)
                graph_edges = graph_edges.repeat(2, 1) # Repeat the tensor, not the arange object
            else: # Add this else block to handle the case when edges are present
                # Ensure graph_edges is a tensor before adding offset
                if not isinstance(graph_edges, torch.Tensor):
                    graph_edges = torch.tensor(graph_edges, dtype=torch.long, device=embeddings.device)
                graph_edges += node_offset  # Now safe to add offset
            edge_index.append(graph_edges)
            node_offset += input_ids.size(1)
        edge_index = torch.cat(edge_index, dim=1)

        # 3. GATv2 Layer
        graph_out = self.gatv2(embeddings, edge_index)

        # 4. Pooling (using max pooling)
        batch = torch.arange(len(edges), device=graph_out.device).repeat_interleave(input_ids.size(1))
        pooled = self.pool(graph_out, batch).unsqueeze(1)

        # Additional Feedforward Layer
        pooled = self.ffn(pooled)

        # 5. LM Head
        logits = self.lm_head(pooled)

        from torch.nn import CrossEntropyLoss
        # 6. Loss Calculation (if labels provided)
        loss = None
        if labels is not None:

             # Print Sample IDs first
            print(f"\nIteration/Step: {trainer.state.global_step}")
            mask = (labels != -100).float()

            #for i, sample_id in enumerate(sample_ids):
            #    print(f"Sample ID: {sample_id.item()}")


            # Now decode and print input, target, and loss for each sample
            with torch.no_grad():
                input_text = self.tokenizer.batch_decode(input_ids, skip_special_tokens=True)
                target_text = self.tokenizer.batch_decode(labels, skip_special_tokens=True)
                for i, sample_id in enumerate(sample_ids):
                    print(f"Sample ID: {sample_id.item()}")
                    print("Decoded Input:", input_text[i])
                    print("Decoded Target (Labels):", target_text[i])



            # Apply softmax to logits to get probabilities
            log_probs = F.log_softmax(logits, dim=-1)

            # Calculate loss
            #loss_fct = nn.NLLLoss(ignore_index=-100)  # Use NLLLoss for log probabilities

            loss_fct = CrossEntropyLoss(ignore_index=-1)

            # Reshape log_probs to match target shape (remove the extra dimension)
            log_probs = log_probs.squeeze(1)

            #labels = labels[:, 0] ### WORK UNTIL BEFORE THE LAST INTERACTION
            #labels = labels.squeeze(1)   # Remove extra dimension from labels ## DON'T work
            #labels = labels.view(-1)  # Flatten labels to a 1D tensor DON'T work

            labels = labels[:, 0]


            loss = loss_fct(log_probs, labels)

            #print(f"Loss mean: {loss.item()}\n")

            loss_per_sample = (loss * mask).sum(dim=1) / mask.sum(dim=1)
            #print(f"Loss per sample: {loss_per_sample.item()}")



        # 7. Return (Modified to return a tuple)
            if labels is not None:
                return (loss, logits, None)
            else:
                return (None, logits, None)

        # 7. Return (Modified to consistently return MyCausalLMOutputWithPast)
        return MyCausalLMOutputWithPast(
            loss=loss,  # Loss will be None during evaluation
            logits=logits,
            past_key_values=encoder_outputs.past_key_values,
            hidden_states=encoder_outputs.hidden_states,
            attentions=encoder_outputs.attentions,
        )

            #if labels is not None:
            #    return (loss, logits, None)
            #else:
            #    return (None, logits, None)

    def prepare_inputs_for_generation(self, input_ids, edges, attention_mask=None, **kwargs):
        if isinstance(self, PeftModel):
            return self.base_model.prepare_inputs_for_generation(input_ids, edges, attention_mask, **kwargs)

        batch_size = input_ids.size(0)
        if batch_size > 1:
            batched_edges = []
            node_offset = 0
            for i in range(batch_size):
                graph_edges = edges[i]
                batched_edges.extend([(src + node_offset, dst + node_offset) for src, dst in graph_edges])
                node_offset += input_ids.size(1)
            edge_index = torch.tensor(batched_edges, dtype=torch.long).t().contiguous().to(input_ids.device)
        else:
            edge_index = torch.tensor(edges, dtype=torch.long).t().contiguous().to(input_ids.device)

        model_inputs = {
            "input_ids": input_ids,
            "attention_mask": attention_mask,
            "edges": edge_index,
            "past_key_values": kwargs.get("past_key_values", None),
        }
        return model_inputs

# END GraphModel

from peft import prepare_model_for_kbit_training

#del model
# Quantize Mistral (before creating GraphModel)
mistral_model = prepare_model_for_kbit_training(mistral_model, use_gradient_checkpointing=True)


# 5. Model Setup (Define model first)
model = GraphModel(mistral_model, tokenizer)  # Pass both mistral_model and tokenizer
model.to(device)


# 6. PEFT Configuration (Use automatic module discovery)
peft_config = LoraConfig(
    r=8,
    lora_alpha=32,
    lora_dropout=0.05,
    bias="none",
    #target_modules="all-linear",
    task_type="CAUSAL_LM",
        target_modules=[
        "gat.gat.convs.0.lin_l",
        "gat.gat.convs.0.lin_r",
        "gat.gat.convs.1.lin_l",
        "gat.gat.convs.1.lin_r",
        "lm_head"
    ]
    #task_type=TaskType.CAUSAL_LM
)


# 7. Apply PEFT
model = get_peft_model(model, peft_config)
print('\n\n')
print('PEFT-Model')
model.print_trainable_parameters() # To see the trainable parameters
print('\n')

# Access the config of the encoder (Mistral model) within your GraphModel
model.encoder.config.use_cache = False
model.encoder.gradient_checkpointing_enable()  # Enable gradient checkpointing for memory optimization on the Mistral model
#model.encoder.model.embed_tokens.requires_grad_(True)
torch.cuda.empty_cache()

# 8. Evaluation Metric (Semantic Similarity)
metric = evaluate.load("exact_match")
sentence_transformer_model = SentenceTransformer('all-mpnet-base-v2')


def compute_metrics(eval_pred):
    all_preds, all_labels = eval_pred

    # Convert all elements to tensors, handling different data types
    predictions = [torch.tensor(pred) if not isinstance(pred, torch.Tensor) else pred for pred in all_preds]
    labels = [torch.tensor(label) if not isinstance(label, torch.Tensor) else label for label in all_labels]

    # Filter out any None values before stacking
    predictions = [pred for pred in predictions if pred is not None]
    labels = [label for label in labels if label is not None]

    # Convert to tensors and stack (only if there are predictions/labels)
    if predictions:
        predictions = torch.stack(predictions).squeeze()
    else:
        predictions = torch.tensor([])  # Empty tensor if no predictions

    if labels:
        labels = torch.stack(labels).squeeze()
    else:
        labels = torch.tensor([])  # Empty tensor if no labels

    # Handle cases where only one prediction/label is present (avoid squeezing to a scalar)
    if predictions.dim() == 0:
        predictions = predictions.unsqueeze(0)
    if labels.dim() == 0:
        labels = labels.unsqueeze(0)

    # Print shapes for debugging
    #print('\n')
    #print(f"Shape of logits in compute_metrics: {predictions.shape}")
    #print(f"Shape of labels in compute_metrics: {labels.shape}")
    #('\n')


    decoded_preds = tokenizer.batch_decode(predictions, skip_special_tokens=True)
    decoded_labels = tokenizer.batch_decode(labels, skip_special_tokens=True)

    em = metric.compute(predictions=decoded_preds, references=decoded_labels)["exact_match"]

    return {"exact_match": em}


#/content/gdrive/MyDrive/model

# 9. Training Arguments and Trainer
training_args = TrainingArguments(
    "/content/gdrive/MyDrive/model/GNNPOC-T2SQL",
    logging_dir="/content/gdrive/MyDrive/model/GNNPOC-T2SQL",
    per_device_train_batch_size=1,
    gradient_accumulation_steps=2,
    num_train_epochs=1,
    eval_strategy="epoch",
    save_strategy="epoch",
    logging_strategy="epoch",
    push_to_hub=False,
    dataloader_pin_memory=False,
    load_best_model_at_end=True,
    #gradient_checkpointing=False,
    use_legacy_prediction_loop=False,
    metric_for_best_model="eval_exact_match",
    report_to="tensorboard",
    #generation_max_length=2048, # Add this line to increase the generation max length

)


optimizer = torch.optim.AdamW(model.parameters(), lr=1e-6)


from torch.nn.utils.rnn import pad_sequence
from torch_geometric.data import Batch as GraphBatch  # Note the import
import torch
import torch_geometric.data
from torch.nn.utils.rnn import pad_sequence

class GraphDataCollatorForSeq2Seq:
    def __init__(self, tokenizer, model=None, label_pad_token_id=-100, pad_to_multiple_of=None):
        self.tokenizer = tokenizer
        self.model = model
        self.label_pad_token_id = label_pad_token_id
        self.pad_to_multiple_of = pad_to_multiple_of

    def __call__(self, features):
        # Separate standard features from graph edges
        # Extract labels before padding and handle potentially empty sequences
        labels = [feature["labels"] if feature["labels"].numel() > 0
                  else torch.tensor([self.label_pad_token_id], dtype=torch.long)
                  for feature in features]

        # Extract sample_ids
        sample_ids = [feature["sample_ids"] for feature in features]

        standard_features = [{k: v for k, v in feature.items() if k != "edges" and k != "labels"} for feature in features]
        edges = [feature["edges"] for feature in features]

        # Collate standard features (input_ids, attention_mask) using default collator
        collated_standard_features =  DataCollatorForSeq2Seq(
            tokenizer=self.tokenizer,
            model=self.model,
            label_pad_token_id=self.label_pad_token_id,
            pad_to_multiple_of=self.pad_to_multiple_of
        )(standard_features)

        # Pad input_ids and attention_mask
        input_ids = pad_sequence([f['input_ids'] for f in standard_features], batch_first=True, padding_value=self.tokenizer.pad_token_id)
        attention_mask = pad_sequence([f['attention_mask'] for f in standard_features], batch_first=True, padding_value=0)

         # Pad labels separately
        labels = pad_sequence(labels, batch_first=True, padding_value=self.label_pad_token_id)

        # Create batch for graph data
        graph_data_list = []
        for i in range(len(edges)):
            # Convert to PyTorch Geometric Data
            graph_data_list.append(torch_geometric.data.Data(
                x=collated_standard_features['input_ids'][i].unsqueeze(1),  # Node features (input_ids)
                edge_index=edges[i],                   # Edge index
                # Use num_edges for batch index to ensure correct batching in PyG
                batch=torch.tensor([i] * edges[i].size(1))
            ))
        batched_graph = GraphBatch.from_data_list(graph_data_list)  # Batch graphs

        #print(f"Sample GraphDataCollatorForSeq2Seq ID: {sample_ids}")

         # Include sample_ids in the collated features
        collated_features = {
            "input_ids": input_ids,
            "attention_mask": attention_mask,
            "labels": labels,
            "edges": edges,
            "sample_ids": sample_ids  # Add sample_ids here
        }

        return collated_features


# 10a.  Data Collator
data_collator = GraphDataCollatorForSeq2Seq(
    tokenizer,
    model=model,
    label_pad_token_id=-100,
    pad_to_multiple_of=8
)


# 10AA. Training Arguments and Trainer

from transformers import Trainer
from transformers.trainer_utils import EvalLoopOutput, PredictionOutput,  has_length

import torch
import torch.nn as nn
from torch.utils.data import DataLoader
from torch.utils.data.dataset import Dataset

from transformers.trainer_utils import EvalPrediction
from transformers import Trainer, TrainerCallback

from typing import Any, Dict, List, Optional, Tuple, Union
#from transformers.trainer_pt_utils import nested_truncate  # Updated import#

from transformers.trainer_pt_utils import nested_truncate, nested_concat, nested_numpify, nested_detach  # Updated imports


######
from torch.nn import CrossEntropyLoss

from torch.utils.data import DataLoader
from torch.utils.data.dataset import Dataset
from transformers import Trainer
from transformers.trainer_utils import EvalPrediction
import torch
import torch.nn.functional as F

def estimated_num_samples(dataloader: DataLoader):
    """
    This function will attempt to determine the number of samples in a DataLoader.

    Args:
        dataloader (DataLoader): The DataLoader to estimate the number of samples from.

    Returns:
        int: The estimated number of samples, or 0 if estimation is not possible.
    """
    if hasattr(dataloader, "dataset") and hasattr(dataloader.dataset, "__len__"):
        return len(dataloader.dataset)  # Use dataset length if available
    elif hasattr(dataloader, "batch_sampler") and hasattr(dataloader.batch_sampler, "sampler") and hasattr(dataloader.batch_sampler.sampler, "__len__"):
        return len(dataloader.batch_sampler.sampler)  # Use sampler length if available
    else:
        # If neither is available, return 0
        warnings.warn("Could not estimate the number of samples in the dataloader. Returning 0.")
        return 0

class CustomTrainer(Trainer):
    _id=0
    def prediction_step(self, model, inputs, prediction_loss_only, ignore_keys=None):
        self.tokenizer = tokenizer
        inputs = self._prepare_inputs(inputs)
        labels = inputs.pop("labels", None)

        print('\n\n')
        print("**** Prediction Step ****")


        with torch.no_grad():
            outputs = model(**inputs)

            # Check if loss is present in the outputs
            loss = outputs.loss if hasattr(outputs, 'loss') else None
            logits = outputs.logits


            #loss = outputs.loss
            #logits = outputs.logits

            # Debugging Logging (ensure labels exist before accessing)
            if not prediction_loss_only:
                print('\n\n')
                print("Shape of logits in prediction_step:", logits.shape)
                if labels is not None:  # Only print if labels exist
                    print("Shape of labels in prediction_step:", labels.shape)

            if prediction_loss_only:
                if isinstance(loss, torch.Tensor):
                    loss = loss.mean().detach()
                return (loss, None, None)

            max_new_tokens = 1024 - inputs['input_ids'].shape[1]

            # Modify this part to handle the generated IDs
            if max_new_tokens <= 0:
                print('\n\n')
                print("No new tokens to generate. An increase in the sample size for training is required. ")
                #print("#TOKENS: ",max_new_tokens)
                # Input is already at max length, no need to generate
                generated_ids = inputs['input_ids']
            else:
                generated_ids = model.encoder.generate(
                    input_ids=inputs['input_ids'],
                    attention_mask=inputs['attention_mask'],
                    max_new_tokens=max_new_tokens,
                    num_beams=5
                )

            # Flatten the generated_ids to a 1D list before decoding
            flattened_generated_ids = generated_ids.view(-1).tolist()
            predictions=generated_ids

            # Now decode using the flattened list
            predictions_decoder = self.tokenizer.decode(flattened_generated_ids, skip_special_tokens=True)
            Q = self.tokenizer.decode(inputs['input_ids'].view(-1).tolist(), skip_special_tokens=True)
            A = self.tokenizer.decode(labels.view(-1).tolist(), skip_special_tokens=True)
            #print("Sample IDs in prediction_step:", inputs['sample_ids'][0])


            # Debugging Logging
            #print("Shape of predictions in prediction_step:", predictions.shape)
            if labels is not None:
                print('\n\n')
                # Extract sample_ids
                sample_ids = int(self._id)+1  # Use self._id here
                #print("Sample IDs in prediction_step:", sample_ids)
                print("Sample IDs in prediction_step:", inputs['sample_ids'])





                print("Question:", Q)
                print("Decoded Original Answer BEFORE Predictions:", A)
                print('\n\n')

                print("Decoded Predictions:", predictions_decoder)
                #print("Decoded Labels:", labels_decoder)



            return (loss, predictions, labels)

    def _prediction_loop(self, dataloader: DataLoader, description: str, prediction_loss_only: Optional[bool] = None, ignore_keys: Optional[List[str]] = None, metric_key_prefix: str = "eval") -> Union[Tuple[torch.Tensor, torch.Tensor], EvalPrediction]:

        # ... other parts remain same ...

         # In case you have a callback that needs length eventually
        if has_length(dataloader):
            num_samples = len(dataloader.dataset)
        # The dataset does not support __len__, estimate the number of samples.
        else:
            num_samples = estimated_num_samples(dataloader)

        # Number of losses has been rounded to a multiple of batch_size and in a distributed training, the number of
        # samplers has been rounded to a multiple of batch_size, so we truncate.
        if all_losses:
            all_losses = all_losses[:num_samples]
        if all_preds:
            all_preds = nested_truncate(all_preds, num_samples)
        if all_labels:
            all_labels = nested_truncate(all_labels, num_samples)

        # 8.  Compute Metrics and Average Loss
        metrics = self.compute_metrics((all_preds, all_labels))
        average_loss = torch.mean(torch.stack(all_losses))
        metrics[f"{metric_key_prefix}_loss"] = average_loss.item()

        # 9.  Log the Metrics
        self.log(metrics)

        # 10. Return Based on Whether It's a Prediction or Evaluation
        if prediction_loss_only:
            return (metrics, None, None)

        return EvalPrediction(predictions=all_preds, label_ids=all_labels, metrics=metrics)


    def predict(self, test_dataset: Dataset, ignore_keys: Optional[List[str]] = None) -> PredictionOutput:
        test_dataloader = self.get_test_dataloader(test_dataset)
        return self.prediction_loop(test_dataloader, description="Prediction")

    def evaluate(
        self,
        eval_dataset: Optional[Dataset] = None,
        ignore_keys: Optional[List[str]] = None,
        metric_key_prefix: str = "eval",
    ) -> Dict[str, float]:
        # ... (existing code in Trainer.evaluate)

        eval_dataloader = self.get_eval_dataloader(eval_dataset)
        output = self.prediction_loop(
            eval_dataloader,
            description="Evaluation",
            # ...
        )

        # ... (rest of the existing code)

        return output.metrics


######

# 10A. Trainer (Modified)
trainer = CustomTrainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset=eval_dataset,
    data_collator=data_collator,
    compute_metrics=compute_metrics,
    optimizers=(optimizer, None)
)


from transformers import TrainerCallback
class LossLoggingCallback(TrainerCallback):
    def on_step_end(self, args, state, control, **kwargs):
        if state.global_step % 50000 == 0:  # Log every 100 steps (adjust as needed)
            print(f"Step {state.global_step} - Loss: {state.loss}")




# 11. Train the model

# Add the Callback to the Trainer
trainer.add_callback(LossLoggingCallback())

# Add the Early Stopping to the Trainer
trainer.add_callback(EarlyStoppingCallback(early_stopping_patience=2))

trainer.train()


# 12. Evaluate on the test set
#test_results = trainer.evaluate(eval_dataset)
#print('\n\n')
#print(f'Test Semantic Similarity: {test_results["eval_semantic_similarity"]:.4f}')
#print(f'Test Exact Match. (Evaluate on the test set): {test_results["eval_exact_match"]:.4f}')
#print('\n\n')

Loading checkpoint shards:   0%|          | 0/3 [00:00<?, ?it/s]

PEFT-Model
trainable params: 671,678,496 || all params: 8,389,636,130 || trainable%: 8.0061



Iteration/Step: 0
Sample ID: 17542
Decoded Input: How many seasons took place in aspen, usa?
Decoded Target (Labels): SELECT COUNT(season) FROM table_name_34 WHERE location = "aspen, usa"

Iteration/Step: 0
Sample ID: 21654
Decoded Input: What is the Attendance number when the Opponent was purdue?
Decoded Target (Labels): SELECT attendance FROM table_name_15 WHERE opponent_number = "purdue"

Streaming output truncated to the last 5000 lines.

Iteration/Step: 6929
Sample ID: 12064
Decoded Input: Find the description and credit for the course QM-261?
Decoded Target (Labels): SELECT crs_credit, crs_description FROM course WHERE crs_code = 'QM-261'

Iteration/Step: 6929
Sample ID: 21398
Decoded Input: What was the amount of loans received with a total debt of $169,256?
Decoded Target (Labels): SELECT loans_received, _3q FROM table_name_24 WHERE total_debt = "$169,256"

Iteration/Step: 6930
Sample ID: 25009
Decoded Input: What did the team do in the Open Cup in the 2nd, Northeast season of the USISL D-3 Pro League?
Decoded Target (Labels): SELECT open_cup FROM table_1939214_1 WHERE league = "USISL D-3 Pro league" AND regular_season = "2nd, Northeast"

Iteration/Step: 6930
Sample ID: 23908
Decoded Input: waht is the last year with a mclaren mp4/10b chassis
Decoded Target (Labels): SELECT MAX(year) FROM table_name_31 WHERE chassis = "mclaren mp4/10b"

Iteration/Step: 6931
Sample ID: 3609
Decoded Input: WHAT IS THE LOWEST ROUND FOR CB POSITION?
Decoded Target (Labels): SELECT MIN(round) FROM table_name_56 WHERE position = "cb"

Iteration/Step: 6931
Sample ID: 5012
Decoded Input: Name the number of games on june 12
Decoded Target (Labels): SELECT COUNT(game) FROM table_11965481_13 WHERE date = "June 12"

Iteration/Step: 6932
Sample ID: 3196
Decoded Input: What was the Series in 2009?
Decoded Target (Labels): SELECT series FROM table_name_67 WHERE season = 2009

Iteration/Step: 6932
Sample ID: 10313
Decoded Input: What is the record when the loss is westbrook (1-6)?
Decoded Target (Labels): SELECT record FROM table_name_76 WHERE loss = "westbrook (1-6)"

Iteration/Step: 6933
Sample ID: 10814
Decoded Input: What is the surface of the match when the opponent was iryna bremond valeria savinykh?
Decoded Target (Labels): SELECT surface FROM table_name_44 WHERE opponents = "iryna bremond valeria savinykh"

Iteration/Step: 6933
Sample ID: 24523
Decoded Input: Which Date has an Against smaller than 21, and a Status of second test?
Decoded Target (Labels): SELECT date FROM table_name_37 WHERE against < 21 AND status = "second test"

Iteration/Step: 6934
Sample ID: 7443
Decoded Input: Which Rider has a 1:06.02.0 Time?
Decoded Target (Labels): SELECT rider FROM table_name_92 WHERE time = "1:06.02.0"

Iteration/Step: 6934
Sample ID: 10735
Decoded Input: What is the average year Rich Beem had a to par less than 17?
Decoded Target (Labels): SELECT AVG(year_won) FROM table_name_20 WHERE player = "rich beem" AND to_par < 17

Iteration/Step: 6935
Sample ID: 10117
Decoded Input: What was the release price of the Atom Z510PT processor?
Decoded Target (Labels): SELECT release_price___usd__ FROM table_name_53 WHERE model_number = "atom z510pt"

Iteration/Step: 6935
Sample ID: 14360
Decoded Input: What is the score on 22 january 2008?
Decoded Target (Labels): SELECT score FROM table_name_88 WHERE date = "22 january 2008"

Iteration/Step: 6936
Sample ID: 14473
Decoded Input: What Position does the Player Vince Carter hold?
Decoded Target (Labels): SELECT position FROM table_name_84 WHERE player = "vince carter"

Iteration/Step: 6936
Sample ID: 23474
Decoded Input: What is the Clean & jerk for the bodyweight less than 76.55, and the Total (kg) of –?
Decoded Target (Labels): SELECT clean_ & _jerk FROM table_name_36 WHERE bodyweight < 76.55 AND total__kg_ = "–"

Iteration/Step: 6937
Sample ID: 12338
Decoded Input: What is Frequency, when Part Number(s) is au80610006240aa?
Decoded Target (Labels): SELECT frequency FROM table_name_11 WHERE part_number_s_ = "au80610006240aa"

Iteration/Step: 6937
Sample ID: 24845
Decoded Input: Who is Runner(s)-up that has a Date of may 24, 1999?
Decoded Target (Labels): SELECT runner_s__up FROM table_name_37 WHERE date = "may 24, 1999"

Iteration/Step: 6938
Sample ID: 25305
Decoded Input: What was the inroductory phase for the episode with neil shubin as a guest?
Decoded Target (Labels): SELECT introductory_phrase FROM table_14835674_1 WHERE guest = "Neil Shubin"

Iteration/Step: 6938
Sample ID: 5549
Decoded Input: What country has OF-1 Locotenent?
Decoded Target (Labels): SELECT country FROM table_name_1 WHERE of_1 = "locotenent"

Iteration/Step: 6939
Sample ID: 11725
Decoded Input: Who was the Coat of Cash Wearing Celebrity in Episode 6?
Decoded Target (Labels): SELECT coat_of_cash_wearing_celebrity FROM table_name_81 WHERE episode_number = 6

Iteration/Step: 6939
Sample ID: 23500
Decoded Input: Which Opponents in the final has a Partnering of tomás carbonell on march 28, 1995?
Decoded Target (Labels): SELECT opponents_in_the_final FROM table_name_18 WHERE partnering = "tomás carbonell" AND date = "march 28, 1995"

Iteration/Step: 6940
Sample ID: 16345
Decoded Input: Which Surface has a Partner of oliver marach?
Decoded Target (Labels): SELECT surface FROM table_name_82 WHERE partner = "oliver marach"

Iteration/Step: 6940
Sample ID: 8968
Decoded Input: On which date did episode # 18 air in the U.S.?
Decoded Target (Labels): SELECT us_air_date FROM table_26464364_1 WHERE _number = 18

Iteration/Step: 6941
Sample ID: 21520
Decoded Input: Who owns CKSB-8-FM?
Decoded Target (Labels): SELECT owner FROM table_name_72 WHERE call_sign = "cksb-8-fm"

Iteration/Step: 6941
Sample ID: 16454
Decoded Input: What was the grid when the driver was Mark Webber?
Decoded Target (Labels): SELECT grid FROM table_name_96 WHERE driver = "mark webber"

Iteration/Step: 6942
Sample ID: 1847
Decoded Input: what was the score when scoville jenkins was the opponent?
Decoded Target (Labels): SELECT score FROM table_name_59 WHERE opponent = "scoville jenkins"

Iteration/Step: 6942
Sample ID: 12326
Decoded Input: Which home team is on April 21?
Decoded Target (Labels): SELECT home_team FROM table_name_64 WHERE date = "april 21"

Iteration/Step: 6943
Sample ID: 10283
Decoded Input: What is the highest draw against 2161?
Decoded Target (Labels): SELECT MAX(draws) FROM table_name_98 WHERE against > 2161

Iteration/Step: 6943
Sample ID: 1727
Decoded Input: How much Gain has a Long of 29, and an Avg/G smaller than 33.7?
Decoded Target (Labels): SELECT COUNT(gain) FROM table_name_77 WHERE long = 29 AND avg_g < 33.7

Iteration/Step: 6944
Sample ID: 9409
Decoded Input: How many debut years have Years at club of 1950–1951, and Games larger than 14?
Decoded Target (Labels): SELECT SUM(debut_year) FROM table_name_39 WHERE years_at_club = "1950–1951" AND games > 14

Iteration/Step: 6944
Sample ID: 17727
Decoded Input: What is the operating voltage of part number amql64dam22gg?
Decoded Target (Labels): SELECT voltage FROM table_27277284_27 WHERE order_part_number = "AMQL64DAM22GG"

Iteration/Step: 6945
Sample ID: 18242
Decoded Input: What was the startup year for the project with apache energy/inpex as the operator?
Decoded Target (Labels): SELECT year_startup FROM table_name_41 WHERE operator = "apache energy/inpex"

Iteration/Step: 6945
Sample ID: 12486
Decoded Input: Which cornerback round has a pick number lower than 26 and an overall higher than 41?
Decoded Target (Labels): SELECT SUM(round) FROM table_name_36 WHERE pick__number < 26 AND position = "cornerback" AND overall > 41

Iteration/Step: 6946
Sample ID: 20529
Decoded Input: What date was the game played in where hegarty was the scorer?
Decoded Target (Labels): SELECT date FROM table_name_94 WHERE scorers = "hegarty"

Iteration/Step: 6946
Sample ID: 21967
Decoded Input: Name the icb sector for ai
Decoded Target (Labels): SELECT icb_sector FROM table_168274_1 WHERE ticker_symbol = "AI"

Iteration/Step: 6947
Sample ID: 8362
Decoded Input: Which Date has a record of 3-5?
Decoded Target (Labels): SELECT date FROM table_name_76 WHERE record = "3-5"

Iteration/Step: 6947
Sample ID: 1485
Decoded Input: How many members of "Bootup Baltimore" are older than 18?
Decoded Target (Labels): SELECT COUNT(*) FROM club AS t1 JOIN member_of_club AS t2 ON t1.clubid = t2.clubid JOIN student AS t3 ON t2.stuid = t3.stuid WHERE t1.clubname = "Bootup Baltimore" AND t3.age > 18

Iteration/Step: 6948
Sample ID: 11800
Decoded Input: What is the date of the game that had a visitor of Chicago?
Decoded Target (Labels): SELECT date FROM table_name_22 WHERE visitor = "chicago"

Iteration/Step: 6948
Sample ID: 21631
Decoded Input: Who is the Partner in the match with a Score of 6-4, 2-6, 7-6?
Decoded Target (Labels): SELECT partnering FROM table_name_52 WHERE score = "6-4, 2-6, 7-6"

Iteration/Step: 6949
Sample ID: 15643
Decoded Input: How many times was Jillian Grace the centerfold model?
Decoded Target (Labels): SELECT COUNT(date) FROM table_1566852_6 WHERE centerfold_model = "Jillian Grace"

Iteration/Step: 6949
Sample ID: 4256
Decoded Input: What is the 2nd leg of the second team in the 2007 uefa intertoto cup?
Decoded Target (Labels): SELECT 2 AS nd_leg FROM table_name_78 WHERE team__number2 = "2007 uefa intertoto cup"

Iteration/Step: 6950
Sample ID: 10865
Decoded Input: What is the lowest lane in the Czech Republic and a time larger than 21.05?
Decoded Target (Labels): SELECT MIN(lane) FROM table_name_85 WHERE nationality = "czech republic" AND time > 21.05

Iteration/Step: 6950
Sample ID: 1673
Decoded Input: Show the headquarters shared by more than two companies.
Decoded Target (Labels): SELECT Headquarters FROM Companies GROUP BY Headquarters HAVING COUNT(*) > 2

Iteration/Step: 6951
Sample ID: 11205
Decoded Input: How many incumbents come from alvin bush's district?
Decoded Target (Labels): SELECT COUNT(candidates) FROM table_1341930_38 WHERE incumbent = "Alvin Bush"

Iteration/Step: 6951
Sample ID: 21612
Decoded Input: According to the August 2007 poll by the Corporate Research Associates that reported 32% Prog. Cons., what percentage aligned with the Liberal party?
Decoded Target (Labels): SELECT liberal FROM table_name_36 WHERE polling_firm = "corporate research associates" AND prog_cons = "32%" AND dates = "august 2007"

Iteration/Step: 6952
Sample ID: 24663
Decoded Input: what is the language/rebroadcast for cbc radio one?
Decoded Target (Labels): SELECT language_rebroadcast FROM table_name_30 WHERE branding = "cbc radio one"

Iteration/Step: 6952
Sample ID: 21226
Decoded Input: What is the average longitude of stations that never had bike availability more than 10?
Decoded Target (Labels): SELECT AVG(long) FROM station WHERE NOT id IN (SELECT station_id FROM status GROUP BY station_id HAVING MAX(bikes_available) > 10)

Iteration/Step: 6953
Sample ID: 16388
Decoded Input: WHAT ARE THE RACES FOR 2010 WITH FLAPS LARGER THAN 6?
Decoded Target (Labels): SELECT MAX(races) FROM table_name_27 WHERE season = "2010" AND flaps > 6

Iteration/Step: 6953
Sample ID: 25594
Decoded Input: What is the name of the series with the unknown host?
Decoded Target (Labels): SELECT name FROM table_27487310_5 WHERE host_s_ = "unknown"

Iteration/Step: 6954
Sample ID: 6638
Decoded Input: What is the number of matches when the wins are less than 8, and losses of 7, in 2011?
Decoded Target (Labels): SELECT SUM(matches) FROM table_name_56 WHERE wins < 8 AND losses = 7 AND year = "2011"

Iteration/Step: 6954
Sample ID: 23632
Decoded Input: On how many days in October was the score 6-1?
Decoded Target (Labels): SELECT COUNT(october) FROM table_27537870_3 WHERE score = "6-1"

Iteration/Step: 6955
Sample ID: 7921
Decoded Input: How many people attended the game against Clemson?
Decoded Target (Labels): SELECT COUNT(attendance) FROM table_name_34 WHERE opponent = "clemson"

Iteration/Step: 6955
Sample ID: 16464
Decoded Input: Which IHSAA Football Class has a Location of wabash, and a School of wabash?
Decoded Target (Labels): SELECT ihsaa_football_class FROM table_name_50 WHERE location = "wabash" AND school = "wabash"

Iteration/Step: 6956
Sample ID: 833
Decoded Input: Who was the winning driver when Michael Schumacher had the pole and the fastest lap?
Decoded Target (Labels): SELECT winning_driver FROM table_1137695_3 WHERE fastest_lap = "Michael Schumacher" AND pole_position = "Michael Schumacher"

Iteration/Step: 6956
Sample ID: 12695
Decoded Input: What party did the incumbent from the Virginia 5 district who was re-elected and was first elected in 1797 belong to?
Decoded Target (Labels): SELECT party FROM table_2668401_17 WHERE result = "Re-elected" AND first_elected = "1797" AND district = "Virginia 5"

Iteration/Step: 6957
Sample ID: 18882
Decoded Input: What was the location of the competition with a Rank-Final of 1st and a Score-Qualifying under 28.975?
Decoded Target (Labels): SELECT location FROM table_name_95 WHERE rank_final = "1st" AND score_qualifying < 28.975

Iteration/Step: 6957
Sample ID: 3741
Decoded Input: How many losses did the club who had 9 bonus points and 11 wins have?
Decoded Target (Labels): SELECT lost FROM table_27293285_2 WHERE bonus_points = "9" AND won = "11"

Iteration/Step: 6958
Sample ID: 23498
Decoded Input: What year was the year of the pig theme?
Decoded Target (Labels): SELECT year FROM table_name_43 WHERE theme = "year of the pig"

Iteration/Step: 6958
Sample ID: 15121
Decoded Input: What year was the Mercury City Tower?
Decoded Target (Labels): SELECT MIN(year) FROM table_name_8 WHERE structure = "mercury city tower"

Iteration/Step: 6959
Sample ID: 8677
Decoded Input: What country has t4 place and a 67-71-73=211 score?
Decoded Target (Labels): SELECT country FROM table_name_16 WHERE place = "t4" AND score = 67 - 71 - 73 = 211

Iteration/Step: 6959
Sample ID: 13594
Decoded Input: what are all the u16 2nd viii with u15 3rd iv being bbc
Decoded Target (Labels): SELECT u16_2nd_viii FROM table_11318462_5 WHERE u15_3rd_iv = "BBC"

Iteration/Step: 6960
Sample ID: 20530
Decoded Input: Which Date performed has a Main contestant of karanvir bohra?
Decoded Target (Labels): SELECT date_performed FROM table_name_58 WHERE main_contestant = "karanvir bohra"

Iteration/Step: 6960
Sample ID: 19177
Decoded Input: What is the average points earned for entrants with ATS V8 engines?
Decoded Target (Labels): SELECT AVG(points) FROM table_name_12 WHERE engine = "ats v8"

Iteration/Step: 6961
Sample ID: 17292
Decoded Input: Who is the away team against the home team Ashington?
Decoded Target (Labels): SELECT away_team FROM table_name_76 WHERE home_team = "ashington"

Iteration/Step: 6961
Sample ID: 25385
Decoded Input: HOW MANY GAMES HAD BONUS POINTS OF 6?
Decoded Target (Labels): SELECT points_for FROM table_12807904_3 WHERE try_bonus = "6"

Iteration/Step: 6962
Sample ID: 9695
Decoded Input: What is the result in 1985 when the career win-loss is n/a, and 0 / 23 as the career SR?
Decoded Target (Labels): SELECT 1985 FROM table_name_62 WHERE career_win_loss = "n/a" AND career_sr = "0 / 23"

Iteration/Step: 6962
Sample ID: 8649
Decoded Input: Name the team for arif asadov
Decoded Target (Labels): SELECT team FROM table_22848931_3 WHERE replaced_by = "Arif Asadov"

Iteration/Step: 6963
Sample ID: 21958
Decoded Input: What position was Bob Lilly?
Decoded Target (Labels): SELECT position FROM table_274117_5 WHERE player = "Bob Lilly"

Iteration/Step: 6963
Sample ID: 16323
Decoded Input: What band is the highest and has a System of gsm-450?
Decoded Target (Labels): SELECT MAX(band) FROM table_name_22 WHERE system = "gsm-450"

Iteration/Step: 6964
Sample ID: 4655
Decoded Input: How many scores did Goodman give to "samba / young hearts run free", which was in second place?
Decoded Target (Labels): SELECT COUNT(goodman) FROM table_1014319_1 WHERE result = "Second place" AND dance_song = "Samba / Young Hearts Run Free"

Iteration/Step: 6964
Sample ID: 22910
Decoded Input: Who was the opponent on Oct. 4?
Decoded Target (Labels): SELECT opponent FROM table_24560733_1 WHERE date = "Oct. 4"

Iteration/Step: 6965
Sample ID: 23735
Decoded Input: When Giovanni Gaetano Orsini was the elector who was the elevator?
Decoded Target (Labels): SELECT elevator FROM table_name_63 WHERE elector = "giovanni gaetano orsini"

Iteration/Step: 6965
Sample ID: 5181
Decoded Input: What is the Group position for the date of 7 November 2007?
Decoded Target (Labels): SELECT group_position FROM table_name_9 WHERE date = "7 november 2007"

Iteration/Step: 6966
Sample ID: 23329
Decoded Input: what is the value of the audio with a just ratio 21:20
Decoded Target (Labels): SELECT audio FROM table_name_28 WHERE just_ratio = "21:20"

Iteration/Step: 6966
Sample ID: 14451
Decoded Input: When is the club founded that founed prsl in 2008 and the home city is carolina 1?
Decoded Target (Labels): SELECT MAX(founded) FROM table_name_95 WHERE joined_prsl = 2008 AND home_city = "carolina 1"

Iteration/Step: 6967
Sample ID: 23326
Decoded Input: What are the results for a game with an attendance of 41,429?
Decoded Target (Labels): SELECT result FROM table_name_70 WHERE attendance = "41,429"

Iteration/Step: 6967
Sample ID: 11485
Decoded Input: What is the sum of the serial numbers for narowal city?
Decoded Target (Labels): SELECT SUM(serial_no) FROM table_name_22 WHERE headquartered_city = "narowal city"

Iteration/Step: 6968
Sample ID: 207
Decoded Input: What is the final number of apps with 2 goals?
Decoded Target (Labels): SELECT COUNT(apps) FROM table_name_90 WHERE goals = 2

Iteration/Step: 6968
Sample ID: 11659
Decoded Input: In what week was the record 5-9?
Decoded Target (Labels): SELECT MAX(week) FROM table_13258972_2 WHERE record = "5-9"

Iteration/Step: 6969
Sample ID: 13323
Decoded Input: Who's the shooter with a total of 25?
Decoded Target (Labels): SELECT shooter FROM table_name_57 WHERE total = "25"

Iteration/Step: 6969
Sample ID: 4729
Decoded Input: What is the 2009 when the 2013 is 4th?
Decoded Target (Labels): SELECT 2009 FROM table_name_39 WHERE 2013 = "4th"

Iteration/Step: 6970
Sample ID: 20155
Decoded Input: What is listed for the Province with a Wamalwa of 4,431?
Decoded Target (Labels): SELECT province FROM table_name_82 WHERE wamalwa = "4,431"

Iteration/Step: 6970
Sample ID: 2641
Decoded Input: What is the qual for rank 18 in 1964?
Decoded Target (Labels): SELECT qual FROM table_name_44 WHERE rank = "18" AND year = "1964"

Iteration/Step: 6971
Sample ID: 15915
Decoded Input: What is every district for reason for change is died August 9, 1964?
Decoded Target (Labels): SELECT district FROM table_2159506_4 WHERE reason_for_change = "Died August 9, 1964"

Iteration/Step: 6971
Sample ID: 24140
Decoded Input: Which team has 10 losses?
Decoded Target (Labels): SELECT team FROM table_name_33 WHERE lost = 10

Iteration/Step: 6972
Sample ID: 19117
Decoded Input: Tell me the overs for mdns of 4
Decoded Target (Labels): SELECT overs FROM table_name_66 WHERE mdns = "4"

Iteration/Step: 6972
Sample ID: 15330
Decoded Input: What was T3 player Lee Janzen's score?
Decoded Target (Labels): SELECT MIN(score) FROM table_name_1 WHERE place = "t3" AND player = "lee janzen"

Iteration/Step: 6973
Sample ID: 17277
Decoded Input: Which district has an IUCN of iii and was established in 1998?
Decoded Target (Labels): SELECT district FROM table_name_44 WHERE iucn = "iii" AND est = 1998

Iteration/Step: 6973
Sample ID: 13998
Decoded Input: What is the result when the attendance is 54,814?
Decoded Target (Labels): SELECT result FROM table_name_7 WHERE attendance = "54,814"

Iteration/Step: 6974
Sample ID: 951
Decoded Input: Which IHSAA class does speedway school belong to?
Decoded Target (Labels): SELECT ihsaa_class FROM table_name_85 WHERE school = "speedway"

Iteration/Step: 6974
Sample ID: 15540
Decoded Input: What are the names of movies that get 3 star and 4 star?
Decoded Target (Labels): SELECT T2.title FROM Rating AS T1 JOIN Movie AS T2 ON T1.mID = T2.mID WHERE T1.stars = 3 INTERSECT SELECT T2.title FROM Rating AS T1 JOIN Movie AS T2 ON T1.mID = T2.mID WHERE T1.stars = 4

Iteration/Step: 6975
Sample ID: 22498
Decoded Input: What is the 1999-2000 team, when the Height (cm) is less than 187, and when the Birthplace is Cloquet, Minnesota?

Streaming output truncated to the last 5000 lines.

Iteration/Step: 9063
Sample ID: 8034
Decoded Input: Which Interview subject has a Centerfold model of athena lundberg?
Decoded Target (Labels): SELECT interview_subject FROM table_name_60 WHERE centerfold_model = "athena lundberg"

Iteration/Step: 9063
Sample ID: 22040
Decoded Input: Who is the rector of the residence hall who's mascot is the phoxes?
Decoded Target (Labels): SELECT rector FROM table_15873547_1 WHERE mascot = "Phoxes"

Iteration/Step: 9064
Sample ID: 11397
Decoded Input: What are the daily hire costs for the products with substring 'Book' in its name?
Decoded Target (Labels): SELECT daily_hire_cost FROM Products_for_hire WHERE product_name LIKE '%Book%'

Iteration/Step: 9064
Sample ID: 20652
Decoded Input: What is the lowest reg gp of the player with a round # more than 2, a pick # of 80, and a PI GP larger than 0?
Decoded Target (Labels): SELECT MIN(reg_gp) FROM table_name_69 WHERE rd__number > 2 AND pick__number = 80 AND pl_gp > 0

Iteration/Step: 9065
Sample ID: 1191
Decoded Input: What is the number of distinct teams that suffer elimination?
Decoded Target (Labels): SELECT COUNT(DISTINCT team) FROM elimination

Iteration/Step: 9065
Sample ID: 9811
Decoded Input: Which Round has a Method of decision (unanimous), and an Event of ufc 145?
Decoded Target (Labels): SELECT round FROM table_name_32 WHERE method = "decision (unanimous)" AND event = "ufc 145"

Iteration/Step: 9066
Sample ID: 5914
Decoded Input: Which song was by artist Gino Vannelli?
Decoded Target (Labels): SELECT song FROM table_name_15 WHERE artist = "gino vannelli"

Iteration/Step: 9066
Sample ID: 19852
Decoded Input: What is the deleted for tolland?
Decoded Target (Labels): SELECT deleted FROM table_name_71 WHERE county = "tolland"

Iteration/Step: 9067
Sample ID: 3312
Decoded Input: What is the position of the player from Temple?
Decoded Target (Labels): SELECT position FROM table_name_7 WHERE school_country = "temple"

Iteration/Step: 9067
Sample ID: 20614
Decoded Input: minehead has what tie number?
Decoded Target (Labels): SELECT tie_no FROM table_name_3 WHERE home_team = "minehead"

Iteration/Step: 9068
Sample ID: 12207
Decoded Input: Which player has 1299 goals?
Decoded Target (Labels): SELECT player FROM table_name_6 WHERE goals = "1299"

Iteration/Step: 9068
Sample ID: 16331
Decoded Input: How many p.ret are there when kr avg is 11.3 ?
Decoded Target (Labels): SELECT COUNT(p_ret) FROM table_16912000_13 WHERE kr_avg = "11.3"

Iteration/Step: 9069
Sample ID: 20328
Decoded Input: What character won the best dramatic performance award?
Decoded Target (Labels): SELECT character FROM table_name_26 WHERE category = "best dramatic performance"

Iteration/Step: 9069
Sample ID: 8255
Decoded Input: Who was the team 2 that played against team 1 Atlético la Sabana?
Decoded Target (Labels): SELECT team__number2 FROM table_27603010_14 WHERE team__number1 = "Atlético La Sabana"

Iteration/Step: 9070
Sample ID: 20133
Decoded Input: Name the rank for laps less than 130 and year of 1951
Decoded Target (Labels): SELECT rank FROM table_name_31 WHERE laps < 130 AND year = "1951"

Iteration/Step: 9070
Sample ID: 21362
Decoded Input: What is the Russian word for the Greek word greek?
Decoded Target (Labels): SELECT russian FROM table_name_70 WHERE "greek" = "greek"

Iteration/Step: 9071
Sample ID: 2002
Decoded Input: What is the length of the track named michigan international speedway?
Decoded Target (Labels): SELECT length FROM table_1245148_1 WHERE track_name = "Michigan International Speedway"

Iteration/Step: 9071
Sample ID: 9016
Decoded Input: What is the total number of squad no when there are more than 8 points, Danny Mcguire is a player, and there are more than 0 goals?
Decoded Target (Labels): SELECT SUM(squad_no) FROM table_name_23 WHERE points > 8 AND player = "danny mcguire" AND goals > 0

Iteration/Step: 9072
Sample ID: 19060
Decoded Input: What is the average Round, when Pick # is greater than 70, and when Position is Tackle?
Decoded Target (Labels): SELECT AVG(round) FROM table_name_22 WHERE pick__number > 70 AND position = "tackle"

Iteration/Step: 9072
Sample ID: 3304
Decoded Input: What's the date when the location is Berlin?
Decoded Target (Labels): SELECT date FROM table_name_76 WHERE location = "berlin"

Iteration/Step: 9073
Sample ID: 19423
Decoded Input: When rank is 5, what is the rowers?
Decoded Target (Labels): SELECT rowers FROM table_name_32 WHERE rank = 5

Iteration/Step: 9073
Sample ID: 4334
Decoded Input: what is the silver when the nation is japan and the total is less than 1?
Decoded Target (Labels): SELECT SUM(silver) FROM table_name_8 WHERE nation = "japan" AND total < 1

Iteration/Step: 9074
Sample ID: 16060
Decoded Input: Name the school/club team when season is 2009-2011
Decoded Target (Labels): SELECT school_club_team FROM table_15463188_7 WHERE season = "2009-2011"

Iteration/Step: 9074
Sample ID: 21657
Decoded Input: Name the minimum 11-12 enrollment for washington school
Decoded Target (Labels): SELECT MIN(11 AS _12_enrollment) FROM table_17641314_3 WHERE school = "Washington"

Iteration/Step: 9075
Sample ID: 22736
Decoded Input: What was the host city in years where the host school was école de technologie supérieure?
Decoded Target (Labels): SELECT host_city FROM table_2331549_1 WHERE host_school = "École de technologie supérieure"

Iteration/Step: 9075
Sample ID: 8884
Decoded Input: Attendance of 29,000 occurred on what date?
Decoded Target (Labels): SELECT date FROM table_name_80 WHERE attendance = "29,000"

Iteration/Step: 9076
Sample ID: 5200
Decoded Input: When the winning driver was jacques villeneuve what was the fastest lap driven?
Decoded Target (Labels): SELECT fastest_lap FROM table_name_31 WHERE winning_driver = "jacques villeneuve"

Iteration/Step: 9076
Sample ID: 8773
Decoded Input: During what years did nabatingue toko play.
Decoded Target (Labels): SELECT period FROM table_24565004_21 WHERE name = "Nabatingue Toko"

Iteration/Step: 9077
Sample ID: 503
Decoded Input: what team scored 5–5–1–1?
Decoded Target (Labels): SELECT home FROM table_name_71 WHERE record = "5–5–1–1"

Iteration/Step: 9077
Sample ID: 25714
Decoded Input: When was the institution of Kansas city Kansas community college founded?
Decoded Target (Labels): SELECT COUNT(founded) FROM table_12434380_1 WHERE institution = "Kansas City Kansas Community College"

Iteration/Step: 9078
Sample ID: 17526
Decoded Input: When the poll source is research 2000/daily kos, what is the total number of dates administered?
Decoded Target (Labels): SELECT COUNT(dates_administered) FROM table_16751596_13 WHERE poll_source = "Research 2000/Daily Kos"

Iteration/Step: 9078
Sample ID: 18282
Decoded Input: What is the average Goals for team Kairat, in the 2002 season with more than 29 apps?
Decoded Target (Labels): SELECT AVG(goals) FROM table_name_81 WHERE team = "kairat" AND season = "2002" AND apps > 29

Iteration/Step: 9079
Sample ID: 13825
Decoded Input: What percentage of browsers were using Internet Explorer during the period in which 27.85% were using Firefox?
Decoded Target (Labels): SELECT internet_explorer FROM table_name_39 WHERE firefox = "27.85%"

Iteration/Step: 9079
Sample ID: 20182
Decoded Input: what is the original channel when the year is after 2012?
Decoded Target (Labels): SELECT original_channel FROM table_name_7 WHERE year > 2012

Iteration/Step: 9080
Sample ID: 7388
Decoded Input: What is the latest date at Los Angeles with a game less than 62?
Decoded Target (Labels): SELECT MAX(date) FROM table_name_88 WHERE location_attendance = "los angeles" AND game < 62

Iteration/Step: 9080
Sample ID: 18439
Decoded Input: Who is the away captain when the game resulted in [[|]] by 7 wickets?
Decoded Target (Labels): SELECT away_captain FROM table_name_68 WHERE result = "[[|]] by 7 wickets"

Iteration/Step: 9081
Sample ID: 11440
Decoded Input: Which province has Michael Kirby?
Decoded Target (Labels): SELECT province FROM table_name_39 WHERE name = "michael kirby"

Iteration/Step: 9081
Sample ID: 13917
Decoded Input: What was the score at North Shore Events Centre?
Decoded Target (Labels): SELECT score FROM table_name_9 WHERE venue = "north shore events centre"

Iteration/Step: 9082
Sample ID: 25913
Decoded Input: Find the stories of the building with the largest height.
Decoded Target (Labels): SELECT Stories FROM buildings ORDER BY Height DESC LIMIT 1

Iteration/Step: 9082
Sample ID: 9969
Decoded Input: What was the resolution of the fight against kiuma kunioku with a time of 15:00?
Decoded Target (Labels): SELECT res FROM table_name_79 WHERE time = "15:00" AND opponent = "kiuma kunioku"

Iteration/Step: 9083
Sample ID: 23860
Decoded Input: What is Date To, when Name is "Lee Cook"?
Decoded Target (Labels): SELECT date_to FROM table_name_47 WHERE name = "lee cook"

Iteration/Step: 9083
Sample ID: 1795
Decoded Input: What is the round in Finland with a draw for method?
Decoded Target (Labels): SELECT round FROM table_name_32 WHERE location = "finland" AND method = "draw"

Iteration/Step: 9084
Sample ID: 6336
Decoded Input: Find the name of the stadium that has the maximum capacity.
Decoded Target (Labels): SELECT name FROM stadium ORDER BY capacity DESC LIMIT 1

Iteration/Step: 9084
Sample ID: 1658
Decoded Input: Which Bronze has a Silver larger than 1, a Total larger than 3, a Nation of turkey, and a Gold smaller than 2?
Decoded Target (Labels): SELECT SUM(bronze) FROM table_name_53 WHERE silver > 1 AND total > 3 AND nation = "turkey" AND gold < 2

Iteration/Step: 9085
Sample ID: 18526
Decoded Input: What prefix has Haloalkane as the chemical class?
Decoded Target (Labels): SELECT prefix FROM table_name_4 WHERE chemical_class = "haloalkane"

Iteration/Step: 9085
Sample ID: 16486
Decoded Input: Who has a date of october 11, 2008?
Decoded Target (Labels): SELECT wrestler FROM table_name_41 WHERE date = "october 11, 2008"

Iteration/Step: 9086
Sample ID: 21528
Decoded Input: Tell mem the opponent for result of w 31-21
Decoded Target (Labels): SELECT opponent FROM table_name_52 WHERE result = "w 31-21"

Iteration/Step: 9086
Sample ID: 23376
Decoded Input: When 0-1 is the series who has the highest amount of assists?
Decoded Target (Labels): SELECT high_assists FROM table_22883210_11 WHERE series = "0-1"

Iteration/Step: 9087
Sample ID: 10941
Decoded Input: what is the owner of the callsign wliw
Decoded Target (Labels): SELECT owner FROM table_1979203_1 WHERE callsign = "WLIW"

Iteration/Step: 9087
Sample ID: 848
Decoded Input: Which stadiums have a capacity of 51082?
Decoded Target (Labels): SELECT stadium FROM table_11208143_9 WHERE capacity = 51082

Iteration/Step: 9088
Sample ID: 11343
Decoded Input: What was the race time of the horse with jockey Ramon Dominguez?
Decoded Target (Labels): SELECT time FROM table_name_73 WHERE jockey = "ramon dominguez"

Iteration/Step: 9088
Sample ID: 20350
Decoded Input: Name the railway when class is j19
Decoded Target (Labels): SELECT railway FROM table_15608800_2 WHERE class = "J19"

Iteration/Step: 9089
Sample ID: 13911
Decoded Input: What is the Market Share that has Assets of 25 Million and a rank of 23?
Decoded Target (Labels): SELECT market_share FROM table_name_53 WHERE assets__usd__millions = 25 AND rank = "23"

Iteration/Step: 9089
Sample ID: 1075
Decoded Input: Which films participated in the 61st Berlin international film festival?
Decoded Target (Labels): SELECT participants_recipients FROM table_29644931_1 WHERE film_festival = "61st Berlin International film_festival"

Iteration/Step: 9090
Sample ID: 2525
Decoded Input: What is the St Kilda Away team score?
Decoded Target (Labels): SELECT away_team AS score FROM table_name_24 WHERE away_team = "st kilda"

Iteration/Step: 9090
Sample ID: 22433
Decoded Input: On what date is Footscray the away team?
Decoded Target (Labels): SELECT date FROM table_name_59 WHERE away_team = "footscray"

Iteration/Step: 9091
Sample ID: 9948
Decoded Input: who directed the production code 2t5710?
Decoded Target (Labels): SELECT directed_by FROM table_21726793_1 WHERE production_code = "2T5710"

Iteration/Step: 9091
Sample ID: 2527
Decoded Input: What is the reward for the elimination of Peterson?
Decoded Target (Labels): SELECT reward FROM table_24122653_2 WHERE eliminated = "Peterson"

Iteration/Step: 9092
Sample ID: 9957
Decoded Input: Which Termination of Mission has a Presentation of Credentials on October 29, 1981
Decoded Target (Labels): SELECT termination_of_mission FROM table_name_5 WHERE presentation_of_credentials = "october 29, 1981"

Iteration/Step: 9092
Sample ID: 1024
Decoded Input: Who is the December playmate with a February playmate Anne-Marie Fox?
Decoded Target (Labels): SELECT december FROM table_name_76 WHERE february = "anne-marie fox"

Iteration/Step: 9093
Sample ID: 10978
Decoded Input: What reverse has a color of green?
Decoded Target (Labels): SELECT reverse FROM table_name_33 WHERE color = "green"

Iteration/Step: 9093
Sample ID: 3999
Decoded Input: Which Member has an Electorate of southern melbourne?
Decoded Target (Labels): SELECT member FROM table_name_36 WHERE electorate = "southern melbourne"

Iteration/Step: 9094
Sample ID: 2207
Decoded Input: Who is the player when the pick is 22 and the year [A] is after 1979?
Decoded Target (Labels): SELECT player_name FROM table_name_5 WHERE pick = "22" AND year_[a_] > 1979

Iteration/Step: 9094
Sample ID: 18244
Decoded Input: Which object has an Apparent magnitude larger than 9.6, and a Right ascension ( J2000 ) of 17h59m02.0s?
Decoded Target (Labels): SELECT object_type FROM table_name_56 WHERE apparent_magnitude > 9.6 AND right_ascension___j2000__ = "17h59m02.0s"

Iteration/Step: 9095
Sample ID: 24842
Decoded Input: Which Week has a Date of december 8, 1991?
Decoded Target (Labels): SELECT AVG(week) FROM table_name_67 WHERE date = "december 8, 1991"

Iteration/Step: 9095
Sample ID: 4354
Decoded Input: What is the average number of students for schools with a pupil to teacher ratio of 25.1?
Decoded Target (Labels): SELECT AVG(students) FROM table_name_25 WHERE pupil_teacher_ratio = 25.1

Iteration/Step: 9096
Sample ID: 20939
Decoded Input: where are dragons used as mascots?
Decoded Target (Labels): SELECT location FROM table_2439728_1 WHERE mascot = "Dragons"

Iteration/Step: 9096
Sample ID: 5930
Decoded Input: Nusa Ina only played once while group 7 played.
Decoded Target (Labels): SELECT COUNT(group_7) FROM table_19523142_5 WHERE group_12 = "Nusa Ina"

Iteration/Step: 9097
Sample ID: 5189
Decoded Input: What format was the release in form the Edsel label, and that was from the EDCD 262 catalog?
Decoded Target (Labels): SELECT format FROM table_name_62 WHERE label = "edsel" AND catalog = "edcd 262"

Iteration/Step: 9097
Sample ID: 14808
Decoded Input: What is the lowest number of FA cups associated with 0 malaysia cups?
Decoded Target (Labels): SELECT MIN(fa_cup) FROM table_name_69 WHERE malaysia_cup < 0

Iteration/Step: 9098
Sample ID: 1739
Decoded Input: Which Theme has a Result of eliminated?
Decoded Target (Labels): SELECT theme FROM table_name_95 WHERE result = "eliminated"

Iteration/Step: 9098
Sample ID: 13645
Decoded Input: Which number of Years has a Venue of old trafford, and an Opposition of yorkshire?
Decoded Target (Labels): SELECT COUNT(year) FROM table_name_30 WHERE venue = "old trafford" AND opposition = "yorkshire"

Iteration/Step: 9099
Sample ID: 14926
Decoded Input: What is the most recent year that the Mineola Twins was nominated for outstanding actress in a play and a Drama Desk award?
Decoded Target (Labels): SELECT MAX(year) FROM table_name_54 WHERE nominated_work = "the mineola twins" AND category = "outstanding actress in a play" AND award = "drama desk award"

Iteration/Step: 9099
Sample ID: 17046
Decoded Input: What is the race on 10/10/2008?
Decoded Target (Labels): SELECT race FROM table_name_3 WHERE date = "10/10/2008"

Iteration/Step: 9100
Sample ID: 19199
Decoded Input: How many draws are there when there are 11 wins, and more than 7 losses?
Decoded Target (Labels): SELECT SUM(draws) FROM table_name_92 WHERE wins = 11 AND losses > 7

Iteration/Step: 9100
Sample ID: 20897
Decoded Input: Compute the average price of all products with manufacturer code equal to 2.
Decoded Target (Labels): SELECT AVG(price) FROM products WHERE Manufacturer = 2

Iteration/Step: 9101
Sample ID: 2977
Decoded Input: what is the title when the release date is 1938-12-17 and the production number is 8610?
Decoded Target (Labels): SELECT title FROM table_name_86 WHERE release_date = "1938-12-17" AND production_num = "8610"

Iteration/Step: 9101
Sample ID: 25693
Decoded Input: Was there PPV when the service was SCT?
Decoded Target (Labels): SELECT ppv FROM table_15887683_19 WHERE television_service = "SCT"

Iteration/Step: 9102
Sample ID: 13763
Decoded Input: with name meridian condominiums what is number of floors?
Decoded Target (Labels): SELECT AVG(floors) FROM table_name_19 WHERE name = "meridian condominiums"

Iteration/Step: 9102
Sample ID: 14097
Decoded Input: What was the score on september 28?
Decoded Target (Labels): SELECT score FROM table_name_58 WHERE date = "september 28"

Iteration/Step: 9103
Sample ID: 19379
Decoded Input: How many votes did Northern Ireland cast if the total was 35?
Decoded Target (Labels): SELECT northern_ireland FROM table_10128185_2 WHERE total = 35

Iteration/Step: 9103
Sample ID: 13934
Decoded Input: Who was the player in Position G on the Petron Blaze Boosters and retired in 2000?
Decoded Target (Labels): SELECT name FROM table_name_61 WHERE position = "g" AND team = "petron blaze boosters" AND year_retired = "2000"

Iteration/Step: 9104
Sample ID: 16400
Decoded Input: how many countiers had 2009 remittances of 6.02?
Decoded Target (Labels): SELECT COUNT(country) FROM table_2941963_1 WHERE remittances_2009 = "6.02"

Iteration/Step: 9104
Sample ID: 1380
Decoded Input: What is the Coach with a Big Ten that is 1st (148)?
Decoded Target (Labels): SELECT coach FROM table_name_39 WHERE big_ten = "1st (148)"

Iteration/Step: 9105
Sample ID: 25719
Decoded Input: Who is the presenter of the episode broadcast in the UK on 1996-09-25?
Decoded Target (Labels): SELECT presenter FROM table_name_45 WHERE uk_broadcast_date = "1996-09-25"

Iteration/Step: 9105
Sample ID: 17041
Decoded Input: What is the points gained of the match where fans took 403 [sunday]?
Decoded Target (Labels): SELECT SUM(points_gained) FROM table_name_36 WHERE fans_took = "403 [sunday]"

Iteration/Step: 9106
Sample ID: 12101
Decoded Input: What is the transfer window for the country of ESP and the name of de la red?
Decoded Target (Labels): SELECT transfer_window FROM table_name_49 WHERE country = "esp" AND name = "de la red"

Iteration/Step: 9106
Sample ID: 10237
Decoded Input: What are the notes recorded for the model HIS HD4850 (512MB)?
Decoded Target (Labels): SELECT notes FROM table_19161046_1 WHERE model = "HIS HD4850 (512MB)"

Iteration/Step: 9107
Sample ID: 1432
Decoded Input: Which Record has a Year larger than 1974, and a Finish of 3rd?
Decoded Target (Labels): SELECT record FROM table_name_33 WHERE year > 1974 AND finish = "3rd"

Iteration/Step: 9107
Sample ID: 15344
Decoded Input: What is the score of the match on July 22, 2008?
Decoded Target (Labels): SELECT score FROM table_name_98 WHERE date = "july 22, 2008"

Iteration/Step: 9108
Sample ID: 15473
Decoded Input: During the quarter of 2012 Q2, how many millions of Blackberry OS phones where shipped when 0.1 million others were shipped?
Decoded Target (Labels): SELECT COUNT(blackberry_os) FROM table_14260687_3 WHERE other = "0.1" AND quarter = "2012 Q2"

Iteration/Step: 9108
Sample ID: 20044
Decoded Input: How many rounds have a Pick of 13?
Decoded Target (Labels): SELECT SUM(round) FROM table_name_21 WHERE pick = 13

Iteration/Step: 9109
Sample ID: 2488
Decoded Input: What team uses a Cosworth DFV V8 engine and DN9 Chassis?

## EVALUATION-TRAINER

In [ ]:
# 1. Load and Prepare Data
dataset = load_dataset("b-mc2/sql-create-context")["train"].shuffle(seed=42)

# Manually define splits
train_size = int(0.7 * len(dataset))
val_size = int(0.15 * len(dataset))
test_size = len(dataset) - train_size - val_size

val_dataset = dataset.select(range(train_size, train_size + val_size))
test_dataset = dataset.select(range(train_size + val_size, len(dataset)))


POC_valsample=100
val_dataset = val_dataset.select(np.random.choice(len(val_dataset), POC_valsample, replace=False))
test_dataset = test_dataset.select(np.random.choice(len(test_dataset), POC_valsample, replace=False))


val_dataset = TextToSQLDataset(val_dataset, tokenizer)
test_dataset = TextToSQLDataset(test_dataset, tokenizer)


# 13. Evaluate on the test set
test_results = trainer.evaluate(test_dataset)
print('\n\n')
#print(f'Test Semantic Similarity: {test_results["eval_semantic_similarity"]:.4f}')
print(f'Test Exact Match. (Evaluate on the test set): {test_results["eval_exact_match"]:.4f}')
print('\n\n')

## EVALUATION STAND-ALONE

In [ ]:
import torch
from torch.utils.data import Dataset, DataLoader

from transformers import (
    AutoModelForCausalLM, AutoTokenizer,
    BitsAndBytesConfig, Trainer, TrainingArguments,
    set_seed,
    EarlyStoppingCallback,
    DataCollatorForSeq2Seq
)

from peft import (
    LoraConfig,
    get_peft_model,
    TaskType,
    PeftModel,
    PeftConfig,
    PrefixTuningConfig,
    PromptEncoderConfig,
    TaskType
)


from datasets import load_dataset
from sentence_transformers import SentenceTransformer, util
from torch_geometric.nn import GAT
import spacy
import numpy as np
import torch.nn as nn
import evaluate


# Suppress warnings
import warnings
warnings.simplefilter('ignore')

warnings.filterwarnings("ignore", message="The installed version of bitsandbytes was compiled without GPU support.")


# Load spaCy English model
try:
    nlp = spacy.load("en_core_web_sm")
except OSError:
    # Download if not already downloaded
    spacy.cli.download("en_core_web_sm")
    nlp = spacy.load("en_core_web_sm")

In [ ]:
#  GraphModel
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch_geometric.nn import GATv2Conv

import torch
import torch.nn as nn
from torch_geometric.nn import GATv2Conv


#from transformers import CausalLMOutputWithPast

from dataclasses import dataclass
from typing import Optional, Tuple

@dataclass
class MyCausalLMOutputWithPast:
    loss: Optional[torch.FloatTensor] = None
    logits: torch.FloatTensor = None
    past_key_values: Optional[Tuple[Tuple[torch.FloatTensor]]] = None
    hidden_states: Optional[Tuple[torch.FloatTensor]] = None
    attentions: Optional[Tuple[torch.FloatTensor]] = None


class GraphModel(nn.Module):
    def __init__(self, encoder, tokenizer):
        super(GraphModel, self).__init__()
        self.encoder = encoder
        self.config = encoder.model.config
        self.gatv2 = GATv2Conv(
            in_channels=self.config.hidden_size,
            out_channels=self.config.hidden_size,
            heads=8,
            concat=False,
        )

        # Max Pooling
        self.pool = lambda x, batch: torch.max(x, dim=0, keepdim=True)[0]

        # Additional Feedforward Layer
        self.ffn = nn.Sequential(
            nn.Linear(self.config.hidden_size, self.config.hidden_size * 2),
            nn.ReLU(),
            nn.Linear(self.config.hidden_size * 2, self.config.hidden_size),
        )

        self.lm_head = nn.Linear(self.config.hidden_size, self.config.vocab_size)
        self.tokenizer = tokenizer

        # Add generation config (you might need to adjust this based on your specific needs)
        self.generation_config = encoder.generation_config

    # Forward Pass
    #def forward(self, input_ids, attention_mask, edges, labels=None, inputs_embeds=None, sample_ids=None, output_attentions=False, output_hidden_states=False, return_dict=False):

    def forward(self, input_ids, attention_mask, edges, labels=None, inputs_embeds=None, sample_ids=None,
                output_attentions=None, output_hidden_states=None, return_dict=None):




        # Print vocabulary sizes
        #print('\n')
        #print("Mistral Model Vocab Size:", self.encoder.config.vocab_size)
        #print("Tokenizer Vocab Size:", self.tokenizer.vocab_size)
        #print('\n')


        # 1. Token Embeddings (Encoder)
        if input_ids is not None:
            encoder_outputs = self.encoder(
                input_ids.to(self.encoder.model.device),
                attention_mask=attention_mask.to(self.encoder.model.device),
                #output_hidden_states=True
            )
            embeddings = encoder_outputs.hidden_states[-1]
            print("Encoder output shape:", embeddings.shape)  # Inspect encoder output

        elif inputs_embeds is not None:
            embeddings = inputs_embeds
        else:
            raise ValueError("You have to specify either input_ids or inputs_embeds")

        # Ensure correct shape for GATv2Conv
        if embeddings.dim() > 2:
            embeddings = embeddings.view(-1, embeddings.shape[-1])

        # 2. Edge Index Creation (Batched, with Enhanced Error Handling)
        edge_index = []
        node_offset = 0
        for i, graph_edges in enumerate(edges):
            if graph_edges is None or graph_edges.numel() == 0:  # Check if graph_edges is None or empty
                num_nodes = input_ids.size(1)
                # Create self-loops for isolated nodes if no edges are provided
                graph_edges = torch.arange(node_offset, node_offset + num_nodes, device=embeddings.device)
                graph_edges = graph_edges.repeat(2, 1) # Repeat the tensor, not the arange object
            else: # Add this else block to handle the case when edges are present
                # Ensure graph_edges is a tensor before adding offset
                if not isinstance(graph_edges, torch.Tensor):
                    graph_edges = torch.tensor(graph_edges, dtype=torch.long, device=embeddings.device)
                graph_edges += node_offset  # Now safe to add offset
            edge_index.append(graph_edges)
            node_offset += input_ids.size(1)
        edge_index = torch.cat(edge_index, dim=1)

        # 3. GATv2 Layer
        graph_out = self.gatv2(embeddings, edge_index)

        # 3. GATv2 Layer
        graph_out = self.gatv2(embeddings, edge_index)
        print("GATv2 output shape:", graph_out.shape)  # Inspect GATv2 output

        # Print logits before and after applying logits processor
        print("Original logits:", logits)
        filtered_logits = logits_processor(None, logits)
        print("Filtered logits:", filtered_logits)


        # 4. Pooling (using max pooling)
        batch = torch.arange(len(edges), device=graph_out.device).repeat_interleave(input_ids.size(1))
        pooled = self.pool(graph_out, batch).unsqueeze(1)

        # Additional Feedforward Layer
        pooled = self.ffn(pooled)

        # 5. LM Head
        logits = self.lm_head(pooled)

        from torch.nn import CrossEntropyLoss
        # 6. Loss Calculation (if labels provided)
        loss = None
        if labels is not None:

             # Print Sample IDs first
            print(f"\nIteration/Step: {trainer.state.global_step}")
            mask = (labels != -100).float()

            #for i, sample_id in enumerate(sample_ids):
            #    print(f"Sample ID: {sample_id.item()}")


            # Now decode and print input, target, and loss for each sample
            with torch.no_grad():
                input_text = self.tokenizer.batch_decode(input_ids, skip_special_tokens=True)
                target_text = self.tokenizer.batch_decode(labels, skip_special_tokens=True)
                for i, sample_id in enumerate(sample_ids):
                    print(f"Sample ID: {sample_id.item()}")
                    print("Decoded Input:", input_text[i])
                    print("Decoded Target (Labels):", target_text[i])



            # Apply softmax to logits to get probabilities
            log_probs = F.log_softmax(logits, dim=-1)

            # Calculate loss
            #loss_fct = nn.NLLLoss(ignore_index=-100)  # Use NLLLoss for log probabilities

            loss_fct = CrossEntropyLoss(ignore_index=-1)

            # Reshape log_probs to match target shape (remove the extra dimension)
            log_probs = log_probs.squeeze(1)


            #labels = labels[:, 0] ### WORK UNTIL BEFORE THE LAST INTERACTION
            #labels = labels.squeeze(1)   # Remove extra dimension from labels ## DON'T work
            #labels = labels.view(-1)  # Flatten labels to a 1D tensor DON'T work

            labels = labels[:, 0]

            # Calculate loss with the correctly shaped labels
            #loss = loss_fct(log_probs, labels[:, 0])  # Access the first element of each label sequence


            loss = loss_fct(log_probs, labels)



            loss_per_sample = (loss * mask).sum(dim=1) / mask.sum(dim=1)
            print(f"Loss per sample: {loss_per_sample.item()}")


        # 7. Return (Modified to return a tuple)
            if labels is not None:
                return (loss, logits, None)
            else:
                return (None, logits, None)

        return MyCausalLMOutputWithPast(
                loss=loss,
                logits=logits,
                past_key_values=encoder_outputs.past_key_values,
                hidden_states=encoder_outputs.hidden_states,
                attentions=encoder_outputs.attentions,
        )


    def prepare_inputs_for_generation(self, input_ids, edges, attention_mask=None, **kwargs):
        if isinstance(self, PeftModel):
            return self.base_model.prepare_inputs_for_generation(input_ids, edges, attention_mask, **kwargs)

        batch_size = input_ids.size(0)
        if batch_size > 1:
            batched_edges = []
            node_offset = 0
            for i in range(batch_size):
                graph_edges = edges[i]
                batched_edges.extend([(src + node_offset, dst + node_offset) for src, dst in graph_edges])
                node_offset += input_ids.size(1)
            edge_index = torch.tensor(batched_edges, dtype=torch.long).t().contiguous().to(input_ids.device)
        else:
            edge_index = torch.tensor(edges, dtype=torch.long).t().contiguous().to(input_ids.device)

        model_inputs = {
            "input_ids": input_ids,
            "attention_mask": attention_mask,
            "edges": edge_index,
            "past_key_values": kwargs.get("past_key_values", None),
        }
        return model_inputs

# END GraphModel

In [ ]:
#optimizer = torch.optim.AdamW(model.parameters(), lr=1e-6)


from torch.nn.utils.rnn import pad_sequence
from torch_geometric.data import Batch as GraphBatch  # Note the import
import torch
import torch_geometric.data
from torch.nn.utils.rnn import pad_sequence

class GraphDataCollatorForSeq2Seq:
    def __init__(self, tokenizer, model=None, label_pad_token_id=-100, pad_to_multiple_of=None):
        self.tokenizer = tokenizer
        self.model = model
        self.label_pad_token_id = label_pad_token_id
        self.pad_to_multiple_of = pad_to_multiple_of

    def __call__(self, features):
        # Separate standard features from graph edges
        # Extract labels before padding and handle potentially empty sequences
        labels = [feature["labels"] if feature["labels"].numel() > 0
                  else torch.tensor([self.label_pad_token_id], dtype=torch.long)
                  for feature in features]

        # Extract sample_ids
        sample_ids = [feature["sample_ids"] for feature in features]

        standard_features = [{k: v for k, v in feature.items() if k != "edges" and k != "labels"} for feature in features]
        edges = [feature["edges"] for feature in features]

        # Collate standard features (input_ids, attention_mask) using default collator
        collated_standard_features =  DataCollatorForSeq2Seq(
            tokenizer=self.tokenizer,
            model=self.model,
            label_pad_token_id=self.label_pad_token_id,
            pad_to_multiple_of=self.pad_to_multiple_of
        )(standard_features)

        # Pad input_ids and attention_mask
        input_ids = pad_sequence([f['input_ids'] for f in standard_features], batch_first=True, padding_value=self.tokenizer.pad_token_id)
        attention_mask = pad_sequence([f['attention_mask'] for f in standard_features], batch_first=True, padding_value=0)

         # Pad labels separately
        labels = pad_sequence(labels, batch_first=True, padding_value=self.label_pad_token_id)

        # Create batch for graph data
        graph_data_list = []
        for i in range(len(edges)):
            # Convert to PyTorch Geometric Data
            graph_data_list.append(torch_geometric.data.Data(
                x=collated_standard_features['input_ids'][i].unsqueeze(1),  # Node features (input_ids)
                edge_index=edges[i],                   # Edge index
                # Use num_edges for batch index to ensure correct batching in PyG
                batch=torch.tensor([i] * edges[i].size(1))
            ))
        batched_graph = GraphBatch.from_data_list(graph_data_list)  # Batch graphs

        #sample_ids = torch.arange(len(edges)).unsqueeze(1)
        #sample_ids = [f["sample_id"] for f in  collated_standard_features]
        #sample_ids = [f["sample_id"] for f in features]

        #print(f"Sample GraphDataCollatorForSeq2Seq ID: {sample_ids}")



         # Include sample_ids in the collated features
        collated_features = {
            "input_ids": input_ids,
            "attention_mask": attention_mask,
            "labels": labels,
            "edges": edges,
            "sample_ids": sample_ids  # Add sample_ids here
        }

        return collated_features

In [ ]:
# 2. Mistral Model and Tokenizer
model_id = "mistralai/Mistral-7B-Instruct-v0.3"

bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,
    bnb_4bit_use_double_quant=True,
    bnb_4bit_quant_type="nf4",
    bnb_4bit_compute_dtype=torch.bfloat16
)

# Model Configuration
config = AutoModelForCausalLM.from_pretrained(model_id).config
config.output_hidden_states = True
config.use_cache = False
#config.torch_dtype = torch.float32
config.torch_dtype = torch.bfloat16

# Load Model with Quantization
mistral_model = AutoModelForCausalLM.from_pretrained(
    model_id,
    attn_implementation="flash_attention_2",  # Optimization
    torch_dtype=torch.bfloat16,
    quantization_config=bnb_config,
    config=config
)

tokenizer = AutoTokenizer.from_pretrained(model_id)
tokenizer.pad_token = tokenizer.eos_token


tokenizer = AutoTokenizer.from_pretrained(model_id)
tokenizer.pad_token = tokenizer.eos_token

# Device Configuration
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

Loading checkpoint shards:   0%|          | 0/3 [00:00<?, ?it/s]

`low_cpu_mem_usage` was None, now set to True since model is quantized.

Loading checkpoint shards:   0%|          | 0/3 [00:00<?, ?it/s]

In [ ]:
class TextToSQLDataset(Dataset):
    def __init__(self, dataset, tokenizer):
        self.dataset = dataset
        self.tokenizer = tokenizer

    def __len__(self):
        return len(self.dataset)

    def __getitem__(self, idx):
        item = self.dataset[idx]


        text = item['question']
        target_text = item['answer']


        # 1. Tokenization (with padding and truncation)
        tokenized_input = self.tokenizer(
            text,
            truncation=True,
            padding="max_length",
            max_length=1024,  # Increase as needed
            return_tensors="pt"
        )
        tokenized_target = self.tokenizer(
            target_text,
            truncation=True,
            padding="max_length",
            max_length=1024,  # Increase as needed
            return_tensors="pt"
        )

        # Flatten lists (if needed)
        tokenized_input = {k: v.squeeze(0) for k, v in tokenized_input.items()}
        tokenized_target = {k: v.squeeze(0) for k, v in tokenized_target.items()}


        # Print input text and target text for debugging
        #print('\n')
        #print(f"Sample ID: {idx}")
        #print(f"  - Text: {text}")
        #print(f"  - Target Text: {target_text}")
        #print('\n')

        sample_ids = torch.tensor([idx])  # Create a tensor with the sample ID

        # 2. Dependency Parsing for Edge Extraction
        doc = nlp(text)
        edges = []
        for token in doc:
            head_i = token.head.i
            if 0 <= head_i < len(doc) and token.dep_ != "ROOT" and token.i != head_i:
                edges.append([token.i, head_i])

        # Edge Index Extraction and Validation
        edges = item.get("edges", edges)  # If "edges" is already present in data, use that

        if not edges:  # Handle empty graphs
            num_nodes = len(tokenized_input["input_ids"])
            edges = [[i, i] for i in range(num_nodes)]  # Self-loops for isolated nodes
        else:
            max_index = len(tokenized_input["input_ids"]) - 1
            edges = [(src, tgt) for src, tgt in edges if 0 <= src <= max_index and 0 <= tgt <= max_index]

        # Create edge index tensor
        edge_index = torch.tensor(edges, dtype=torch.long).t().contiguous()

        # Convert everything to tensors BEFORE padding/truncation
        input_ids = tokenized_input["input_ids"].clone().detach()
        attention_mask = tokenized_input["attention_mask"].clone().detach()
        labels = tokenized_target["input_ids"].clone().detach()

        # Handle potentially empty target sequences
        if len(labels) == 0:
            labels = torch.tensor([self.tokenizer.pad_token_id], dtype=torch.long)  # Create a single-element tensor with pad token

        # Padding and Truncation for consistent input shapes
        max_length = 1024  # Adjust if needed

        # Ensure that ALL tensors are truncated/padded to the SAME max_length
        input_ids = input_ids[:max_length]
        attention_mask = attention_mask[:max_length]
        labels = labels[:max_length]

        # Add padding if necessary
        if len(input_ids) < max_length:
            pad_length = max_length - len(input_ids)
            pad_tensor = torch.full((pad_length,), self.tokenizer.pad_token_id)
            input_ids = torch.cat((input_ids, pad_tensor))
            attention_mask = torch.cat((attention_mask, torch.zeros(pad_length, dtype=torch.long)))

        if len(labels) < max_length:
            pad_length = max_length - len(labels)
            labels = torch.cat((labels, torch.full((pad_length,), -100)))  # Pad labels with -100

        # (Optional) Print statements for debugging
        #print("\n")
        #print("Original text:", text)
        #print("Target text:", target_text)
        #print("Tokenized input IDs:", tokenized_input["input_ids"])
        #print("Tokenized target IDs:", tokenized_target["input_ids"])
        #print("Labels:", labels)
        #print("Edge index:", edge_index)

        return {
            "input_ids": input_ids,
            "attention_mask": attention_mask,
            "labels": labels,
            "edges": edge_index,
            "sample_ids": torch.tensor([idx]),  # Add sample_id here
        }

In [ ]:
#1. Load and Prepare Data
dataset = load_dataset("b-mc2/sql-create-context")["train"].shuffle(seed=42)

# Manually define splits
train_size = int(0.7 * len(dataset))
val_size = int(0.15 * len(dataset))
test_size = len(dataset) - train_size - val_size

eval_dataset = dataset.select(range(train_size, train_size + val_size))
test_dataset = dataset.select(range(train_size + val_size, len(dataset)))


POC_valsample=2
eval_dataset = eval_dataset.select(np.random.choice(len(eval_dataset), POC_valsample, replace=False))
test_dataset = test_dataset.select(np.random.choice(len(test_dataset), POC_valsample, replace=False))



eval_dataset = TextToSQLDataset(eval_dataset, tokenizer)
test_dataset = TextToSQLDataset(test_dataset, tokenizer)

In [ ]:
eval_dataset = dataset.select(range(train_size, train_size + val_size))
eval_dataset = TextToSQLDataset(eval_dataset, tokenizer)
eval_dataset[0]

{'input_ids': tensor([    2,     2,     2,  ..., 29538, 29550, 29572]),
 'attention_mask': tensor([0, 0, 0,  ..., 1, 1, 1]),
 'labels': tensor([    2,     2,     2,  ..., 29550, 29538, 29550]),
 'edges': tensor([[ 0,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
         [ 1,  5,  5,  5,  1,  8,  8,  5,  8,  8, 12,  8, 15, 15, 12, 12]]),
 'sample_ids': tensor([0])}

## ORIGINAL

In [ ]:
import torch
from tqdm import tqdm
import evaluate
from peft import PeftModel

def evaluate_model(model_path, eval_dataset, device=None, edges=None):

    if device is None:
        device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

    model = GraphModel(mistral_model, tokenizer)
    #print(model)

    model = PeftModel.from_pretrained(model, model_path, is_trainable=False)
    #print('\n')
    #print(model)
    #print('\n')

    model.to(device)
    model.float()

    metric = evaluate.load("exact_match")
    all_preds, all_labels = [], []

    model.eval()
    model.encoder.eval()


    with torch.no_grad():
        for i in tqdm(range(len(eval_dataset)), desc="Evaluating"):
            data = eval_dataset[i]

            Q = data['input_ids']
            A = data['labels']

            print('\n\n')
            print(f"Sample ID: {i}")
            print(f"  - Text: {tokenizer.decode(Q, skip_special_tokens=True)}")
            print(f"  - Target Text: {tokenizer.decode(A, skip_special_tokens=True)}")
            print('\n')


            # Prepare data for the model
            input_data = {
                "input_ids": Q.unsqueeze(0).to(device).long(),
                "attention_mask": data['attention_mask'].unsqueeze(0).to(device).float()
            }

            if edges is None:
                edges = torch.tensor([[]]).to(device)


            # Model inference
            model_output = model(**input_data, edges=edges.float())
            logits = model_output.logits

            if logits.dim() > 2:
                logits = logits.squeeze(1)

            # Extract predicted tokens
            predicted_tokens = logits.argmax(dim=-1).cpu().tolist()


            # Print shapes and values for debugging
            print("\n\n")
            #print("Model Output:", model_output)
            # Print logits length for debugging
            print("Logits length:", logits.shape[1])
            print("Logits shape:", logits.shape)
            print("Logits dtype:", logits.dtype)
            print("\n")
            print("Predicted IDs:", logits.argmax(dim=-1))
            print("Labels:", data['labels'])
            print("\n")

            # Decode predictions and labels for the current sample
            decoded_pred = tokenizer.decode(predicted_tokens, skip_special_tokens=True) # Decode for single sample
            decoded_label = tokenizer.decode(A.cpu().tolist(), skip_special_tokens=True) # Decode for single sample

            # Append the decoded prediction and label for the current sample
            all_preds.append(decoded_pred)  # Append decoded prediction for current sample
            all_labels.append(decoded_label)  # Append decoded label for current sample

    # Calculate exact match
    em = metric.compute(predictions=all_preds, references=all_labels)["exact_match"]


    print("\nEvaluation Results:")
    print(f"  Exact Match: {em:.4f}")

    return {"exact_match": em}

## WORKING

In [ ]:
import torch
from tqdm import tqdm
import evaluate
from peft import PeftModel

def evaluate_model(model_path, eval_dataset, device=None, edges=None):

    if device is None:
        device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

    model = GraphModel(mistral_model, tokenizer)
    model = PeftModel.from_pretrained(model, model_path, is_trainable=False)

    model.to(device)
    model.float()

    metric = evaluate.load("exact_match")
    all_preds, all_labels = [], []

    model.eval()
    model.encoder.eval()

    with torch.no_grad():
        for i in tqdm(range(len(eval_dataset)), desc="Evaluating"):
            data = eval_dataset[i]

            Q = data['input_ids']
            A = data['labels']

            print('\n\n')
            print(f"Sample ID: {i}")
            print(f"  - Text: {tokenizer.decode(Q, skip_special_tokens=True)}")
            print(f"  - Target Text: {tokenizer.decode(A, skip_special_tokens=True)}")
            print('\n')

            # Prepare data for the model
            input_data = {
                "input_ids": Q.unsqueeze(0).to(device).long(),
                "attention_mask": data['attention_mask'].unsqueeze(0).to(device).float()
            }

            if edges is None:
                edges = torch.tensor([[]]).to(device)

            try:
                # Model inference
                model_output = model(**input_data, edges=edges.float())
                logits = model_output.logits

                # Check for NaN or Inf values in logits
                if torch.isnan(logits).any() or torch.isinf(logits).any():
                    print("WARNING: NaN or Inf values detected in logits!")

                if logits.dim() > 2:
                    logits = logits.squeeze(1)
                elif logits.dim() == 1:
                    logits = logits.unsqueeze(0)  # Add a batch dimension if needed

                # Extract predicted tokens
                predicted_tokens = logits.argmax(dim=-1).cpu().tolist()

                # Print shapes and values for debugging
                print("\n\n")
                print("Logits length:", logits.shape[1])
                print("Logits shape:", logits.shape)
                print("Logits dtype:", logits.dtype)
                print("\n")
                print("Predicted IDs:", logits.argmax(dim=-1))
                print("Labels:", data['labels'])
                print("\n")

                # Decode predictions and labels for the current sample
                decoded_pred = tokenizer.decode(predicted_tokens, skip_special_tokens=True)
                decoded_label = tokenizer.decode(A.cpu().tolist(), skip_special_tokens=True)

                # Print predicted and target answers
                print("Predicted Answer:", decoded_pred)
                print("Target Answer:", decoded_label)
                print("\n")

                # Append the decoded prediction and label for the current sample
                all_preds.append(decoded_pred)
                all_labels.append(decoded_label)

            except Exception as e:
                print(f"Error during evaluation for sample {i}: {e}")
                all_preds.append("")
                all_labels.append("")
                continue

    # Calculate exact match
    em = metric.compute(predictions=all_preds, references=all_labels)["exact_match"]

    print("\nEvaluation Results:")
    print(f"  Exact Match: {em:.4f}")

    return {"exact_match": em}

## WORKINg-2

In [ ]:
import torch
from tqdm import tqdm
import evaluate
from peft import PeftModel

def evaluate_model(model_path, eval_dataset, device="cuda" if torch.cuda.is_available() else "cpu", edges=None):
    """
    Evaluates a text-to-SQL model on a given dataset.

    Args:
        model_path (str): Path to the trained PEFT model.
        eval_dataset (Dataset): The dataset to evaluate on.
        device (str, optional): The device to use for computation ("cuda" or "cpu"). Defaults to "cuda" if available.
        edges (torch.Tensor, optional): Precomputed edge indices for the dataset (if applicable).

    Returns:
        dict: A dictionary containing the exact match score.
    """

    # Load model once outside the loop
    model = GraphModel(mistral_model, tokenizer)
    model = PeftModel.from_pretrained(model, model_path, is_trainable=False)
    model.to(device)
    model.float()
    model.eval()
    model.encoder.eval()

    metric = evaluate.load("exact_match")
    all_preds, all_labels = [], []

    with torch.no_grad():
        for i in tqdm(range(len(eval_dataset)), desc="Evaluating"):
            data = eval_dataset[i]

            Q = data['input_ids'].to(device).long()
            A = data['labels'].to(device).long()
            # Check for NaN or Inf values in Q and A
            if torch.isnan(Q).any() or torch.isinf(Q).any() or torch.isnan(A).any() or torch.isinf(A).any():
                print("WARNING: NaN or Inf values detected in input_ids or labels!")

            print('\n\n')
            print(f"Sample ID: {i}")
            print(f"  - Text: {tokenizer.decode(Q, skip_special_tokens=True)}")
            print(f"  - Target Text: {tokenizer.decode(A, skip_special_tokens=True)}")
            print('\n')

            # Prepare data for the model
            input_data = {
                "input_ids": Q.unsqueeze(0),
                "attention_mask": data['attention_mask'].unsqueeze(0).to(device).float()
            }

            if edges is None:
                edges = torch.tensor([[]]).to(device)

            try:
                # Model inference
                model_output = model(**input_data, edges=edges.float())
                logits = model_output.logits


                # Handle potential errors in logits
                if torch.isnan(logits).any() or torch.isinf(logits).any():
                    print("WARNING: NaN or Inf values detected in logits!")
                    logits[torch.isnan(logits)] = 0 # Replace NaN with zero
                    logits[torch.isinf(logits)] = 0 # Replace Inf with zero


                # Ensure logits has the right dimensions before argmax
                if logits.dim() > 2:
                    logits = logits.squeeze(1)
                elif logits.dim() == 1:
                    logits = logits.unsqueeze(0)

                # Extract predicted tokens directly on GPU
                predicted_ids = logits.argmax(dim=-1)

                # Print shapes and values for debugging
                print("\n\n")
                print("Logits length:", logits.shape[1])
                print("Logits shape:", logits.shape)
                print("Logits dtype:", logits.dtype)
                print("\n")
                print("Predicted IDs:", logits.argmax(dim=-1))
                print("Labels:", data['labels'])
                print("\n")

                # Decode predictions and labels (move to CPU for decoding)
                decoded_pred = tokenizer.decode(predicted_ids.cpu(), skip_special_tokens=True)
                decoded_label = tokenizer.decode(A.cpu(), skip_special_tokens=True)

                print("Predicted Answer:", decoded_pred)
                print("Target Answer:", decoded_label)
                print("\n")

                all_preds.append(decoded_pred)
                all_labels.append(decoded_label)

            except RuntimeError as e:
                if 'out of memory' in str(e):  # Check if it's an OOM error
                    torch.cuda.empty_cache()
                    print(f"Out of memory error for sample {i}. Skipping this sample.")
                else:
                    print(f"Error during evaluation for sample {i}: {e}")
                all_preds.append("")  # Add an empty string for the skipped sample
                all_labels.append("")

    # Calculate exact match
    em = metric.compute(predictions=all_preds, references=all_labels)["exact_match"]

    print("\nEvaluation Results:")
    print(f"  Exact Match: {em:.4f}")

    return {"exact_match": em}

In [ ]:
path="/content/gdrive/MyDrive/model/GNN-T2SQL/checkpoint-250"
!ls -ltha $path

total 1.1G
-rw------- 1 root root 1.1G Aug  8 16:02 optimizer.pt
-rw------- 1 root root  14K Aug  8 16:02 rng_state.pth
-rw------- 1 root root 1000 Aug  8 16:02 scheduler.pt
-rw------- 1 root root 1.2K Aug  8 16:02 trainer_state.json
-rw------- 1 root root  730 Aug  8 16:02 adapter_config.json
-rw------- 1 root root 2.3M Aug  8 16:02 adapter_model.safetensors
-rw------- 1 root root 5.0K Aug  8 16:02 README.md
-rw------- 1 root root 5.1K Aug  8 16:02 training_args.bin

In [ ]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
path="/content/gdrive/MyDrive/model/GNN-T2SQL/checkpoint-250"
results=evaluate_model(path, eval_dataset, device=device)

## WORK-4

In [ ]:
import torch
from tqdm import tqdm
import evaluate
from peft import PeftModel

def evaluate_model(model_path, eval_dataset, device="cuda" if torch.cuda.is_available() else "cpu", edges=None, fake_input=None):
    """
    Evaluates a text-to-SQL model on a given dataset, with optional fake input for testing.

    Args:
        model_path (str): Path to the trained PEFT model.
        eval_dataset (Dataset): The dataset to evaluate on.
        device (str, optional): The device to use for computation ("cuda" or "cpu"). Defaults to "cuda" if available.
        edges (torch.Tensor, optional): Precomputed edge indices for the dataset (if applicable).
        fake_input (str, optional): Fake input text to use instead of the actual dataset input.

    Returns:
        dict: A dictionary containing evaluation metrics, including exact match (EM), BLEU score, execution accuracy (if applicable), and others.
    """

    # Load model once outside the loop
    model = GraphModel(mistral_model, tokenizer)
    model = PeftModel.from_pretrained(model, model_path, is_trainable=False)
    model.to(device)
    model.float()
    model.eval()
    model.encoder.eval()

    metric_em = evaluate.load("exact_match")
    metric_bleu = evaluate.load("bleu")
    all_preds, all_labels = [], []



    with torch.no_grad():
        # Only evaluate on one sample if using fake input
        for i in tqdm(range(1 if fake_input else len(eval_dataset)), desc="Evaluating"):
            if fake_input:
                Q = tokenizer(fake_input, return_tensors="pt")['input_ids'].to(device).long()
                A = torch.tensor([], device=device).long()  # Empty tensor for labels
            else:
                data = eval_dataset[i]
                Q = data['input_ids'].to(device).long()
                A = data['labels'].to(device).long()

            # Check for NaN or Inf values in Q and A
            if torch.isnan(Q).any() or torch.isinf(Q).any() or (not fake_input and (torch.isnan(A).any() or torch.isinf(A).any())):
                print("WARNING: NaN or Inf values detected in input_ids or labels!")
                continue  # Skip this sample if there are invalid values

            print('\n\n')
            print(f"Sample ID: {i}")
             # Convert Q to a NumPy array before decoding
            print(f"  - Text: {tokenizer.decode(Q.cpu().numpy()[0], skip_special_tokens=True)}")
            if not fake_input:
                print(f"  - Target Text: {tokenizer.decode(A, skip_special_tokens=True)}")
            print('\n')

             # Prepare data for the model
            input_data = {
                "input_ids": Q.unsqueeze(0),
                "attention_mask": data['attention_mask'].unsqueeze(0).to(device).float() if not fake_input else torch.ones_like(Q).unsqueeze(0)
            }

            if edges is None:
                edges = torch.tensor([[]]).to(device)

            try:
                # Model inference
                # Ensure edges is in the correct format (if it's being used by your model)
                if edges is not None:
                    # Example: If your model expects edges as a 2D tensor of shape (batch_size, num_edges)
                    edges = edges.unsqueeze(0)  # Add a batch dimension if necessary
                else:
                    edges = torch.empty((1, 0), dtype=torch.long, device=device) # Create an empty tensor if no edges are provided

                model_output = model(**input_data, edges=edges.float())
                logits = model_output.logits



                # Handle potential errors in logits
                if torch.isnan(logits).any() or torch.isinf(logits).any():
                    print("WARNING: NaN or Inf values detected in logits!")
                    logits[torch.isnan(logits)] = 0 # Replace NaN with zero
                    logits[torch.isinf(logits)] = 0 # Replace Inf with zero


                # Ensure logits has the right dimensions before argmax
                if logits.dim() > 2:
                    logits = logits.squeeze(1)
                elif logits.dim() == 1:
                    logits = logits.unsqueeze(0)

                # Extract predicted tokens directly on GPU
                predicted_ids = logits.argmax(dim=-1)

                # Convert to list only if it's not already a list
                if not isinstance(predicted_ids, list):
                    predicted_ids = predicted_ids.cpu().tolist()

                # Print the type and shape of predicted_ids for debugging
                print("Type of predicted_ids:", type(predicted_ids))
                print("Shape of predicted_ids:", predicted_ids.shape)


                # Print the shape of hidden_states for debugging
                #print("Shape of hidden_states:", hidden_states.shape)  # Add this line

                #bsz, q_len, _ = hidden_states.size()




                # Always convert predicted_ids to a list, regardless of its dimension
                #predicted_ids = predicted_ids.cpu().tolist()



                # Print shapes and values for debugging
                print("\n\n")
                print("Logits length:", logits.shape[1])
                print("Logits shape:", logits.shape)
                print("Logits dtype:", logits.dtype)
                print("\n")
                print("Predicted IDs:", predicted_ids)
                if not fake_input:
                    print("Labels:", data['labels'])
                print("\n")


                # Decode predictions and labels
                decoded_pred = tokenizer.decode(predicted_ids, skip_special_tokens=True) # Decode the predicted IDs



                if not fake_input:
                    decoded_label = tokenizer.decode(A.cpu(), skip_special_tokens=True)
                    all_labels.append(decoded_label)

                print("Predicted Answer:", decoded_pred)
                if not fake_input:
                    print("Target Answer:", decoded_label)
                print("\n")

                all_preds.append(decoded_pred)  # Append even if fake input

            except RuntimeError as e:
                if 'out of memory' in str(e):  # Check if it's an OOM error
                    torch.cuda.empty_cache()
                    print(f"Out of memory error for sample {i}. Skipping this sample.")
                else:
                    print(f"Error during evaluation for sample {i}: {e}")
                all_preds.append("")  # Add an empty string for the skipped sample
                if not fake_input:
                    all_labels.append("")

    # Calculate exact match
    results = {}
    if not fake_input:
        em = metric_em.compute(predictions=all_preds, references=all_labels)["exact_match"]
        results["exact_match"] = em
        # Calculate BLEU score
        bleu = metric_bleu.compute(predictions=all_preds, references=all_labels)["bleu"]
        results["bleu"] = bleu


        # Calculate execution accuracy (if applicable)
        # ... (You'll need to implement this based on your specific setup)

        print("\nEvaluation Results:")
        print(f"  Exact Match: {em:.4f}")
        print(f"  BLEU Score: {bleu:.4f}")
        # Print execution accuracy if calculated

    return results

In [ ]:
# Specify the path to your saved model
model_path ="/content/gdrive/MyDrive/model/GNN-T2SQL/checkpoint-250"

# Use the fake input
fake_input = "What is the capital of the USA?"

# Evaluate the model with the fake input
results = evaluate_model(model_path, test_dataset, fake_input=fake_input)

# Print the results
print(results)  # This will likely be an empty dictionary since there's no exact match to compare to

## NOT WORK

In [ ]:
from torch.utils.data import DataLoader

path="/content/GNN-T2SQL/checkpoint-500"

# 1. Load the Entire Model (With Adapter)
model = GraphModel(mistral_model, tokenizer)
model = PeftModel.from_pretrained(model, path, is_trainable=False)
model.to(device)

# 3. Create DataLoader with Collator
data_collator = GraphDataCollatorForSeq2Seq(
    tokenizer,
    model=model,
    label_pad_token_id=-100,
    pad_to_multiple_of=8
)


eval_dataloader = DataLoader(eval_dataset, batch_size=1, collate_fn=data_collator)

ValueError: Can't find 'adapter_config.json' at '/content/GNN-T2SQL/checkpoint-500'

In [ ]:
data=eval_dataloader
print(data.dataset[0]['input_ids'])
data.dataset[0]['labels']

tensor([    2,     2,     2,  ...,  1070, 22032, 29572])

tensor([    2,     2,     2,  ..., 29502, 29508, 29502])

In [ ]:
#eval_dataloader
edges=None


# 2. Initialize Metrics
metric = evaluate.load("exact_match")
all_preds, all_labels = [], []

with torch.no_grad():
      #for i in tqdm(range(len(eval_dataset)), desc="Evaluating"):
      for batch in tqdm(eval_dataloader, desc="Evaluating"):  # Iterate over the DataLoader
          # Extract the data from the batch (assuming batch size 1)
          data = batch
          #data = eval_dataset[i]
          #print(data)

          Q = data['input_ids'].squeeze()  # Convert tensor to list
          A = data['labels'].squeeze()  # Convert tensor to list

          #Q = data['input_ids']
          #A = data['labels']

          print('\n\n')
          #print(f"Sample ID: {i}")
          print(f"  - Text: {tokenizer.decode(Q.tolist(), skip_special_tokens=True)}") # Decode after converting to list
          print(f"  - Target Text: {tokenizer.decode(A.tolist(), skip_special_tokens=True)}") # Decode after converting to list
          print('\n')


          # Prepare data for the model, move tensors to the correct device and unsqueeze
          data = {k: v.unsqueeze(0).to(device).float() for k, v in data.items() if isinstance(v, torch.Tensor)} # Apply unsqueeze only to tensors

          # Convert 'input_ids' to LongTensor
          data['input_ids'] = data['input_ids'].long()

          # Provide a default 'edges' tensor if None
          if edges is None:
              edges = torch.tensor([[]]).to(device)
          #edges=edges.float()

           # Prepare data for the model
          input_data = {
                "input_ids": torch.tensor(Q).unsqueeze(0).to(device).long(),  # Convert list to tensor and unsqueeze
                "attention_mask": torch.tensor(data['attention_mask']).unsqueeze(0).to(device).float()  # Convert list to tensor and unsqueeze
            }

          if edges is None:
              edges = torch.tensor([[]]).to(device)


          # Model inference
          #model_output = model(**input_data, edges=edges.float())
          #logits = model_output.logits



          model_output = model(input_ids=data['input_ids'], attention_mask=data['attention_mask'], edges=edges.float())
          logits = model_output.logits

          if logits.dim() > 2:
              logits = logits.squeeze(1)




          #all_preds.extend(logits.argmax(dim=-1).cpu().tolist())
          #all_labels.extend(A.cpu().tolist())

In [ ]:
import torch
from torch.utils.data import DataLoader
from tqdm import tqdm
import evaluate
from peft import PeftModel

def evaluate_model(model_path, eval_dataset, device=None, edges=None):

    if device is None:
        device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

    # 1. Load the Entire Model (With Adapter)
    model = GraphModel(mistral_model, tokenizer)
    model = PeftModel.from_pretrained(model, model_path, is_trainable=False)
    model.to(device)

    # Explicitly set model to float32 to ensure consistency
    model.float()

    # 2. Initialize Metrics
    metric = evaluate.load("exact_match")
    all_preds, all_labels = [], []

    # 3. Create DataLoader with Collator
    data_collator = GraphDataCollatorForSeq2Seq(
        tokenizer,
        model=model,
        label_pad_token_id=-100,
        pad_to_multiple_of=8
    )
    eval_dataloader = DataLoader(eval_dataset, batch_size=1, collate_fn=data_collator)

    # 4. Evaluation Loop
    model.eval()
    model.encoder.eval()
    with torch.no_grad():
        #for i in tqdm(range(len(eval_dataset)), desc="Evaluating"):
        for batch in tqdm(eval_dataloader, desc="Evaluating"):  # Iterate over the DataLoader
            # Extract the data from the batch (assuming batch size 1)
            #data = batch[0]
            #data = eval_dataset[i]


            data = batch


            Q = data['input_ids']
            A = data['labels']

            print('\n\n')
            #print(f"Sample ID: {i}")
            #print(f"  - Text: {tokenizer.decode(Q, skip_special_tokens=True)}")
            #print(f"  - Target Text: {tokenizer.decode(A, skip_special_tokens=True)}")
            #print('\n')


           # Prepare data for the model, move tensors to the correct device and unsqueeze
            data = {k: v.unsqueeze(0).to(device).float() for k, v in data.items()}

            # Convert 'input_ids' to LongTensor
            data['input_ids'] = data['input_ids'].long()

            # Unsqueeze the 'edges' tensor to add a batch dimension
            if edges is None:
                edges = torch.tensor([[]]).unsqueeze(0).to(device)  # Add unsqueeze here


            # Model inference
            model_output = model(**data, edges=edges.float())  # Pass the entire data dictionary
            logits = model_output.logits

            if logits.dim() > 2:
                logits = logits.squeeze(1)

            all_preds.extend(logits.argmax(dim=-1).cpu().tolist())
            all_labels.extend(A.cpu().tolist())


    # 5. Compute and Print Metrics
    decoded_preds = tokenizer.batch_decode(all_preds, skip_special_tokens=True)
    decoded_labels = tokenizer.batch_decode(all_labels, skip_special_tokens=True)

    # Print for debugging
    print(f"Decoded predictions: {decoded_preds}")
    print(f"Decoded labels: {decoded_labels}")

    em = metric.compute(predictions=decoded_preds, references=decoded_labels)["exact_match"]

    print("\nEvaluation Results:")
    print(f"  Exact Match: {em:.4f}")

In [ ]:
eval_dataset.dataset[0]

{'answer': 'SELECT cover_model FROM table_name_67 WHERE interview_subject = "joan collins"',
 'question': 'Who was the Cover model in the issue in which the Interview subject was Joan Collins?',
 'context': 'CREATE TABLE table_name_67 (cover_model VARCHAR, interview_subject VARCHAR)'}

In [ ]:
eval_dataset[0]

{'input_ids': tensor([    2,     2,     2,  ..., 21384, 21959, 29572]),
 'attention_mask': tensor([0, 0, 0,  ..., 1, 1, 1]),
 'labels': tensor([    2,     2,     2,  ...,  4263,  1894, 29507]),
 'edges': tensor([[ 0,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
         [ 1,  4,  4,  1,  4,  7,  5, 13,  8, 12, 12, 13,  4, 15, 13,  1]]),
 'sample_ids': tensor([0])}

In [ ]:
Q=eval_dataset[0]['input_ids']
tokenizer.decode(Q, skip_special_tokens=True)

'Who was the Cover model in the issue in which the Interview subject was Joan Collins?'

In [ ]:
A=eval_dataset[0]['labels']
tokenizer.decode(A, skip_special_tokens=True)

'SELECT cover_model FROM table_name_67 WHERE interview_subject = "joan collins"'

In [ ]:

# Data Collator
data_collator = DataCollatorForSeq2Seq(
    tokenizer,
    model=model,
    label_pad_token_id=-100,
    pad_to_multiple_of=8  # Ensure tensors divisible by 8 for optimized performance
)

# 10. Trainer
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset=val_dataset,
    data_collator=data_collator,
    compute_metrics=compute_metrics,
    optimizers=(optimizer, None)
)

Let's analyze the information you've provided about your `GraphModel`:

**Structure Analysis:**

* **Encoder (Mistral-7B):** The backbone of your model is the Mistral-7B language model. This model is responsible for understanding the input text and generating meaningful representations (embeddings) for each token. The encoder has a substantial number of parameters (7.5 billion), indicating its large size and capacity to learn complex language patterns.

* **GAT Layer:**  You've incorporated a Graph Attention Network (GAT) layer to process the graph structure of your input data. This layer likely learns to weigh the importance of different nodes and edges based on their relationships, which can help capture additional information beyond just the raw text.

* **Pooling:** The `pool` operation is used to aggregate the representations from individual nodes into a single representation for the entire graph. The choice of pooling (e.g., mean pooling) depends on your specific task and how you want to combine the node-level information.

* **LM Head:** The language model head (`lm_head`) takes the final graph representation and predicts the next token in the sequence. It has a large number of parameters due to the vocabulary size (32,768).

**PEFT (Parameter-Efficient Fine-Tuning):**

- **Lora (Low-Rank Adaptation):** You are using LoRA, a technique that adds small adapter modules to the model to fine-tune it more efficiently. This allows you to train a smaller number of parameters while still achieving good performance.

- **Trainable Parameters:**  Only a small fraction (0.0078%) of the total parameters are trainable, thanks to LoRA. This drastically reduces the computational and memory requirements during training.

**Potential Challenges and Considerations:**

- **Graph Structure Quality:** The effectiveness of the GAT layer heavily relies on the quality of the graph structure you create from the input text. Dependency parsing is a good starting point, but you might want to explore other ways to construct the graph to better capture the relationships between words and phrases.

- **Overfitting with LoRA:** Even with LoRA, overfitting can be a concern, especially with a small dataset. Monitor your validation loss and consider techniques like early stopping or adding more training data (if possible).

- **Memory Usage:**  Graph models can be memory intensive, especially with large input sequences or large batch sizes. You might need to experiment with techniques like gradient checkpointing or gradient accumulation to manage memory usage.

- **Training Stability:** Training large language models can sometimes be unstable. Experiment with different learning rates, optimizers, and warm-up strategies to find the best settings for your model.

- **Evaluation Metrics:** Choose appropriate evaluation metrics that reflect the quality of the generated SQL queries. Consider using both automated metrics (e.g., BLEU score, accuracy) and human evaluation to assess the model's performance.


Let me know if you have any specific questions or concerns!

* Original Code - TRAINING ONLY


TO BE TEST IT WORK FOR trainer = SFTTrainer( ; from trl import SFTTrainer;

max_seq_length = 2048 --- max sequence length for model and packing of the dataset

 https://github.com/frank-morales2020/MLxDL/blob/main/FineTuning_LLM_Mistral_7B_Instruct_v0_1_for_text_to_SQL_EVALDATA.ipynb

In [ ]:
torch.cuda.empty_cache()

In [ ]:
# 8. Evaluation Metric (Semantic Similarity)
metric = evaluate.load("exact_match")
sentence_transformer_model = SentenceTransformer('all-mpnet-base-v2')

def compute_metrics(eval_pred):
    logits, labels = eval_pred
    predictions = tokenizer.batch_decode(logits, skip_special_tokens=True)
    references = tokenizer.batch_decode(labels, skip_special_tokens=True)

    # Compute embeddings for predictions and references
    prediction_embeddings = sentence_transformer_model.encode(predictions, convert_to_tensor=True)
    reference_embeddings = sentence_transformer_model.encode(references, convert_to_tensor=True)

    # Calculate cosine similarities
    cosine_similarities = util.cos_sim(prediction_embeddings, reference_embeddings)
    similarities = torch.diag(cosine_similarities).cpu().numpy()  # Extract similarities for corresponding pairs

    # Return average similarity as the metric
    em = metric.compute(predictions=predictions, references=references)["exact_match"]
    return {"semantic_similarity": np.mean(similarities), "exact_match": em}

# 9. Training Arguments and Trainer
training_args = TrainingArguments(
    "graph-T2SQL",
    logging_dir="graph-T2SQL",
    per_device_train_batch_size=1,
    gradient_accumulation_steps=2,
    num_train_epochs=1,
    eval_strategy="epoch",
    save_strategy="epoch",
    logging_strategy="epoch",
    push_to_hub=False,
    dataloader_pin_memory=False,
    load_best_model_at_end=True,
    metric_for_best_model="eval_semantic_similarity",
    report_to="tensorboard",
)

optimizer = torch.optim.AdamW(model.parameters(), lr=1e-5)

# Data Collator
data_collator = DataCollatorForSeq2Seq(
    tokenizer,
    model=model,
    label_pad_token_id=-100,
    pad_to_multiple_of=8  # Ensure tensors divisible by 8 for optimized performance
)

print('\n\n')

# 10. Trainer
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset=val_dataset,
    data_collator=data_collator,
    compute_metrics=compute_metrics,
    optimizers=(optimizer, None)
)

trainer.add_callback(EarlyStoppingCallback(early_stopping_patience=3))


# 11. Train the model
print('\n\n')
trainer.train()
print('\n\n')

# 12. Evaluate on the test set
test_results = trainer.evaluate(test_dataset)
print(f'Test Semantic Similarity: {test_results["eval_semantic_similarity"]:.4f}')
print(f'Test Exact Match: {test_results["eval_exact_match"]:.4f}')

## Enhance - 1: Data Augmentation

In [ ]:
!pip install nlpaug -q

In [ ]:
from nlpaug.augmenter.word import SynonymAug, RandomWordAug
from nlpaug.augmenter.sentence import RandomInsertionAug

def augment_data(dataset):
    augmented_data = []

    synonym_aug = SynonymAug(aug_src='wordnet')
    insert_aug = RandomInsertionAug(aug_p=0.1)  # Insert with 10% probability
    delete_aug = RandomWordAug(action="delete", aug_p=0.05)  # Delete with 5% probability

    for item in dataset:
        question = item['question']
        answer = item['answer']

        # Create augmented examples
        augmented_questions = [
            synonym_aug.augment(question),
            insert_aug.augment(question),
            delete_aug.augment(question)
        ]

        # Add original and augmented examples to the dataset
        for aug_question in augmented_questions:
            augmented_data.append({'question': aug_question, 'answer': answer})

    return augmented_data

# Augment the training dataset
train_dataset_augmented = augment_data(train_dataset)

## Enhance - 2: Alternative Architecture: Graph Transformer Network (GTN)

In [ ]:
!pip install torch_geometric -q

In [ ]:
from torch_geometric.nn import GTConv

class GTNModel(torch.nn.Module):
    def __init__(self, encoder):
        super(GTNModel, self).__init__()
        self.encoder = encoder
        self.gtn = GTConv(4096, 4096, num_layers=2)  # 2 GTN layers
        self.pool = lambda x, batch: torch.mean(x, dim=0, keepdim=True)
        self.lm_head = torch.nn.Linear(4096, tokenizer.vocab_size)

    def forward(self, **inputs):
        x = inputs['input_ids'].to(mistral_model.device)
        edge_index = inputs['edge_index'].to(mistral_model.device)
        embeddings = self.encoder(x).last_hidden_state.cpu()
        gtn_out = self.gtn(embeddings, edge_index.cpu())
        pooled = self.pool(gtn_out, inputs.get('batch', torch.zeros(gtn_out.size(0)).long()))
        out = self.lm_head(pooled.to(mistral_model.device))
        return {"logits": out}

# Replace the model with the GTNModel
model = GTNModel(mistral_model)

## Enhance - 3: Integration Enhance - 1 and Enhance - 2

In [ ]:
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import Dataset, DataLoader
from datasets import load_dataset
from peft import LoraConfig, get_peft_model, TaskType
from transformers import (
    AutoTokenizer,
    AutoModelForCausalLM,
    BitsAndBytesConfig,
    Trainer,
    TrainingArguments,
)
from sentence_transformers import SentenceTransformer, util
from tqdm import tqdm
import spacy
import numpy as np
from torch_geometric.nn import GTConv  # For GTN
from trl import setup_chat_format
from nlpaug.augmenter.word import SynonymAug, RandomWordAug
from nlpaug.augmenter.sentence import RandomInsertionAug

# ... (rest of the imports and model/tokenizer loading from the original code)

# Data Augmentation Function
def augment_data(dataset):
    augmented_data = []

    synonym_aug = SynonymAug(aug_src='wordnet')
    insert_aug = RandomInsertionAug(aug_p=0.1)  # Insert with 10% probability
    delete_aug = RandomWordAug(action="delete", aug_p=0.05)  # Delete with 5% probability

    for item in dataset:
        question = item['question']
        answer = item['answer']

        # Create augmented examples
        augmented_questions = [
            synonym_aug.augment(question),
            insert_aug.augment(question),
            delete_aug.augment(question)
        ]

        # Add original and augmented examples to the dataset
        for aug_question in augmented_questions:
            augmented_data.append({'question': aug_question, 'answer': answer})

    return augmented_data

# TextToSQLDataset (unchanged from the original code)
class TextToSQLDataset(Dataset):
    def __init__(self, dataset, tokenizer):
        self.dataset = dataset
        self.tokenizer = tokenizer

    def __len__(self):
        return len(self.dataset)

    def __getitem__(self, idx):
        item = self.dataset[idx]
        #text = item['question'] + " " + item['context']
        text = item['question']
        target_text = item['answer']

        tokenized_input = self.tokenizer(text, truncation=True, padding=True, return_tensors="pt")
        tokenized_target = self.tokenizer(target_text, truncation=True, padding=True, return_tensors="pt")

        # Dependency Parsing for Edge Index
        doc = nlp(text)
        edges = []
        for token in doc:
            if token.i < len(doc) - 1:
                edges.append([token.i, token.head.i])
        edge_index = torch.tensor(edges, dtype=torch.long).t().contiguous()

        return {
            'input_ids': tokenized_input['input_ids'].flatten(),
            'attention_mask': tokenized_input['attention_mask'].flatten(),
            'labels': tokenized_target['input_ids'].flatten(),
            'edge_index': edge_index,
        }

# GTN Model WITH GTConv
from torch_geometric.nn import GTConv

class GTNModel(torch.nn.Module):
    def __init__(self, encoder):
        super(GTNModel, self).__init__()
        self.encoder = encoder
        self.gtn = GTConv(4096, 4096, num_layers=2)  # 2 GTN layers
        self.pool = lambda x, batch: torch.mean(x, dim=0, keepdim=True)
        self.lm_head = torch.nn.Linear(4096, tokenizer.vocab_size)

    def forward(self, **inputs):
        x = inputs['input_ids'].to(mistral_model.device)
        edge_index = inputs['edge_index'].to(mistral_model.device)
        embeddings = self.encoder(x).last_hidden_state.cpu()

        gtn_out = self.gtn(embeddings, edge_index.cpu())
        pooled = self.pool(gtn_out, inputs.get('batch', torch.zeros(gtn_out.size(0)).long()))
        out = self.lm_head(pooled.to(mistral_model.device))
        return {"logits": out}

# Replace the model with the GTNModel
model = GTNModel(mistral_model)
model = get_peft_model(model, peft_config)
model.config.use_cache=False
model.gradient_checkpointing_enable() #enable gradient checkpoint

# 7. Evaluation Metric (Semantic Similarity)
sentence_transformer_model = SentenceTransformer('all-mpnet-base-v2')

def compute_metrics(eval_pred):
    logits, labels = eval_pred
    predictions = tokenizer.batch_decode(logits, skip_special_tokens=True)
    references = tokenizer.batch_decode(labels, skip_special_tokens=True)
    # Compute embeddings for predictions and references
    prediction_embeddings = sentence_transformer_model.encode(predictions, convert_to_tensor=True)
    reference_embeddings = sentence_transformer_model.encode(references, convert_to_tensor=True)

    # Calculate cosine similarities
    cosine_similarities = util.cos_sim(prediction_embeddings, reference_embeddings)
    similarities = torch.diag(cosine_similarities).cpu().numpy()  # Extract similarities for corresponding pairs

    # Return average similarity as the metric
    return {"semantic_similarity": np.mean(similarities)}


# Augment the training dataset
train_dataset_augmented = augment_data(train_dataset)

# Create datasets (using augmented training data)
train_dataset = TextToSQLDataset(train_dataset_augmented, tokenizer)
val_dataset = TextToSQLDataset(val_dataset, tokenizer)
test_dataset = TextToSQLDataset(test_dataset, tokenizer)

# Use the GTNModel
model = GTNModel(mistral_model)

model = get_peft_model(model, peft_config)
model.config.use_cache=False
model.gradient_checkpointing_enable() #enable gradient checkpoint

torch.cuda.empty_cache()

# 10. Create Trainer instance
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset = train_dataset,
    eval_dataset = val_dataset,
    data_collator=lambda x: x,
    compute_metrics = compute_metrics,
    optimizers=(optimizer, None)
)

from transformers import EarlyStoppingCallback
trainer.add_callback(EarlyStoppingCallback(early_stopping_patience=3))

# 11. Train the model
trainer.train()

# 12. Evaluate on the test set
test_results = trainer.evaluate(test_dataset)
print(f'Test Semantic Similarity: {test_results["eval_semantic_similarity"]:.4f}')

## Enhance - 4: Regularization Techniques

In [ ]:
# ... (other imports)
from torch_geometric.nn import GTConv

# ... (other classes and functions)

# GTN Model with Dropout
class GTNModel(torch.nn.Module):
    def __init__(self, encoder, dropout_prob=0.1):  # Add dropout probability
        super(GTNModel, self).__init__()
        self.encoder = encoder
        self.gtn = GTConv(4096, 4096, num_layers=2)
        self.dropout = nn.Dropout(dropout_prob)  # Dropout layer
        self.pool = lambda x, batch: torch.mean(x, dim=0, keepdim=True)
        self.lm_head = torch.nn.Linear(4096, tokenizer.vocab_size)

    def forward(self, **inputs):
        # ... (rest of the forward method)
        x = inputs['input_ids'].to(mistral_model.device)
        edge_index = inputs['edge_index'].to(mistral_model.device)
        embeddings = self.encoder(x).last_hidden_state.cpu()


        gtn_out = self.gtn(embeddings, edge_index.cpu())
        gtn_out = self.dropout(gtn_out)  # Apply dropout after GTN

        pooled = self.pool(gtn_out, inputs.get('batch', torch.zeros(gtn_out.size(0)).long()))

        out = self.lm_head(pooled.to(mistral_model.device))
        return {"logits": out}

# ... (rest of the code)

# Create the model with dropout
model = GTNModel(mistral_model, dropout_prob=0.1)  # Set dropout probability
model = get_peft_model(model, peft_config)


model.config.use_cache=False
model.gradient_checkpointing_enable() #enable gradient checkpoint

torch.cuda.empty_cache()

# 10. Create Trainer instance
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset = train_dataset,
    eval_dataset = val_dataset,
    data_collator=lambda x: x,
    compute_metrics = compute_metrics,
    optimizers=(optimizer, None)
)

from transformers import EarlyStoppingCallback
trainer.add_callback(EarlyStoppingCallback(early_stopping_patience=3))

# 11. Train the model
trainer.train()

# 12. Evaluate on the test set
test_results = trainer.evaluate(test_dataset)
print(f'Test Semantic Similarity: {test_results["eval_semantic_similarity"]:.4f}')

## Enhance - 5:

* MultiTaskDataset: This class combines multiple datasets and assigns task IDs to each sample.

* MultiTaskModel: This class extends the model to include a separate head for the classification task.

* Task-Specific Forward Pass: The forward method now takes a task_id input and uses the appropriate head based on the task.

* Training Loop: The training loop needs to be modified to handle the multi-task dataset and compute losses for both tasks.

In [ ]:
class TextToSQLDataset(Dataset):
    def __init__(self, dataset, tokenizer, task_id=0):  # Add task_id argument
        self.dataset = dataset
        self.tokenizer = tokenizer
        self.task_id = task_id  # Store task ID

    def __len__(self):
        return len(self.dataset)

    def __getitem__(self, idx):
        item = self.dataset[idx]
        question = item['question'] if self.task_id == 0 else item['text']  # Use appropriate field
        answer = item['answer'] if self.task_id == 0 else item['label']  # Use appropriate field
        # ... (rest of the __getitem__ method for tokenization and graph construction)


        item = {'input_ids': input_ids, 'attention_mask': attention_mask,
                'edge_index': edge_index, 'task_id': self.task_id}  # Add task_id
        return item

In [ ]:
# Create the multi-task model with dropout
model = MultiTaskModel(mistral_model, dropout_prob=0.1, num_classes=num_classification_classes)
model = get_peft_model(model, peft_config)

In [ ]:
# ... (other parts of the code)

train_dataset_sql = TextToSQLDataset(train_dataset_augmented, tokenizer, task_id=0)
train_dataset_classification = TextToSQLDataset(dataset_classification, tokenizer, task_id=1)

# Combine datasets (consider balancing them if needed)
train_dataset = torch.utils.data.ConcatDataset([train_dataset_sql, train_dataset_classification])

# ... (rest of the training and evaluation code, modified for multi-task)

In the provided code, the new train_dataset brings several enhancements compared to the original version:

Data Augmentation: The most significant change is the incorporation of data augmentation. The original train_dataset is passed through the augment_data function, which creates additional training examples by applying techniques like synonym replacement, random word insertion, and random word deletion. This augmented dataset is then used to create the new train_dataset.

Benefit: Data augmentation helps the model generalize better to different phrasing and vocabulary variations in natural language input, leading to improved performance on unseen examples.
Multi-Task Learning: The new train_dataset is designed to support multi-task learning. It combines examples from both the original text-to-SQL task and an additional classification task. Each example in the dataset is associated with a task_id to indicate which task it belongs to.

Benefit: Multi-task learning allows the model to learn shared representations between related tasks, potentially improving performance and generalization on both tasks.
Dynamic Padding: While not explicitly mentioned, the code likely uses dynamic padding when creating the train_dataset. This means that each example is padded to the length of the longest sequence in its batch, rather than using a fixed maximum length.

Benefit: Dynamic padding reduces unnecessary padding tokens, which can speed up training and potentially improve model performance.

Sources and related content

## Enhance - 6: Custom Loss Function

In [ ]:
from transformers import EarlyStoppingCallback
from torch.nn import CrossEntropyLoss, MSELoss


# Custom Loss Function (integrated)
def compute_loss(model, inputs, return_outputs=False):
    labels = inputs.pop("labels")
    task_ids = inputs.pop("task_id")

    outputs = model(**inputs)

    sql_logits = outputs.logits[task_ids == 0]  # SQL task logits
    sql_labels = labels[task_ids == 0]          # SQL task labels
    sql_loss = CrossEntropyLoss()(sql_logits, sql_labels)

    classification_logits = outputs.logits[task_ids == 1]  # Classification task logits
    classification_labels = labels[task_ids == 1]          # Classification task labels
    classification_loss = MSELoss()(classification_logits, classification_labels)

    # Combine Losses (adjust weights as needed)
    loss = 0.5 * sql_loss + 0.5 * classification_loss

    return (loss, outputs) if return_outputs else loss

# 10. Create Trainer instance (with the custom loss)
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset=val_dataset,
    data_collator=lambda x: x,
    compute_metrics=compute_metrics,
    compute_loss=compute_loss,  # Pass the custom loss function here
    optimizers=(optimizer, None)
)

# 11. Train the model
trainer.train()

# 12. Evaluate on the test set
test_results = trainer.evaluate(test_dataset)
print(f'Test Semantic Similarity: {test_results["eval_semantic_similarity"]:.4f}')