<a href="https://colab.research.google.com/github/frank-morales2020/MLxDL/blob/main/RLHF_T2SQL_REPORT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install peft --quiet
! pip install datasets trl ninja packaging --quiet

In [ ]:
# Install Pytorch & other libraries
!pip install torch tensorboard --quiet

# Install Hugging Face libraries
!pip install  --upgrade transformers datasets accelerate evaluate bitsandbytes --quiet

#FlashAttention only supports Ampere GPUs or newer. #NEED A100 IN GOOGLE COLAB
#!pip install -U transformers
!pip install -U flash-attn --no-build-isolation --quiet


! pip install peft --quiet
! pip install datasets trl ninja packaging --quiet

!pip install diffusers safetensors  --quiet
!pip install colab-env --quiet

In [ ]:
!pip install huggingface_hub -q

import colab_env
import os

access_token_write = os.getenv("HUGGINGFACE_ACCESS_TOKEN_WRITE")

In [5]:
#!pip install huggingface_hub --quiet
from huggingface_hub import HfApi

api = HfApi()
api.get_token_permission(token=access_token_write)
#api.set_access_token(access_token)


# frankmorales2020/Mistral-7B-text-to-sql Good

#repo_id = "frankmorales2020/mistral-7b-ppo-poc-t2sql"
#api.create_repo(repo_id=repo_id, private=False)

api.delete_repo(repo_id=repo_id)

#api.upload_folder(
#    folder_path="./model",
#    repo_id=repo_id,
#    repo_type="model",
#)

In [4]:
from transformers import (
    AutoModelForCausalLM,
    AutoTokenizer,
    BitsAndBytesConfig,
    AutoTokenizer,
    TrainingArguments,
)

In [5]:
#frankmorales2020/Mistral-7B-text-to-sql
# Chose the base model you want
#model_name = "frankmorales2020/Mistral-7B-text-to-sql" # 01/03/2023
#frankmorales2020/Mistral-7B-text-to-sql-flash-attention-2
model_name = "frankmorales2020/Mistral-7B-text-to-sql-flash-attention-2" # 04/03/2024
# set device
device = 'cuda'
#v Tokenizer
tokenizer = AutoTokenizer.from_pretrained(model_name, use_fast=True)
# We redefine the pad_token and pad_token_id with out of vocabulary token (unk_token)
tokenizer.pad_token = tokenizer.unk_token
tokenizer.pad_token_id = tokenizer.unk_token_id

tokenizer_config.json:   0%|          | 0.00/1.61k [00:00<?, ?B/s]

tokenizer.model:   0%|          | 0.00/493k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.80M [00:00<?, ?B/s]

added_tokens.json:   0%|          | 0.00/51.0 [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/557 [00:00<?, ?B/s]

In [6]:
import colab_env
import os

access_token_write = os.getenv("HUGGINGFACE_ACCESS_TOKEN_WRITE")

from huggingface_hub import login

login(
  token=access_token_write,
  add_to_git_credential=True
)

In [9]:
!pip install huggingface_hub -q

In [10]:
from datasets import load_dataset
from huggingface_hub import hf_hub_url

In [8]:
from datasets import load_dataset

# Convert dataset to OAI messages
system_message = """You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.
SCHEMA:
{schema}"""

def create_conversation(sample):
  return {
    "messages": [
      {"role": "system", "content": system_message.format(schema=sample["context"])},
      {"role": "user", "content": sample["question"]},
      {"role": "assistant", "content": sample["answer"]}
    ]
  }

# Load dataset from the hub
dataset = load_dataset("b-mc2/sql-create-context", split="train")
dataset = dataset.shuffle().select(range(12500))

# Convert dataset to OAI messages
dataset = dataset.map(create_conversation, remove_columns=dataset.features,batched=False)

# split dataset into 10,000 training samples and 2,500 test samples
dataset = dataset.train_test_split(test_size=2500/12500)

print(dataset["train"][345]["messages"])

# save datasets to disk
dataset["train"].to_json("train_dataset.json", orient="records")
dataset["test"].to_json("test_dataset.json", orient="records")

Map:   0%|          | 0/12500 [00:00<?, ? examples/s]

[{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_18946749_1 (elevation__m_ INTEGER, peak VARCHAR)', 'role': 'system'}, {'content': 'When mount kobowre is the peak what is the highest elevation in meters?', 'role': 'user'}, {'content': 'SELECT MAX(elevation__m_) FROM table_18946749_1 WHERE peak = "Mount Kobowre"', 'role': 'assistant'}]

Creating json from Arrow format:   0%|          | 0/10 [00:00<?, ?ba/s]

Creating json from Arrow format:   0%|          | 0/3 [00:00<?, ?ba/s]

1189478

In [9]:
from datasets import load_dataset
from random import randint

# Load our test dataset and Tokenizer again
#tokenizer = AutoTokenizer.from_pretrained("frankmorales2020/Mistral-7B-text-to-sql") # 01/03/2024
tokenizer = AutoTokenizer.from_pretrained("frankmorales2020/Mistral-7B-text-to-sql-flash-attention-2") # 04/03/2024
eval_dataset = load_dataset("json", data_files="test_dataset.json", split="train")
rand_idx = randint(0, len(eval_dataset))

Generating train split: 0 examples [00:00, ? examples/s]

In [10]:
# generate the same prompt as for the first local test
prompt = tokenizer.apply_chat_template(eval_dataset[rand_idx]["messages"][:2], tokenize=False, add_generation_prompt=True)
request= {"inputs":prompt,"parameters":{"temperature":0.2, "top_p": 0.95, "max_new_tokens": 256}}

Parameter-Efficient Fine-Tuning (PEFT)

In [11]:
import torch
from peft import AutoPeftModelForCausalLM
from transformers import AutoTokenizer, pipeline

peft_model_id = "frankmorales2020/Mistral-7B-text-to-sql-flash-attention-2"


# Load Model with PEFT adapter
model = AutoPeftModelForCausalLM.from_pretrained(
  peft_model_id,
  device_map="auto",
  torch_dtype=torch.float16
)

tokenizer = AutoTokenizer.from_pretrained(peft_model_id)

# load into pipeline
pipe = pipeline("text-generation", model=model, tokenizer=tokenizer)

adapter_config.json:   0%|          | 0.00/710 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/571 [00:00<?, ?B/s]

model.safetensors.index.json:   0%|          | 0.00/25.1k [00:00<?, ?B/s]

Downloading shards:   0%|          | 0/2 [00:00<?, ?it/s]

model-00001-of-00002.safetensors:   0%|          | 0.00/9.94G [00:00<?, ?B/s]

model-00002-of-00002.safetensors:   0%|          | 0.00/4.54G [00:00<?, ?B/s]

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

generation_config.json:   0%|          | 0.00/116 [00:00<?, ?B/s]

The new embeddings will be initialized from a multivariate normal distribution that has old embeddings' mean and covariance. As described in this article: https://nlp.stanford.edu/~johnhew/vocab-expansion.html. To disable this, use `mean_resizing=False`
The new lm_head weights will be initialized from a multivariate normal distribution that has old embeddings' mean and covariance. As described in this article: https://nlp.stanford.edu/~johnhew/vocab-expansion.html. To disable this, use `mean_resizing=False`

adapter_model.safetensors:   0%|          | 0.00/1.87G [00:00<?, ?B/s]

The model 'PeftModelForCausalLM' is not supported for text-generation. Supported models are ['BartForCausalLM', 'BertLMHeadModel', 'BertGenerationDecoder', 'BigBirdForCausalLM', 'BigBirdPegasusForCausalLM', 'BioGptForCausalLM', 'BlenderbotForCausalLM', 'BlenderbotSmallForCausalLM', 'BloomForCausalLM', 'CamembertForCausalLM', 'LlamaForCausalLM', 'CodeGenForCausalLM', 'CohereForCausalLM', 'CpmAntForCausalLM', 'CTRLLMHeadModel', 'Data2VecTextForCausalLM', 'DbrxForCausalLM', 'ElectraForCausalLM', 'ErnieForCausalLM', 'FalconForCausalLM', 'FalconMambaForCausalLM', 'FuyuForCausalLM', 'GemmaForCausalLM', 'Gemma2ForCausalLM', 'GitForCausalLM', 'GlmForCausalLM', 'GPT2LMHeadModel', 'GPT2LMHeadModel', 'GPTBigCodeForCausalLM', 'GPTNeoForCausalLM', 'GPTNeoXForCausalLM', 'GPTNeoXJapaneseForCausalLM', 'GPTJForCausalLM', 'GraniteForCausalLM', 'GraniteMoeForCausalLM', 'JambaForCausalLM', 'JetMoeForCausalLM', 'LlamaForCausalLM', 'MambaForCausalLM', 'Mamba2ForCausalLM', 'MarianForCausalLM', 'MBartForCausalLM', 'MegaForCausalLM', 'MegatronBertForCausalLM', 'MistralForCausalLM', 'MixtralForCausalLM', 'MllamaForCausalLM', 'MoshiForCausalLM', 'MptForCausalLM', 'MusicgenForCausalLM', 'MusicgenMelodyForCausalLM', 'MvpForCausalLM', 'NemotronForCausalLM', 'OlmoForCausalLM', 'OlmoeForCausalLM', 'OpenLlamaForCausalLM', 'OpenAIGPTLMHeadModel', 'OPTForCausalLM', 'PegasusForCausalLM', 'PersimmonForCausalLM', 'PhiForCausalLM', 'Phi3ForCausalLM', 'PhimoeForCausalLM', 'PLBartForCausalLM', 'ProphetNetForCausalLM', 'QDQBertLMHeadModel', 'Qwen2ForCausalLM', 'Qwen2MoeForCausalLM', 'RecurrentGemmaForCausalLM', 'ReformerModelWithLMHead', 'RemBertForCausalLM', 'RobertaForCausalLM', 'RobertaPreLayerNormForCausalLM', 'RoCBertForCausalLM', 'RoFormerForCausalLM', 'RwkvForCausalLM', 'Speech2Text2ForCausalLM', 'StableLmForCausalLM', 'Starcoder2ForCausalLM', 'TransfoXLLMHeadModel', 'TrOCRForCausalLM', 'WhisperForCausalLM', 'XGLMForCausalLM', 'XLMWithLMHeadModel', 'XLMProphetNetForCausalLM', 'XLMRobertaForCausalLM', 'XLMRobertaXLForCausalLM', 'XLNetLMHeadModel', 'XmodForCausalLM', 'ZambaForCausalLM'].

In [12]:
from datasets import load_dataset
from random import randint

# Load our test dataset
eval_dataset = load_dataset("json", data_files="test_dataset.json", split="train")
rand_idx = randint(0, len(eval_dataset))

# Test on sample
prompt = pipe.tokenizer.apply_chat_template(eval_dataset[rand_idx]["messages"][:2], tokenize=False, add_generation_prompt=True)
outputs = pipe(prompt, max_new_tokens=256, do_sample=False, temperature=0.1, top_k=50, top_p=0.1, eos_token_id=pipe.tokenizer.eos_token_id, pad_token_id=pipe.tokenizer.pad_token_id)

/usr/local/lib/python3.10/dist-packages/transformers/generation/configuration_utils.py:590: UserWarning: `do_sample` is set to `False`. However, `temperature` is set to `0.1` -- this flag is only used in sample-based generation modes. You should set `do_sample=True` or unset `temperature`.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/transformers/generation/configuration_utils.py:595: UserWarning: `do_sample` is set to `False`. However, `top_p` is set to `0.1` -- this flag is only used in sample-based generation modes. You should set `do_sample=True` or unset `top_p`.
  warnings.warn(

In [13]:
print(f"Query:\n{eval_dataset[rand_idx]['messages'][1]['content']}")
print(f"Original Answer:\n{eval_dataset[rand_idx]['messages'][2]['content']}")
print(f"Generated Answer:\n{outputs[0]['generated_text'][len(prompt):].strip()}")

Query:
Who is the opponent of player phil graham?
Original Answer:
SELECT opponent FROM table_name_72 WHERE player = "phil graham"
Generated Answer:
SELECT opponent FROM table_name_72 WHERE player = "phil graham"

https://huggingface.co/frankmorales2020

In [14]:
# Function to get human feedback (replace with your actual implementation)
from transformers import AutoTokenizer, AutoModel
from sklearn.metrics.pairwise import cosine_similarity
import torch

# Load a pre-trained SentenceTransformer model for embedding generation
embedding_model_name = "sentence-transformers/all-mpnet-base-v2"  # Or another suitable model
embedding_model = AutoModel.from_pretrained(embedding_model_name)
embedding_tokenizer = AutoTokenizer.from_pretrained(embedding_model_name)

def get_similarity_score(sentence1, sentence2):
    """
    Calculates the cosine similarity score between the embeddings of two sentences.
    """
    with torch.no_grad():
        embeddings = embedding_model(**embedding_tokenizer(
            [sentence1, sentence2],
            return_tensors="pt",
            padding=True,
            truncation=True
        )).last_hidden_state[:, 0, :]  # Get the [CLS] token embeddings

    similarity = cosine_similarity(embeddings[0].reshape(1, -1), embeddings[1].reshape(1, -1))
    return similarity[0][0]

def get_human_feedback(prompt, generated_answer, expected_answer):
    """
    Automatically approves the generated answer based on similarity score
    compared to the expected answer.
    """

    #print("\nPrompt:", prompt)
    #print("Generated Answer:", generated_answer)
    #print("Expected Answer:", expected_answer)

    # Calculate similarity score
    similarity_score = get_similarity_score(generated_answer, expected_answer)
    print("Similarity Score:", similarity_score)

    # Set a similarity threshold for approval (adjust as needed)
    similarity_threshold = 0.8

    if similarity_score > similarity_threshold:
        return "approve", generated_answer
    else:
        return "correct", expected_answer

config.json:   0%|          | 0.00/571 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/438M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/363 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/466k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

In [ ]:
from tqdm import tqdm

# Load our test dataset
eval_dataset = load_dataset("json", data_files="test_dataset.json", split="train")
rand_idx = randint(0, len(eval_dataset))

def evaluate(sample):
    prompt = pipe.tokenizer.apply_chat_template(sample["messages"][:2], tokenize=False, add_generation_prompt=True)
    outputs = pipe(prompt, max_new_tokens=256, do_sample=True, temperature=0.7, top_k=50, top_p=0.95, eos_token_id=pipe.tokenizer.eos_token_id, pad_token_id=pipe.tokenizer.pad_token_id)
    generated_answer = outputs[0]['generated_text'][len(prompt):].strip()
    real_answer = sample["messages"][2]["content"]

    print('\n')
    print('Question: %s\n'%sample["messages"][1]["content"])
    #print(sample["messages"][2]["content"])
    print('\n')
    print('Real Answer: %s'%sample["messages"][2]["content"])
    print('Generated Answer: %s'%outputs[0]['generated_text'][len(prompt):].strip())
    print('\n')

    # Get human feedback
    #get_human_feedback(prompt, generated_answer, expected_answer):
    feedback = get_human_feedback(prompt, generated_answer, real_answer)
    print('\n')
    print('Feedback:', feedback)



    print('\n')
    if  generated_answer == real_answer:
        print('Success!')
        print('Success Answer: %s'%sample["messages"][2]["content"])
        print('\n')
        return 1
    else:
        print('Real Answer: %s'%real_answer)
        print('Failed Answer: %s'%generated_answer)
        print('\n')
        return 0



success_rate = []

number_of_eval_samples = 10
# iterate over eval dataset and predict
for s in tqdm(eval_dataset.shuffle().select(range(number_of_eval_samples))):
    success_rate.append(evaluate(s))

# compute accuracy
accuracy = sum(success_rate)/len(success_rate)

print(f"Accuracy - exact match: {accuracy*100:.2f}%")

When evaluated on 10 samples from the evaluation dataset, our model achieved an impressive accuracy of 90.00%.

In [23]:
from tqdm import tqdm
from difflib import SequenceMatcher
from random import randint
from datasets import load_dataset

# Load our test dataset
eval_dataset = load_dataset("json", data_files="test_dataset.json", split="train")
rand_idx = randint(0, len(eval_dataset))

def evaluate(sample):
    prompt = pipe.tokenizer.apply_chat_template(sample["messages"][:2], tokenize=False, add_generation_prompt=True)
    outputs = pipe(prompt, max_new_tokens=256, do_sample=True, temperature=0.7, top_k=50, top_p=0.95, eos_token_id=pipe.tokenizer.eos_token_id, pad_token_id=pipe.tokenizer.pad_token_id)
    generated_answer = outputs[0]['generated_text'][len(prompt):].strip()
    real_answer = sample["messages"][2]["content"]

    print('\n')
    print('Question: %s\n'%sample["messages"][1]["content"])
    print('\n')
    print('Real Answer: %s'%sample["messages"][2]["content"])
    print('Generated Answer: %s'%outputs[0]['generated_text'][len(prompt):].strip())
    print('\n')

    # Get human feedback (assuming you have a get_human_feedback function)
    feedback = get_human_feedback(prompt, generated_answer, real_answer)
    print('\n')
    print('Feedback:', feedback)

    print('\n')
    if generated_answer == real_answer:
        print('Success!')
        print('Success Answer: %s'%sample["messages"][2]["content"])
        print('\n')
        return 1, generated_answer, prompt  # Return generated_answer and prompt
    else:
        print('Real Answer: %s'%real_answer)
        print('Failed Answer: %s'%generated_answer)
        print('\n')
        return 0, generated_answer, prompt  # Return generated_answer and prompt

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

success_rate = []
similarity_scores = []  # List to store similarity scores

number_of_eval_samples = 10
# iterate over eval dataset and predict
for s in tqdm(eval_dataset.shuffle().select(range(number_of_eval_samples))):
    success, generated_answer, prompt = evaluate(s)  # Get generated_answer and prompt
    success_rate.append(success)
    # Calculate and store similarity score
    real_answer = s["messages"][2]["content"]
    similarity_scores.append(similar(real_answer, generated_answer))

# compute accuracy
accuracy = sum(success_rate)/len(success_rate)

# Calculate average similarity
print("Similarity Scores:", similarity_scores)  # Print similarity scores for debugging
avg_similarity = sum(similarity_scores) / len(similarity_scores)

print(f"Accuracy - exact match: {accuracy*100:.2f}%")
print(f"Average Similarity: {avg_similarity*100:.2f}%")

 10%|█         | 1/10 [00:03<00:32,  3.63s/it]

Question: How many appointment dates were recorded when Jürgen Kohler was the replaced by?



Real Answer: SELECT COUNT(date_of_appointment) FROM table_17085981_2 WHERE replaced_by = "Jürgen Kohler"
Generated Answer: SELECT COUNT(date_of_appointment) FROM table_17085981_2 WHERE replaced_by = "Jürgen Kohler"


Similarity Score: 1.0


Feedback: ('approve', 'SELECT COUNT(date_of_appointment) FROM table_17085981_2 WHERE replaced_by = "Jürgen Kohler"')


Success!
Success Answer: SELECT COUNT(date_of_appointment) FROM table_17085981_2 WHERE replaced_by = "Jürgen Kohler"

 20%|██        | 2/10 [00:05<00:22,  2.75s/it]

Question: How many points did Denis Pederson have?



Real Answer: SELECT points FROM table_name_79 WHERE player = "denis pederson"
Generated Answer: SELECT COUNT(points) FROM table_name_79 WHERE player = "denis pederson"


Similarity Score: 0.7711822


Feedback: ('correct', 'SELECT points FROM table_name_79 WHERE player = "denis pederson"')


Real Answer: SELECT points FROM table_name_79 WHERE player = "denis pederson"
Failed Answer: SELECT COUNT(points) FROM table_name_79 WHERE player = "denis pederson"

 30%|███       | 3/10 [00:07<00:16,  2.42s/it]

Question: What is the lost of Ynysybwl RFC?



Real Answer: SELECT lost FROM table_name_47 WHERE club = "ynysybwl rfc"
Generated Answer: SELECT lost FROM table_name_47 WHERE club = "ynysybwl rfc"


Similarity Score: 1.0


Feedback: ('approve', 'SELECT lost FROM table_name_47 WHERE club = "ynysybwl rfc"')


Success!
Success Answer: SELECT lost FROM table_name_47 WHERE club = "ynysybwl rfc"

 40%|████      | 4/10 [00:10<00:14,  2.34s/it]

Question: WHICH Outcome IS ON 18 july 1993?



Real Answer: SELECT outcome FROM table_name_70 WHERE date = "18 july 1993"
Generated Answer: SELECT outcome FROM table_name_70 WHERE date = "18 july 1993"


Similarity Score: 0.9999999


Feedback: ('approve', 'SELECT outcome FROM table_name_70 WHERE date = "18 july 1993"')


Success!
Success Answer: SELECT outcome FROM table_name_70 WHERE date = "18 july 1993"

 50%|█████     | 5/10 [00:12<00:12,  2.49s/it]

Question: When 14.85 kilometers squared is the land area what is the name?



Real Answer: SELECT name FROM table_189598_7 WHERE land_area__km²_ = "14.85"
Generated Answer: SELECT name FROM table_189598_7 WHERE land_area__km²_ = "14.85"


Similarity Score: 1.0000001


Feedback: ('approve', 'SELECT name FROM table_189598_7 WHERE land_area__km²_ = "14.85"')


Success!
Success Answer: SELECT name FROM table_189598_7 WHERE land_area__km²_ = "14.85"

 60%|██████    | 6/10 [00:15<00:09,  2.49s/it]

Question: What district did S. William Green belong to?



Real Answer: SELECT district FROM table_1341663_33 WHERE incumbent = "S. William Green"
Generated Answer: SELECT district FROM table_1341663_33 WHERE incumbent = "S. William Green"


Similarity Score: 1.0000002


Feedback: ('approve', 'SELECT district FROM table_1341663_33 WHERE incumbent = "S. William Green"')


Success!
Success Answer: SELECT district FROM table_1341663_33 WHERE incumbent = "S. William Green"

 70%|███████   | 7/10 [00:17<00:07,  2.35s/it]

Question: What season had a viewer rank of #4?



Real Answer: SELECT COUNT(season) FROM table_name_58 WHERE viewer_rank___number_ = "#4"
Generated Answer: SELECT season FROM table_name_58 WHERE viewer_rank___number_ = "4"


Similarity Score: 0.88233495


Feedback: ('approve', 'SELECT season FROM table_name_58 WHERE viewer_rank___number_ = "4"')


Real Answer: SELECT COUNT(season) FROM table_name_58 WHERE viewer_rank___number_ = "#4"
Failed Answer: SELECT season FROM table_name_58 WHERE viewer_rank___number_ = "4"

 80%|████████  | 8/10 [00:21<00:05,  2.81s/it]

Question: What is listed in tor floysvik when karianne gulliksen is 6?



Real Answer: SELECT MIN(tor_fløysvik) FROM table_28677723_10 WHERE karianne_gulliksen = 6
Generated Answer: SELECT MAX(tor_fløysvik) FROM table_28677723_10 WHERE karianne_gulliksen = 6


Similarity Score: 0.6992097


Feedback: ('correct', 'SELECT MIN(tor_fløysvik) FROM table_28677723_10 WHERE karianne_gulliksen = 6')


Real Answer: SELECT MIN(tor_fløysvik) FROM table_28677723_10 WHERE karianne_gulliksen = 6
Failed Answer: SELECT MAX(tor_fløysvik) FROM table_28677723_10 WHERE karianne_gulliksen = 6

 90%|█████████ | 9/10 [00:24<00:02,  2.87s/it]

Question: What was the year when West Manila has a tariff increase of 6.5?



Real Answer: SELECT year FROM table_17302440_1 WHERE west_manila = "6.5"
Generated Answer: SELECT year FROM table_17302440_1 WHERE west_manila = "Tariff increase of 6.5"


Similarity Score: 0.8412812


Feedback: ('approve', 'SELECT year FROM table_17302440_1 WHERE west_manila = "Tariff increase of 6.5"')


Real Answer: SELECT year FROM table_17302440_1 WHERE west_manila = "6.5"
Failed Answer: SELECT year FROM table_17302440_1 WHERE west_manila = "Tariff increase of 6.5"

100%|██████████| 10/10 [00:26<00:00,  2.64s/it]

Question: What is the score when the player is Matt Kuchar?



Real Answer: SELECT score FROM table_28498999_5 WHERE player = "Matt Kuchar"
Generated Answer: SELECT score FROM table_28498999_5 WHERE player = "Matt Kuchar"


Similarity Score: 1.0000002


Feedback: ('approve', 'SELECT score FROM table_28498999_5 WHERE player = "Matt Kuchar"')


Success!
Success Answer: SELECT score FROM table_28498999_5 WHERE player = "Matt Kuchar"


Similarity Scores: [1.0, 0.9481481481481482, 1.0, 1.0, 1.0, 1.0, 0.9428571428571428, 0.9736842105263158, 0.8613138686131386, 1.0]
Accuracy - exact match: 60.00%
Average Similarity: 97.26%

In [25]:
from tqdm import tqdm
from difflib import SequenceMatcher
from random import randint
from datasets import load_dataset

# Load our test dataset
eval_dataset = load_dataset("json", data_files="test_dataset.json", split="train")
rand_idx = randint(0, len(eval_dataset))

def evaluate(sample):
    prompt = pipe.tokenizer.apply_chat_template(sample["messages"][:2], tokenize=False, add_generation_prompt=True)
    outputs = pipe(prompt, max_new_tokens=256, do_sample=True, temperature=0.7, top_k=50, top_p=0.95, eos_token_id=pipe.tokenizer.eos_token_id, pad_token_id=pipe.tokenizer.pad_token_id)
    generated_answer = outputs[0]['generated_text'][len(prompt):].strip()
    real_answer = sample["messages"][2]["content"]

    print('\n')
    print('Question: %s\n'%sample["messages"][1]["content"])
    print('\n')
    print('Real Answer: %s'%sample["messages"][2]["content"])
    print('Generated Answer: %s'%outputs[0]['generated_text'][len(prompt):].strip())
    print('\n')

    # Get human feedback (this is where you'll use RLHF feedback)
    feedback = get_human_feedback(prompt, generated_answer, real_answer)
    print('\n')
    print('Feedback:', feedback)

    print('\n')
    if generated_answer == real_answer:
        print('Success!')
        print('Success Answer: %s'%sample["messages"][2]["content"])
        print('\n')
        return 1, generated_answer, prompt, feedback  # Return feedback as well
    else:
        print('Real Answer: %s'%real_answer)
        print('Failed Answer: %s'%generated_answer)
        print('\n')
        return 0, generated_answer, prompt, feedback  # Return feedback as well

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

def calculate_rlhf_score(feedback):
    # Implement your logic to convert RLHF feedback to a score
    if feedback[0] == "approve":  # Assuming "approve" means correct and good
        return 1.0
    elif feedback[0] == "fix":  # Assuming "fix" means needs improvement
        return 0.5  # You can adjust this score based on how much improvement is needed
    else:
        return 0.0  # For other feedback types, you might assign different scores

success_rate = []
similarity_scores = []
rlhf_scores = []  # List to store RLHF scores

number_of_eval_samples = 10

for s in tqdm(eval_dataset.shuffle().select(range(number_of_eval_samples))):
    success, generated_answer, prompt, feedback = evaluate(s)  # Get feedback
    success_rate.append(success)
    real_answer = s["messages"][2]["content"]
    similarity_scores.append(similar(real_answer, generated_answer))
    rlhf_scores.append(calculate_rlhf_score(feedback))  # Calculate and store RLHF score

accuracy = sum(success_rate) / len(success_rate)

print("Similarity Scores:", similarity_scores)
avg_similarity = sum(similarity_scores) / len(similarity_scores)

print("RLHF Scores:", rlhf_scores)  # Print RLHF scores
avg_rlhf_score = sum(rlhf_scores) / len(rlhf_scores)  # Calculate average RLHF score

print(f"Accuracy - exact match: {accuracy*100:.2f}%")
print(f"Average Similarity: {avg_similarity*100:.2f}%")
print(f"Average RLHF Score: {avg_rlhf_score*100:.2f}%")

 10%|█         | 1/10 [00:02<00:24,  2.75s/it]

Question: What is the sum of Poles, when Season is greater than 2004, and when Podiums is less than 1?



Real Answer: SELECT SUM(poles) FROM table_name_64 WHERE season < 2004 AND podiums < 1
Generated Answer: SELECT SUM(poles) FROM table_name_64 WHERE season > 2004 AND podiums < 1


Similarity Score: 0.997982


Feedback: ('approve', 'SELECT SUM(poles) FROM table_name_64 WHERE season > 2004 AND podiums < 1')


Real Answer: SELECT SUM(poles) FROM table_name_64 WHERE season < 2004 AND podiums < 1
Failed Answer: SELECT SUM(poles) FROM table_name_64 WHERE season > 2004 AND podiums < 1

 20%|██        | 2/10 [00:04<00:15,  1.98s/it]

Question: What are the names of wrestlers days held less than 100?



Real Answer: SELECT Name FROM wrestler WHERE Days_held < 100
Generated Answer: SELECT Name FROM wrestler WHERE Days_held < 100


Similarity Score: 1.0


Feedback: ('approve', 'SELECT Name FROM wrestler WHERE Days_held < 100')


Success!
Success Answer: SELECT Name FROM wrestler WHERE Days_held < 100

 30%|███       | 3/10 [00:06<00:15,  2.21s/it]

Question: Which driver for Greenfield Mowers Racing has fewer than 36 points?



Real Answer: SELECT driver FROM table_name_82 WHERE points < 36 AND team = "greenfield mowers racing"
Generated Answer: SELECT driver FROM table_name_82 WHERE points < 36 AND team = "greenfield mowers racing"


Similarity Score: 1.0000001


Feedback: ('approve', 'SELECT driver FROM table_name_82 WHERE points < 36 AND team = "greenfield mowers racing"')


Success!
Success Answer: SELECT driver FROM table_name_82 WHERE points < 36 AND team = "greenfield mowers racing"

 40%|████      | 4/10 [00:09<00:14,  2.48s/it]

Question: If the player is Corey Pavin when he had a To par of over 7, what was the sum of his totals?



Real Answer: SELECT SUM(total) FROM table_name_77 WHERE to_par > 7 AND player = "corey pavin"
Generated Answer: SELECT SUM(total) FROM table_name_77 WHERE to_par > 7 AND player = "corey pavin"


Similarity Score: 1.0


Feedback: ('approve', 'SELECT SUM(total) FROM table_name_77 WHERE to_par > 7 AND player = "corey pavin"')


Success!
Success Answer: SELECT SUM(total) FROM table_name_77 WHERE to_par > 7 AND player = "corey pavin"

 50%|█████     | 5/10 [00:12<00:12,  2.56s/it]

Question: What year is center Ann Wauters?



Real Answer: SELECT SUM(year) FROM table_name_26 WHERE position = "center" AND player = "ann wauters"
Generated Answer: SELECT SUM(year) FROM table_name_26 WHERE position = "center" AND player = "ann wauters"


Similarity Score: 1.0000002


Feedback: ('approve', 'SELECT SUM(year) FROM table_name_26 WHERE position = "center" AND player = "ann wauters"')


Success!
Success Answer: SELECT SUM(year) FROM table_name_26 WHERE position = "center" AND player = "ann wauters"

 60%|██████    | 6/10 [00:14<00:09,  2.44s/it]

Question: When the venue was punt road oval, what was the Home teams score?



Real Answer: SELECT home_team AS score FROM table_name_74 WHERE venue = "punt road oval"
Generated Answer: SELECT home_team AS score FROM table_name_74 WHERE venue = "punt road oval"


Similarity Score: 1.0


Feedback: ('approve', 'SELECT home_team AS score FROM table_name_74 WHERE venue = "punt road oval"')


Success!
Success Answer: SELECT home_team AS score FROM table_name_74 WHERE venue = "punt road oval"

 70%|███████   | 7/10 [00:17<00:07,  2.52s/it]

Question: What year was incumbent Claude Fuller first elected?



Real Answer: SELECT first_elected FROM table_1342338_5 WHERE incumbent = "Claude Fuller"
Generated Answer: SELECT first_elected FROM table_1342338_5 WHERE incumbent = "Claude Fuller"


Similarity Score: 1.0000002


Feedback: ('approve', 'SELECT first_elected FROM table_1342338_5 WHERE incumbent = "Claude Fuller"')


Success!
Success Answer: SELECT first_elected FROM table_1342338_5 WHERE incumbent = "Claude Fuller"

 80%|████████  | 8/10 [00:20<00:05,  2.69s/it]

Question: What is the high grid for osella - alfa romeo, and a Laps larger than 61?



Real Answer: SELECT MAX(grid) FROM table_name_56 WHERE constructor = "osella - alfa romeo" AND laps > 61
Generated Answer: SELECT MAX(grid) FROM table_name_56 WHERE constructor = "osella - alfa romeo" AND laps > 61


Similarity Score: 0.9999999


Feedback: ('approve', 'SELECT MAX(grid) FROM table_name_56 WHERE constructor = "osella - alfa romeo" AND laps > 61')


Success!
Success Answer: SELECT MAX(grid) FROM table_name_56 WHERE constructor = "osella - alfa romeo" AND laps > 61

 90%|█████████ | 9/10 [00:21<00:02,  2.30s/it]

Question: Find all the distinct district names ordered by city area in descending.



Real Answer: SELECT DISTINCT District_name FROM district ORDER BY city_area DESC
Generated Answer: SELECT District_name FROM district ORDER BY city_area DESC


Similarity Score: 0.9165655


Feedback: ('approve', 'SELECT District_name FROM district ORDER BY city_area DESC')


Real Answer: SELECT DISTINCT District_name FROM district ORDER BY city_area DESC
Failed Answer: SELECT District_name FROM district ORDER BY city_area DESC

100%|██████████| 10/10 [00:24<00:00,  2.46s/it]

Question: What's the lane number when time was 20.45 and the react was less than 0.164?



Real Answer: SELECT MAX(lane) FROM table_name_85 WHERE react < 0.164 AND time = "20.45"
Generated Answer: SELECT SUM(lane) FROM table_name_85 WHERE react < 0.164 AND time = 20.45


Similarity Score: 0.73968095


Feedback: ('correct', 'SELECT MAX(lane) FROM table_name_85 WHERE react < 0.164 AND time = "20.45"')


Real Answer: SELECT MAX(lane) FROM table_name_85 WHERE react < 0.164 AND time = "20.45"
Failed Answer: SELECT SUM(lane) FROM table_name_85 WHERE react < 0.164 AND time = 20.45


Similarity Scores: [0.9861111111111112, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.928, 0.958904109589041]
RLHF Scores: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0]
Accuracy - exact match: 70.00%
Average Similarity: 98.73%
Average RLHF Score: 90.00%

## VERSION - FINAL

In [28]:
from tqdm import tqdm
from difflib import SequenceMatcher
from random import randint
from datasets import load_dataset
import sqlparse  # Import sqlparse for SQL parsing

# Load our test dataset
eval_dataset = load_dataset("json", data_files="test_dataset.json", split="train")

def evaluate(sample):
    prompt = pipe.tokenizer.apply_chat_template(sample["messages"][:2], tokenize=False, add_generation_prompt=True)
    outputs = pipe(prompt, max_new_tokens=256, do_sample=True, temperature=0.7, top_k=50, top_p=0.95, eos_token_id=pipe.tokenizer.eos_token_id, pad_token_id=pipe.tokenizer.pad_token_id)
    generated_answer = outputs[0]['generated_text'][len(prompt):].strip()
    real_answer = sample["messages"][2]["content"]

    print('\n')
    print('Question: %s\n'%sample["messages"][1]["content"])
    print('Real Answer: %s'%real_answer)
    print('Generated Answer: %s'%generated_answer)
    print('\n')

    # Get human feedback
    feedback = get_human_feedback(prompt, generated_answer, real_answer)
    print('Feedback:', feedback)
    print('\n')

    # Normalize SQL queries before comparison (using sqlparse)
    real_answer_normalized = sqlparse.format(real_answer, reindent=True, keyword_case='upper')
    generated_answer_normalized = sqlparse.format(generated_answer, reindent=True, keyword_case='upper')

    if generated_answer_normalized == real_answer_normalized:
        print('Success!')
        print('Success Answer: %s'%real_answer)
        print('\n')
        return 1, generated_answer, prompt, feedback
    else:
        print('Real Answer: %s'%real_answer)
        print('Failed Answer: %s'%generated_answer)
        print('\n')
        return 0, generated_answer, prompt, feedback

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

def calculate_rlhf_score(feedback):
    if feedback[0] == "approve":
        return 1.0
    elif feedback[0] == "fix":
        return 0.5
    else:
        return 0.0

success_rate = []
similarity_scores = []
rlhf_scores = []

number_of_eval_samples = 10

for s in tqdm(eval_dataset.shuffle().select(range(number_of_eval_samples))):
    success, generated_answer, prompt, feedback = evaluate(s)
    success_rate.append(success)
    real_answer = s["messages"][2]["content"]

    # Normalize SQL queries before calculating similarity
    real_answer_normalized = sqlparse.format(real_answer, reindent=True, keyword_case='upper')
    generated_answer_normalized = sqlparse.format(generated_answer, reindent=True, keyword_case='upper')

    similarity_scores.append(similar(real_answer_normalized, generated_answer_normalized))
    rlhf_scores.append(calculate_rlhf_score(feedback))

accuracy = sum(success_rate) / len(success_rate)

print("Similarity Scores:", similarity_scores)
avg_similarity = sum(similarity_scores) / len(similarity_scores)

print("RLHF Scores:", rlhf_scores)
avg_rlhf_score = sum(rlhf_scores) / len(rlhf_scores)

print(f"Accuracy - exact match: {accuracy*100:.2f}%")
print(f"Average Similarity: {avg_similarity*100:.2f}%")
print(f"Average RLHF Score: {avg_rlhf_score*100:.2f}%")

 10%|█         | 1/10 [00:05<00:48,  5.38s/it]

Question: Who were the starting actors in the time frame of  tuesday 22:00~22:54 8 april 2008 to 17 june 2008?

Real Answer: SELECT starring_actors FROM table_18539834_2 WHERE time_frame = "Tuesday 22:00~22:54 8 April 2008 to 17 June 2008"
Generated Answer: SELECT starring_actors FROM table_18539834_2 WHERE time_frame = "Tuesday 22:00~22:54 8 April 2008 to 17 June 2008"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT starring_actors FROM table_18539834_2 WHERE time_frame = "Tuesday 22:00~22:54 8 April 2008 to 17 June 2008"')


Success!
Success Answer: SELECT starring_actors FROM table_18539834_2 WHERE time_frame = "Tuesday 22:00~22:54 8 April 2008 to 17 June 2008"

 20%|██        | 2/10 [00:07<00:28,  3.59s/it]

Question: What was the highest attendance at a game that was played in tulane stadium?

Real Answer: SELECT MAX(attendance) FROM table_name_63 WHERE game_site = "tulane stadium"
Generated Answer: SELECT MAX(attendance) FROM table_name_63 WHERE game_site = "tulane stadium"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MAX(attendance) FROM table_name_63 WHERE game_site = "tulane stadium"')


Success!
Success Answer: SELECT MAX(attendance) FROM table_name_63 WHERE game_site = "tulane stadium"

 30%|███       | 3/10 [00:09<00:20,  2.87s/it]

Question: Who was home at Princes Park?

Real Answer: SELECT home_team AS score FROM table_name_55 WHERE venue = "princes park"
Generated Answer: SELECT home_team FROM table_name_55 WHERE venue = "princes park"


Similarity Score: 0.9185385
Feedback: ('approve', 'SELECT home_team FROM table_name_55 WHERE venue = "princes park"')


Real Answer: SELECT home_team AS score FROM table_name_55 WHERE venue = "princes park"
Failed Answer: SELECT home_team FROM table_name_55 WHERE venue = "princes park"

 40%|████      | 4/10 [00:11<00:14,  2.46s/it]

Question: Which Surface has a Partner of oliver marach?

Real Answer: SELECT surface FROM table_name_82 WHERE partner = "oliver marach"
Generated Answer: SELECT surface FROM table_name_82 WHERE partner = "oliver marach"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT surface FROM table_name_82 WHERE partner = "oliver marach"')


Success!
Success Answer: SELECT surface FROM table_name_82 WHERE partner = "oliver marach"

 50%|█████     | 5/10 [00:13<00:11,  2.30s/it]

Question: Who manufactured the motorcycle that did 24 laps and 9 grids?

Real Answer: SELECT manufacturer FROM table_name_84 WHERE laps = 24 AND grid = 9
Generated Answer: SELECT manufacturer FROM table_name_84 WHERE laps = 24 AND grid = 9


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT manufacturer FROM table_name_84 WHERE laps = 24 AND grid = 9')


Success!
Success Answer: SELECT manufacturer FROM table_name_84 WHERE laps = 24 AND grid = 9

 60%|██████    | 6/10 [00:16<00:10,  2.50s/it]

Question: Which distinct source system code includes the substring 'en'?

Real Answer: SELECT DISTINCT source_system_code FROM cmi_cross_references WHERE source_system_code LIKE '%en%'
Generated Answer: SELECT DISTINCT source_system_code FROM cmi_cross_references WHERE source_system_code LIKE '%en%'


Similarity Score: 0.9999999
Feedback: ('approve', "SELECT DISTINCT source_system_code FROM cmi_cross_references WHERE source_system_code LIKE '%en%'")


Success!
Success Answer: SELECT DISTINCT source_system_code FROM cmi_cross_references WHERE source_system_code LIKE '%en%'

 70%|███████   | 7/10 [00:18<00:07,  2.46s/it]

Question: What was the team's score on April 1?

Real Answer: SELECT score FROM table_17340355_10 WHERE date = "April 1"
Generated Answer: SELECT score FROM table_17340355_10 WHERE date = "April 1"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT score FROM table_17340355_10 WHERE date = "April 1"')


Success!
Success Answer: SELECT score FROM table_17340355_10 WHERE date = "April 1"

 80%|████████  | 8/10 [00:20<00:04,  2.19s/it]

Question: What stadium is in Seoul?

Real Answer: SELECT stadium FROM table_name_56 WHERE city = "seoul"
Generated Answer: SELECT stadium FROM table_name_56 WHERE city = "seoul"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT stadium FROM table_name_56 WHERE city = "seoul"')


Success!
Success Answer: SELECT stadium FROM table_name_56 WHERE city = "seoul"

 90%|█████████ | 9/10 [00:22<00:02,  2.23s/it]

Question: How many total drawn has less than 4 lost and 8 points?

Real Answer: SELECT SUM(drawn) FROM table_name_59 WHERE lost < 4 AND points = 8
Generated Answer: SELECT SUM(drawn) FROM table_name_59 WHERE lost < 4 AND points = 8


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT SUM(drawn) FROM table_name_59 WHERE lost < 4 AND points = 8')


Success!
Success Answer: SELECT SUM(drawn) FROM table_name_59 WHERE lost < 4 AND points = 8

100%|██████████| 10/10 [00:24<00:00,  2.49s/it]

Question: Which FA Cup Apps have League Apps of 21?

Real Answer: SELECT fa_cup_apps FROM table_name_28 WHERE league_apps = "21"
Generated Answer: SELECT fa_cup_apps FROM table_name_28 WHERE league_apps = "21"


Similarity Score: 1.0000005
Feedback: ('approve', 'SELECT fa_cup_apps FROM table_name_28 WHERE league_apps = "21"')


Success!
Success Answer: SELECT fa_cup_apps FROM table_name_28 WHERE league_apps = "21"


Similarity Scores: [1.0, 1.0, 0.9343065693430657, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
RLHF Scores: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
Accuracy - exact match: 90.00%
Average Similarity: 99.34%
Average RLHF Score: 100.00%

In [29]:
from tqdm import tqdm
from difflib import SequenceMatcher
from random import randint
from datasets import load_dataset
import sqlparse  # Import sqlparse for SQL parsing

# Load our test dataset
eval_dataset = load_dataset("json", data_files="test_dataset.json", split="train")

def evaluate(sample):
    prompt = pipe.tokenizer.apply_chat_template(sample["messages"][:2], tokenize=False, add_generation_prompt=True)
    outputs = pipe(prompt, max_new_tokens=256, do_sample=True, temperature=0.7, top_k=50, top_p=0.95, eos_token_id=pipe.tokenizer.eos_token_id, pad_token_id=pipe.tokenizer.pad_token_id)
    generated_answer = outputs[0]['generated_text'][len(prompt):].strip()
    real_answer = sample["messages"][2]["content"]

    print('\n')
    print('Question: %s\n'%sample["messages"][1]["content"])
    print('Real Answer: %s'%real_answer)
    print('Generated Answer: %s'%generated_answer)
    print('\n')

    # Get human feedback
    feedback = get_human_feedback(prompt, generated_answer, real_answer)
    print('Feedback:', feedback)
    print('\n')

    # Normalize SQL queries before comparison (using sqlparse)
    real_answer_normalized = sqlparse.format(real_answer, reindent=True, keyword_case='upper')
    generated_answer_normalized = sqlparse.format(generated_answer, reindent=True, keyword_case='upper')

    if generated_answer_normalized == real_answer_normalized:
        print('Success!')
        print('Success Answer: %s'%real_answer)
        print('\n')
        return 1, generated_answer, prompt, feedback
    else:
        print('Real Answer: %s'%real_answer)
        print('Failed Answer: %s'%generated_answer)
        print('\n')
        return 0, generated_answer, prompt, feedback

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

def calculate_rlhf_score(feedback):
    if feedback[0] == "approve":
        return 1.0
    elif feedback[0] == "fix":
        return 0.5
    else:
        return 0.0

success_rate = []
similarity_scores = []
rlhf_scores = []

number_of_eval_samples = 1000

for s in tqdm(eval_dataset.shuffle().select(range(number_of_eval_samples))):
    success, generated_answer, prompt, feedback = evaluate(s)
    success_rate.append(success)
    real_answer = s["messages"][2]["content"]

    # Normalize SQL queries before calculating similarity
    real_answer_normalized = sqlparse.format(real_answer, reindent=True, keyword_case='upper')
    generated_answer_normalized = sqlparse.format(generated_answer, reindent=True, keyword_case='upper')

    similarity_scores.append(similar(real_answer_normalized, generated_answer_normalized))
    rlhf_scores.append(calculate_rlhf_score(feedback))

accuracy = sum(success_rate) / len(success_rate)

print("Similarity Scores:", similarity_scores)
avg_similarity = sum(similarity_scores) / len(similarity_scores)

print("RLHF Scores:", rlhf_scores)
avg_rlhf_score = sum(rlhf_scores) / len(rlhf_scores)

print(f"Accuracy - exact match: {accuracy*100:.2f}%")
print(f"Average Similarity: {avg_similarity*100:.2f}%")
print(f"Average RLHF Score: {avg_rlhf_score*100:.2f}%")

  0%|          | 1/1000 [00:01<27:27,  1.65s/it]

Question: Which city has an opponent of England?

Real Answer: SELECT city FROM table_name_99 WHERE opponent = "england"
Generated Answer: SELECT city FROM table_name_99 WHERE opponent = "england"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT city FROM table_name_99 WHERE opponent = "england"')


Success!
Success Answer: SELECT city FROM table_name_99 WHERE opponent = "england"

  0%|          | 2/1000 [00:03<27:12,  1.64s/it]

Question: On what platform does Mindark publish?

Real Answer: SELECT platform FROM table_name_84 WHERE publisher = "mindark"
Generated Answer: SELECT platform FROM table_name_84 WHERE publisher = "mindark"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT platform FROM table_name_84 WHERE publisher = "mindark"')


Success!
Success Answer: SELECT platform FROM table_name_84 WHERE publisher = "mindark"

  0%|          | 3/1000 [00:06<35:56,  2.16s/it]

Question: Who are all of the players on the Westchester High School club team?

Real Answer: SELECT player FROM table_10015132_9 WHERE school_club_team = "Westchester High School"
Generated Answer: SELECT player FROM table_10015132_9 WHERE school_club_team = "Westchester High school"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT player FROM table_10015132_9 WHERE school_club_team = "Westchester High school"')


Real Answer: SELECT player FROM table_10015132_9 WHERE school_club_team = "Westchester High School"
Failed Answer: SELECT player FROM table_10015132_9 WHERE school_club_team = "Westchester High school"

  0%|          | 4/1000 [00:08<36:47,  2.22s/it]

Question: Who was the winner when the runner-up was Guangzhou Apollo?

Real Answer: SELECT winners FROM table_name_34 WHERE runners_up = "guangzhou apollo"
Generated Answer: SELECT winners FROM table_name_34 WHERE runners_up = "guangzhou apollo"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT winners FROM table_name_34 WHERE runners_up = "guangzhou apollo"')


Success!
Success Answer: SELECT winners FROM table_name_34 WHERE runners_up = "guangzhou apollo"

  0%|          | 5/1000 [00:10<35:54,  2.17s/it]

Question: Which loss has an Attendance of 23,952?

Real Answer: SELECT loss FROM table_name_55 WHERE attendance = "23,952"
Generated Answer: SELECT loss FROM table_name_55 WHERE attendance = "23,952"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT loss FROM table_name_55 WHERE attendance = "23,952"')


Success!
Success Answer: SELECT loss FROM table_name_55 WHERE attendance = "23,952"

  1%|          | 6/1000 [00:11<32:08,  1.94s/it]

Question: What is the Duration for less than 53 consecutive wins?

Real Answer: SELECT duration FROM table_name_68 WHERE wins < 53
Generated Answer: SELECT duration FROM table_name_68 WHERE wins < 53


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT duration FROM table_name_68 WHERE wins < 53')


Success!
Success Answer: SELECT duration FROM table_name_68 WHERE wins < 53

  1%|          | 7/1000 [00:15<42:29,  2.57s/it]

Question: Name the Time which has Laps of 19, and a Grid larger than 19, and a Manufacturer of ktm, and a Rider of randy krummenacher?

Real Answer: SELECT time FROM table_name_83 WHERE laps = 19 AND grid > 19 AND manufacturer = "ktm" AND rider = "randy krummenacher"
Generated Answer: SELECT time FROM table_name_83 WHERE laps = 19 AND grid > 19 AND manufacturer = "ktm" AND rider = "randy krummenacher"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT time FROM table_name_83 WHERE laps = 19 AND grid > 19 AND manufacturer = "ktm" AND rider = "randy krummenacher"')


Success!
Success Answer: SELECT time FROM table_name_83 WHERE laps = 19 AND grid > 19 AND manufacturer = "ktm" AND rider = "randy krummenacher"

  1%|          | 8/1000 [00:19<46:17,  2.80s/it]

Question: Can you tell me the lowest Round that has the Location of indiana, united states, and the Method of submission (guillotine choke)?

Real Answer: SELECT MIN(round) FROM table_name_6 WHERE location = "indiana, united states" AND method = "submission (guillotine choke)"
Generated Answer: SELECT MIN(round) FROM table_name_6 WHERE location = "indiana, united states" AND method = "submission (guillotine choke)"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MIN(round) FROM table_name_6 WHERE location = "indiana, united states" AND method = "submission (guillotine choke)"')


Success!
Success Answer: SELECT MIN(round) FROM table_name_6 WHERE location = "indiana, united states" AND method = "submission (guillotine choke)"

  1%|          | 9/1000 [00:21<45:40,  2.77s/it]

Question: What is the to par for Jiyai Shin in place t1?

Real Answer: SELECT to_par FROM table_name_49 WHERE place = "t1" AND player = "jiyai shin"
Generated Answer: SELECT to_par FROM table_name_49 WHERE place = "t1" AND player = "jiyai shin"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT to_par FROM table_name_49 WHERE place = "t1" AND player = "jiyai shin"')


Success!
Success Answer: SELECT to_par FROM table_name_49 WHERE place = "t1" AND player = "jiyai shin"

  1%|          | 10/1000 [00:24<43:10,  2.62s/it]

Question: What was the Attendance when the Time was 2:13?

Real Answer: SELECT MIN(attendance) FROM table_name_34 WHERE time = "2:13"
Generated Answer: SELECT SUM(attendance) FROM table_name_34 WHERE time = "2:13"


Similarity Score: 0.7991979
Feedback: ('correct', 'SELECT MIN(attendance) FROM table_name_34 WHERE time = "2:13"')


Real Answer: SELECT MIN(attendance) FROM table_name_34 WHERE time = "2:13"
Failed Answer: SELECT SUM(attendance) FROM table_name_34 WHERE time = "2:13"

  1%|          | 11/1000 [00:26<41:51,  2.54s/it]

Question: What is the stadium for alloa athletic?

Real Answer: SELECT stadium FROM table_11206787_5 WHERE team = "Alloa Athletic"
Generated Answer: SELECT stadium FROM table_11206787_5 WHERE team = "Alloa Athletic"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT stadium FROM table_11206787_5 WHERE team = "Alloa Athletic"')


Success!
Success Answer: SELECT stadium FROM table_11206787_5 WHERE team = "Alloa Athletic"

  1%|          | 12/1000 [00:30<48:20,  2.94s/it]

Question: What is the sum of the weeks that games occured on october 21, 1974 and less than 50,623 fans attended?

Real Answer: SELECT SUM(week) FROM table_name_20 WHERE date = "october 21, 1974" AND attendance < 50 OFFSET 623
Generated Answer: SELECT SUM(week) FROM table_name_20 WHERE date = "october 21, 1974" AND attendance < 50 OFFSET 623


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT SUM(week) FROM table_name_20 WHERE date = "october 21, 1974" AND attendance < 50 OFFSET 623')


Success!
Success Answer: SELECT SUM(week) FROM table_name_20 WHERE date = "october 21, 1974" AND attendance < 50 OFFSET 623

  1%|▏         | 13/1000 [00:32<46:40,  2.84s/it]

Question: Which Week has an Air Date of august 30, 2008?

Real Answer: SELECT week FROM table_name_73 WHERE air_date = "august 30, 2008"
Generated Answer: SELECT week FROM table_name_73 WHERE air_date = "august 30, 2008"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT week FROM table_name_73 WHERE air_date = "august 30, 2008"')


Success!
Success Answer: SELECT week FROM table_name_73 WHERE air_date = "august 30, 2008"

  1%|▏         | 14/1000 [00:35<47:12,  2.87s/it]

Question: In what county did McCain get 57.8%?

Real Answer: SELECT county FROM table_20799905_1 WHERE mccain_percentage = "57.8%"
Generated Answer: SELECT county FROM table_20799905_1 WHERE mccain_percentage = "57.8%"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT county FROM table_20799905_1 WHERE mccain_percentage = "57.8%"')


Success!
Success Answer: SELECT county FROM table_20799905_1 WHERE mccain_percentage = "57.8%"

  2%|▏         | 15/1000 [00:38<47:10,  2.87s/it]

Question: Which player has 0 goals, 1 tries, 4 points, and plays in the Prop position?

Real Answer: SELECT player FROM table_name_19 WHERE goals = 0 AND tries = 1 AND points = 4 AND position = "prop"
Generated Answer: SELECT player FROM table_name_19 WHERE goals = 0 AND tries = 1 AND points = 4 AND position = "prop"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT player FROM table_name_19 WHERE goals = 0 AND tries = 1 AND points = 4 AND position = "prop"')


Success!
Success Answer: SELECT player FROM table_name_19 WHERE goals = 0 AND tries = 1 AND points = 4 AND position = "prop"

  2%|▏         | 16/1000 [00:41<47:16,  2.88s/it]

Question: Name the most three pointers for dewanna bonner

Real Answer: SELECT MAX(three_pointers) FROM table_23183195_5 WHERE player = "DeWanna Bonner"
Generated Answer: SELECT MAX(three_pointers) FROM table_23183195_5 WHERE player = "Dewanna Bonner"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT MAX(three_pointers) FROM table_23183195_5 WHERE player = "Dewanna Bonner"')


Real Answer: SELECT MAX(three_pointers) FROM table_23183195_5 WHERE player = "DeWanna Bonner"
Failed Answer: SELECT MAX(three_pointers) FROM table_23183195_5 WHERE player = "Dewanna Bonner"

  2%|▏         | 17/1000 [00:44<48:10,  2.94s/it]

Question: How many times was there a record of 49-15-11?

Real Answer: SELECT COUNT(attendance) FROM table_23308178_9 WHERE record = "49-15-11"
Generated Answer: SELECT COUNT(attendance) FROM table_23308178_9 WHERE record = "49-15-11"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT COUNT(attendance) FROM table_23308178_9 WHERE record = "49-15-11"')


Success!
Success Answer: SELECT COUNT(attendance) FROM table_23308178_9 WHERE record = "49-15-11"

  2%|▏         | 18/1000 [00:47<45:16,  2.77s/it]

Question: What is the value of the Democratic Alternative for the poll released by Malta Today?

Real Answer: SELECT democratic_alternative FROM table_name_31 WHERE polling_institute = "malta today"
Generated Answer: SELECT democratic_alternative FROM table_name_31 WHERE polling_institute = "malta today"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT democratic_alternative FROM table_name_31 WHERE polling_institute = "malta today"')


Success!
Success Answer: SELECT democratic_alternative FROM table_name_31 WHERE polling_institute = "malta today"

  2%|▏         | 19/1000 [00:50<48:16,  2.95s/it]

Question: Which FIS Nordic World Ski Championships has Winter Olympics of 1960?

Real Answer: SELECT fis_nordic_world_ski_championships FROM table_name_44 WHERE winter_olympics = "1960"
Generated Answer: SELECT fis_nordic_world_ski_championships FROM table_name_44 WHERE winter_olympics = "1960"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT fis_nordic_world_ski_championships FROM table_name_44 WHERE winter_olympics = "1960"')


Success!
Success Answer: SELECT fis_nordic_world_ski_championships FROM table_name_44 WHERE winter_olympics = "1960"

  2%|▏         | 20/1000 [00:52<44:26,  2.72s/it]

Question: Name the venue for 15 august 2006

Real Answer: SELECT venue FROM table_name_89 WHERE date = "15 august 2006"
Generated Answer: SELECT venue FROM table_name_89 WHERE date = "15 august 2006"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT venue FROM table_name_89 WHERE date = "15 august 2006"')


Success!
Success Answer: SELECT venue FROM table_name_89 WHERE date = "15 august 2006"

  2%|▏         | 21/1000 [00:55<44:32,  2.73s/it]

Question: Name the stadium for regular season game

Real Answer: SELECT stadium FROM table_21436373_11 WHERE type_of_record = "Regular season game"
Generated Answer: SELECT stadium FROM table_21436373_11 WHERE type_of_record = "Regular season game"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT stadium FROM table_21436373_11 WHERE type_of_record = "Regular season game"')


Success!
Success Answer: SELECT stadium FROM table_21436373_11 WHERE type_of_record = "Regular season game"

  2%|▏         | 22/1000 [00:58<44:49,  2.75s/it]

Question: What is the production code for Episode 153 in the series?

Real Answer: SELECT MIN(production_code) FROM table_23097214_1 WHERE series__number = 153
Generated Answer: SELECT MIN(production_code) FROM table_23097214_1 WHERE series__number = 153


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT MIN(production_code) FROM table_23097214_1 WHERE series__number = 153')


Success!
Success Answer: SELECT MIN(production_code) FROM table_23097214_1 WHERE series__number = 153

  2%|▏         | 23/1000 [01:01<45:09,  2.77s/it]

Question: On what surface was the game played that had a score of 4–6, 6–4, [8–10]?

Real Answer: SELECT surface FROM table_name_51 WHERE score = "4–6, 6–4, [8–10]"
Generated Answer: SELECT surface FROM table_name_51 WHERE score = "4–6, 6–4, [8–10]"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT surface FROM table_name_51 WHERE score = "4–6, 6–4, [8–10]"')


Success!
Success Answer: SELECT surface FROM table_name_51 WHERE score = "4–6, 6–4, [8–10]"

  2%|▏         | 24/1000 [01:03<44:15,  2.72s/it]

Question: What is the pick number of the player whose college is Florida State?

Real Answer: SELECT pick__number FROM table_14650162_1 WHERE college = "Florida State"
Generated Answer: SELECT pick__number FROM table_14650162_1 WHERE college = "Florida State"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT pick__number FROM table_14650162_1 WHERE college = "Florida State"')


Success!
Success Answer: SELECT pick__number FROM table_14650162_1 WHERE college = "Florida State"

  2%|▎         | 25/1000 [01:05<39:41,  2.44s/it]

Question: Show the start dates and end dates of all the apartment bookings.

Real Answer: SELECT booking_start_date, booking_end_date FROM Apartment_Bookings
Generated Answer: SELECT booking_start_date, booking_end_date FROM Apartment_Bookings


Similarity Score: 1.0
Feedback: ('approve', 'SELECT booking_start_date, booking_end_date FROM Apartment_Bookings')


Success!
Success Answer: SELECT booking_start_date, booking_end_date FROM Apartment_Bookings

  3%|▎         | 26/1000 [01:07<38:36,  2.38s/it]

Question: Name the swuinsuit for oregon

Real Answer: SELECT swimsuit FROM table_17516967_1 WHERE state = "Oregon"
Generated Answer: SELECT swimsuit FROM table_17516967_1 WHERE state = "Oregon"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT swimsuit FROM table_17516967_1 WHERE state = "Oregon"')


Success!
Success Answer: SELECT swimsuit FROM table_17516967_1 WHERE state = "Oregon"

  3%|▎         | 27/1000 [01:10<42:25,  2.62s/it]

Question: What is Score, when Country is "United States", when Place is "T9", and when Player is "Jay Hebert"?

Real Answer: SELECT score FROM table_name_28 WHERE country = "united states" AND place = "t9" AND player = "jay hebert"
Generated Answer: SELECT score FROM table_name_28 WHERE country = "united states" AND place = "t9" AND player = "jay hebert"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT score FROM table_name_28 WHERE country = "united states" AND place = "t9" AND player = "jay hebert"')


Success!
Success Answer: SELECT score FROM table_name_28 WHERE country = "united states" AND place = "t9" AND player = "jay hebert"

  3%|▎         | 28/1000 [01:13<41:52,  2.58s/it]

Question: What district did S. William Green belong to?

Real Answer: SELECT district FROM table_1341663_33 WHERE incumbent = "S. William Green"
Generated Answer: SELECT district FROM table_1341663_33 WHERE incumbent = "S. William Green"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT district FROM table_1341663_33 WHERE incumbent = "S. William Green"')


Success!
Success Answer: SELECT district FROM table_1341663_33 WHERE incumbent = "S. William Green"

  3%|▎         | 29/1000 [01:16<42:44,  2.64s/it]

Question: How many players have the pick number 166?

Real Answer: SELECT COUNT(player) FROM table_1965650_11 WHERE pick__number = 166
Generated Answer: SELECT COUNT(player) FROM table_1965650_11 WHERE pick__number = 166


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(player) FROM table_1965650_11 WHERE pick__number = 166')


Success!
Success Answer: SELECT COUNT(player) FROM table_1965650_11 WHERE pick__number = 166

  3%|▎         | 30/1000 [01:19<48:24,  2.99s/it]

Question: How many datas were recorded on January 15-16 if August 21-22 is 155?

Real Answer: SELECT COUNT(january_15_16) FROM table_25216791_3 WHERE august_21_22 = "155"
Generated Answer: SELECT COUNT(january_15_16) FROM table_25216791_3 WHERE august_21_22 = "155"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(january_15_16) FROM table_25216791_3 WHERE august_21_22 = "155"')


Success!
Success Answer: SELECT COUNT(january_15_16) FROM table_25216791_3 WHERE august_21_22 = "155"

  3%|▎         | 31/1000 [01:22<44:16,  2.74s/it]

Question: Which FA Cup Apps have League Apps of 21?

Real Answer: SELECT fa_cup_apps FROM table_name_28 WHERE league_apps = "21"
Generated Answer: SELECT fa_cup_apps FROM table_name_28 WHERE league_apps = "21"


Similarity Score: 1.0000005
Feedback: ('approve', 'SELECT fa_cup_apps FROM table_name_28 WHERE league_apps = "21"')


Success!
Success Answer: SELECT fa_cup_apps FROM table_name_28 WHERE league_apps = "21"

  3%|▎         | 32/1000 [01:24<45:15,  2.81s/it]

Question: What year was Norterma Tholus created?

Real Answer: SELECT MAX(year_named) FROM table_16799784_4 WHERE name = "Norterma Tholus"
Generated Answer: SELECT MIN(year_named) FROM table_16799784_4 WHERE name = "Norterma Tholus"


Similarity Score: 0.69888246
Feedback: ('correct', 'SELECT MAX(year_named) FROM table_16799784_4 WHERE name = "Norterma Tholus"')


Real Answer: SELECT MAX(year_named) FROM table_16799784_4 WHERE name = "Norterma Tholus"
Failed Answer: SELECT MIN(year_named) FROM table_16799784_4 WHERE name = "Norterma Tholus"

  3%|▎         | 33/1000 [01:27<44:10,  2.74s/it]

Question: Which Venue has a Goal larger than 3, and a Competition of 2011 afc asian cup?

Real Answer: SELECT venue FROM table_name_3 WHERE goal > 3 AND competition = "2011 afc asian cup"
Generated Answer: SELECT venue FROM table_name_3 WHERE goal > 3 AND competition = "2011 afc asian cup"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT venue FROM table_name_3 WHERE goal > 3 AND competition = "2011 afc asian cup"')


Success!
Success Answer: SELECT venue FROM table_name_3 WHERE goal > 3 AND competition = "2011 afc asian cup"

  3%|▎         | 34/1000 [01:30<47:11,  2.93s/it]

Question: On October 17, 1937 what was maximum number or attendants.

Real Answer: SELECT MAX(attendance) FROM table_14608759_1 WHERE date = "October 17, 1937"
Generated Answer: SELECT MAX(attendance) FROM table_14608759_1 WHERE date = "October 17, 1937"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MAX(attendance) FROM table_14608759_1 WHERE date = "October 17, 1937"')


Success!
Success Answer: SELECT MAX(attendance) FROM table_14608759_1 WHERE date = "October 17, 1937"

  4%|▎         | 35/1000 [01:34<48:21,  3.01s/it]

Question: How many averages had a swimsuit number of 8.42 and an evening gown number that was less than 8.71?

Real Answer: SELECT SUM(average) FROM table_name_96 WHERE swimsuit = 8.42 AND evening_gown < 8.71
Generated Answer: SELECT SUM(average) FROM table_name_96 WHERE swimsuit = 8.42 AND evening_gown < 8.71


Similarity Score: 1.0
Feedback: ('approve', 'SELECT SUM(average) FROM table_name_96 WHERE swimsuit = 8.42 AND evening_gown < 8.71')


Success!
Success Answer: SELECT SUM(average) FROM table_name_96 WHERE swimsuit = 8.42 AND evening_gown < 8.71

  4%|▎         | 36/1000 [01:35<42:16,  2.63s/it]

Question: Please show different denominations and the corresponding number of schools.

Real Answer: SELECT Denomination, COUNT(*) FROM school GROUP BY Denomination
Generated Answer: SELECT Denomination, COUNT(*) FROM school GROUP BY Denomination


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT Denomination, COUNT(*) FROM school GROUP BY Denomination')


Success!
Success Answer: SELECT Denomination, COUNT(*) FROM school GROUP BY Denomination

  4%|▎         | 37/1000 [01:37<37:43,  2.35s/it]

Question: Who was the opponent when Steven Smith had 3.3 overs?

Real Answer: SELECT opponent FROM table_name_45 WHERE overs = 3.3
Generated Answer: SELECT opponent FROM table_name_45 WHERE overs = "3.3"


Similarity Score: 0.99013746
Feedback: ('approve', 'SELECT opponent FROM table_name_45 WHERE overs = "3.3"')


Real Answer: SELECT opponent FROM table_name_45 WHERE overs = 3.3
Failed Answer: SELECT opponent FROM table_name_45 WHERE overs = "3.3"

  4%|▍         | 38/1000 [01:39<37:47,  2.36s/it]

Question: What's the highest turnout when carlton was playing as the away team?

Real Answer: SELECT MAX(crowd) FROM table_name_29 WHERE away_team = "carlton"
Generated Answer: SELECT MAX(crowd) FROM table_name_29 WHERE away_team = "carlton"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(crowd) FROM table_name_29 WHERE away_team = "carlton"')


Success!
Success Answer: SELECT MAX(crowd) FROM table_name_29 WHERE away_team = "carlton"

  4%|▍         | 39/1000 [01:42<37:22,  2.33s/it]

Question: What was the time of the game that had an NFL recap and a result of W 22–16?

Real Answer: SELECT time FROM table_name_2 WHERE nfl_recap = "recap" AND result = "w 22–16"
Generated Answer: SELECT time FROM table_name_2 WHERE nfl_recap = "w 22–16"


Similarity Score: 0.97741365
Feedback: ('approve', 'SELECT time FROM table_name_2 WHERE nfl_recap = "w 22–16"')


Real Answer: SELECT time FROM table_name_2 WHERE nfl_recap = "recap" AND result = "w 22–16"
Failed Answer: SELECT time FROM table_name_2 WHERE nfl_recap = "w 22–16"

  4%|▍         | 40/1000 [01:44<38:06,  2.38s/it]

Question: How many finals had more than 0 goals and 8 assists?

Real Answer: SELECT finals FROM table_name_14 WHERE goals > 0 AND assists = 8
Generated Answer: SELECT COUNT(finals) FROM table_name_14 WHERE goals > 0 AND assists = 8


Similarity Score: 0.8740735
Feedback: ('approve', 'SELECT COUNT(finals) FROM table_name_14 WHERE goals > 0 AND assists = 8')


Real Answer: SELECT finals FROM table_name_14 WHERE goals > 0 AND assists = 8
Failed Answer: SELECT COUNT(finals) FROM table_name_14 WHERE goals > 0 AND assists = 8

  4%|▍         | 41/1000 [01:47<37:51,  2.37s/it]

Question: What is the # of lanes on 20th street?

Real Answer: SELECT _number_of_lanes FROM table_name_43 WHERE street = "20th street"
Generated Answer: SELECT _number_of_lanes FROM table_name_43 WHERE street = "20th street"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT _number_of_lanes FROM table_name_43 WHERE street = "20th street"')


Success!
Success Answer: SELECT _number_of_lanes FROM table_name_43 WHERE street = "20th street"

  4%|▍         | 42/1000 [01:48<33:44,  2.11s/it]

Question: What score has 2 as the place?

Real Answer: SELECT score FROM table_name_78 WHERE place = "2"
Generated Answer: SELECT score FROM table_name_78 WHERE place = "2"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT score FROM table_name_78 WHERE place = "2"')


Success!
Success Answer: SELECT score FROM table_name_78 WHERE place = "2"

  4%|▍         | 43/1000 [01:51<39:38,  2.49s/it]

Question: Which 2008-12 has a 2013 of A, and a Tournament of wimbledon?

Real Answer: SELECT 2008 AS _12 FROM table_name_77 WHERE 2013 = "a" AND tournament = "wimbledon"
Generated Answer: SELECT 2008 AS _12 FROM table_name_77 WHERE 2013 = "a" AND tournament = "wimbledon"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT 2008 AS _12 FROM table_name_77 WHERE 2013 = "a" AND tournament = "wimbledon"')


Success!
Success Answer: SELECT 2008 AS _12 FROM table_name_77 WHERE 2013 = "a" AND tournament = "wimbledon"

  4%|▍         | 44/1000 [01:54<41:04,  2.58s/it]

Question: How many song titles belong to the artist Ratt?

Real Answer: SELECT COUNT(song_title) FROM table_21500850_1 WHERE artist = "Ratt"
Generated Answer: SELECT COUNT(song_title) FROM table_21500850_1 WHERE artist = "RATT"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(song_title) FROM table_21500850_1 WHERE artist = "RATT"')


Real Answer: SELECT COUNT(song_title) FROM table_21500850_1 WHERE artist = "Ratt"
Failed Answer: SELECT COUNT(song_title) FROM table_21500850_1 WHERE artist = "RATT"

  4%|▍         | 45/1000 [01:57<39:59,  2.51s/it]

Question: What was the surface for October 10, 2004?

Real Answer: SELECT surface FROM table_name_72 WHERE date = "october 10, 2004"
Generated Answer: SELECT surface FROM table_name_72 WHERE date = "october 10, 2004"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT surface FROM table_name_72 WHERE date = "october 10, 2004"')


Success!
Success Answer: SELECT surface FROM table_name_72 WHERE date = "october 10, 2004"

  5%|▍         | 46/1000 [01:59<40:29,  2.55s/it]

Question: What is the number for D. Shulman if C. Abate has 728 (43%)

Real Answer: SELECT d_shulman FROM table_name_9 WHERE c_abate = "728 (43%)"
Generated Answer: SELECT d_shulman FROM table_name_9 WHERE c_abate = "728 (43%)"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT d_shulman FROM table_name_9 WHERE c_abate = "728 (43%)"')


Success!
Success Answer: SELECT d_shulman FROM table_name_9 WHERE c_abate = "728 (43%)"

  5%|▍         | 47/1000 [02:01<37:13,  2.34s/it]

Question: What award is featured in 1992?

Real Answer: SELECT award FROM table_name_18 WHERE year = 1992
Generated Answer: SELECT award FROM table_name_18 WHERE year = 1992


Similarity Score: 1.0
Feedback: ('approve', 'SELECT award FROM table_name_18 WHERE year = 1992')


Success!
Success Answer: SELECT award FROM table_name_18 WHERE year = 1992

  5%|▍         | 48/1000 [02:03<35:54,  2.26s/it]

Question: When was the film directed by Pen-Ek Ratanaruang released?

Real Answer: SELECT date FROM table_name_13 WHERE director = "pen-ek ratanaruang"
Generated Answer: SELECT date FROM table_name_13 WHERE director = "pen-ek ratanaruang"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_13 WHERE director = "pen-ek ratanaruang"')


Success!
Success Answer: SELECT date FROM table_name_13 WHERE director = "pen-ek ratanaruang"

  5%|▍         | 49/1000 [02:06<37:57,  2.39s/it]

Question: What is the average score for the player who is T5 in the United States?

Real Answer: SELECT AVG(score) FROM table_name_60 WHERE place = "t5" AND country = "united states"
Generated Answer: SELECT AVG(score) FROM table_name_60 WHERE place = "t5" AND country = "united states"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT AVG(score) FROM table_name_60 WHERE place = "t5" AND country = "united states"')


Success!
Success Answer: SELECT AVG(score) FROM table_name_60 WHERE place = "t5" AND country = "united states"

  5%|▌         | 50/1000 [02:08<35:32,  2.24s/it]

Question: Which station has a frequency of 873khz?

Real Answer: SELECT station FROM table_name_18 WHERE frequency = "873khz"
Generated Answer: SELECT station FROM table_name_18 WHERE frequency = "873khz"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT station FROM table_name_18 WHERE frequency = "873khz"')


Success!
Success Answer: SELECT station FROM table_name_18 WHERE frequency = "873khz"

  5%|▌         | 51/1000 [02:10<37:08,  2.35s/it]

Question: How many seasons feature Rob Masek?

Real Answer: SELECT COUNT(season) FROM table_2140071_8 WHERE coach = "Rob Masek"
Generated Answer: SELECT COUNT(season) FROM table_2140071_8 WHERE coach = "Rob Masek"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(season) FROM table_2140071_8 WHERE coach = "Rob Masek"')


Success!
Success Answer: SELECT COUNT(season) FROM table_2140071_8 WHERE coach = "Rob Masek"

  5%|▌         | 52/1000 [02:13<38:33,  2.44s/it]

Question: How many results finished in a loss?

Real Answer: SELECT COUNT(tar_heels_points) FROM table_20745444_1 WHERE result = "Loss"
Generated Answer: SELECT tar_heels_points FROM table_20745444_1 WHERE result = "Loss"


Similarity Score: 0.8934778
Feedback: ('approve', 'SELECT tar_heels_points FROM table_20745444_1 WHERE result = "Loss"')


Real Answer: SELECT COUNT(tar_heels_points) FROM table_20745444_1 WHERE result = "Loss"
Failed Answer: SELECT tar_heels_points FROM table_20745444_1 WHERE result = "Loss"

  5%|▌         | 53/1000 [02:15<36:06,  2.29s/it]

Question: What was the Orangemen record during game 3?

Real Answer: SELECT record FROM table_23346983_1 WHERE game = 3
Generated Answer: SELECT record FROM table_23346983_1 WHERE game = 3


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT record FROM table_23346983_1 WHERE game = 3')


Success!
Success Answer: SELECT record FROM table_23346983_1 WHERE game = 3

  5%|▌         | 54/1000 [02:18<37:38,  2.39s/it]

Question: What is 1998, when 1994 is Grand Slam Tournaments?

Real Answer: SELECT 1998 FROM table_name_86 WHERE 1994 = "grand slam tournaments"
Generated Answer: SELECT 1998 FROM table_name_86 WHERE 1994 = "grand slam tournaments"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT 1998 FROM table_name_86 WHERE 1994 = "grand slam tournaments"')


Success!
Success Answer: SELECT 1998 FROM table_name_86 WHERE 1994 = "grand slam tournaments"

  6%|▌         | 55/1000 [02:21<41:56,  2.66s/it]

Question: what's the most recent year that samantha stosur was the opponent with 20 aces and having played more than 2 sets?

Real Answer: SELECT MAX(year) FROM table_name_55 WHERE aces = 20 AND opponent = "samantha stosur" AND sets > 2
Generated Answer: SELECT MAX(year) FROM table_name_55 WHERE aces = 20 AND opponent = "samantha stosur" AND sets > 2


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(year) FROM table_name_55 WHERE aces = 20 AND opponent = "samantha stosur" AND sets > 2')


Success!
Success Answer: SELECT MAX(year) FROM table_name_55 WHERE aces = 20 AND opponent = "samantha stosur" AND sets > 2

  6%|▌         | 56/1000 [02:26<51:35,  3.28s/it]

Question: What is Friday 4 June if Wednesday 2 June is 20' 11.98 112.071mph?

Real Answer: SELECT fri_4_june FROM table_25220821_3 WHERE wed_2_june = "20' 11.98 112.071mph"
Generated Answer: SELECT fri_4_june FROM table_25220821_3 WHERE wed_2_june = "20' 11.98 112.071mph"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT fri_4_june FROM table_25220821_3 WHERE wed_2_june = "20\' 11.98 112.071mph"')


Success!
Success Answer: SELECT fri_4_june FROM table_25220821_3 WHERE wed_2_june = "20' 11.98 112.071mph"

  6%|▌         | 57/1000 [02:29<52:43,  3.35s/it]

Question: Who pubilshed isbn 1-937007-44-8?

Real Answer: SELECT publisher FROM table_16907214_1 WHERE hardcover = "ISBN 1-937007-44-8"
Generated Answer: SELECT publisher FROM table_16907214_1 WHERE hardcover = "ISBN 1-937007-44-8"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT publisher FROM table_16907214_1 WHERE hardcover = "ISBN 1-937007-44-8"')


Success!
Success Answer: SELECT publisher FROM table_16907214_1 WHERE hardcover = "ISBN 1-937007-44-8"

  6%|▌         | 58/1000 [02:31<45:55,  2.93s/it]

Question: What is the Price, when Upstream is "256 kbit"?

Real Answer: SELECT price FROM table_name_64 WHERE upstream = "256 kbit"
Generated Answer: SELECT price FROM table_name_64 WHERE upstream = "256 kbit"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT price FROM table_name_64 WHERE upstream = "256 kbit"')


Success!
Success Answer: SELECT price FROM table_name_64 WHERE upstream = "256 kbit"

  6%|▌         | 59/1000 [02:33<39:42,  2.53s/it]

Question: What is the American version of the British ə?

Real Answer: SELECT american FROM table_name_62 WHERE british = "ə"
Generated Answer: SELECT american FROM table_name_62 WHERE british = "ə"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT american FROM table_name_62 WHERE british = "ə"')


Success!
Success Answer: SELECT american FROM table_name_62 WHERE british = "ə"

  6%|▌         | 60/1000 [02:35<37:50,  2.42s/it]

Question: Which pick's player was Marc Lewis (lhp)?

Real Answer: SELECT pick FROM table_name_76 WHERE player = "marc lewis (lhp)"
Generated Answer: SELECT pick FROM table_name_76 WHERE player = "marc lewis (lhp)"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT pick FROM table_name_76 WHERE player = "marc lewis (lhp)"')


Success!
Success Answer: SELECT pick FROM table_name_76 WHERE player = "marc lewis (lhp)"

  6%|▌         | 61/1000 [02:36<33:58,  2.17s/it]

Question: What is the earliest year a song with a position less than 1 has?

Real Answer: SELECT MIN(year) FROM table_name_5 WHERE position < 1
Generated Answer: SELECT MIN(year) FROM table_name_5 WHERE position < 1


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MIN(year) FROM table_name_5 WHERE position < 1')


Success!
Success Answer: SELECT MIN(year) FROM table_name_5 WHERE position < 1

  6%|▌         | 62/1000 [02:39<36:24,  2.33s/it]

Question: What is the number of seats in congress when the candidates per party is 6?

Real Answer: SELECT COUNT(seats_in_congress) FROM table_2676980_4 WHERE candidates_per_party = 6
Generated Answer: SELECT seats_in_congress FROM table_2676980_4 WHERE candidates_per_party = 6


Similarity Score: 0.8724884
Feedback: ('approve', 'SELECT seats_in_congress FROM table_2676980_4 WHERE candidates_per_party = 6')


Real Answer: SELECT COUNT(seats_in_congress) FROM table_2676980_4 WHERE candidates_per_party = 6
Failed Answer: SELECT seats_in_congress FROM table_2676980_4 WHERE candidates_per_party = 6

  6%|▋         | 63/1000 [02:41<36:11,  2.32s/it]

Question: How many tries against were there when there was 961 points against?

Real Answer: SELECT tries_against FROM table_name_29 WHERE points_against = "961"
Generated Answer: SELECT tries_against FROM table_name_29 WHERE points_against = "961"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT tries_against FROM table_name_29 WHERE points_against = "961"')


Success!
Success Answer: SELECT tries_against FROM table_name_29 WHERE points_against = "961"

  6%|▋         | 64/1000 [02:43<34:08,  2.19s/it]

Question: Which Player had a Long of 5 and Yards of 6?

Real Answer: SELECT player FROM table_name_74 WHERE long = "5" AND yards = "6"
Generated Answer: SELECT player FROM table_name_74 WHERE long = 5 AND yards = 6


Similarity Score: 0.98367155
Feedback: ('approve', 'SELECT player FROM table_name_74 WHERE long = 5 AND yards = 6')


Real Answer: SELECT player FROM table_name_74 WHERE long = "5" AND yards = "6"
Failed Answer: SELECT player FROM table_name_74 WHERE long = 5 AND yards = 6

  6%|▋         | 65/1000 [02:45<32:08,  2.06s/it]

Question: What was Stockholm's score when Malmo scored 2?

Real Answer: SELECT stockholm FROM table_name_54 WHERE malmö = "2"
Generated Answer: SELECT stockholm FROM table_name_54 WHERE malmö = "2"


Similarity Score: 1.0000004
Feedback: ('approve', 'SELECT stockholm FROM table_name_54 WHERE malmö = "2"')


Success!
Success Answer: SELECT stockholm FROM table_name_54 WHERE malmö = "2"

  7%|▋         | 66/1000 [02:50<45:36,  2.93s/it]

Question: What is the Kilometer of the Berendries asphalt course with an Average climb less than 7 and Length (m) longer than 645?

Real Answer: SELECT AVG(kilometer) FROM table_name_15 WHERE pavement = "asphalt" AND length__m_ > 645 AND name = "berendries" AND average_climb___percentage_ < 7
Generated Answer: SELECT MAX(kilometer) FROM table_name_15 WHERE pavement = "asphalt" AND length__m_ > 645 AND name = "berendries" AND average_climb___percentage_ < 7


Similarity Score: 0.7998328
Feedback: ('correct', 'SELECT AVG(kilometer) FROM table_name_15 WHERE pavement = "asphalt" AND length__m_ > 645 AND name = "berendries" AND average_climb___percentage_ < 7')


Real Answer: SELECT AVG(kilometer) FROM table_name_15 WHERE pavement = "asphalt" AND length__m_ > 645 AND name = "berendries" AND average_climb___percentage_ < 7
Failed Answer: SELECT MAX(kilometer) FROM table_name_15 WHERE pavement = "asphalt" AND length__m_ > 645 AND name = "berendries" AND average_climb___percentage_ < 7

  7%|▋         | 67/1000 [02:53<44:09,  2.84s/it]

Question: Who opposed Marty Meehan in each election?

Real Answer: SELECT opponent FROM table_1341522_24 WHERE incumbent = "Marty Meehan"
Generated Answer: SELECT opponent FROM table_1341522_24 WHERE incumbent = "Marty Meehan"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT opponent FROM table_1341522_24 WHERE incumbent = "Marty Meehan"')


Success!
Success Answer: SELECT opponent FROM table_1341522_24 WHERE incumbent = "Marty Meehan"

  7%|▋         | 68/1000 [02:54<39:09,  2.52s/it]

Question: What is Driver, when Team is "Romano Racing"?

Real Answer: SELECT driver FROM table_name_88 WHERE team = "romano racing"
Generated Answer: SELECT driver FROM table_name_88 WHERE team = "romano racing"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT driver FROM table_name_88 WHERE team = "romano racing"')


Success!
Success Answer: SELECT driver FROM table_name_88 WHERE team = "romano racing"

  7%|▋         | 69/1000 [02:57<38:46,  2.50s/it]

Question: Who had the high assist total when the team was 0-1?

Real Answer: SELECT high_assists FROM table_27902171_4 WHERE record = "0-1"
Generated Answer: SELECT high_assists FROM table_27902171_4 WHERE record = "0-1"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT high_assists FROM table_27902171_4 WHERE record = "0-1"')


Success!
Success Answer: SELECT high_assists FROM table_27902171_4 WHERE record = "0-1"

  7%|▋         | 70/1000 [03:00<40:02,  2.58s/it]

Question: what is the date of the game that the high assists is raymond felton (4)?

Real Answer: SELECT date FROM table_27713583_2 WHERE high_assists = "Raymond Felton (4)"
Generated Answer: SELECT date FROM table_27713583_2 WHERE high_assists = "Raymond Felton (4)"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date FROM table_27713583_2 WHERE high_assists = "Raymond Felton (4)"')


Success!
Success Answer: SELECT date FROM table_27713583_2 WHERE high_assists = "Raymond Felton (4)"

  7%|▋         | 71/1000 [03:01<35:33,  2.30s/it]

Question: which round has a margin of 178?

Real Answer: SELECT round FROM table_name_24 WHERE margin = "178"
Generated Answer: SELECT round FROM table_name_24 WHERE margin = 178


Similarity Score: 0.9894242
Feedback: ('approve', 'SELECT round FROM table_name_24 WHERE margin = 178')


Real Answer: SELECT round FROM table_name_24 WHERE margin = "178"
Failed Answer: SELECT round FROM table_name_24 WHERE margin = 178

  7%|▋         | 72/1000 [03:04<36:04,  2.33s/it]

Question: What is the largest goal number when the transfer fee was £0.8m?

Real Answer: SELECT MAX(goals) FROM table_name_50 WHERE transfer_fee = "£0.8m"
Generated Answer: SELECT MAX(goals) FROM table_name_50 WHERE transfer_fee = "£0.8m"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT MAX(goals) FROM table_name_50 WHERE transfer_fee = "£0.8m"')


Success!
Success Answer: SELECT MAX(goals) FROM table_name_50 WHERE transfer_fee = "£0.8m"

  7%|▋         | 73/1000 [03:06<37:56,  2.46s/it]

Question: What is the production code of the episode written by Jack Carrerrow?

Real Answer: SELECT prod_code FROM table_20967430_4 WHERE written_by = "Jack Carrerrow"
Generated Answer: SELECT prod_code FROM table_20967430_4 WHERE written_by = "Jack Carrerrow"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT prod_code FROM table_20967430_4 WHERE written_by = "Jack Carrerrow"')


Success!
Success Answer: SELECT prod_code FROM table_20967430_4 WHERE written_by = "Jack Carrerrow"

  7%|▋         | 74/1000 [03:10<41:51,  2.71s/it]

Question: What was the train destination when it has a calling at Boston, Sleaford, Nottingham Victoria?

Real Answer: SELECT going_to FROM table_18365784_3 WHERE calling_at = "Boston, Sleaford, Nottingham Victoria"
Generated Answer: SELECT going_to FROM table_18365784_3 WHERE calling_at = "Boston, Sleaford, Nottingham Victoria"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT going_to FROM table_18365784_3 WHERE calling_at = "Boston, Sleaford, Nottingham Victoria"')


Success!
Success Answer: SELECT going_to FROM table_18365784_3 WHERE calling_at = "Boston, Sleaford, Nottingham Victoria"

  8%|▊         | 75/1000 [03:14<50:59,  3.31s/it]

Question: What is the Vineyeard surface (2010) with a Village of Gevrey-Chambertin, and Grand Cru of Latricières-Chambertin?

Real Answer: SELECT vineyard_surface__2010_ FROM table_name_94 WHERE village = "gevrey-chambertin" AND grand_cru = "latricières-chambertin"
Generated Answer: SELECT vineyard_surface__2010_ FROM table_name_94 WHERE village = "gevrey-chambertin" AND grand_cru = "latricières-chambertin"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT vineyard_surface__2010_ FROM table_name_94 WHERE village = "gevrey-chambertin" AND grand_cru = "latricières-chambertin"')


Success!
Success Answer: SELECT vineyard_surface__2010_ FROM table_name_94 WHERE village = "gevrey-chambertin" AND grand_cru = "latricières-chambertin"

  8%|▊         | 76/1000 [03:17<49:07,  3.19s/it]

Question: Name for me the total number in attendance for week before 2 and result of t 24-24

Real Answer: SELECT COUNT(attendance) FROM table_name_60 WHERE result = "t 24-24" AND week < 2
Generated Answer: SELECT COUNT(attendance) FROM table_name_60 WHERE result = "t 24-24" AND week < 2


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(attendance) FROM table_name_60 WHERE result = "t 24-24" AND week < 2')


Success!
Success Answer: SELECT COUNT(attendance) FROM table_name_60 WHERE result = "t 24-24" AND week < 2

  8%|▊         | 77/1000 [03:22<54:25,  3.54s/it]

Question: What is the sum of the values for Melbourne, when Episode Number Production Number is 19 2-06, and when Sydney is less than 389,000?

Real Answer: SELECT SUM(melbourne) FROM table_name_93 WHERE episode_number_production_number = "19 2-06" AND sydney < 389 OFFSET 000
Generated Answer: SELECT SUM(melbourne) FROM table_name_93 WHERE episode_number_production_number = "19 2-06" AND sydney < 389 OFFSET 000


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT SUM(melbourne) FROM table_name_93 WHERE episode_number_production_number = "19 2-06" AND sydney < 389 OFFSET 000')


Success!
Success Answer: SELECT SUM(melbourne) FROM table_name_93 WHERE episode_number_production_number = "19 2-06" AND sydney < 389 OFFSET 000

  8%|▊         | 78/1000 [03:23<45:12,  2.94s/it]

Question: Which water has green wood?

Real Answer: SELECT water FROM table_name_50 WHERE wood = "green"
Generated Answer: SELECT water FROM table_name_50 WHERE wood = "green"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT water FROM table_name_50 WHERE wood = "green"')


Success!
Success Answer: SELECT water FROM table_name_50 WHERE wood = "green"

  8%|▊         | 79/1000 [03:26<43:13,  2.82s/it]

Question: Name the money spent for 2Q having candidate of john mccain

Real Answer: SELECT money_spent, _2q FROM table_name_84 WHERE candidate = "john mccain"
Generated Answer: SELECT money_spent, _2q FROM table_name_84 WHERE candidate = "john mccain"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT money_spent, _2q FROM table_name_84 WHERE candidate = "john mccain"')


Success!
Success Answer: SELECT money_spent, _2q FROM table_name_84 WHERE candidate = "john mccain"

  8%|▊         | 80/1000 [03:28<40:33,  2.65s/it]

Question: What is the total number of rounds that had Jason Missiaen?

Real Answer: SELECT COUNT(round) FROM table_name_75 WHERE player = "jason missiaen"
Generated Answer: SELECT COUNT(round) FROM table_name_75 WHERE player = "jason missiaen"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(round) FROM table_name_75 WHERE player = "jason missiaen"')


Success!
Success Answer: SELECT COUNT(round) FROM table_name_75 WHERE player = "jason missiaen"

  8%|▊         | 81/1000 [03:30<35:37,  2.33s/it]

Question: What is To Par, when Place is 3?

Real Answer: SELECT to_par FROM table_name_43 WHERE place = "3"
Generated Answer: SELECT to_par FROM table_name_43 WHERE place = 3


Similarity Score: 0.9896833
Feedback: ('approve', 'SELECT to_par FROM table_name_43 WHERE place = 3')


Real Answer: SELECT to_par FROM table_name_43 WHERE place = "3"
Failed Answer: SELECT to_par FROM table_name_43 WHERE place = 3

  8%|▊         | 82/1000 [03:32<36:25,  2.38s/it]

Question: What is the average silver medals a team ranked 12 with less than 2 bronze has?

Real Answer: SELECT AVG(silver) FROM table_name_28 WHERE rank = 12 AND bronze < 2
Generated Answer: SELECT AVG(silver) FROM table_name_28 WHERE rank = 12 AND bronze < 2


Similarity Score: 1.0
Feedback: ('approve', 'SELECT AVG(silver) FROM table_name_28 WHERE rank = 12 AND bronze < 2')


Success!
Success Answer: SELECT AVG(silver) FROM table_name_28 WHERE rank = 12 AND bronze < 2

  8%|▊         | 83/1000 [03:35<38:42,  2.53s/it]

Question: what is the diameter (km) of feature of latitude 40.5s

Real Answer: SELECT diameter__km_ FROM table_16799784_7 WHERE latitude = "40.5S"
Generated Answer: SELECT diameter__km_ FROM table_16799784_7 WHERE latitude = "40.5S"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT diameter__km_ FROM table_16799784_7 WHERE latitude = "40.5S"')


Success!
Success Answer: SELECT diameter__km_ FROM table_16799784_7 WHERE latitude = "40.5S"

  8%|▊         | 84/1000 [03:38<41:46,  2.74s/it]

Question: Which Years has a Type/code of cubic centimetres (cuin) v8 ( m273 )?

Real Answer: SELECT years FROM table_name_72 WHERE type_code = "cubic centimetres (cuin) v8 ( m273 )"
Generated Answer: SELECT years FROM table_name_72 WHERE type_code = "cubic centimetres (cuin) v8 ( m273 )"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT years FROM table_name_72 WHERE type_code = "cubic centimetres (cuin) v8 ( m273 )"')


Success!
Success Answer: SELECT years FROM table_name_72 WHERE type_code = "cubic centimetres (cuin) v8 ( m273 )"

  8%|▊         | 85/1000 [03:42<44:38,  2.93s/it]

Question: What is the highest amount of group legs won when the prize money was £21,850?

Real Answer: SELECT MAX(Winners) AS group_legs_won FROM table_24334163_1 WHERE total_money_won = "£21,850"
Generated Answer: SELECT MAX(Winners) FROM table_24334163_1 WHERE total_money_won = "£21,850"


Similarity Score: 0.8889071
Feedback: ('approve', 'SELECT MAX(Winners) FROM table_24334163_1 WHERE total_money_won = "£21,850"')


Real Answer: SELECT MAX(Winners) AS group_legs_won FROM table_24334163_1 WHERE total_money_won = "£21,850"
Failed Answer: SELECT MAX(Winners) FROM table_24334163_1 WHERE total_money_won = "£21,850"

  9%|▊         | 86/1000 [03:44<42:22,  2.78s/it]

Question: What district was Harold Earthman the incumbent in?

Real Answer: SELECT district FROM table_1342233_42 WHERE incumbent = "Harold Earthman"
Generated Answer: SELECT district FROM table_1342233_42 WHERE incumbent = "Harold Earthman"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT district FROM table_1342233_42 WHERE incumbent = "Harold Earthman"')


Success!
Success Answer: SELECT district FROM table_1342233_42 WHERE incumbent = "Harold Earthman"

  9%|▊         | 87/1000 [03:47<42:59,  2.83s/it]

Question: Name the flight down for vladimir vasyutin , alexander volkov

Real Answer: SELECT flight_down FROM table_245801_1 WHERE crew = "Vladimir Vasyutin , Alexander Volkov"
Generated Answer: SELECT flight_down FROM table_245801_1 WHERE crew = "Vladimir Vasyutin, Alexander Volkov"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT flight_down FROM table_245801_1 WHERE crew = "Vladimir Vasyutin, Alexander Volkov"')


Real Answer: SELECT flight_down FROM table_245801_1 WHERE crew = "Vladimir Vasyutin , Alexander Volkov"
Failed Answer: SELECT flight_down FROM table_245801_1 WHERE crew = "Vladimir Vasyutin, Alexander Volkov"

  9%|▉         | 88/1000 [03:48<36:27,  2.40s/it]

Question: What date is week 3?

Real Answer: SELECT date FROM table_name_77 WHERE week = 3
Generated Answer: SELECT date FROM table_name_77 WHERE week = 3


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT date FROM table_name_77 WHERE week = 3')


Success!
Success Answer: SELECT date FROM table_name_77 WHERE week = 3

  9%|▉         | 89/1000 [03:52<41:24,  2.73s/it]

Question: How many strongs transliteration of the english spelling of the work jehojakin?

Real Answer: SELECT COUNT(strongs_transliteration) FROM table_1242447_1 WHERE english_spelling = "Jehojakin"
Generated Answer: SELECT COUNT(strongs_transliteration) FROM table_1242447_1 WHERE english_spelling = "Jehojakin"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT COUNT(strongs_transliteration) FROM table_1242447_1 WHERE english_spelling = "Jehojakin"')


Success!
Success Answer: SELECT COUNT(strongs_transliteration) FROM table_1242447_1 WHERE english_spelling = "Jehojakin"

  9%|▉         | 90/1000 [03:54<39:13,  2.59s/it]

Question: Which song has votes greater than 640 and a draw of 1?

Real Answer: SELECT song FROM table_name_62 WHERE votes > 640 AND draw = 1
Generated Answer: SELECT song FROM table_name_62 WHERE votes > 640 AND draw = 1


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT song FROM table_name_62 WHERE votes > 640 AND draw = 1')


Success!
Success Answer: SELECT song FROM table_name_62 WHERE votes > 640 AND draw = 1

  9%|▉         | 91/1000 [03:56<36:43,  2.42s/it]

Question: What is the name of the player with the High points when there was a Record of 31–48?

Real Answer: SELECT high_points FROM table_name_66 WHERE record = "31–48"
Generated Answer: SELECT high_points FROM table_name_66 WHERE record = "31–48"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT high_points FROM table_name_66 WHERE record = "31–48"')


Success!
Success Answer: SELECT high_points FROM table_name_66 WHERE record = "31–48"

  9%|▉         | 92/1000 [04:00<42:32,  2.81s/it]

Question: Natural change of 42 689 has which lowest Crude birth rate (per 1000)?

Real Answer: SELECT MIN(crude_birth_rate__per_1000_) FROM table_name_49 WHERE natural_change = "42 689"
Generated Answer: SELECT MIN(crude_birth_rate__per_1000_) FROM table_name_49 WHERE natural_change = "42 689"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT MIN(crude_birth_rate__per_1000_) FROM table_name_49 WHERE natural_change = "42 689"')


Success!
Success Answer: SELECT MIN(crude_birth_rate__per_1000_) FROM table_name_49 WHERE natural_change = "42 689"

  9%|▉         | 93/1000 [04:02<38:35,  2.55s/it]

Question: How many bronzes were won by the country with a total higher than 5?

Real Answer: SELECT SUM(bronze) FROM table_name_25 WHERE total > 5
Generated Answer: SELECT SUM(bronze) FROM table_name_25 WHERE total > 5


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT SUM(bronze) FROM table_name_25 WHERE total > 5')


Success!
Success Answer: SELECT SUM(bronze) FROM table_name_25 WHERE total > 5

  9%|▉         | 94/1000 [04:06<45:08,  2.99s/it]

Question: What's the population with a code more than 90902 and an area less than 1,335.47?

Real Answer: SELECT MIN(population) FROM table_name_19 WHERE code > 90902 AND area__km_2__ < 1 OFFSET 335.47
Generated Answer: SELECT SUM(population) FROM table_name_19 WHERE code > 90902 AND area__km_2__ < 1 OFFSET 335.47


Similarity Score: 0.82049173
Feedback: ('approve', 'SELECT SUM(population) FROM table_name_19 WHERE code > 90902 AND area__km_2__ < 1 OFFSET 335.47')


Real Answer: SELECT MIN(population) FROM table_name_19 WHERE code > 90902 AND area__km_2__ < 1 OFFSET 335.47
Failed Answer: SELECT SUM(population) FROM table_name_19 WHERE code > 90902 AND area__km_2__ < 1 OFFSET 335.47

 10%|▉         | 95/1000 [04:08<41:55,  2.78s/it]

Question: What is the surface of the match on July 5, 2009?

Real Answer: SELECT surface FROM table_name_95 WHERE date = "july 5, 2009"
Generated Answer: SELECT surface FROM table_name_95 WHERE date = "july 5, 2009"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT surface FROM table_name_95 WHERE date = "july 5, 2009"')


Success!
Success Answer: SELECT surface FROM table_name_95 WHERE date = "july 5, 2009"

 10%|▉         | 96/1000 [04:11<42:55,  2.85s/it]

Question: Which Fleet Series (Quantity) that has a Builder of mci, and an Order Year of 2002?

Real Answer: SELECT fleet_series__quantity_ FROM table_name_23 WHERE builder = "mci" AND order_year = "2002"
Generated Answer: SELECT fleet_series__quantity_ FROM table_name_23 WHERE builder = "mci" AND order_year = 2002


Similarity Score: 0.99718213
Feedback: ('approve', 'SELECT fleet_series__quantity_ FROM table_name_23 WHERE builder = "mci" AND order_year = 2002')


Real Answer: SELECT fleet_series__quantity_ FROM table_name_23 WHERE builder = "mci" AND order_year = "2002"
Failed Answer: SELECT fleet_series__quantity_ FROM table_name_23 WHERE builder = "mci" AND order_year = 2002

 10%|▉         | 97/1000 [04:13<39:39,  2.64s/it]

Question: Which publisher released Martial Law: Substitutes?

Real Answer: SELECT publisher FROM table_name_47 WHERE release_title = "martial law: substitutes"
Generated Answer: SELECT publisher FROM table_name_47 WHERE release_title = "martial law: substitutes"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT publisher FROM table_name_47 WHERE release_title = "martial law: substitutes"')


Success!
Success Answer: SELECT publisher FROM table_name_47 WHERE release_title = "martial law: substitutes"

 10%|▉         | 98/1000 [04:15<35:04,  2.33s/it]

Question: Who is the driver of the car that started in grid 14?

Real Answer: SELECT rider FROM table_name_18 WHERE grid = "14"
Generated Answer: SELECT rider FROM table_name_18 WHERE grid = 14


Similarity Score: 0.9890356
Feedback: ('approve', 'SELECT rider FROM table_name_18 WHERE grid = 14')


Real Answer: SELECT rider FROM table_name_18 WHERE grid = "14"
Failed Answer: SELECT rider FROM table_name_18 WHERE grid = 14

 10%|▉         | 99/1000 [04:17<32:08,  2.14s/it]

Question: What is the long for the player with 26 carries?

Real Answer: SELECT long FROM table_name_60 WHERE car = 26
Generated Answer: SELECT long FROM table_name_60 WHERE car = "26"


Similarity Score: 0.98765707
Feedback: ('approve', 'SELECT long FROM table_name_60 WHERE car = "26"')


Real Answer: SELECT long FROM table_name_60 WHERE car = 26
Failed Answer: SELECT long FROM table_name_60 WHERE car = "26"

 10%|█         | 100/1000 [04:19<33:22,  2.22s/it]

Question: What status of school is informatics international college?

Real Answer: SELECT status FROM table_2589963_1 WHERE institution = "Informatics International College"
Generated Answer: SELECT status FROM table_2589963_1 WHERE institution = "Informatics International College"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT status FROM table_2589963_1 WHERE institution = "Informatics International College"')


Success!
Success Answer: SELECT status FROM table_2589963_1 WHERE institution = "Informatics International College"

 10%|█         | 101/1000 [04:23<40:57,  2.73s/it]

Question: What was the Nickname that had a No. 0, and Years in Competition of 1982-2003?

Real Answer: SELECT nickname FROM table_name_26 WHERE no_of_premierships = 0 AND years_in_competition = "1982-2003"
Generated Answer: SELECT nickname FROM table_name_26 WHERE no_of_premierships = 0 AND years_in_competition = "1982-2003"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT nickname FROM table_name_26 WHERE no_of_premierships = 0 AND years_in_competition = "1982-2003"')


Success!
Success Answer: SELECT nickname FROM table_name_26 WHERE no_of_premierships = 0 AND years_in_competition = "1982-2003"

 10%|█         | 102/1000 [04:25<36:07,  2.41s/it]

Question: Which pick came from Pittsburgh?

Real Answer: SELECT COUNT(pick) FROM table_name_60 WHERE college = "pittsburgh"
Generated Answer: SELECT pick FROM table_name_60 WHERE college = "pittsburgh"


Similarity Score: 0.79492664
Feedback: ('correct', 'SELECT COUNT(pick) FROM table_name_60 WHERE college = "pittsburgh"')


Real Answer: SELECT COUNT(pick) FROM table_name_60 WHERE college = "pittsburgh"
Failed Answer: SELECT pick FROM table_name_60 WHERE college = "pittsburgh"

 10%|█         | 103/1000 [04:26<33:19,  2.23s/it]

Question: What numbered pick was the player from texas?

Real Answer: SELECT COUNT(pick__number) FROM table_name_85 WHERE college = "texas"
Generated Answer: SELECT pick__number FROM table_name_85 WHERE college = "texas"


Similarity Score: 0.8174797
Feedback: ('approve', 'SELECT pick__number FROM table_name_85 WHERE college = "texas"')


Real Answer: SELECT COUNT(pick__number) FROM table_name_85 WHERE college = "texas"
Failed Answer: SELECT pick__number FROM table_name_85 WHERE college = "texas"

 10%|█         | 104/1000 [04:30<37:17,  2.50s/it]

Question: What is Ensemble Name Muxco Gloucestershire's Advertisement Date in Block 10C?

Real Answer: SELECT advertisement_date FROM table_name_17 WHERE block = "10c" AND ensemble_name = "muxco gloucestershire"
Generated Answer: SELECT advertisement_date FROM table_name_17 WHERE block = "10c" AND ensemble_name = "muxco gloucestershire"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT advertisement_date FROM table_name_17 WHERE block = "10c" AND ensemble_name = "muxco gloucestershire"')


Success!
Success Answer: SELECT advertisement_date FROM table_name_17 WHERE block = "10c" AND ensemble_name = "muxco gloucestershire"

 10%|█         | 105/1000 [04:31<34:22,  2.30s/it]

Question: Tell me the wekk for eastern #2 of houston

Real Answer: SELECT week FROM table_name_37 WHERE eastern__number2 = "houston"
Generated Answer: SELECT week FROM table_name_37 WHERE eastern__number2 = "houston"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT week FROM table_name_37 WHERE eastern__number2 = "houston"')


Success!
Success Answer: SELECT week FROM table_name_37 WHERE eastern__number2 = "houston"

 11%|█         | 106/1000 [04:34<35:05,  2.35s/it]

Question: For the match in which player David Frost scored a To Par of +7, what was the final score?

Real Answer: SELECT score FROM table_name_94 WHERE to_par = "+7" AND player = "david frost"
Generated Answer: SELECT score FROM table_name_94 WHERE to_par = "+7" AND player = "david frost"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT score FROM table_name_94 WHERE to_par = "+7" AND player = "david frost"')


Success!
Success Answer: SELECT score FROM table_name_94 WHERE to_par = "+7" AND player = "david frost"

 11%|█         | 107/1000 [04:36<34:20,  2.31s/it]

Question: @ Chicago had a high points of what?

Real Answer: SELECT high_points FROM table_17355408_7 WHERE team = "@ Chicago"
Generated Answer: SELECT high_points FROM table_17355408_7 WHERE team = "@ Chicago"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT high_points FROM table_17355408_7 WHERE team = "@ Chicago"')


Success!
Success Answer: SELECT high_points FROM table_17355408_7 WHERE team = "@ Chicago"

 11%|█         | 108/1000 [04:38<31:32,  2.12s/it]

Question: Which show has a character of Rohan?

Real Answer: SELECT show FROM table_name_89 WHERE character = "rohan"
Generated Answer: SELECT show FROM table_name_89 WHERE character = "rohan"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT show FROM table_name_89 WHERE character = "rohan"')


Success!
Success Answer: SELECT show FROM table_name_89 WHERE character = "rohan"

 11%|█         | 109/1000 [04:40<32:00,  2.16s/it]

Question: Show all template type codes and number of templates for each.

Real Answer: SELECT template_type_code, COUNT(*) FROM Templates GROUP BY template_type_code
Generated Answer: SELECT template_type_code, COUNT(*) FROM Templates GROUP BY template_type_code


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT template_type_code, COUNT(*) FROM Templates GROUP BY template_type_code')


Success!
Success Answer: SELECT template_type_code, COUNT(*) FROM Templates GROUP BY template_type_code

 11%|█         | 110/1000 [04:42<31:58,  2.16s/it]

Question: What is Time, when Laps is 22, and when Grid is 15?

Real Answer: SELECT time FROM table_name_42 WHERE laps = 22 AND grid = 15
Generated Answer: SELECT time FROM table_name_42 WHERE laps = 22 AND grid = 15


Similarity Score: 1.0
Feedback: ('approve', 'SELECT time FROM table_name_42 WHERE laps = 22 AND grid = 15')


Success!
Success Answer: SELECT time FROM table_name_42 WHERE laps = 22 AND grid = 15

 11%|█         | 111/1000 [04:44<31:27,  2.12s/it]

Question: What is Score, when Set 3 is 17-25?

Real Answer: SELECT score FROM table_name_67 WHERE set_3 = "17-25"
Generated Answer: SELECT score FROM table_name_67 WHERE set_3 = "17-25"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT score FROM table_name_67 WHERE set_3 = "17-25"')


Success!
Success Answer: SELECT score FROM table_name_67 WHERE set_3 = "17-25"

 11%|█         | 112/1000 [04:47<35:52,  2.42s/it]

Question: What are average launches with 0 failures, rocket of Soyuz, and less than 12 successes?

Real Answer: SELECT AVG(launches) FROM table_name_3 WHERE failures = 0 AND rocket = "soyuz" AND successes < 12
Generated Answer: SELECT AVG(launches) FROM table_name_3 WHERE failures = 0 AND rocket = "soyuz" AND successes < 12


Similarity Score: 1.0
Feedback: ('approve', 'SELECT AVG(launches) FROM table_name_3 WHERE failures = 0 AND rocket = "soyuz" AND successes < 12')


Success!
Success Answer: SELECT AVG(launches) FROM table_name_3 WHERE failures = 0 AND rocket = "soyuz" AND successes < 12

 11%|█▏        | 113/1000 [04:50<38:00,  2.57s/it]

Question: Which Mountains classification has a General classification of egoi martínez, and a Stage of 9?

Real Answer: SELECT mountains_classification FROM table_name_42 WHERE general_classification = "egoi martínez" AND stage = "9"
Generated Answer: SELECT mountains_classification FROM table_name_42 WHERE general_classification = "egoi martínez" AND stage = "9"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT mountains_classification FROM table_name_42 WHERE general_classification = "egoi martínez" AND stage = "9"')


Success!
Success Answer: SELECT mountains_classification FROM table_name_42 WHERE general_classification = "egoi martínez" AND stage = "9"

 11%|█▏        | 114/1000 [04:53<39:55,  2.70s/it]

Question: How many  dvd  titled "series 5" were released having a release date or a non available date in region 2?

Real Answer: SELECT COUNT(region_2) FROM table_17697980_1 WHERE dvd_title = "Series 5"
Generated Answer: SELECT COUNT(region_2) FROM table_17697980_1 WHERE dvd_title = "Series 5"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(region_2) FROM table_17697980_1 WHERE dvd_title = "Series 5"')


Success!
Success Answer: SELECT COUNT(region_2) FROM table_17697980_1 WHERE dvd_title = "Series 5"

 12%|█▏        | 115/1000 [04:56<38:15,  2.59s/it]

Question: Name the team for ricky rudd

Real Answer: SELECT team FROM table_2150776_1 WHERE driver = "Ricky Rudd"
Generated Answer: SELECT team FROM table_2150776_1 WHERE driver = "Ricky Rudd"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT team FROM table_2150776_1 WHERE driver = "Ricky Rudd"')


Success!
Success Answer: SELECT team FROM table_2150776_1 WHERE driver = "Ricky Rudd"

 12%|█▏        | 116/1000 [04:58<37:54,  2.57s/it]

Question: What is the company from Greece with author Aeschylus?

Real Answer: SELECT company FROM table_name_45 WHERE country = "greece" AND author = "aeschylus"
Generated Answer: SELECT company FROM table_name_45 WHERE country = "greece" AND author = "aeschylus"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT company FROM table_name_45 WHERE country = "greece" AND author = "aeschylus"')


Success!
Success Answer: SELECT company FROM table_name_45 WHERE country = "greece" AND author = "aeschylus"

 12%|█▏        | 117/1000 [05:01<37:55,  2.58s/it]

Question: Class of 500cc, and a Wins smaller than 0 had what average year?

Real Answer: SELECT AVG(year) FROM table_name_75 WHERE class = "500cc" AND wins < 0
Generated Answer: SELECT AVG(year) FROM table_name_75 WHERE class = "500cc" AND wins < 0


Similarity Score: 1.0
Feedback: ('approve', 'SELECT AVG(year) FROM table_name_75 WHERE class = "500cc" AND wins < 0')


Success!
Success Answer: SELECT AVG(year) FROM table_name_75 WHERE class = "500cc" AND wins < 0

 12%|█▏        | 118/1000 [05:03<36:27,  2.48s/it]

Question: What was the location when the opposition was East Coast?

Real Answer: SELECT location FROM table_26847237_1 WHERE opposition = "East Coast"
Generated Answer: SELECT location FROM table_26847237_1 WHERE opposition = "East Coast"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT location FROM table_26847237_1 WHERE opposition = "East Coast"')


Success!
Success Answer: SELECT location FROM table_26847237_1 WHERE opposition = "East Coast"

 12%|█▏        | 119/1000 [05:07<42:00,  2.86s/it]

Question: How many Byes have Wins smaller than 11, and a Wimmera FL of minyip murtoa, and Losses smaller than 6?

Real Answer: SELECT COUNT(byes) FROM table_name_12 WHERE wins < 11 AND wimmera_fl = "minyip murtoa" AND losses < 6
Generated Answer: SELECT COUNT(byes) FROM table_name_12 WHERE wins < 11 AND wimmera_fl = "minyip murtoa" AND losses < 6


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(byes) FROM table_name_12 WHERE wins < 11 AND wimmera_fl = "minyip murtoa" AND losses < 6')


Success!
Success Answer: SELECT COUNT(byes) FROM table_name_12 WHERE wins < 11 AND wimmera_fl = "minyip murtoa" AND losses < 6

 12%|█▏        | 120/1000 [05:10<41:52,  2.86s/it]

Question: How many doses for the bacillus calmette-guérin?

Real Answer: SELECT number_of_doses FROM table_name_13 WHERE vaccine = "bacillus calmette-guérin"
Generated Answer: SELECT number_of_doses FROM table_name_13 WHERE vaccine = "bacillus calmette-guérin"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT number_of_doses FROM table_name_13 WHERE vaccine = "bacillus calmette-guérin"')


Success!
Success Answer: SELECT number_of_doses FROM table_name_13 WHERE vaccine = "bacillus calmette-guérin"

 12%|█▏        | 121/1000 [05:13<43:03,  2.94s/it]

Question: For engines of Maserati Straight-6 and entrants of H H Gould, what is the latest year?

Real Answer: SELECT MAX(year) FROM table_name_14 WHERE engine = "maserati straight-6" AND entrant = "h h gould"
Generated Answer: SELECT MAX(year) FROM table_name_14 WHERE engine = "maserati straight-6" AND entrant = "h h gould"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(year) FROM table_name_14 WHERE engine = "maserati straight-6" AND entrant = "h h gould"')


Success!
Success Answer: SELECT MAX(year) FROM table_name_14 WHERE engine = "maserati straight-6" AND entrant = "h h gould"

 12%|█▏        | 122/1000 [05:16<42:56,  2.93s/it]

Question: What is the total population of the district of Klang, with an area larger than 636?

Real Answer: SELECT COUNT(2010 AS _population) FROM table_name_23 WHERE district = "klang" AND area__km_2__ > 636
Generated Answer: SELECT COUNT(*) FROM table_name_23 WHERE district = "klang" AND area__km_2__ > 636


Similarity Score: 0.9176509
Feedback: ('approve', 'SELECT COUNT(*) FROM table_name_23 WHERE district = "klang" AND area__km_2__ > 636')


Real Answer: SELECT COUNT(2010 AS _population) FROM table_name_23 WHERE district = "klang" AND area__km_2__ > 636
Failed Answer: SELECT COUNT(*) FROM table_name_23 WHERE district = "klang" AND area__km_2__ > 636

 12%|█▏        | 123/1000 [05:19<44:26,  3.04s/it]

Question: What Championship has a Score in the final of 2–6, 6–2, 7–5?

Real Answer: SELECT championship FROM table_name_16 WHERE score_in_the_final = "2–6, 6–2, 7–5"
Generated Answer: SELECT championship FROM table_name_16 WHERE score_in_the_final = "2–6, 6–2, 7–5"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT championship FROM table_name_16 WHERE score_in_the_final = "2–6, 6–2, 7–5"')


Success!
Success Answer: SELECT championship FROM table_name_16 WHERE score_in_the_final = "2–6, 6–2, 7–5"

 12%|█▏        | 124/1000 [05:21<42:15,  2.89s/it]

Question: Name the total number of pitcher for 9 overall rank

Real Answer: SELECT COUNT(pitcher) FROM table_242813_2 WHERE overall_rank = 9
Generated Answer: SELECT COUNT(pitcher) FROM table_242813_2 WHERE overall_rank = 9


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(pitcher) FROM table_242813_2 WHERE overall_rank = 9')


Success!
Success Answer: SELECT COUNT(pitcher) FROM table_242813_2 WHERE overall_rank = 9

 12%|█▎        | 125/1000 [05:23<37:56,  2.60s/it]

Question: Who is the July playmate with a December playmate Morgan Fox?

Real Answer: SELECT july FROM table_name_58 WHERE december = "morgan fox"
Generated Answer: SELECT july FROM table_name_58 WHERE december = "morgan fox"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT july FROM table_name_58 WHERE december = "morgan fox"')


Success!
Success Answer: SELECT july FROM table_name_58 WHERE december = "morgan fox"

 13%|█▎        | 126/1000 [05:26<39:06,  2.68s/it]

Question: Which Player has a Score of 72-69-73=214?

Real Answer: SELECT player FROM table_name_71 WHERE score = 72 - 69 - 73 = 214
Generated Answer: SELECT player FROM table_name_71 WHERE score = 72 - 69 - 73 = 214


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT player FROM table_name_71 WHERE score = 72 - 69 - 73 = 214')


Success!
Success Answer: SELECT player FROM table_name_71 WHERE score = 72 - 69 - 73 = 214

 13%|█▎        | 127/1000 [05:28<34:40,  2.38s/it]

Question: What is week 15's result?

Real Answer: SELECT result FROM table_name_24 WHERE week = 15
Generated Answer: SELECT result FROM table_name_24 WHERE week = "15"


Similarity Score: 0.9927647
Feedback: ('approve', 'SELECT result FROM table_name_24 WHERE week = "15"')


Real Answer: SELECT result FROM table_name_24 WHERE week = 15
Failed Answer: SELECT result FROM table_name_24 WHERE week = "15"

 13%|█▎        | 128/1000 [05:30<35:10,  2.42s/it]

Question: Name the least game for 8-3

Real Answer: SELECT MIN(game) FROM table_18894744_5 WHERE record = "8-3"
Generated Answer: SELECT MIN(game) FROM table_18894744_5 WHERE record = "8-3"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(game) FROM table_18894744_5 WHERE record = "8-3"')


Success!
Success Answer: SELECT MIN(game) FROM table_18894744_5 WHERE record = "8-3"

 13%|█▎        | 129/1000 [05:33<38:05,  2.62s/it]

Question: Who won the mens doubles when wang hao won the mens singles?

Real Answer: SELECT mens_doubles FROM table_28138035_26 WHERE mens_singles = "Wang Hao"
Generated Answer: SELECT mens_doubles FROM table_28138035_26 WHERE mens_singles = "Wang Hao"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT mens_doubles FROM table_28138035_26 WHERE mens_singles = "Wang Hao"')


Success!
Success Answer: SELECT mens_doubles FROM table_28138035_26 WHERE mens_singles = "Wang Hao"

 13%|█▎        | 130/1000 [05:35<35:10,  2.43s/it]

Question: How many medals did China receive?

Real Answer: SELECT MIN(total) FROM table_name_87 WHERE nation = "china"
Generated Answer: SELECT SUM(total) FROM table_name_87 WHERE nation = "china"


Similarity Score: 0.768597
Feedback: ('correct', 'SELECT MIN(total) FROM table_name_87 WHERE nation = "china"')


Real Answer: SELECT MIN(total) FROM table_name_87 WHERE nation = "china"
Failed Answer: SELECT SUM(total) FROM table_name_87 WHERE nation = "china"

 13%|█▎        | 131/1000 [05:39<38:22,  2.65s/it]

Question: What is the largest average for the episode with 1.97 million Hong Kong viewers?

Real Answer: SELECT MAX(average) FROM table_24856090_1 WHERE hk_viewers = "1.97 million"
Generated Answer: SELECT MAX(average) FROM table_24856090_1 WHERE hk_viewers = "1.97 million"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(average) FROM table_24856090_1 WHERE hk_viewers = "1.97 million"')


Success!
Success Answer: SELECT MAX(average) FROM table_24856090_1 WHERE hk_viewers = "1.97 million"

 13%|█▎        | 132/1000 [05:40<34:32,  2.39s/it]

Question: What is the High points with a Game that is 56?

Real Answer: SELECT high_points FROM table_name_31 WHERE game = 56
Generated Answer: SELECT high_points FROM table_name_31 WHERE game = "56"


Similarity Score: 0.9892284
Feedback: ('approve', 'SELECT high_points FROM table_name_31 WHERE game = "56"')


Real Answer: SELECT high_points FROM table_name_31 WHERE game = 56
Failed Answer: SELECT high_points FROM table_name_31 WHERE game = "56"

 13%|█▎        | 133/1000 [05:43<36:46,  2.55s/it]

Question: What is the Onehunga school with a decile 3 and smaller than 310 rolls?

Real Answer: SELECT name FROM table_name_17 WHERE decile = "3" AND roll < 310 AND area = "onehunga"
Generated Answer: SELECT name FROM table_name_17 WHERE decile = "3" AND roll < 310 AND area = "onehunga"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT name FROM table_name_17 WHERE decile = "3" AND roll < 310 AND area = "onehunga"')


Success!
Success Answer: SELECT name FROM table_name_17 WHERE decile = "3" AND roll < 310 AND area = "onehunga"

 13%|█▎        | 134/1000 [05:45<34:48,  2.41s/it]

Question: What's the value for race 4 for driver kevin heffernan?

Real Answer: SELECT race_4 FROM table_name_61 WHERE driver = "kevin heffernan"
Generated Answer: SELECT race_4 FROM table_name_61 WHERE driver = "kevin heffernan"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT race_4 FROM table_name_61 WHERE driver = "kevin heffernan"')


Success!
Success Answer: SELECT race_4 FROM table_name_61 WHERE driver = "kevin heffernan"

 14%|█▎        | 135/1000 [05:49<38:53,  2.70s/it]

Question: Which Perth's gold coast and Adelaide were yes when Auckland was no?

Real Answer: SELECT perth FROM table_name_51 WHERE gold_coast = "yes" AND adelaide = "yes" AND auckland = "no"
Generated Answer: SELECT perth FROM table_name_51 WHERE gold_coast = "yes" AND adelaide = "yes" AND auckland = "no"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT perth FROM table_name_51 WHERE gold_coast = "yes" AND adelaide = "yes" AND auckland = "no"')


Success!
Success Answer: SELECT perth FROM table_name_51 WHERE gold_coast = "yes" AND adelaide = "yes" AND auckland = "no"

 14%|█▎        | 136/1000 [05:51<37:19,  2.59s/it]

Question: What party did the incumbent of the Arkansas 6 district belong to?

Real Answer: SELECT party FROM table_1342249_5 WHERE district = "Arkansas 6"
Generated Answer: SELECT party FROM table_1342249_5 WHERE district = "Arkansas 6"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT party FROM table_1342249_5 WHERE district = "Arkansas 6"')


Success!
Success Answer: SELECT party FROM table_1342249_5 WHERE district = "Arkansas 6"

 14%|█▎        | 137/1000 [05:54<38:36,  2.68s/it]

Question: how many video out connections does the sounddock portable have?

Real Answer: SELECT COUNT(video_out) FROM table_24384861_1 WHERE version = "SoundDock Portable"
Generated Answer: SELECT COUNT(video_out) FROM table_24384861_1 WHERE version = "SoundDock Portable"


Similarity Score: 1.0000004
Feedback: ('approve', 'SELECT COUNT(video_out) FROM table_24384861_1 WHERE version = "SoundDock Portable"')


Success!
Success Answer: SELECT COUNT(video_out) FROM table_24384861_1 WHERE version = "SoundDock Portable"

 14%|█▍        | 138/1000 [05:57<37:54,  2.64s/it]

Question: What position has a time over 38.61 at the gothenburg venue?

Real Answer: SELECT position FROM table_name_96 WHERE time > 38.61 AND venue = "gothenburg"
Generated Answer: SELECT position FROM table_name_96 WHERE time > 38.61 AND venue = "gothenburg"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT position FROM table_name_96 WHERE time > 38.61 AND venue = "gothenburg"')


Success!
Success Answer: SELECT position FROM table_name_96 WHERE time > 38.61 AND venue = "gothenburg"

 14%|█▍        | 139/1000 [05:59<35:25,  2.47s/it]

Question: What is footscray's away team score?

Real Answer: SELECT away_team AS score FROM table_name_66 WHERE home_team = "footscray"
Generated Answer: SELECT away_team FROM table_name_66 WHERE home_team = "footscray"


Similarity Score: 0.9119864
Feedback: ('approve', 'SELECT away_team FROM table_name_66 WHERE home_team = "footscray"')


Real Answer: SELECT away_team AS score FROM table_name_66 WHERE home_team = "footscray"
Failed Answer: SELECT away_team FROM table_name_66 WHERE home_team = "footscray"

 14%|█▍        | 140/1000 [06:01<33:52,  2.36s/it]

Question: Which position has an Overall smaller than 64, and a Round of 1?

Real Answer: SELECT position FROM table_name_14 WHERE overall < 64 AND round = 1
Generated Answer: SELECT position FROM table_name_14 WHERE overall < 64 AND round = 1


Similarity Score: 1.0
Feedback: ('approve', 'SELECT position FROM table_name_14 WHERE overall < 64 AND round = 1')


Success!
Success Answer: SELECT position FROM table_name_14 WHERE overall < 64 AND round = 1

 14%|█▍        | 141/1000 [06:02<31:04,  2.17s/it]

Question: With a score of 2-2, what was the Result?

Real Answer: SELECT result FROM table_name_30 WHERE score = "2-2"
Generated Answer: SELECT result FROM table_name_30 WHERE score = "2-2"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT result FROM table_name_30 WHERE score = "2-2"')


Success!
Success Answer: SELECT result FROM table_name_30 WHERE score = "2-2"

 14%|█▍        | 142/1000 [06:08<46:47,  3.27s/it]

Question: Give me a list of cities whose temperature in Mar is lower than that in Dec and which have never been host cities.

Real Answer: SELECT T1.city FROM city AS T1 JOIN temperature AS T2 ON T1.city_id = T2.city_id WHERE T2.Mar < T2.Dec EXCEPT SELECT T3.city FROM city AS T3 JOIN hosting_city AS T4 ON T3.city_id = T4.host_city
Generated Answer: SELECT T1.city FROM city AS T1 JOIN hosting_city AS T2 ON T1.city_id = T2.host_city JOIN temperature AS T3 ON T1.city_id = T3.city_id WHERE T3.Mar < T3.Dec


Similarity Score: 0.923764
Feedback: ('approve', 'SELECT T1.city FROM city AS T1 JOIN hosting_city AS T2 ON T1.city_id = T2.host_city JOIN temperature AS T3 ON T1.city_id = T3.city_id WHERE T3.Mar < T3.Dec')


Real Answer: SELECT T1.city FROM city AS T1 JOIN temperature AS T2 ON T1.city_id = T2.city_id WHERE T2.Mar < T2.Dec EXCEPT SELECT T3.city FROM city AS T3 JOIN hosting_city AS T4 ON T3.city_id = T4.host_city
Failed Answer: SELECT T1.city FROM city AS T1 JOIN hosting_city AS T2 ON T1.city_id = T2.host_city JOIN temperature AS T3 ON T1.city_id = T3.city_id WHERE T3.Mar < T3.Dec

 14%|█▍        | 143/1000 [06:11<43:44,  3.06s/it]

Question: Who's the Republican ticket with a Socialist ticket of edna mitchell blue?

Real Answer: SELECT republican_ticket FROM table_name_46 WHERE socialist_ticket = "edna mitchell blue"
Generated Answer: SELECT republican_ticket FROM table_name_46 WHERE socialist_ticket = "edna mitchell blue"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT republican_ticket FROM table_name_46 WHERE socialist_ticket = "edna mitchell blue"')


Success!
Success Answer: SELECT republican_ticket FROM table_name_46 WHERE socialist_ticket = "edna mitchell blue"

 14%|█▍        | 144/1000 [06:13<38:31,  2.70s/it]

Question: What team was the player that received a penalty at time 32:17 playing for?

Real Answer: SELECT team FROM table_name_13 WHERE time = "32:17"
Generated Answer: SELECT team FROM table_name_13 WHERE time = "32:17"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT team FROM table_name_13 WHERE time = "32:17"')


Success!
Success Answer: SELECT team FROM table_name_13 WHERE time = "32:17"

 14%|█▍        | 145/1000 [06:15<35:17,  2.48s/it]

Question: Who was the celebrity who exited on day 13?

Real Answer: SELECT celebrity FROM table_name_35 WHERE exited = "day 13"
Generated Answer: SELECT celebrity FROM table_name_35 WHERE exited = "day 13"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT celebrity FROM table_name_35 WHERE exited = "day 13"')


Success!
Success Answer: SELECT celebrity FROM table_name_35 WHERE exited = "day 13"

 15%|█▍        | 146/1000 [06:17<35:15,  2.48s/it]

Question: What is the Score of Golden Point(s) scorer Adam Reynolds?

Real Answer: SELECT score FROM table_name_29 WHERE golden_point_s__scorer = "adam reynolds"
Generated Answer: SELECT score FROM table_name_29 WHERE golden_point_s__scorer = "adam reynolds"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT score FROM table_name_29 WHERE golden_point_s__scorer = "adam reynolds"')


Success!
Success Answer: SELECT score FROM table_name_29 WHERE golden_point_s__scorer = "adam reynolds"

 15%|█▍        | 147/1000 [06:21<38:59,  2.74s/it]

Question: What is Set 4, when Set 1 is 19-25, and when Set 2 is 23-25?

Real Answer: SELECT set_4 FROM table_name_33 WHERE set_1 = "19-25" AND set_2 = "23-25"
Generated Answer: SELECT set_4 FROM table_name_33 WHERE set_1 = "19-25" AND set_2 = "23-25"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT set_4 FROM table_name_33 WHERE set_1 = "19-25" AND set_2 = "23-25"')


Success!
Success Answer: SELECT set_4 FROM table_name_33 WHERE set_1 = "19-25" AND set_2 = "23-25"

 15%|█▍        | 148/1000 [06:23<38:52,  2.74s/it]

Question: Name the MAZADA for El Samurai of mazada (16:22)

Real Answer: SELECT mazada FROM table_name_67 WHERE el_samurai = "mazada (16:22)"
Generated Answer: SELECT mazada FROM table_name_67 WHERE el_samurai = "mazada (16:22)"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT mazada FROM table_name_67 WHERE el_samurai = "mazada (16:22)"')


Success!
Success Answer: SELECT mazada FROM table_name_67 WHERE el_samurai = "mazada (16:22)"

 15%|█▍        | 149/1000 [06:26<37:36,  2.65s/it]

Question: Margot Kidder had what director?

Real Answer: SELECT director FROM table_11642945_1 WHERE celebrity = "Margot Kidder"
Generated Answer: SELECT director FROM table_11642945_1 WHERE celebrity = "Margot Kidder"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT director FROM table_11642945_1 WHERE celebrity = "Margot Kidder"')


Success!
Success Answer: SELECT director FROM table_11642945_1 WHERE celebrity = "Margot Kidder"

 15%|█▌        | 150/1000 [06:27<33:52,  2.39s/it]

Question: Who is the opponent of player phil graham?

Real Answer: SELECT opponent FROM table_name_72 WHERE player = "phil graham"
Generated Answer: SELECT opponent FROM table_name_72 WHERE player = "phil graham"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT opponent FROM table_name_72 WHERE player = "phil graham"')


Success!
Success Answer: SELECT opponent FROM table_name_72 WHERE player = "phil graham"

 15%|█▌        | 151/1000 [06:30<33:26,  2.36s/it]

Question: What is the time/retired associated with a grid of 5 and under 73 laps?

Real Answer: SELECT time_retired FROM table_name_46 WHERE laps < 73 AND grid = 5
Generated Answer: SELECT time_retired FROM table_name_46 WHERE laps < 73 AND grid = 5


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT time_retired FROM table_name_46 WHERE laps < 73 AND grid = 5')


Success!
Success Answer: SELECT time_retired FROM table_name_46 WHERE laps < 73 AND grid = 5

 15%|█▌        | 152/1000 [06:33<36:27,  2.58s/it]

Question: Which location is in 71 St. Joseph county with South Bend Washington school?

Real Answer: SELECT location FROM table_name_97 WHERE county = "71 st. joseph" AND school = "south bend washington"
Generated Answer: SELECT location FROM table_name_97 WHERE county = "71 st. joseph" AND school = "south bend washington"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT location FROM table_name_97 WHERE county = "71 st. joseph" AND school = "south bend washington"')


Success!
Success Answer: SELECT location FROM table_name_97 WHERE county = "71 st. joseph" AND school = "south bend washington"

 15%|█▌        | 153/1000 [06:35<33:07,  2.35s/it]

Question: What is the fewest ties the team had with fewer than 7 games?

Real Answer: SELECT MIN(drawn) FROM table_name_25 WHERE games < 7
Generated Answer: SELECT MIN(drawn) FROM table_name_25 WHERE games < 7


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MIN(drawn) FROM table_name_25 WHERE games < 7')


Success!
Success Answer: SELECT MIN(drawn) FROM table_name_25 WHERE games < 7

 15%|█▌        | 154/1000 [06:38<37:50,  2.68s/it]

Question: Name the most district wide for 1639 other programs

Real Answer: SELECT MAX(district_wide) FROM table_2367847_2 WHERE other_programs_ & _adjustments = 1639
Generated Answer: SELECT MAX(district_wide) FROM table_2367847_2 WHERE other_programs_ & _adjustments = 1639


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT MAX(district_wide) FROM table_2367847_2 WHERE other_programs_ & _adjustments = 1639')


Success!
Success Answer: SELECT MAX(district_wide) FROM table_2367847_2 WHERE other_programs_ & _adjustments = 1639

 16%|█▌        | 155/1000 [06:40<34:16,  2.43s/it]

Question: What Opponent played on the Date May 21?

Real Answer: SELECT opponent FROM table_name_55 WHERE date = "may 21"
Generated Answer: SELECT opponent FROM table_name_55 WHERE date = "may 21"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT opponent FROM table_name_55 WHERE date = "may 21"')


Success!
Success Answer: SELECT opponent FROM table_name_55 WHERE date = "may 21"

 16%|█▌        | 156/1000 [06:43<35:35,  2.53s/it]

Question: What is Oriol Servia's average Grid on races with more than 43 laps?

Real Answer: SELECT AVG(grid) FROM table_name_10 WHERE laps > 43 AND driver = "oriol servia"
Generated Answer: SELECT AVG(grid) FROM table_name_10 WHERE laps > 43 AND driver = "orientol servia"


Similarity Score: 0.9593868
Feedback: ('approve', 'SELECT AVG(grid) FROM table_name_10 WHERE laps > 43 AND driver = "orientol servia"')


Real Answer: SELECT AVG(grid) FROM table_name_10 WHERE laps > 43 AND driver = "oriol servia"
Failed Answer: SELECT AVG(grid) FROM table_name_10 WHERE laps > 43 AND driver = "orientol servia"

 16%|█▌        | 157/1000 [06:47<42:11,  3.00s/it]

Question: what's the pts with poles being smaller than 1.0 and motorcycle being aprilia and class being 250cc

Real Answer: SELECT pts FROM table_14139408_1 WHERE poles < 1.0 AND motorcycle = "Aprilia" AND class = "250cc"
Generated Answer: SELECT COUNT(pts) FROM table_14139408_1 WHERE poles < 1.0 AND motorcycle = "Aprilia" AND class = "250cc"


Similarity Score: 0.81847465
Feedback: ('approve', 'SELECT COUNT(pts) FROM table_14139408_1 WHERE poles < 1.0 AND motorcycle = "Aprilia" AND class = "250cc"')


Real Answer: SELECT pts FROM table_14139408_1 WHERE poles < 1.0 AND motorcycle = "Aprilia" AND class = "250cc"
Failed Answer: SELECT COUNT(pts) FROM table_14139408_1 WHERE poles < 1.0 AND motorcycle = "Aprilia" AND class = "250cc"

 16%|█▌        | 158/1000 [06:49<39:08,  2.79s/it]

Question: Which color is the background of the mandatory instructions?

Real Answer: SELECT background_colour FROM table_name_43 WHERE type_of_sign = "mandatory instructions"
Generated Answer: SELECT background_colour FROM table_name_43 WHERE type_of_sign = "mandatory instructions"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT background_colour FROM table_name_43 WHERE type_of_sign = "mandatory instructions"')


Success!
Success Answer: SELECT background_colour FROM table_name_43 WHERE type_of_sign = "mandatory instructions"

 16%|█▌        | 159/1000 [06:52<38:28,  2.75s/it]

Question: What is the deficit (-surplus) of France?

Real Answer: SELECT deficit___surplus_ FROM table_15624586_2 WHERE country = "France"
Generated Answer: SELECT deficit___surplus_ FROM table_15624586_2 WHERE country = "France"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT deficit___surplus_ FROM table_15624586_2 WHERE country = "France"')


Success!
Success Answer: SELECT deficit___surplus_ FROM table_15624586_2 WHERE country = "France"

 16%|█▌        | 160/1000 [06:54<34:27,  2.46s/it]

Question: What is the Project Name with a Country that is opec?

Real Answer: SELECT project_name FROM table_name_36 WHERE country = "opec"
Generated Answer: SELECT project_name FROM table_name_36 WHERE country = "openc"


Similarity Score: 0.70746964
Feedback: ('correct', 'SELECT project_name FROM table_name_36 WHERE country = "opec"')


Real Answer: SELECT project_name FROM table_name_36 WHERE country = "opec"
Failed Answer: SELECT project_name FROM table_name_36 WHERE country = "openc"

 16%|█▌        | 161/1000 [06:55<31:58,  2.29s/it]

Question: Which Drawn has Games smaller than 7?

Real Answer: SELECT SUM(drawn) FROM table_name_41 WHERE games < 7
Generated Answer: SELECT SUM(drawn) FROM table_name_41 WHERE games < 7


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT SUM(drawn) FROM table_name_41 WHERE games < 7')


Success!
Success Answer: SELECT SUM(drawn) FROM table_name_41 WHERE games < 7

 16%|█▌        | 162/1000 [06:59<35:10,  2.52s/it]

Question: What are the original air date(s) for episodes with 8.63 million viewers?

Real Answer: SELECT original_airdate FROM table_2501754_2 WHERE viewing_figures_millions = "8.63"
Generated Answer: SELECT original_airdate FROM table_2501754_2 WHERE viewing_figures_millions = "8.63"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT original_airdate FROM table_2501754_2 WHERE viewing_figures_millions = "8.63"')


Success!
Success Answer: SELECT original_airdate FROM table_2501754_2 WHERE viewing_figures_millions = "8.63"

 16%|█▋        | 163/1000 [07:02<39:18,  2.82s/it]

Question: Which school, club team, or country played for the rockets in the years 2000-01?

Real Answer: SELECT school_club_team_country FROM table_11734041_3 WHERE years_for_rockets = "2000-01"
Generated Answer: SELECT school_club_team_country FROM table_11734041_3 WHERE years_for_rockets = "2000-01"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT school_club_team_country FROM table_11734041_3 WHERE years_for_rockets = "2000-01"')


Success!
Success Answer: SELECT school_club_team_country FROM table_11734041_3 WHERE years_for_rockets = "2000-01"

 16%|█▋        | 164/1000 [07:05<38:17,  2.75s/it]

Question: When was the Hopperstad Stavkyrkje built?

Real Answer: SELECT year_built FROM table_name_83 WHERE church_name = "hopperstad stavkyrkje"
Generated Answer: SELECT year_built FROM table_name_83 WHERE church_name = "hopperstad stavkyrkje"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT year_built FROM table_name_83 WHERE church_name = "hopperstad stavkyrkje"')


Success!
Success Answer: SELECT year_built FROM table_name_83 WHERE church_name = "hopperstad stavkyrkje"

 16%|█▋        | 165/1000 [07:08<38:45,  2.79s/it]

Question: Who was the winner of the XII Spring Trophy race with BRM as the constructor?

Real Answer: SELECT winning_driver FROM table_name_22 WHERE constructor = "brm" AND race_name = "xii spring trophy"
Generated Answer: SELECT winning_driver FROM table_name_22 WHERE constructor = "brm" AND race_name = "xii spring trophy"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT winning_driver FROM table_name_22 WHERE constructor = "brm" AND race_name = "xii spring trophy"')


Success!
Success Answer: SELECT winning_driver FROM table_name_22 WHERE constructor = "brm" AND race_name = "xii spring trophy"

 17%|█▋        | 166/1000 [07:09<34:46,  2.50s/it]

Question: what is the maximum number of points?

Real Answer: SELECT MAX(points) FROM table_14342367_5
Generated Answer: SELECT MAX(points) FROM table_14342367_5


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(points) FROM table_14342367_5')


Success!
Success Answer: SELECT MAX(points) FROM table_14342367_5

 17%|█▋        | 167/1000 [07:12<36:12,  2.61s/it]

Question: Which Source has a Remainder of 15%, and a Topinka of 26%?

Real Answer: SELECT source FROM table_name_78 WHERE remainder = "15%" AND topinka__r_ = "26%"
Generated Answer: SELECT source FROM table_name_78 WHERE remainder = "15%" AND topinka__r_ = "26%"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT source FROM table_name_78 WHERE remainder = "15%" AND topinka__r_ = "26%"')


Success!
Success Answer: SELECT source FROM table_name_78 WHERE remainder = "15%" AND topinka__r_ = "26%"

 17%|█▋        | 168/1000 [07:16<41:24,  2.99s/it]

Question:  how many height m ( ft ) with notes being via wccv; formerly w236aj

Real Answer: SELECT COUNT(height_m___ft__) FROM table_13998897_1 WHERE notes = "via WCCV; formerly W236AJ"
Generated Answer: SELECT COUNT(height_m___ft__) FROM table_13998897_1 WHERE notes = "Via WCCV; formerly W236AJ"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT COUNT(height_m___ft__) FROM table_13998897_1 WHERE notes = "Via WCCV; formerly W236AJ"')


Real Answer: SELECT COUNT(height_m___ft__) FROM table_13998897_1 WHERE notes = "via WCCV; formerly W236AJ"
Failed Answer: SELECT COUNT(height_m___ft__) FROM table_13998897_1 WHERE notes = "Via WCCV; formerly W236AJ"

 17%|█▋        | 169/1000 [07:18<38:11,  2.76s/it]

Question: What is the envelopment for the rhabdoviridae family?

Real Answer: SELECT envelopment FROM table_name_83 WHERE family = "rhabdoviridae"
Generated Answer: SELECT envvelopment FROM table_name_83 WHERE family = "rhabdoviridae"


Similarity Score: 0.9743546
Feedback: ('approve', 'SELECT envvelopment FROM table_name_83 WHERE family = "rhabdoviridae"')


Real Answer: SELECT envelopment FROM table_name_83 WHERE family = "rhabdoviridae"
Failed Answer: SELECT envvelopment FROM table_name_83 WHERE family = "rhabdoviridae"

 17%|█▋        | 170/1000 [07:21<38:11,  2.76s/it]

Question: What position for doug gibson with 2 wins?

Real Answer: SELECT position FROM table_name_32 WHERE win__number = 2 AND winner = "doug gibson"
Generated Answer: SELECT position FROM table_name_32 WHERE win__number = 2 AND winner = "doug gibson"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT position FROM table_name_32 WHERE win__number = 2 AND winner = "doug gibson"')


Success!
Success Answer: SELECT position FROM table_name_32 WHERE win__number = 2 AND winner = "doug gibson"

 17%|█▋        | 171/1000 [07:28<55:36,  4.02s/it]

Question: What is the mpg-UK urban (cold) for a fuel type of diesel, extraurban MPG in the UK over 68.9, engine capacity of 1422, and L/100km urban (cold) over 5.1?

Real Answer: SELECT mpg_uk_urban__cold_ FROM table_name_8 WHERE fuel_type = "diesel" AND mpg_uk_extra_urban > 68.9 AND engine_capacity = 1422 AND l_100km_urban__cold_ > 5.1
Generated Answer: SELECT mpg_uk_urban__cold_ FROM table_name_8 WHERE fuel_type = "diesel" AND mpg_uk_extra_urban > 68.9 AND engine_capacity = 1422 AND l_100km_urban__cold_ > 5.1


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT mpg_uk_urban__cold_ FROM table_name_8 WHERE fuel_type = "diesel" AND mpg_uk_extra_urban > 68.9 AND engine_capacity = 1422 AND l_100km_urban__cold_ > 5.1')


Success!
Success Answer: SELECT mpg_uk_urban__cold_ FROM table_name_8 WHERE fuel_type = "diesel" AND mpg_uk_extra_urban > 68.9 AND engine_capacity = 1422 AND l_100km_urban__cold_ > 5.1

 17%|█▋        | 172/1000 [07:33<57:48,  4.19s/it]

Question: What is Score, when Outcome is "winner", when Partnering is "Nicole Sewell", and when Opponent in Final is "Victoria Davies / Kate Warne-Holland"?

Real Answer: SELECT score FROM table_name_50 WHERE outcome = "winner" AND partnering = "nicole sewell" AND opponent_in_final = "victoria davies / kate warne-holland"
Generated Answer: SELECT score FROM table_name_50 WHERE outcome = "winner" AND partnering = "nicole sewell" AND opponent_in_final = "victoria davies / kate warne-holland"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT score FROM table_name_50 WHERE outcome = "winner" AND partnering = "nicole sewell" AND opponent_in_final = "victoria davies / kate warne-holland"')


Success!
Success Answer: SELECT score FROM table_name_50 WHERE outcome = "winner" AND partnering = "nicole sewell" AND opponent_in_final = "victoria davies / kate warne-holland"

 17%|█▋        | 173/1000 [07:36<52:59,  3.84s/it]

Question: What was the result of the film made before 2005, winner of the robert award, in the category of best actress?

Real Answer: SELECT result FROM table_name_89 WHERE category = "best actress" AND year < 2005 AND award = "robert award"
Generated Answer: SELECT result FROM table_name_89 WHERE category = "best actress" AND year < 2005 AND award = "robert award"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT result FROM table_name_89 WHERE category = "best actress" AND year < 2005 AND award = "robert award"')


Success!
Success Answer: SELECT result FROM table_name_89 WHERE category = "best actress" AND year < 2005 AND award = "robert award"

 17%|█▋        | 174/1000 [07:40<53:05,  3.86s/it]

Question: What is the date of the match with a result of ud 12/12 between Pernell Whitaker and James Mcgirt?

Real Answer: SELECT date FROM table_name_87 WHERE result = "ud 12/12" AND name = "pernell whitaker" AND opponent = "james mcgirt"
Generated Answer: SELECT date FROM table_name_87 WHERE result = "ud 12/12" AND name = "pernell whitaker" AND opponent = "james mcgirt"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_87 WHERE result = "ud 12/12" AND name = "pernell whitaker" AND opponent = "james mcgirt"')


Success!
Success Answer: SELECT date FROM table_name_87 WHERE result = "ud 12/12" AND name = "pernell whitaker" AND opponent = "james mcgirt"

 18%|█▊        | 175/1000 [07:41<44:00,  3.20s/it]

Question: Find number of products which Sony does not make.

Real Answer: SELECT COUNT(DISTINCT name) FROM products WHERE NOT name IN (SELECT T1.name FROM products AS T1 JOIN manufacturers AS T2 ON T1.Manufacturer = T2.code WHERE T2.name = 'Sony')
Generated Answer: SELECT COUNT(*) FROM products WHERE NOT Manufacturer = 'Sony'


Similarity Score: 0.8465711
Feedback: ('approve', "SELECT COUNT(*) FROM products WHERE NOT Manufacturer = 'Sony'")


Real Answer: SELECT COUNT(DISTINCT name) FROM products WHERE NOT name IN (SELECT T1.name FROM products AS T1 JOIN manufacturers AS T2 ON T1.Manufacturer = T2.code WHERE T2.name = 'Sony')
Failed Answer: SELECT COUNT(*) FROM products WHERE NOT Manufacturer = 'Sony'

 18%|█▊        | 176/1000 [07:43<37:23,  2.72s/it]

Question: Show the names of editors of age either 24 or 25.

Real Answer: SELECT Name FROM editor WHERE Age = 24 OR Age = 25
Generated Answer: SELECT Name FROM editor WHERE Age = 24 OR Age = 25


Similarity Score: 1.0
Feedback: ('approve', 'SELECT Name FROM editor WHERE Age = 24 OR Age = 25')


Success!
Success Answer: SELECT Name FROM editor WHERE Age = 24 OR Age = 25

 18%|█▊        | 177/1000 [07:46<37:27,  2.73s/it]

Question: What grid has an average time of +22.505 and laps larger than 23?

Real Answer: SELECT AVG(grid) FROM table_name_7 WHERE time = "+22.505" AND laps > 23
Generated Answer: SELECT MAX(grid) FROM table_name_7 WHERE time = "+22.505" AND laps > 23


Similarity Score: 0.7039648
Feedback: ('correct', 'SELECT AVG(grid) FROM table_name_7 WHERE time = "+22.505" AND laps > 23')


Real Answer: SELECT AVG(grid) FROM table_name_7 WHERE time = "+22.505" AND laps > 23
Failed Answer: SELECT MAX(grid) FROM table_name_7 WHERE time = "+22.505" AND laps > 23

 18%|█▊        | 178/1000 [07:48<37:09,  2.71s/it]

Question: Who wrote the episode with production code 57376?

Real Answer: SELECT written_by FROM table_29583441_1 WHERE production_code = 57376
Generated Answer: SELECT written_by FROM table_29583441_1 WHERE production_code = 57376


Similarity Score: 1.0
Feedback: ('approve', 'SELECT written_by FROM table_29583441_1 WHERE production_code = 57376')


Success!
Success Answer: SELECT written_by FROM table_29583441_1 WHERE production_code = 57376

 18%|█▊        | 179/1000 [07:52<40:08,  2.93s/it]

Question: What is overall rank when viewers are at 6.59 million?

Real Answer: SELECT rank__overall_ FROM table_20522228_2 WHERE viewers__millions_ = "6.59"
Generated Answer: SELECT COUNT(rank__overall_) FROM table_20522228_2 WHERE viewers__millions_ = "6.59"


Similarity Score: 0.9103941
Feedback: ('approve', 'SELECT COUNT(rank__overall_) FROM table_20522228_2 WHERE viewers__millions_ = "6.59"')


Real Answer: SELECT rank__overall_ FROM table_20522228_2 WHERE viewers__millions_ = "6.59"
Failed Answer: SELECT COUNT(rank__overall_) FROM table_20522228_2 WHERE viewers__millions_ = "6.59"

 18%|█▊        | 180/1000 [07:54<38:49,  2.84s/it]

Question: When cary middlecoff is the winner how many pars are there?

Real Answer: SELECT COUNT(par) FROM table_2417741_1 WHERE winner = "Cary Middlecoff"
Generated Answer: SELECT COUNT(par) FROM table_2417741_1 WHERE winner = "Cary Middlecoff"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(par) FROM table_2417741_1 WHERE winner = "Cary Middlecoff"')


Success!
Success Answer: SELECT COUNT(par) FROM table_2417741_1 WHERE winner = "Cary Middlecoff"

 18%|█▊        | 181/1000 [07:56<34:19,  2.51s/it]

Question: When was the away team burnley?

Real Answer: SELECT date FROM table_name_31 WHERE away_team = "burnley"
Generated Answer: SELECT date FROM table_name_31 WHERE away_team = "burnley"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date FROM table_name_31 WHERE away_team = "burnley"')


Success!
Success Answer: SELECT date FROM table_name_31 WHERE away_team = "burnley"

 18%|█▊        | 182/1000 [07:59<37:09,  2.73s/it]

Question: What is the country name with a numeric code less than 580 and a dk Latin 2-letter code?

Real Answer: SELECT country_name FROM table_name_4 WHERE numeric_code < 580 AND latin_2_letter_code = "dk"
Generated Answer: SELECT country_name FROM table_name_4 WHERE numeric_code < 580 AND latin_2_letter_code = "dk"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT country_name FROM table_name_4 WHERE numeric_code < 580 AND latin_2_letter_code = "dk"')


Success!
Success Answer: SELECT country_name FROM table_name_4 WHERE numeric_code < 580 AND latin_2_letter_code = "dk"

 18%|█▊        | 183/1000 [08:01<34:25,  2.53s/it]

Question: What date had a record of 15-14-4?

Real Answer: SELECT date FROM table_name_79 WHERE record = "15-14-4"
Generated Answer: SELECT date FROM table_name_79 WHERE record = "15-14-4"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_79 WHERE record = "15-14-4"')


Success!
Success Answer: SELECT date FROM table_name_79 WHERE record = "15-14-4"

 18%|█▊        | 184/1000 [08:04<32:54,  2.42s/it]

Question: What is the name of the player from Spain with a rank lower than 3?

Real Answer: SELECT name FROM table_name_62 WHERE nationality = "spain" AND ranking > 3
Generated Answer: SELECT name FROM table_name_62 WHERE nationality = "spain" AND ranking < 3


Similarity Score: 0.9948494
Feedback: ('approve', 'SELECT name FROM table_name_62 WHERE nationality = "spain" AND ranking < 3')


Real Answer: SELECT name FROM table_name_62 WHERE nationality = "spain" AND ranking > 3
Failed Answer: SELECT name FROM table_name_62 WHERE nationality = "spain" AND ranking < 3

 18%|█▊        | 185/1000 [08:07<37:03,  2.73s/it]

Question: Which Year(s) won has a Total larger than 148, and a To par smaller than 17, and a Country of new zealand?

Real Answer: SELECT year_s__won FROM table_name_61 WHERE total > 148 AND to_par < 17 AND country = "new zealand"
Generated Answer: SELECT year_s__won FROM table_name_61 WHERE total > 148 AND to_par < 17 AND country = "new zealand"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT year_s__won FROM table_name_61 WHERE total > 148 AND to_par < 17 AND country = "new zealand"')


Success!
Success Answer: SELECT year_s__won FROM table_name_61 WHERE total > 148 AND to_par < 17 AND country = "new zealand"

 19%|█▊        | 186/1000 [08:09<35:51,  2.64s/it]

Question: Which player is on the BC Lions?

Real Answer: SELECT player FROM table_20170644_3 WHERE cfl_team = "BC Lions"
Generated Answer: SELECT player FROM table_20170644_3 WHERE cfl_team = "BC Lions"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT player FROM table_20170644_3 WHERE cfl_team = "BC Lions"')


Success!
Success Answer: SELECT player FROM table_20170644_3 WHERE cfl_team = "BC Lions"

 19%|█▊        | 187/1000 [08:11<32:23,  2.39s/it]

Question: Which away team had a venue of mcg?

Real Answer: SELECT away_team FROM table_name_90 WHERE venue = "mcg"
Generated Answer: SELECT away_team FROM table_name_90 WHERE venue = "mcg"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT away_team FROM table_name_90 WHERE venue = "mcg"')


Success!
Success Answer: SELECT away_team FROM table_name_90 WHERE venue = "mcg"

 19%|█▉        | 188/1000 [08:13<30:25,  2.25s/it]

Question: What is the title of the film with a production number of 1023?

Real Answer: SELECT title FROM table_name_48 WHERE production_number = "1023"
Generated Answer: SELECT title FROM table_name_48 WHERE production_number = 1023


Similarity Score: 0.98594224
Feedback: ('approve', 'SELECT title FROM table_name_48 WHERE production_number = 1023')


Real Answer: SELECT title FROM table_name_48 WHERE production_number = "1023"
Failed Answer: SELECT title FROM table_name_48 WHERE production_number = 1023

 19%|█▉        | 189/1000 [08:16<32:20,  2.39s/it]

Question: What is the smallest number of extra points for a left halfback?

Real Answer: SELECT MIN(extra_points) FROM table_25517718_3 WHERE position = "Left halfback"
Generated Answer: SELECT MIN(extra_points) FROM table_25517718_3 WHERE position = "Left halfback"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(extra_points) FROM table_25517718_3 WHERE position = "Left halfback"')


Success!
Success Answer: SELECT MIN(extra_points) FROM table_25517718_3 WHERE position = "Left halfback"

 19%|█▉        | 190/1000 [08:19<34:18,  2.54s/it]

Question: What is Partner, when Surface is Hard, and when Score is 6–3, 7–6(0)?

Real Answer: SELECT partner FROM table_name_94 WHERE surface = "hard" AND score = "6–3, 7–6(0)"
Generated Answer: SELECT partner FROM table_name_94 WHERE surface = "hard" AND score = "6–3, 7–6(0)"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT partner FROM table_name_94 WHERE surface = "hard" AND score = "6–3, 7–6(0)"')


Success!
Success Answer: SELECT partner FROM table_name_94 WHERE surface = "hard" AND score = "6–3, 7–6(0)"

 19%|█▉        | 191/1000 [08:21<33:46,  2.50s/it]

Question: what is 2010 when 2006 is 3r?

Real Answer: SELECT 2010 FROM table_name_24 WHERE 2006 = "3r"
Generated Answer: SELECT 2010 FROM table_name_24 WHERE 2006 = "3r"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT 2010 FROM table_name_24 WHERE 2006 = "3r"')


Success!
Success Answer: SELECT 2010 FROM table_name_24 WHERE 2006 = "3r"

 19%|█▉        | 192/1000 [08:23<30:04,  2.23s/it]

Question: When was Montreal a visitor?

Real Answer: SELECT date FROM table_name_34 WHERE visitor = "montreal"
Generated Answer: SELECT date FROM table_name_34 WHERE visitor = "montreal"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT date FROM table_name_34 WHERE visitor = "montreal"')


Success!
Success Answer: SELECT date FROM table_name_34 WHERE visitor = "montreal"

 19%|█▉        | 193/1000 [08:25<28:29,  2.12s/it]

Question: How many totals had more than 4 bronze?

Real Answer: SELECT SUM(total) FROM table_name_93 WHERE bronze > 4
Generated Answer: SELECT SUM(total) FROM table_name_93 WHERE bronze > 4


Similarity Score: 1.0
Feedback: ('approve', 'SELECT SUM(total) FROM table_name_93 WHERE bronze > 4')


Success!
Success Answer: SELECT SUM(total) FROM table_name_93 WHERE bronze > 4

 19%|█▉        | 194/1000 [08:28<31:46,  2.36s/it]

Question: What is the no party preference when republican is 45.3%?

Real Answer: SELECT no_party_preference FROM table_27003186_3 WHERE republican = "45.3%"
Generated Answer: SELECT no_party_preference FROM table_27003186_3 WHERE republican = "45.3%"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT no_party_preference FROM table_27003186_3 WHERE republican = "45.3%"')


Success!
Success Answer: SELECT no_party_preference FROM table_27003186_3 WHERE republican = "45.3%"

 20%|█▉        | 195/1000 [08:31<35:16,  2.63s/it]

Question: Name the total number of hdtv for eurotic tv

Real Answer: SELECT COUNT(hdtv) FROM table_15887683_17 WHERE television_service = "Eurotic TV"
Generated Answer: SELECT COUNT(hdtv) FROM table_15887683_17 WHERE television_service = "Eurotic TV"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(hdtv) FROM table_15887683_17 WHERE television_service = "Eurotic TV"')


Success!
Success Answer: SELECT COUNT(hdtv) FROM table_15887683_17 WHERE television_service = "Eurotic TV"

 20%|█▉        | 196/1000 [08:33<31:43,  2.37s/it]

Question: What score has 2000 as the year?

Real Answer: SELECT score FROM table_name_80 WHERE year = 2000
Generated Answer: SELECT score FROM table_name_80 WHERE year = "2000"


Similarity Score: 0.9911585
Feedback: ('approve', 'SELECT score FROM table_name_80 WHERE year = "2000"')


Real Answer: SELECT score FROM table_name_80 WHERE year = 2000
Failed Answer: SELECT score FROM table_name_80 WHERE year = "2000"

 20%|█▉        | 197/1000 [08:35<32:08,  2.40s/it]

Question: What largest episode number's Netflix is S05E23?

Real Answer: SELECT MAX(episode) FROM table_name_23 WHERE netflix = "s05e23"
Generated Answer: SELECT MAX(episode) FROM table_name_23 WHERE netflix = "s05e23"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MAX(episode) FROM table_name_23 WHERE netflix = "s05e23"')


Success!
Success Answer: SELECT MAX(episode) FROM table_name_23 WHERE netflix = "s05e23"

 20%|█▉        | 198/1000 [08:38<32:47,  2.45s/it]

Question: How many touchdowns did the player took which gained 25 points?

Real Answer: SELECT touchdowns FROM table_25711913_2 WHERE points = 25
Generated Answer: SELECT COUNT(touchdowns) FROM table_25711913_2 WHERE points = 25


Similarity Score: 0.8582946
Feedback: ('approve', 'SELECT COUNT(touchdowns) FROM table_25711913_2 WHERE points = 25')


Real Answer: SELECT touchdowns FROM table_25711913_2 WHERE points = 25
Failed Answer: SELECT COUNT(touchdowns) FROM table_25711913_2 WHERE points = 25

 20%|█▉        | 199/1000 [08:42<41:56,  3.14s/it]

Question: What was the GDP for 2002-2005 for the construction center?

Real Answer: SELECT 2002 AS _2005 FROM table_25282151_1 WHERE supply_sector___percentage_of_gdp_in_current_prices_ = "Construction"
Generated Answer: SELECT 2002 AS _2005 FROM table_25282151_1 WHERE supply_sector___percentage_of_gdp_in_current_prices_ = "Construction"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT 2002 AS _2005 FROM table_25282151_1 WHERE supply_sector___percentage_of_gdp_in_current_prices_ = "Construction"')


Success!
Success Answer: SELECT 2002 AS _2005 FROM table_25282151_1 WHERE supply_sector___percentage_of_gdp_in_current_prices_ = "Construction"

 20%|██        | 200/1000 [08:45<38:01,  2.85s/it]

Question: What is Headquarter, when Type is Independent Online News Portal?

Real Answer: SELECT headquarter FROM table_name_49 WHERE type = "independent online news portal"
Generated Answer: SELECT headquarter FROM table_name_49 WHERE type = "independent online news portal"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT headquarter FROM table_name_49 WHERE type = "independent online news portal"')


Success!
Success Answer: SELECT headquarter FROM table_name_49 WHERE type = "independent online news portal"

 20%|██        | 201/1000 [08:47<38:18,  2.88s/it]

Question: Which Against has Losses larger than 2, and Wins of 8, and Byes smaller than 0?

Real Answer: SELECT SUM(against) FROM table_name_65 WHERE losses > 2 AND wins = 8 AND byes < 0
Generated Answer: SELECT SUM(against) FROM table_name_65 WHERE losses > 2 AND wins = 8 AND byes < 0


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT SUM(against) FROM table_name_65 WHERE losses > 2 AND wins = 8 AND byes < 0')


Success!
Success Answer: SELECT SUM(against) FROM table_name_65 WHERE losses > 2 AND wins = 8 AND byes < 0

 20%|██        | 202/1000 [08:51<38:54,  2.93s/it]

Question: Which date's week was more than 4 with the venue being City Stadium and where the attendance was more than 14,297?

Real Answer: SELECT date FROM table_name_1 WHERE week > 4 AND venue = "city stadium" AND attendance > 14 OFFSET 297
Generated Answer: SELECT date FROM table_name_1 WHERE week > 4 AND venue = "city stadium" AND attendance > 14 OFFSET 297


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT date FROM table_name_1 WHERE week > 4 AND venue = "city stadium" AND attendance > 14 OFFSET 297')


Success!
Success Answer: SELECT date FROM table_name_1 WHERE week > 4 AND venue = "city stadium" AND attendance > 14 OFFSET 297

 20%|██        | 203/1000 [08:53<38:57,  2.93s/it]

Question: WHAT IS THE START THAT HAS A FINISH BIGGER THAN 3, FROM FORD, AFTER 1969?

Real Answer: SELECT MAX(start) FROM table_name_83 WHERE finish > 3 AND manufacturer = "ford" AND year > 1969
Generated Answer: SELECT MIN(start) FROM table_name_83 WHERE finish > 3 AND manufacturer = "ford" AND year > 1969


Similarity Score: 0.78064454
Feedback: ('correct', 'SELECT MAX(start) FROM table_name_83 WHERE finish > 3 AND manufacturer = "ford" AND year > 1969')


Real Answer: SELECT MAX(start) FROM table_name_83 WHERE finish > 3 AND manufacturer = "ford" AND year > 1969
Failed Answer: SELECT MIN(start) FROM table_name_83 WHERE finish > 3 AND manufacturer = "ford" AND year > 1969

 20%|██        | 204/1000 [08:56<38:25,  2.90s/it]

Question: What's the time for a round of n/a when the opponent is mikhail ilyukhin?

Real Answer: SELECT time FROM table_name_75 WHERE round = "n/a" AND opponent = "mikhail ilyukhin"
Generated Answer: SELECT time FROM table_name_75 WHERE round = "n/a" AND opponent = "mikhail ilyukhin"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT time FROM table_name_75 WHERE round = "n/a" AND opponent = "mikhail ilyukhin"')


Success!
Success Answer: SELECT time FROM table_name_75 WHERE round = "n/a" AND opponent = "mikhail ilyukhin"

 20%|██        | 205/1000 [08:59<39:27,  2.98s/it]

Question: What Episode on TV Asahi Station has Rating of 12.0%?

Real Answer: SELECT episodes FROM table_name_17 WHERE average_ratings = "12.0%" AND tv_station = "tv asahi"
Generated Answer: SELECT episodes FROM table_name_17 WHERE average_ratings = "12.0%" AND tv_station = "tv asahi station"


Similarity Score: 0.9986668
Feedback: ('approve', 'SELECT episodes FROM table_name_17 WHERE average_ratings = "12.0%" AND tv_station = "tv asahi station"')


Real Answer: SELECT episodes FROM table_name_17 WHERE average_ratings = "12.0%" AND tv_station = "tv asahi"
Failed Answer: SELECT episodes FROM table_name_17 WHERE average_ratings = "12.0%" AND tv_station = "tv asahi station"

 21%|██        | 206/1000 [09:01<35:11,  2.66s/it]

Question: What is the date of the game where Essendon is the away team?

Real Answer: SELECT date FROM table_name_36 WHERE away_team = "essendon"
Generated Answer: SELECT date FROM table_name_36 WHERE away_team = "essendon"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_36 WHERE away_team = "essendon"')


Success!
Success Answer: SELECT date FROM table_name_36 WHERE away_team = "essendon"

 21%|██        | 207/1000 [09:04<34:22,  2.60s/it]

Question: Which Date has a Type of 4-6-0, and a Number larger than 11?

Real Answer: SELECT date FROM table_name_22 WHERE type = "4-6-0" AND number > 11
Generated Answer: SELECT date FROM table_name_22 WHERE type = "4-6-0" AND number > 11


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_22 WHERE type = "4-6-0" AND number > 11')


Success!
Success Answer: SELECT date FROM table_name_22 WHERE type = "4-6-0" AND number > 11

 21%|██        | 208/1000 [09:06<32:28,  2.46s/it]

Question: Which Chart peak has a Time of 3:11?

Real Answer: SELECT chart_peak FROM table_name_30 WHERE time = "3:11"
Generated Answer: SELECT chart_peak FROM table_name_30 WHERE time = "3:11"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT chart_peak FROM table_name_30 WHERE time = "3:11"')


Success!
Success Answer: SELECT chart_peak FROM table_name_30 WHERE time = "3:11"

 21%|██        | 209/1000 [09:10<37:37,  2.85s/it]

Question: What is the sum for the pick of the year 2009, and a round smaller than 2 and an NBA Club Denver Nuggets?

Real Answer: SELECT SUM(pick) FROM table_name_95 WHERE year = 2009 AND round < 2 AND nba_club = "denver nuggets"
Generated Answer: SELECT SUM(pick) FROM table_name_95 WHERE year = 2009 AND round < 2 AND nba_club = 'denver nuggets'


Similarity Score: 0.99946344
Feedback: ('approve', "SELECT SUM(pick) FROM table_name_95 WHERE year = 2009 AND round < 2 AND nba_club = 'denver nuggets'")


Real Answer: SELECT SUM(pick) FROM table_name_95 WHERE year = 2009 AND round < 2 AND nba_club = "denver nuggets"
Failed Answer: SELECT SUM(pick) FROM table_name_95 WHERE year = 2009 AND round < 2 AND nba_club = 'denver nuggets'

 21%|██        | 210/1000 [09:14<44:31,  3.38s/it]

Question: Find the dates of orders which belong to the customer named "Jeramie".

Real Answer: SELECT T2.date_order_placed FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_name = "Jeramie"
Generated Answer: SELECT T1.date_order_placed FROM orders AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T2.customer_name = "Jeramie"


Similarity Score: 0.9913647
Feedback: ('approve', 'SELECT T1.date_order_placed FROM orders AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T2.customer_name = "Jeramie"')


Real Answer: SELECT T2.date_order_placed FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_name = "Jeramie"
Failed Answer: SELECT T1.date_order_placed FROM orders AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T2.customer_name = "Jeramie"

 21%|██        | 211/1000 [09:20<54:23,  4.14s/it]

Question: Find the name and id of the item with the highest average rating.

Real Answer: SELECT T1.title, T1.i_id FROM item AS T1 JOIN review AS T2 ON T1.i_id = T2.i_id GROUP BY T2.i_id ORDER BY AVG(T2.rating) DESC LIMIT 1
Generated Answer: SELECT T2.title, T1.i_id FROM review AS T1 JOIN item AS T2 ON T1.i_id = T2.i_id GROUP BY T1.i_id ORDER BY AVG(T1.rating) DESC LIMIT 1


Similarity Score: 0.99688053
Feedback: ('approve', 'SELECT T2.title, T1.i_id FROM review AS T1 JOIN item AS T2 ON T1.i_id = T2.i_id GROUP BY T1.i_id ORDER BY AVG(T1.rating) DESC LIMIT 1')


Real Answer: SELECT T1.title, T1.i_id FROM item AS T1 JOIN review AS T2 ON T1.i_id = T2.i_id GROUP BY T2.i_id ORDER BY AVG(T2.rating) DESC LIMIT 1
Failed Answer: SELECT T2.title, T1.i_id FROM review AS T1 JOIN item AS T2 ON T1.i_id = T2.i_id GROUP BY T1.i_id ORDER BY AVG(T1.rating) DESC LIMIT 1

 21%|██        | 212/1000 [09:23<47:27,  3.61s/it]

Question: What is the propulsion when the vessel is marianarray?

Real Answer: SELECT propulsion FROM table_28132970_5 WHERE vessel = "Marianarray"
Generated Answer: SELECT propulsion FROM table_28132970_5 WHERE vessel = "MarianArray"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT propulsion FROM table_28132970_5 WHERE vessel = "MarianArray"')


Real Answer: SELECT propulsion FROM table_28132970_5 WHERE vessel = "Marianarray"
Failed Answer: SELECT propulsion FROM table_28132970_5 WHERE vessel = "MarianArray"

 21%|██▏       | 213/1000 [09:24<40:22,  3.08s/it]

Question: what is the semifinalists when the surface is hard (i)?

Real Answer: SELECT semifinalists FROM table_name_9 WHERE surface = "hard (i)"
Generated Answer: SELECT semifinalists FROM table_name_9 WHERE surface = "hard (i)"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT semifinalists FROM table_name_9 WHERE surface = "hard (i)"')


Success!
Success Answer: SELECT semifinalists FROM table_name_9 WHERE surface = "hard (i)"

 21%|██▏       | 214/1000 [09:26<35:59,  2.75s/it]

Question: What is Score, when Player is "Brad Faxon"?

Real Answer: SELECT score FROM table_name_68 WHERE player = "brad faxon"
Generated Answer: SELECT score FROM table_name_68 WHERE player = "brad faxon"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT score FROM table_name_68 WHERE player = "brad faxon"')


Success!
Success Answer: SELECT score FROM table_name_68 WHERE player = "brad faxon"

 22%|██▏       | 215/1000 [09:29<34:15,  2.62s/it]

Question: How many years was the chassis a Coloni C3?

Real Answer: SELECT COUNT(year) FROM table_name_51 WHERE chassis = "coloni c3"
Generated Answer: SELECT COUNT(year) FROM table_name_51 WHERE chassis = "coloni c3"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(year) FROM table_name_51 WHERE chassis = "coloni c3"')


Success!
Success Answer: SELECT COUNT(year) FROM table_name_51 WHERE chassis = "coloni c3"

 22%|██▏       | 216/1000 [09:31<31:10,  2.39s/it]

Question: What years have 10 (0) in the finals?

Real Answer: SELECT years FROM table_name_33 WHERE finals = "10 (0)"
Generated Answer: SELECT years FROM table_name_33 WHERE finals = "10 (0)"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT years FROM table_name_33 WHERE finals = "10 (0)"')


Success!
Success Answer: SELECT years FROM table_name_33 WHERE finals = "10 (0)"

 22%|██▏       | 217/1000 [09:33<31:47,  2.44s/it]

Question: What is the power of the Baguio station?

Real Answer: SELECT power__kw_ FROM table_17822401_1 WHERE location = "Baguio"
Generated Answer: SELECT power__kw_ FROM table_17822401_1 WHERE location = "Baguio Station"


Similarity Score: 0.9208894
Feedback: ('approve', 'SELECT power__kw_ FROM table_17822401_1 WHERE location = "Baguio Station"')


Real Answer: SELECT power__kw_ FROM table_17822401_1 WHERE location = "Baguio"
Failed Answer: SELECT power__kw_ FROM table_17822401_1 WHERE location = "Baguio Station"

 22%|██▏       | 218/1000 [09:36<32:30,  2.49s/it]

Question: What is the total number of draws when there are 1465 against matches and less than 2 byes?

Real Answer: SELECT COUNT(draws) FROM table_name_76 WHERE against = 1465 AND byes < 2
Generated Answer: SELECT COUNT(draws) FROM table_name_76 WHERE against = 1465 AND byes < 2


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT COUNT(draws) FROM table_name_76 WHERE against = 1465 AND byes < 2')


Success!
Success Answer: SELECT COUNT(draws) FROM table_name_76 WHERE against = 1465 AND byes < 2

 22%|██▏       | 219/1000 [09:38<29:43,  2.28s/it]

Question: what is the highest attendance for week 3?

Real Answer: SELECT MAX(attendance) FROM table_name_34 WHERE week = 3
Generated Answer: SELECT MAX(attendance) FROM table_name_34 WHERE week = 3


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(attendance) FROM table_name_34 WHERE week = 3')


Success!
Success Answer: SELECT MAX(attendance) FROM table_name_34 WHERE week = 3

 22%|██▏       | 220/1000 [09:39<26:42,  2.05s/it]

Question: What are all the distinct last names of all the engineers?

Real Answer: SELECT DISTINCT last_name FROM Maintenance_Engineers
Generated Answer: SELECT DISTINCT last_name FROM Maintenance_Engineers


Similarity Score: 1.0
Feedback: ('approve', 'SELECT DISTINCT last_name FROM Maintenance_Engineers')


Success!
Success Answer: SELECT DISTINCT last_name FROM Maintenance_Engineers

 22%|██▏       | 221/1000 [09:42<29:24,  2.26s/it]

Question: What is the highest played with more than 0 draws, less than 3 losses, and less than 27 points?

Real Answer: SELECT MAX(played) FROM table_name_62 WHERE drawn > 0 AND lost < 3 AND points < 27
Generated Answer: SELECT MAX(played) FROM table_name_62 WHERE drawn > 0 AND lost < 3 AND points < 27


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(played) FROM table_name_62 WHERE drawn > 0 AND lost < 3 AND points < 27')


Success!
Success Answer: SELECT MAX(played) FROM table_name_62 WHERE drawn > 0 AND lost < 3 AND points < 27

 22%|██▏       | 222/1000 [09:45<33:42,  2.60s/it]

Question: What date did the episode that had 8.84 million u.s. viewers originally air?

Real Answer: SELECT original_air_date FROM table_28768925_1 WHERE us_viewers__million_ = "8.84"
Generated Answer: SELECT original_air_date FROM table_28768925_1 WHERE us_viewers__million_ = "8.84"


Similarity Score: 0.9999997
Feedback: ('approve', 'SELECT original_air_date FROM table_28768925_1 WHERE us_viewers__million_ = "8.84"')


Success!
Success Answer: SELECT original_air_date FROM table_28768925_1 WHERE us_viewers__million_ = "8.84"

 22%|██▏       | 223/1000 [09:49<38:56,  3.01s/it]

Question: What is the market income per capita in a county where the status is distressed and the unemployment rate is at 10.5%?

Real Answer: SELECT market_income_per_capita FROM table_22815568_3 WHERE status = "Distressed" AND unemployment_rate = "10.5%"
Generated Answer: SELECT market_income_per_capita FROM table_22815568_3 WHERE status = "Distressed" AND unemployment_rate = "10.5%"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT market_income_per_capita FROM table_22815568_3 WHERE status = "Distressed" AND unemployment_rate = "10.5%"')


Success!
Success Answer: SELECT market_income_per_capita FROM table_22815568_3 WHERE status = "Distressed" AND unemployment_rate = "10.5%"

 22%|██▏       | 224/1000 [09:52<36:23,  2.81s/it]

Question: What is the Week number with an Attendance of 62,123?

Real Answer: SELECT COUNT(week) FROM table_name_78 WHERE attendance = "62,123"
Generated Answer: SELECT COUNT(week) FROM table_name_78 WHERE attendance = "62,123"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(week) FROM table_name_78 WHERE attendance = "62,123"')


Success!
Success Answer: SELECT COUNT(week) FROM table_name_78 WHERE attendance = "62,123"

 22%|██▎       | 225/1000 [10:02<1:06:07,  5.12s/it]

Question: What are the name and payment method of customers who have both mailshots in 'Order' outcome and mailshots in 'No Response' outcome.

Real Answer: SELECT T2.customer_name, T2.payment_method FROM mailshot_customers AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.outcome_code = 'Order' INTERSECT SELECT T2.customer_name, T2.payment_method FROM mailshot_customers AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.outcome_code = 'No Response'
Generated Answer: SELECT T2.customer_name, T2.payment_method FROM mailshot_customers AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.outcome_code = 'Order' INTERSECT SELECT T2.customer_name, T2.payment_method FROM mailshot_customers AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.outcome_code = 'No Response'


Similarity Score: 1.0000002
Feedback: ('approve', "SELECT T2.customer_name, T2.payment_method FROM mailshot_customers AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.outcome_code = 'Order' INTERSECT SELECT T2.customer_name, T2.payment_method FROM mailshot_customers AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.outcome_code = 'No Response'")


Success!
Success Answer: SELECT T2.customer_name, T2.payment_method FROM mailshot_customers AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.outcome_code = 'Order' INTERSECT SELECT T2.customer_name, T2.payment_method FROM mailshot_customers AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.outcome_code = 'No Response'

 23%|██▎       | 226/1000 [10:04<54:11,  4.20s/it]

Question: What was the to par of the tournament that had Ken Duke as a runner-up?

Real Answer: SELECT to_par FROM table_name_56 WHERE runner_up = "ken duke"
Generated Answer: SELECT to_par FROM table_name_56 WHERE runner_up = "ken duke"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT to_par FROM table_name_56 WHERE runner_up = "ken duke"')


Success!
Success Answer: SELECT to_par FROM table_name_56 WHERE runner_up = "ken duke"

 23%|██▎       | 227/1000 [10:07<47:16,  3.67s/it]

Question: What is the average price for each type of product?

Real Answer: SELECT product_type_code, AVG(product_price) FROM products GROUP BY product_type_code
Generated Answer: SELECT product_type_code, AVG(product_price) FROM products GROUP BY product_type_code


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT product_type_code, AVG(product_price) FROM products GROUP BY product_type_code')


Success!
Success Answer: SELECT product_type_code, AVG(product_price) FROM products GROUP BY product_type_code

 23%|██▎       | 228/1000 [10:09<43:18,  3.37s/it]

Question: What is the gold number when the total is less than 8, silver less than 1 and the rank is more than 7?

Real Answer: SELECT COUNT(gold) FROM table_name_40 WHERE total < 8 AND silver < 1 AND rank > 7
Generated Answer: SELECT COUNT(gold) FROM table_name_40 WHERE total < 8 AND silver < 1 AND rank > 7


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(gold) FROM table_name_40 WHERE total < 8 AND silver < 1 AND rank > 7')


Success!
Success Answer: SELECT COUNT(gold) FROM table_name_40 WHERE total < 8 AND silver < 1 AND rank > 7

 23%|██▎       | 229/1000 [10:11<37:18,  2.90s/it]

Question: What place was Corey Pavin in?

Real Answer: SELECT place FROM table_name_57 WHERE player = "corey pavin"
Generated Answer: SELECT place FROM table_name_57 WHERE player = "corey pavin"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT place FROM table_name_57 WHERE player = "corey pavin"')


Success!
Success Answer: SELECT place FROM table_name_57 WHERE player = "corey pavin"

 23%|██▎       | 230/1000 [10:15<39:40,  3.09s/it]

Question: Which Drawn is the average one that has a Position smaller than 9, and Points smaller than 22, and a Lost smaller than 9, and an Against larger than 29?

Real Answer: SELECT AVG(drawn) FROM table_name_76 WHERE position < 9 AND points < 22 AND lost < 9 AND against > 29
Generated Answer: SELECT AVG(drawn) FROM table_name_76 WHERE position < 9 AND points < 22 AND lost < 9 AND against > 29


Similarity Score: 1.0
Feedback: ('approve', 'SELECT AVG(drawn) FROM table_name_76 WHERE position < 9 AND points < 22 AND lost < 9 AND against > 29')


Success!
Success Answer: SELECT AVG(drawn) FROM table_name_76 WHERE position < 9 AND points < 22 AND lost < 9 AND against > 29

 23%|██▎       | 231/1000 [10:17<35:32,  2.77s/it]

Question: Who was the losing team on June 16?

Real Answer: SELECT losing_team FROM table_name_25 WHERE date = "june 16"
Generated Answer: SELECT losing_team FROM table_name_25 WHERE date = "june 16"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT losing_team FROM table_name_25 WHERE date = "june 16"')


Success!
Success Answer: SELECT losing_team FROM table_name_25 WHERE date = "june 16"

 23%|██▎       | 232/1000 [10:19<35:07,  2.74s/it]

Question: What is Liscumb when Haydon is 1632?

Real Answer: SELECT liscumb FROM table_11447995_2 WHERE haydon = "1632"
Generated Answer: SELECT liscumb FROM table_11447995_2 WHERE haydon = "1632"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT liscumb FROM table_11447995_2 WHERE haydon = "1632"')


Success!
Success Answer: SELECT liscumb FROM table_11447995_2 WHERE haydon = "1632"

 23%|██▎       | 233/1000 [10:22<34:17,  2.68s/it]

Question: How many clubs are there in the Korea Republic?

Real Answer: SELECT clubs FROM table_19412902_2 WHERE member_association = "Korea Republic"
Generated Answer: SELECT clubs FROM table_19412902_2 WHERE member_association = "Korea Republic"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT clubs FROM table_19412902_2 WHERE member_association = "Korea Republic"')


Success!
Success Answer: SELECT clubs FROM table_19412902_2 WHERE member_association = "Korea Republic"

 23%|██▎       | 234/1000 [10:28<48:53,  3.83s/it]

Question: What are names of the movies that are either made after 2000 or reviewed by Brittany Harris?

Real Answer: SELECT DISTINCT T2.title FROM Rating AS T1 JOIN Movie AS T2 ON T1.mID = T2.mID JOIN Reviewer AS T3 ON T1.rID = T3.rID WHERE T3.name = 'Brittany Harris' OR T2.year > 2000
Generated Answer: SELECT T3.title FROM Reviewer AS T1 JOIN Rating AS T2 ON T1.rID = T2.mID JOIN Movie AS T3 ON T2.mID = T3.mID WHERE T3.year > 2000 OR T1.name = 'Brittany Harris'


Similarity Score: 0.9355271
Feedback: ('approve', "SELECT T3.title FROM Reviewer AS T1 JOIN Rating AS T2 ON T1.rID = T2.mID JOIN Movie AS T3 ON T2.mID = T3.mID WHERE T3.year > 2000 OR T1.name = 'Brittany Harris'")


Real Answer: SELECT DISTINCT T2.title FROM Rating AS T1 JOIN Movie AS T2 ON T1.mID = T2.mID JOIN Reviewer AS T3 ON T1.rID = T3.rID WHERE T3.name = 'Brittany Harris' OR T2.year > 2000
Failed Answer: SELECT T3.title FROM Reviewer AS T1 JOIN Rating AS T2 ON T1.rID = T2.mID JOIN Movie AS T3 ON T2.mID = T3.mID WHERE T3.year > 2000 OR T1.name = 'Brittany Harris'

 24%|██▎       | 235/1000 [10:32<47:20,  3.71s/it]

Question: What is the unemployment rate in those places where the market income per capita is $16,981?

Real Answer: SELECT COUNT(unemployment_rate) FROM table_22815568_7 WHERE market_income_per_capita = "$16,981"
Generated Answer: SELECT unemployment_rate FROM table_22815568_7 WHERE market_income_per_capita = "$16,981"


Similarity Score: 0.84610707
Feedback: ('approve', 'SELECT unemployment_rate FROM table_22815568_7 WHERE market_income_per_capita = "$16,981"')


Real Answer: SELECT COUNT(unemployment_rate) FROM table_22815568_7 WHERE market_income_per_capita = "$16,981"
Failed Answer: SELECT unemployment_rate FROM table_22815568_7 WHERE market_income_per_capita = "$16,981"

 24%|██▎       | 236/1000 [10:34<41:15,  3.24s/it]

Question: Which team has 123 points agaibst the other team?

Real Answer: SELECT team FROM table_name_83 WHERE points_against = "123"
Generated Answer: SELECT team FROM table_name_83 WHERE points_against = "123"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT team FROM table_name_83 WHERE points_against = "123"')


Success!
Success Answer: SELECT team FROM table_name_83 WHERE points_against = "123"

 24%|██▎       | 237/1000 [10:36<36:48,  2.89s/it]

Question: In what club(s) does Tony Lockett play?

Real Answer: SELECT club_clubs FROM table_name_11 WHERE player = "tony lockett"
Generated Answer: SELECT club_clubs FROM table_name_11 WHERE player = "tony lockett"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT club_clubs FROM table_name_11 WHERE player = "tony lockett"')


Success!
Success Answer: SELECT club_clubs FROM table_name_11 WHERE player = "tony lockett"

 24%|██▍       | 238/1000 [10:39<37:53,  2.98s/it]

Question: What was date of appointment for Ergün Penbe?

Real Answer: SELECT date_of_appointment FROM table_27091128_2 WHERE replaced_by = "Ergün Penbe"
Generated Answer: SELECT date_of_appointment FROM table_27091128_2 WHERE replaced_by = "Ergün Penbe"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT date_of_appointment FROM table_27091128_2 WHERE replaced_by = "Ergün Penbe"')


Success!
Success Answer: SELECT date_of_appointment FROM table_27091128_2 WHERE replaced_by = "Ergün Penbe"

 24%|██▍       | 239/1000 [10:41<35:22,  2.79s/it]

Question: Who were the winner and nominees in 2001?

Real Answer: SELECT winner_nominee_s_ FROM table_name_27 WHERE year = 2001
Generated Answer: SELECT winner_nominee_s_ FROM table_name_27 WHERE year = 2001


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT winner_nominee_s_ FROM table_name_27 WHERE year = 2001')


Success!
Success Answer: SELECT winner_nominee_s_ FROM table_name_27 WHERE year = 2001

 24%|██▍       | 240/1000 [10:44<32:45,  2.59s/it]

Question: What is Result, when Date is 19 August 1992?

Real Answer: SELECT result FROM table_name_40 WHERE date = "19 august 1992"
Generated Answer: SELECT result FROM table_name_40 WHERE date = "19 august 1992"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT result FROM table_name_40 WHERE date = "19 august 1992"')


Success!
Success Answer: SELECT result FROM table_name_40 WHERE date = "19 august 1992"

 24%|██▍       | 241/1000 [10:47<36:20,  2.87s/it]

Question: How many different numbers of Tot enlisted are there on the dates when the number of Enlisted o/s was 801471?

Real Answer: SELECT COUNT(tot_enlisted) FROM table_23508196_2 WHERE enlisted_o_s = 801471
Generated Answer: SELECT COUNT(tot_enlisted) FROM table_23508196_2 WHERE enlisted_o_s = 801471


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(tot_enlisted) FROM table_23508196_2 WHERE enlisted_o_s = 801471')


Success!
Success Answer: SELECT COUNT(tot_enlisted) FROM table_23508196_2 WHERE enlisted_o_s = 801471

 24%|██▍       | 242/1000 [10:49<33:51,  2.68s/it]

Question: How many Gold medals for the country with a Rank of 1 and less than 2 Total medals?

Real Answer: SELECT COUNT(gold) FROM table_name_57 WHERE rank = "1" AND total < 2
Generated Answer: SELECT COUNT(gold) FROM table_name_57 WHERE rank = 1 AND total < 2


Similarity Score: 0.9949752
Feedback: ('approve', 'SELECT COUNT(gold) FROM table_name_57 WHERE rank = 1 AND total < 2')


Real Answer: SELECT COUNT(gold) FROM table_name_57 WHERE rank = "1" AND total < 2
Failed Answer: SELECT COUNT(gold) FROM table_name_57 WHERE rank = 1 AND total < 2

 24%|██▍       | 243/1000 [10:52<32:20,  2.56s/it]

Question: What was the away team's score against Hawthorn?

Real Answer: SELECT away_team AS score FROM table_name_9 WHERE home_team = "hawthorn"
Generated Answer: SELECT away_team AS score FROM table_name_9 WHERE home_team = "hawthorn"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT away_team AS score FROM table_name_9 WHERE home_team = "hawthorn"')


Success!
Success Answer: SELECT away_team AS score FROM table_name_9 WHERE home_team = "hawthorn"

 24%|██▍       | 244/1000 [10:54<29:57,  2.38s/it]

Question: Name the record with opponent of christian nielson

Real Answer: SELECT record FROM table_name_71 WHERE opponent = "christian nielson"
Generated Answer: SELECT record FROM table_name_71 WHERE opponent = "christian nielson"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT record FROM table_name_71 WHERE opponent = "christian nielson"')


Success!
Success Answer: SELECT record FROM table_name_71 WHERE opponent = "christian nielson"

 24%|██▍       | 245/1000 [10:57<33:09,  2.63s/it]

Question: What is the debut year for the player with fewer than 54 games, fewer than 8 goals and 1989 at club?

Real Answer: SELECT AVG(debut_year) FROM table_name_6 WHERE games < 54 AND years_at_club = "1989" AND goals < 8
Generated Answer: SELECT MIN(debut_year) FROM table_name_6 WHERE games < 54 AND years_at_club = "1989"


Similarity Score: 0.6757208
Feedback: ('correct', 'SELECT AVG(debut_year) FROM table_name_6 WHERE games < 54 AND years_at_club = "1989" AND goals < 8')


Real Answer: SELECT AVG(debut_year) FROM table_name_6 WHERE games < 54 AND years_at_club = "1989" AND goals < 8
Failed Answer: SELECT MIN(debut_year) FROM table_name_6 WHERE games < 54 AND years_at_club = "1989"

 25%|██▍       | 246/1000 [11:00<35:36,  2.83s/it]

Question: Name the 2009 for when 2007 is 3r and 2010 is q2

Real Answer: SELECT 2009 FROM table_name_52 WHERE 2007 = "3r" AND 2010 = "q2"
Generated Answer: SELECT 2009 FROM table_name_52 WHERE 2007 = "3r" AND 2010 = "q2"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT 2009 FROM table_name_52 WHERE 2007 = "3r" AND 2010 = "q2"')


Success!
Success Answer: SELECT 2009 FROM table_name_52 WHERE 2007 = "3r" AND 2010 = "q2"

 25%|██▍       | 247/1000 [11:03<34:31,  2.75s/it]

Question: Name the Against which has a Venue of wembley stadium , london?

Real Answer: SELECT MAX(against) FROM table_name_91 WHERE venue = "wembley stadium , london"
Generated Answer: SELECT MIN(against) FROM table_name_91 WHERE venue = "wembley stadium, london"


Similarity Score: 0.71470153
Feedback: ('correct', 'SELECT MAX(against) FROM table_name_91 WHERE venue = "wembley stadium , london"')


Real Answer: SELECT MAX(against) FROM table_name_91 WHERE venue = "wembley stadium , london"
Failed Answer: SELECT MIN(against) FROM table_name_91 WHERE venue = "wembley stadium, london"

 25%|██▍       | 248/1000 [11:04<29:33,  2.36s/it]

Question: What are the different parties of representative? Show the party name and the number of representatives in each party.

Real Answer: SELECT Party, COUNT(*) FROM representative GROUP BY Party
Generated Answer: SELECT Party, COUNT(*) FROM representative GROUP BY Party


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT Party, COUNT(*) FROM representative GROUP BY Party')


Success!
Success Answer: SELECT Party, COUNT(*) FROM representative GROUP BY Party

 25%|██▍       | 249/1000 [11:06<28:56,  2.31s/it]

Question: Which Platform has an Actual version of 0.8.29?

Real Answer: SELECT platform FROM table_name_96 WHERE actual_version = "0.8.29"
Generated Answer: SELECT platform FROM table_name_96 WHERE actual_version = "0.8.29"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT platform FROM table_name_96 WHERE actual_version = "0.8.29"')


Success!
Success Answer: SELECT platform FROM table_name_96 WHERE actual_version = "0.8.29"

 25%|██▌       | 250/1000 [11:09<29:15,  2.34s/it]

Question: Which Series has a Site of ames and a Sport of w gymnastics?

Real Answer: SELECT series FROM table_name_13 WHERE site = "ames" AND sport = "w gymnastics"
Generated Answer: SELECT series FROM table_name_13 WHERE site = "ames" AND sport = "w gymnastics"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT series FROM table_name_13 WHERE site = "ames" AND sport = "w gymnastics"')


Success!
Success Answer: SELECT series FROM table_name_13 WHERE site = "ames" AND sport = "w gymnastics"

 25%|██▌       | 251/1000 [11:12<31:09,  2.50s/it]

Question: What are the highest points for Justin Lofton when his top 10 is lower than 5?

Real Answer: SELECT MAX(points) FROM table_name_14 WHERE driver = "justin lofton" AND top_10 < 5
Generated Answer: SELECT MAX(points) FROM table_name_14 WHERE driver = "justin lofton" AND top_10 < 5


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(points) FROM table_name_14 WHERE driver = "justin lofton" AND top_10 < 5')


Success!
Success Answer: SELECT MAX(points) FROM table_name_14 WHERE driver = "justin lofton" AND top_10 < 5

 25%|██▌       | 252/1000 [11:14<32:36,  2.62s/it]

Question: Who was on the pole position at the monaco grand prix?

Real Answer: SELECT pole_position FROM table_1137695_3 WHERE grand_prix = "Monaco grand_prix"
Generated Answer: SELECT pole_position FROM table_1137695_3 WHERE grand_prix = "Monaco grand_prix"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT pole_position FROM table_1137695_3 WHERE grand_prix = "Monaco grand_prix"')


Success!
Success Answer: SELECT pole_position FROM table_1137695_3 WHERE grand_prix = "Monaco grand_prix"

 25%|██▌       | 253/1000 [11:17<30:48,  2.47s/it]

Question: What is the San Antonio's team score?

Real Answer: SELECT score FROM table_17288825_5 WHERE team = "San Antonio"
Generated Answer: SELECT score FROM table_17288825_5 WHERE team = "San Antonio"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT score FROM table_17288825_5 WHERE team = "San Antonio"')


Success!
Success Answer: SELECT score FROM table_17288825_5 WHERE team = "San Antonio"

 25%|██▌       | 254/1000 [11:19<31:29,  2.53s/it]

Question: WHich Record has a Visitor of quebec nordiques with a Score of 7–5?

Real Answer: SELECT record FROM table_name_37 WHERE visitor = "quebec nordiques" AND score = "7–5"
Generated Answer: SELECT record FROM table_name_37 WHERE visitor = "quebec nordiques" AND score = "7–5"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT record FROM table_name_37 WHERE visitor = "quebec nordiques" AND score = "7–5"')


Success!
Success Answer: SELECT record FROM table_name_37 WHERE visitor = "quebec nordiques" AND score = "7–5"

 26%|██▌       | 255/1000 [11:21<29:53,  2.41s/it]

Question: Where did steve smith go to school?

Real Answer: SELECT school_club_team FROM table_name_53 WHERE player = "steve smith"
Generated Answer: SELECT school_club_team FROM table_name_53 WHERE player = "steve smith"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT school_club_team FROM table_name_53 WHERE player = "steve smith"')


Success!
Success Answer: SELECT school_club_team FROM table_name_53 WHERE player = "steve smith"

 26%|██▌       | 256/1000 [11:24<29:37,  2.39s/it]

Question: What was the score in the game that had a record of 25-8?

Real Answer: SELECT score FROM table_18904831_7 WHERE record = "25-8"
Generated Answer: SELECT score FROM table_18904831_7 WHERE record = "25-8"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT score FROM table_18904831_7 WHERE record = "25-8"')


Success!
Success Answer: SELECT score FROM table_18904831_7 WHERE record = "25-8"

 26%|██▌       | 257/1000 [11:26<30:08,  2.43s/it]

Question: What is the height of the building built by architects Ross and Macfarlane?

Real Answer: SELECT height_[m] FROM table_name_27 WHERE architect = "ross and macfarlane"
Generated Answer: SELECT height_ FROM table_name_27 WHERE m > 0 AND architect = "ross and macfarlane"


Similarity Score: 0.9765902
Feedback: ('approve', 'SELECT height_ FROM table_name_27 WHERE m > 0 AND architect = "ross and macfarlane"')


Real Answer: SELECT height_[m] FROM table_name_27 WHERE architect = "ross and macfarlane"
Failed Answer: SELECT height_ FROM table_name_27 WHERE m > 0 AND architect = "ross and macfarlane"

 26%|██▌       | 258/1000 [11:28<29:03,  2.35s/it]

Question: What was the attendance when the away team was Real Espana?

Real Answer: SELECT MIN(attendance) FROM table_name_67 WHERE away = "real espana"
Generated Answer: SELECT SUM(attendance) FROM table_name_67 WHERE away = "real espana"


Similarity Score: 0.77650464
Feedback: ('correct', 'SELECT MIN(attendance) FROM table_name_67 WHERE away = "real espana"')


Real Answer: SELECT MIN(attendance) FROM table_name_67 WHERE away = "real espana"
Failed Answer: SELECT SUM(attendance) FROM table_name_67 WHERE away = "real espana"

 26%|██▌       | 259/1000 [11:32<33:58,  2.75s/it]

Question: How many times at most can a course enrollment result show in different transcripts? Also show the course enrollment id.

Real Answer: SELECT COUNT(*), student_course_id FROM Transcript_Contents GROUP BY student_course_id ORDER BY COUNT(*) DESC LIMIT 1
Generated Answer: SELECT COUNT(DISTINCT student_course_id) FROM Transcript_Contents GROUP BY student_course_id ORDER BY student_course_id LIMIT 1


Similarity Score: 0.96049446
Feedback: ('approve', 'SELECT COUNT(DISTINCT student_course_id) FROM Transcript_Contents GROUP BY student_course_id ORDER BY student_course_id LIMIT 1')


Real Answer: SELECT COUNT(*), student_course_id FROM Transcript_Contents GROUP BY student_course_id ORDER BY COUNT(*) DESC LIMIT 1
Failed Answer: SELECT COUNT(DISTINCT student_course_id) FROM Transcript_Contents GROUP BY student_course_id ORDER BY student_course_id LIMIT 1

 26%|██▌       | 260/1000 [11:35<35:46,  2.90s/it]

Question: What party's candidate was re-elected in the Louisiana 6 district?

Real Answer: SELECT party FROM table_1342149_18 WHERE result = "Re-elected" AND district = "Louisiana 6"
Generated Answer: SELECT party FROM table_1342149_18 WHERE result = "Re-elected" AND district = "Louisiana 6"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT party FROM table_1342149_18 WHERE result = "Re-elected" AND district = "Louisiana 6"')


Success!
Success Answer: SELECT party FROM table_1342149_18 WHERE result = "Re-elected" AND district = "Louisiana 6"

 26%|██▌       | 261/1000 [11:38<35:23,  2.87s/it]

Question: What is the date for the La Granja de San Ildefonso to Alto de Navacerrada course?

Real Answer: SELECT date FROM table_name_67 WHERE course = "la granja de san ildefonso to alto de navacerrada"
Generated Answer: SELECT date FROM table_name_67 WHERE course = "la granja de san ildefonso to alto de navacerrada"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT date FROM table_name_67 WHERE course = "la granja de san ildefonso to alto de navacerrada"')


Success!
Success Answer: SELECT date FROM table_name_67 WHERE course = "la granja de san ildefonso to alto de navacerrada"

 26%|██▌       | 262/1000 [11:42<36:54,  3.00s/it]

Question: What draft pick number attended syracuse and was drafted by the Carolina panthers?

Real Answer: SELECT SUM(pick__number) FROM table_name_38 WHERE nfl_team = "carolina panthers" AND college = "syracuse"
Generated Answer: SELECT MIN(pick__number) FROM table_name_38 WHERE nfl_team = "carolina panthers" AND college = "syracuse"


Similarity Score: 0.67561233
Feedback: ('correct', 'SELECT SUM(pick__number) FROM table_name_38 WHERE nfl_team = "carolina panthers" AND college = "syracuse"')


Real Answer: SELECT SUM(pick__number) FROM table_name_38 WHERE nfl_team = "carolina panthers" AND college = "syracuse"
Failed Answer: SELECT MIN(pick__number) FROM table_name_38 WHERE nfl_team = "carolina panthers" AND college = "syracuse"

 26%|██▋       | 263/1000 [11:44<33:24,  2.72s/it]

Question: Which Sales Total has a Chart of oricon monthly albums chart?

Real Answer: SELECT sales_total FROM table_name_30 WHERE chart = "oricon monthly albums chart"
Generated Answer: SELECT sales_total FROM table_name_30 WHERE chart = "oricon monthly albums chart"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT sales_total FROM table_name_30 WHERE chart = "oricon monthly albums chart"')


Success!
Success Answer: SELECT sales_total FROM table_name_30 WHERE chart = "oricon monthly albums chart"

 26%|██▋       | 264/1000 [11:46<32:05,  2.62s/it]

Question: What is the A330 for A310 B10?

Real Answer: SELECT a330 FROM table_name_62 WHERE a310 = "b10"
Generated Answer: SELECT a330 FROM table_name_62 WHERE a310 = "b10"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT a330 FROM table_name_62 WHERE a310 = "b10"')


Success!
Success Answer: SELECT a330 FROM table_name_62 WHERE a310 = "b10"

 26%|██▋       | 265/1000 [11:48<28:34,  2.33s/it]

Question: Who is the player in 20th place?

Real Answer: SELECT player FROM table_name_65 WHERE placing = "20th place"
Generated Answer: SELECT player FROM table_name_65 WHERE placing = "20th"


Similarity Score: 0.9858815
Feedback: ('approve', 'SELECT player FROM table_name_65 WHERE placing = "20th"')


Real Answer: SELECT player FROM table_name_65 WHERE placing = "20th place"
Failed Answer: SELECT player FROM table_name_65 WHERE placing = "20th"

 27%|██▋       | 266/1000 [11:49<26:43,  2.19s/it]

Question: Tell me the name of the person married to frederick ix

Real Answer: SELECT name FROM table_name_71 WHERE spouse = "frederick ix"
Generated Answer: SELECT name FROM table_name_71 WHERE spouse = "frederick ix"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT name FROM table_name_71 WHERE spouse = "frederick ix"')


Success!
Success Answer: SELECT name FROM table_name_71 WHERE spouse = "frederick ix"

 27%|██▋       | 267/1000 [11:54<33:48,  2.77s/it]

Question: How many assets can each parts be used in? List the part name and the number.

Real Answer: SELECT T1.part_name, COUNT(*) FROM Parts AS T1 JOIN Asset_Parts AS T2 ON T1.part_id = T2.part_id GROUP BY T1.part_name
Generated Answer: SELECT COUNT(DISTINCT T1.part_id) FROM Asset_Parts AS T1 JOIN Parts AS T2 ON T1.part_id = T2.part_id


Similarity Score: 0.93582296
Feedback: ('approve', 'SELECT COUNT(DISTINCT T1.part_id) FROM Asset_Parts AS T1 JOIN Parts AS T2 ON T1.part_id = T2.part_id')


Real Answer: SELECT T1.part_name, COUNT(*) FROM Parts AS T1 JOIN Asset_Parts AS T2 ON T1.part_id = T2.part_id GROUP BY T1.part_name
Failed Answer: SELECT COUNT(DISTINCT T1.part_id) FROM Asset_Parts AS T1 JOIN Parts AS T2 ON T1.part_id = T2.part_id

 27%|██▋       | 268/1000 [11:56<32:13,  2.64s/it]

Question: Tell me the pitcher on september 6, 2006

Real Answer: SELECT pitcher FROM table_name_8 WHERE date = "september 6, 2006"
Generated Answer: SELECT pitcher FROM table_name_8 WHERE date = "september 6, 2006"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT pitcher FROM table_name_8 WHERE date = "september 6, 2006"')


Success!
Success Answer: SELECT pitcher FROM table_name_8 WHERE date = "september 6, 2006"

 27%|██▋       | 269/1000 [11:59<34:03,  2.80s/it]

Question: How many losses occurred when the club team was ekranas-2 panevėžys

Real Answer: SELECT MAX(loses) FROM table_18018214_3 WHERE club = "Ekranas-2 Panevėžys"
Generated Answer: SELECT MAX(loses) FROM table_18018214_3 WHERE club = "Ekranas-2 Panevėžys"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(loses) FROM table_18018214_3 WHERE club = "Ekranas-2 Panevėžys"')


Success!
Success Answer: SELECT MAX(loses) FROM table_18018214_3 WHERE club = "Ekranas-2 Panevėžys"

 27%|██▋       | 270/1000 [12:01<30:15,  2.49s/it]

Question: When was the game at the home of the Los Angeles Kings?

Real Answer: SELECT date FROM table_name_72 WHERE home = "los angeles kings"
Generated Answer: SELECT date FROM table_name_72 WHERE home = "los angeles kings"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT date FROM table_name_72 WHERE home = "los angeles kings"')


Success!
Success Answer: SELECT date FROM table_name_72 WHERE home = "los angeles kings"

 27%|██▋       | 271/1000 [12:04<32:07,  2.64s/it]

Question: What was the minimum population in 2011 of the district of Prakasam?

Real Answer: SELECT MIN(population__2011_) FROM table_1610301_1 WHERE district = "Prakasam"
Generated Answer: SELECT MIN(population__2011_) FROM table_1610301_1 WHERE district = "Prakasam"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(population__2011_) FROM table_1610301_1 WHERE district = "Prakasam"')


Success!
Success Answer: SELECT MIN(population__2011_) FROM table_1610301_1 WHERE district = "Prakasam"

 27%|██▋       | 272/1000 [12:07<32:30,  2.68s/it]

Question: stae the least number of wins in 1986

Real Answer: SELECT MIN(wins) FROM table_19864214_3 WHERE seasons = "1986"
Generated Answer: SELECT MIN(wins) FROM table_19864214_3 WHERE seasons = "1986"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MIN(wins) FROM table_19864214_3 WHERE seasons = "1986"')


Success!
Success Answer: SELECT MIN(wins) FROM table_19864214_3 WHERE seasons = "1986"

 27%|██▋       | 273/1000 [12:10<34:52,  2.88s/it]

Question: Who won the XXIV Gran Premio di Pescara in the sports car class?

Real Answer: SELECT driver_s FROM table_name_81 WHERE class = "sports car" AND race_title = "xxiv gran premio di pescara"
Generated Answer: SELECT driver_s FROM table_name_81 WHERE class = "sports car" AND race_title = "xxiv gran premio di pescara"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT driver_s FROM table_name_81 WHERE class = "sports car" AND race_title = "xxiv gran premio di pescara"')


Success!
Success Answer: SELECT driver_s FROM table_name_81 WHERE class = "sports car" AND race_title = "xxiv gran premio di pescara"

 27%|██▋       | 274/1000 [12:14<39:25,  3.26s/it]

Question: What points awarded are higher than 6 but smaller than 9

Real Answer: SELECT MAX(points_awarded__platinum_) FROM table_name_51 WHERE points_awarded__gold_ = 9 AND points_awarded__silver_ > 6
Generated Answer: SELECT MAX(points_awarded__platinum_) FROM table_name_51 WHERE points_awarded__gold_ < 6 AND points_awarded__silver_ < 9


Similarity Score: 0.994423
Feedback: ('approve', 'SELECT MAX(points_awarded__platinum_) FROM table_name_51 WHERE points_awarded__gold_ < 6 AND points_awarded__silver_ < 9')


Real Answer: SELECT MAX(points_awarded__platinum_) FROM table_name_51 WHERE points_awarded__gold_ = 9 AND points_awarded__silver_ > 6
Failed Answer: SELECT MAX(points_awarded__platinum_) FROM table_name_51 WHERE points_awarded__gold_ < 6 AND points_awarded__silver_ < 9

 28%|██▊       | 275/1000 [12:16<34:11,  2.83s/it]

Question: Who has a length of 71 ft?

Real Answer: SELECT name FROM table_name_21 WHERE length__ft_ = 71
Generated Answer: SELECT name FROM table_name_21 WHERE length__ft_ = 71


Similarity Score: 0.9999997
Feedback: ('approve', 'SELECT name FROM table_name_21 WHERE length__ft_ = 71')


Success!
Success Answer: SELECT name FROM table_name_21 WHERE length__ft_ = 71

 28%|██▊       | 276/1000 [12:18<31:54,  2.64s/it]

Question: When collingwood played as the away team what did they score?

Real Answer: SELECT away_team AS score FROM table_name_3 WHERE away_team = "collingwood"
Generated Answer: SELECT away_team AS score FROM table_name_3 WHERE away_team = "collingwood"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT away_team AS score FROM table_name_3 WHERE away_team = "collingwood"')


Success!
Success Answer: SELECT away_team AS score FROM table_name_3 WHERE away_team = "collingwood"

 28%|██▊       | 277/1000 [12:21<33:51,  2.81s/it]

Question: What episode after 1998 had John Wells as the nominee?

Real Answer: SELECT episode FROM table_name_25 WHERE year > 1998 AND nominee_s_ = "john wells"
Generated Answer: SELECT episode FROM table_name_25 WHERE year > 1998 AND nominee_s_ = "john wells"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT episode FROM table_name_25 WHERE year > 1998 AND nominee_s_ = "john wells"')


Success!
Success Answer: SELECT episode FROM table_name_25 WHERE year > 1998 AND nominee_s_ = "john wells"

 28%|██▊       | 278/1000 [12:24<31:43,  2.64s/it]

Question: Tell me the region for catalog of 576 096-2

Real Answer: SELECT region FROM table_name_61 WHERE catalog = "576 096-2"
Generated Answer: SELECT region FROM table_name_61 WHERE catalog = "576 096-2"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT region FROM table_name_61 WHERE catalog = "576 096-2"')


Success!
Success Answer: SELECT region FROM table_name_61 WHERE catalog = "576 096-2"

 28%|██▊       | 279/1000 [12:26<29:13,  2.43s/it]

Question: How many people whose age is greater 30 and job is engineer?

Real Answer: SELECT COUNT(*) FROM Person WHERE age > 30 AND job = 'engineer'
Generated Answer: SELECT COUNT(*) FROM Person WHERE age > 30 AND job = 'engineer'


Similarity Score: 0.9999997
Feedback: ('approve', "SELECT COUNT(*) FROM Person WHERE age > 30 AND job = 'engineer'")


Success!
Success Answer: SELECT COUNT(*) FROM Person WHERE age > 30 AND job = 'engineer'

 28%|██▊       | 280/1000 [12:28<28:32,  2.38s/it]

Question: I want the league one/second division for club of millwall

Real Answer: SELECT league_one_second_division FROM table_name_80 WHERE club = "millwall"
Generated Answer: SELECT league_one_second_division FROM table_name_80 WHERE club = "millwall"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT league_one_second_division FROM table_name_80 WHERE club = "millwall"')


Success!
Success Answer: SELECT league_one_second_division FROM table_name_80 WHERE club = "millwall"

 28%|██▊       | 281/1000 [12:30<28:35,  2.39s/it]

Question: What were the total apps for Dunne in season where he had 0 league goals?

Real Answer: SELECT total_apps FROM table_2980024_1 WHERE league_goals = 0
Generated Answer: SELECT total_apps FROM table_2980024_1 WHERE league_goals = "0"


Similarity Score: 0.98612523
Feedback: ('approve', 'SELECT total_apps FROM table_2980024_1 WHERE league_goals = "0"')


Real Answer: SELECT total_apps FROM table_2980024_1 WHERE league_goals = 0
Failed Answer: SELECT total_apps FROM table_2980024_1 WHERE league_goals = "0"

 28%|██▊       | 282/1000 [12:33<29:50,  2.49s/it]

Question: What player has a rating greater than 2746, with a prev less than 4, and +4 as the chng?

Real Answer: SELECT player FROM table_name_83 WHERE rating > 2746 AND prev < 4 AND chng = "+4"
Generated Answer: SELECT player FROM table_name_83 WHERE rating > 2746 AND prev < 4 AND chng = "+4"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT player FROM table_name_83 WHERE rating > 2746 AND prev < 4 AND chng = "+4"')


Success!
Success Answer: SELECT player FROM table_name_83 WHERE rating > 2746 AND prev < 4 AND chng = "+4"

 28%|██▊       | 283/1000 [12:35<29:33,  2.47s/it]

Question: What is the total number of bronze medals when the silver is greater than 0, and the total medals 5?

Real Answer: SELECT SUM(bronze) FROM table_name_14 WHERE silver > 0 AND total = 5
Generated Answer: SELECT SUM(bronze) FROM table_name_14 WHERE silver > 0 AND total = 5


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT SUM(bronze) FROM table_name_14 WHERE silver > 0 AND total = 5')


Success!
Success Answer: SELECT SUM(bronze) FROM table_name_14 WHERE silver > 0 AND total = 5

 28%|██▊       | 284/1000 [12:38<30:08,  2.53s/it]

Question: what is the encoding when the tracks/side is 80  and sectors/track is 11?

Real Answer: SELECT encoding FROM table_name_44 WHERE tracks__side = "80" AND sectors__track = "11"
Generated Answer: SELECT encoding FROM table_name_44 WHERE tracks__side = "80" AND sectors__track = "11"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT encoding FROM table_name_44 WHERE tracks__side = "80" AND sectors__track = "11"')


Success!
Success Answer: SELECT encoding FROM table_name_44 WHERE tracks__side = "80" AND sectors__track = "11"

 28%|██▊       | 285/1000 [12:41<30:14,  2.54s/it]

Question: How many rounds have an Overall larger than 17, and a Position of quarterback?

Real Answer: SELECT COUNT(round) FROM table_name_66 WHERE overall > 17 AND position = "quarterback"
Generated Answer: SELECT COUNT(round) FROM table_name_66 WHERE overall > 17 AND position = 'quarterback'


Similarity Score: 0.99883866
Feedback: ('approve', "SELECT COUNT(round) FROM table_name_66 WHERE overall > 17 AND position = 'quarterback'")


Real Answer: SELECT COUNT(round) FROM table_name_66 WHERE overall > 17 AND position = "quarterback"
Failed Answer: SELECT COUNT(round) FROM table_name_66 WHERE overall > 17 AND position = 'quarterback'

 29%|██▊       | 286/1000 [12:42<26:31,  2.23s/it]

Question: Tell me the name for round of e

Real Answer: SELECT name FROM table_name_29 WHERE round = "e"
Generated Answer: SELECT name FROM table_name_29 WHERE round = "e"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT name FROM table_name_29 WHERE round = "e"')


Success!
Success Answer: SELECT name FROM table_name_29 WHERE round = "e"

 29%|██▊       | 287/1000 [12:44<26:37,  2.24s/it]

Question: When the home team of st kilda was playing, what was the away team score?

Real Answer: SELECT away_team AS score FROM table_name_97 WHERE home_team = "st kilda"
Generated Answer: SELECT away_team AS score FROM table_name_97 WHERE home_team = "st kilda"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT away_team AS score FROM table_name_97 WHERE home_team = "st kilda"')


Success!
Success Answer: SELECT away_team AS score FROM table_name_97 WHERE home_team = "st kilda"

 29%|██▉       | 288/1000 [12:46<24:41,  2.08s/it]

Question: Which Airport has a IATA of erz?

Real Answer: SELECT airport FROM table_name_63 WHERE iata = "erz"
Generated Answer: SELECT airport FROM table_name_63 WHERE iata = "erz"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT airport FROM table_name_63 WHERE iata = "erz"')


Success!
Success Answer: SELECT airport FROM table_name_63 WHERE iata = "erz"

 29%|██▉       | 289/1000 [12:49<26:37,  2.25s/it]

Question: What was the record from the Golden State Warriors on 11/18?

Real Answer: SELECT record FROM table_name_13 WHERE visitor = "golden state warriors" AND date = "11/18"
Generated Answer: SELECT record FROM table_name_13 WHERE visitor = "golden state warriors" AND date = "11/18"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT record FROM table_name_13 WHERE visitor = "golden state warriors" AND date = "11/18"')


Success!
Success Answer: SELECT record FROM table_name_13 WHERE visitor = "golden state warriors" AND date = "11/18"

 29%|██▉       | 290/1000 [12:51<26:01,  2.20s/it]

Question: Name the purpose for on-air ID of 2xx

Real Answer: SELECT purpose FROM table_name_13 WHERE on_air_id = "2xx"
Generated Answer: SELECT purpose FROM table_name_13 WHERE on_air_id = "2xx"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT purpose FROM table_name_13 WHERE on_air_id = "2xx"')


Success!
Success Answer: SELECT purpose FROM table_name_13 WHERE on_air_id = "2xx"

 29%|██▉       | 291/1000 [12:53<25:50,  2.19s/it]

Question: What team had 4 podiums?

Real Answer: SELECT team FROM table_21795650_1 WHERE podiums = 4
Generated Answer: SELECT team FROM table_21795650_1 WHERE podiums = 4


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT team FROM table_21795650_1 WHERE podiums = 4')


Success!
Success Answer: SELECT team FROM table_21795650_1 WHERE podiums = 4

 29%|██▉       | 292/1000 [12:56<27:21,  2.32s/it]

Question: What is the sum of the pick numbers where the player was picked in round 5 and overall pick number was greater than 159?

Real Answer: SELECT SUM(pick__number) FROM table_name_77 WHERE round = 5 AND overall > 159
Generated Answer: SELECT SUM(pick__number) FROM table_name_77 WHERE round = 5 AND overall > 159


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT SUM(pick__number) FROM table_name_77 WHERE round = 5 AND overall > 159')


Success!
Success Answer: SELECT SUM(pick__number) FROM table_name_77 WHERE round = 5 AND overall > 159

 29%|██▉       | 293/1000 [12:58<28:45,  2.44s/it]

Question: Who's the head coach of the team with a price of $3.22 million?

Real Answer: SELECT head_coach FROM table_19905183_1 WHERE price = "$3.22 million"
Generated Answer: SELECT head_coach FROM table_19905183_1 WHERE price = "$3.22 million"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT head_coach FROM table_19905183_1 WHERE price = "$3.22 million"')


Success!
Success Answer: SELECT head_coach FROM table_19905183_1 WHERE price = "$3.22 million"

 29%|██▉       | 294/1000 [13:01<30:43,  2.61s/it]

Question: Opened prior to 1877 only 2.44km from Wellington, when did this station close?

Real Answer: SELECT closed FROM table_name_6 WHERE opened < 1877 AND distance_from_wellington = "2.44km"
Generated Answer: SELECT closed FROM table_name_6 WHERE opened < 1877 AND distance_from_wellington = "2.44km"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT closed FROM table_name_6 WHERE opened < 1877 AND distance_from_wellington = "2.44km"')


Success!
Success Answer: SELECT closed FROM table_name_6 WHERE opened < 1877 AND distance_from_wellington = "2.44km"

 30%|██▉       | 295/1000 [13:03<28:03,  2.39s/it]

Question: What prefix has Haloalkane as the chemical class?

Real Answer: SELECT prefix FROM table_name_4 WHERE chemical_class = "haloalkane"
Generated Answer: SELECT prefix FROM table_name_4 WHERE chemical_class = "haloalkane"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT prefix FROM table_name_4 WHERE chemical_class = "haloalkane"')


Success!
Success Answer: SELECT prefix FROM table_name_4 WHERE chemical_class = "haloalkane"

 30%|██▉       | 296/1000 [13:05<26:22,  2.25s/it]

Question: Name the minimum for prohibition?

Real Answer: SELECT MIN(for_prohibition) FROM table_120778_1
Generated Answer: SELECT MIN(for_prohibition) FROM table_120778_1


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT MIN(for_prohibition) FROM table_120778_1')


Success!
Success Answer: SELECT MIN(for_prohibition) FROM table_120778_1

 30%|██▉       | 297/1000 [13:07<26:49,  2.29s/it]

Question: Which Semifinalists have a Finalist of andrei chesnokov?

Real Answer: SELECT semifinalists FROM table_name_82 WHERE finalist = "andrei chesnokov"
Generated Answer: SELECT semifinalists FROM table_name_82 WHERE finalist = "andrei chesnokov"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT semifinalists FROM table_name_82 WHERE finalist = "andrei chesnokov"')


Success!
Success Answer: SELECT semifinalists FROM table_name_82 WHERE finalist = "andrei chesnokov"

 30%|██▉       | 298/1000 [13:09<25:22,  2.17s/it]

Question: On what Date is the Circuit at Sandown Raceway?

Real Answer: SELECT date FROM table_name_37 WHERE circuit = "sandown raceway"
Generated Answer: SELECT date FROM table_name_37 WHERE circuit = "sandown raceway"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date FROM table_name_37 WHERE circuit = "sandown raceway"')


Success!
Success Answer: SELECT date FROM table_name_37 WHERE circuit = "sandown raceway"

 30%|██▉       | 299/1000 [13:11<22:41,  1.94s/it]

Question: Which Date has an Against larger than 0?

Real Answer: SELECT date FROM table_name_28 WHERE against > 0
Generated Answer: SELECT date FROM table_name_28 WHERE against > 0


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date FROM table_name_28 WHERE against > 0')


Success!
Success Answer: SELECT date FROM table_name_28 WHERE against > 0

 30%|███       | 300/1000 [13:14<25:50,  2.22s/it]

Question: What is the totl amount of years where avg start is 27.3?

Real Answer: SELECT COUNT(year) FROM table_1458412_1 WHERE avg_start = "27.3"
Generated Answer: SELECT COUNT(year) FROM table_1458412_1 WHERE avg_start = "27.3"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(year) FROM table_1458412_1 WHERE avg_start = "27.3"')


Success!
Success Answer: SELECT COUNT(year) FROM table_1458412_1 WHERE avg_start = "27.3"

 30%|███       | 301/1000 [13:17<28:21,  2.43s/it]

Question: What is the altitude for the distance medellin downtown (km) is 42?

Real Answer: SELECT altitude_m FROM table_name_10 WHERE distance_medellín_downtown___km__ = "42"
Generated Answer: SELECT altitude_m FROM table_name_10 WHERE distance_medellín_downtown___km__ = "42"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT altitude_m FROM table_name_10 WHERE distance_medellín_downtown___km__ = "42"')


Success!
Success Answer: SELECT altitude_m FROM table_name_10 WHERE distance_medellín_downtown___km__ = "42"

 30%|███       | 302/1000 [13:19<27:38,  2.38s/it]

Question: Name the D 41 which has a D 46 of r 6

Real Answer: SELECT d_41 FROM table_name_97 WHERE d_46 = "r 6"
Generated Answer: SELECT d_41 FROM table_name_97 WHERE d_46 = "r 6"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT d_41 FROM table_name_97 WHERE d_46 = "r 6"')


Success!
Success Answer: SELECT d_41 FROM table_name_97 WHERE d_46 = "r 6"

 30%|███       | 303/1000 [13:21<28:04,  2.42s/it]

Question: Name the race name for june 6

Real Answer: SELECT race_name FROM table_22669375_1 WHERE date = "June 6"
Generated Answer: SELECT race_name FROM table_22669375_1 WHERE date = "June 6"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT race_name FROM table_22669375_1 WHERE date = "June 6"')


Success!
Success Answer: SELECT race_name FROM table_22669375_1 WHERE date = "June 6"

 30%|███       | 304/1000 [13:24<30:04,  2.59s/it]

Question: NJame the total number of population for towns/villages for 217

Real Answer: SELECT COUNT(population) FROM table_16278825_1 WHERE towns__villages = 217
Generated Answer: SELECT COUNT(population) FROM table_16278825_1 WHERE towns__villages = "217"


Similarity Score: 0.9939545
Feedback: ('approve', 'SELECT COUNT(population) FROM table_16278825_1 WHERE towns__villages = "217"')


Real Answer: SELECT COUNT(population) FROM table_16278825_1 WHERE towns__villages = 217
Failed Answer: SELECT COUNT(population) FROM table_16278825_1 WHERE towns__villages = "217"

 30%|███       | 305/1000 [13:27<31:01,  2.68s/it]

Question: Who was No. 9 when No. 5 Mason and No. 3 Aiden?

Real Answer: SELECT no_9 FROM table_name_65 WHERE no_5 = "mason" AND no_3 = "aiden"
Generated Answer: SELECT no_9 FROM table_name_65 WHERE no_5 = "mason" AND no_3 = "aiden"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT no_9 FROM table_name_65 WHERE no_5 = "mason" AND no_3 = "aiden"')


Success!
Success Answer: SELECT no_9 FROM table_name_65 WHERE no_5 = "mason" AND no_3 = "aiden"

 31%|███       | 306/1000 [13:30<30:07,  2.60s/it]

Question: What year did Naoki Tsukahara finish 3rd in the 200 m race?

Real Answer: SELECT year FROM table_name_4 WHERE notes = "200 m" AND position = "3rd"
Generated Answer: SELECT year FROM table_name_4 WHERE notes = "200 m" AND position = "3rd"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT year FROM table_name_4 WHERE notes = "200 m" AND position = "3rd"')


Success!
Success Answer: SELECT year FROM table_name_4 WHERE notes = "200 m" AND position = "3rd"

 31%|███       | 307/1000 [13:32<29:15,  2.53s/it]

Question: Which school did the player then go to Auburn?

Real Answer: SELECT school FROM table_11677691_7 WHERE college = "Auburn"
Generated Answer: SELECT school FROM table_11677691_7 WHERE college = "Auburn"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT school FROM table_11677691_7 WHERE college = "Auburn"')


Success!
Success Answer: SELECT school FROM table_11677691_7 WHERE college = "Auburn"

 31%|███       | 308/1000 [13:35<30:11,  2.62s/it]

Question: What is the name of the baseball stadium for the school with the Murray Center basketball arena?

Real Answer: SELECT baseball_stadium FROM table_1974545_3 WHERE basketball_arena = "The Murray Center"
Generated Answer: SELECT baseball_stadium FROM table_1974545_3 WHERE basketball_arena = "Murray Center"


Similarity Score: 0.9968145
Feedback: ('approve', 'SELECT baseball_stadium FROM table_1974545_3 WHERE basketball_arena = "Murray Center"')


Real Answer: SELECT baseball_stadium FROM table_1974545_3 WHERE basketball_arena = "The Murray Center"
Failed Answer: SELECT baseball_stadium FROM table_1974545_3 WHERE basketball_arena = "Murray Center"

 31%|███       | 309/1000 [13:38<30:32,  2.65s/it]

Question: What year had Nintendo EAD, Monolith Soft as developers?

Real Answer: SELECT SUM(year) FROM table_name_36 WHERE developer_s_ = "nintendo ead, monolith soft"
Generated Answer: SELECT MIN(year) FROM table_name_36 WHERE developer_s_ = "nintendo ead, monolith soft"


Similarity Score: 0.7436531
Feedback: ('correct', 'SELECT SUM(year) FROM table_name_36 WHERE developer_s_ = "nintendo ead, monolith soft"')


Real Answer: SELECT SUM(year) FROM table_name_36 WHERE developer_s_ = "nintendo ead, monolith soft"
Failed Answer: SELECT MIN(year) FROM table_name_36 WHERE developer_s_ = "nintendo ead, monolith soft"

 31%|███       | 310/1000 [13:40<29:31,  2.57s/it]

Question: What was the aggregate score for the match won by Viadana?

Real Answer: SELECT aggregate_score FROM table_28068063_2 WHERE winners = "Viadana"
Generated Answer: SELECT aggregate_score FROM table_28068063_2 WHERE winners = "Viadana"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT aggregate_score FROM table_28068063_2 WHERE winners = "Viadana"')


Success!
Success Answer: SELECT aggregate_score FROM table_28068063_2 WHERE winners = "Viadana"

 31%|███       | 311/1000 [13:43<31:59,  2.79s/it]

Question: Which class has fewer than 89 points and the Honda team later than 1987?

Real Answer: SELECT class FROM table_name_48 WHERE points < 89 AND team = "honda" AND year > 1987
Generated Answer: SELECT COUNT(class) FROM table_name_48 WHERE points < 89 AND team = "honda" AND year > 1987


Similarity Score: 0.80639464
Feedback: ('approve', 'SELECT COUNT(class) FROM table_name_48 WHERE points < 89 AND team = "honda" AND year > 1987')


Real Answer: SELECT class FROM table_name_48 WHERE points < 89 AND team = "honda" AND year > 1987
Failed Answer: SELECT COUNT(class) FROM table_name_48 WHERE points < 89 AND team = "honda" AND year > 1987

 31%|███       | 312/1000 [13:46<30:17,  2.64s/it]

Question: What is the System with the Current version 3.0.0?

Real Answer: SELECT system FROM table_name_58 WHERE current_version = "3.0.0"
Generated Answer: SELECT system FROM table_name_58 WHERE current_version = "3.0.0"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT system FROM table_name_58 WHERE current_version = "3.0.0"')


Success!
Success Answer: SELECT system FROM table_name_58 WHERE current_version = "3.0.0"

 31%|███▏      | 313/1000 [13:48<30:27,  2.66s/it]

Question: How many entries are shown for first elected for district 41?

Real Answer: SELECT COUNT(first_elected) FROM table_11948857_1 WHERE district = 41
Generated Answer: SELECT COUNT(first_elected) FROM table_11948857_1 WHERE district = 41


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT COUNT(first_elected) FROM table_11948857_1 WHERE district = 41')


Success!
Success Answer: SELECT COUNT(first_elected) FROM table_11948857_1 WHERE district = 41

 31%|███▏      | 314/1000 [13:51<29:29,  2.58s/it]

Question: What game ended with a final score of 126-108?

Real Answer: SELECT MAX(game) FROM table_name_16 WHERE score = "126-108"
Generated Answer: SELECT SUM(game) FROM table_name_16 WHERE score = "126-108"


Similarity Score: 0.68407273
Feedback: ('correct', 'SELECT MAX(game) FROM table_name_16 WHERE score = "126-108"')


Real Answer: SELECT MAX(game) FROM table_name_16 WHERE score = "126-108"
Failed Answer: SELECT SUM(game) FROM table_name_16 WHERE score = "126-108"

 32%|███▏      | 315/1000 [13:53<28:16,  2.48s/it]

Question: What country has a 76-71=147 score?

Real Answer: SELECT country FROM table_name_8 WHERE score = 76 - 71 = 147
Generated Answer: SELECT country FROM table_name_8 WHERE score = 76 - 71 = 147


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT country FROM table_name_8 WHERE score = 76 - 71 = 147')


Success!
Success Answer: SELECT country FROM table_name_8 WHERE score = 76 - 71 = 147

 32%|███▏      | 316/1000 [13:57<32:41,  2.87s/it]

Question: Count the Rank-Final which has a Year larger than 2008, and an Apparatus of balance beam, and a Rank-Qualifying larger than 4?

Real Answer: SELECT COUNT(rank_final) FROM table_name_68 WHERE year > 2008 AND apparatus = "balance beam" AND rank_qualifying > 4
Generated Answer: SELECT COUNT(rank_final) FROM table_name_68 WHERE year > 2008 AND apparatus = "balance beam" AND rank_qualifying > 4


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(rank_final) FROM table_name_68 WHERE year > 2008 AND apparatus = "balance beam" AND rank_qualifying > 4')


Success!
Success Answer: SELECT COUNT(rank_final) FROM table_name_68 WHERE year > 2008 AND apparatus = "balance beam" AND rank_qualifying > 4

 32%|███▏      | 317/1000 [13:59<29:49,  2.62s/it]

Question: Who was the commentator when the spokesperson was michael aspel?

Real Answer: SELECT commentator FROM table_name_35 WHERE spokespersons = "michael aspel"
Generated Answer: SELECT commentator FROM table_name_35 WHERE spokespersons = "michael aspel"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT commentator FROM table_name_35 WHERE spokespersons = "michael aspel"')


Success!
Success Answer: SELECT commentator FROM table_name_35 WHERE spokespersons = "michael aspel"

 32%|███▏      | 318/1000 [14:01<29:19,  2.58s/it]

Question: Which Result has a Score of 4-1, and a Competition of world cup qualifying?

Real Answer: SELECT result FROM table_name_89 WHERE score = "4-1" AND competition = "world cup qualifying"
Generated Answer: SELECT result FROM table_name_89 WHERE score = "4-1" AND competition = "world cup qualifying"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT result FROM table_name_89 WHERE score = "4-1" AND competition = "world cup qualifying"')


Success!
Success Answer: SELECT result FROM table_name_89 WHERE score = "4-1" AND competition = "world cup qualifying"

 32%|███▏      | 319/1000 [14:04<28:43,  2.53s/it]

Question: How many Assists for the Player with a Rank greater than 3 in less than 25 Games?

Real Answer: SELECT AVG(assists) FROM table_name_66 WHERE rank > 3 AND games < 25
Generated Answer: SELECT SUM(assists) FROM table_name_66 WHERE rank > 3 AND games < 25


Similarity Score: 0.83233386
Feedback: ('approve', 'SELECT SUM(assists) FROM table_name_66 WHERE rank > 3 AND games < 25')


Real Answer: SELECT AVG(assists) FROM table_name_66 WHERE rank > 3 AND games < 25
Failed Answer: SELECT SUM(assists) FROM table_name_66 WHERE rank > 3 AND games < 25

 32%|███▏      | 320/1000 [14:06<27:44,  2.45s/it]

Question: What type of school is in swarthmore, pennsylvania?

Real Answer: SELECT type FROM table_254776_1 WHERE location = "Swarthmore, Pennsylvania"
Generated Answer: SELECT type FROM table_254776_1 WHERE location = "Swarthmore, Pennsylvania"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT type FROM table_254776_1 WHERE location = "Swarthmore, Pennsylvania"')


Success!
Success Answer: SELECT type FROM table_254776_1 WHERE location = "Swarthmore, Pennsylvania"

 32%|███▏      | 321/1000 [14:08<26:22,  2.33s/it]

Question: What was the score in the game where the record was 10-9-7?

Real Answer: SELECT score FROM table_name_94 WHERE record = "10-9-7"
Generated Answer: SELECT score FROM table_name_94 WHERE record = "10-9-7"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT score FROM table_name_94 WHERE record = "10-9-7"')


Success!
Success Answer: SELECT score FROM table_name_94 WHERE record = "10-9-7"

 32%|███▏      | 322/1000 [14:11<27:58,  2.48s/it]

Question: Tier of 2, and a Season of 2000–01 is what European competitions?

Real Answer: SELECT european_competitions FROM table_name_35 WHERE tier = 2 AND season = "2000–01"
Generated Answer: SELECT european_competitions FROM table_name_35 WHERE tier = 2 AND season = "2000–01"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT european_competitions FROM table_name_35 WHERE tier = 2 AND season = "2000–01"')


Success!
Success Answer: SELECT european_competitions FROM table_name_35 WHERE tier = 2 AND season = "2000–01"

 32%|███▏      | 323/1000 [14:13<26:07,  2.32s/it]

Question: What is the Date with a Score with 86–108?

Real Answer: SELECT date FROM table_name_7 WHERE score = "86–108"
Generated Answer: SELECT date FROM table_name_7 WHERE score = "86–108"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT date FROM table_name_7 WHERE score = "86–108"')


Success!
Success Answer: SELECT date FROM table_name_7 WHERE score = "86–108"

 32%|███▏      | 324/1000 [14:15<24:52,  2.21s/it]

Question: What is the surface when the tournament is manta, ecuador?

Real Answer: SELECT surface FROM table_name_95 WHERE tournament = "manta, ecuador"
Generated Answer: SELECT surface FROM table_name_95 WHERE tournament = "manta, ecuador"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT surface FROM table_name_95 WHERE tournament = "manta, ecuador"')


Success!
Success Answer: SELECT surface FROM table_name_95 WHERE tournament = "manta, ecuador"

 32%|███▎      | 325/1000 [14:17<26:31,  2.36s/it]

Question: Which bike had a grid less than 35 and time at 37:58.607?

Real Answer: SELECT bike FROM table_name_13 WHERE grid < 35 AND time = "37:58.607"
Generated Answer: SELECT bike FROM table_name_13 WHERE grid < 35 AND time = "37:58.607"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT bike FROM table_name_13 WHERE grid < 35 AND time = "37:58.607"')


Success!
Success Answer: SELECT bike FROM table_name_13 WHERE grid < 35 AND time = "37:58.607"

 33%|███▎      | 326/1000 [14:23<37:04,  3.30s/it]

Question: What is the earliest year of Valdimir Poelnikov, who has a final position-tour bigger than 72, a final position-vuelta less than 77, and a final position-giro less than 57?

Real Answer: SELECT MIN(year) FROM table_name_67 WHERE final_position___tour > 72 AND final_position___vuelta < 77 AND final_position___giro < 57 AND rider = "valdimir poelnikov"
Generated Answer: SELECT MIN(year) FROM table_name_67 WHERE final_position___tour > 72 AND final_position___vuelta < 77 AND final_position___giro < 57 AND rider = "valdimir poelnikov"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT MIN(year) FROM table_name_67 WHERE final_position___tour > 72 AND final_position___vuelta < 77 AND final_position___giro < 57 AND rider = "valdimir poelnikov"')


Success!
Success Answer: SELECT MIN(year) FROM table_name_67 WHERE final_position___tour > 72 AND final_position___vuelta < 77 AND final_position___giro < 57 AND rider = "valdimir poelnikov"

 33%|███▎      | 327/1000 [14:25<34:53,  3.11s/it]

Question: Which country is Pete Cooper, who made $816, from?

Real Answer: SELECT country FROM table_name_32 WHERE money___$__ = 816 AND player = "pete cooper"
Generated Answer: SELECT country FROM table_name_32 WHERE money___$__ = "816" AND player = "pete cooper"


Similarity Score: 0.9887756
Feedback: ('approve', 'SELECT country FROM table_name_32 WHERE money___$__ = "816" AND player = "pete cooper"')


Real Answer: SELECT country FROM table_name_32 WHERE money___$__ = 816 AND player = "pete cooper"
Failed Answer: SELECT country FROM table_name_32 WHERE money___$__ = "816" AND player = "pete cooper"

 33%|███▎      | 328/1000 [14:27<30:22,  2.71s/it]

Question: WHAT IS THE ATTENDANCE  WITH A READING AWAY TEAM?

Real Answer: SELECT attendance FROM table_name_40 WHERE away_team = "reading"
Generated Answer: SELECT attendance FROM table_name_40 WHERE away_team = "reading"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT attendance FROM table_name_40 WHERE away_team = "reading"')


Success!
Success Answer: SELECT attendance FROM table_name_40 WHERE away_team = "reading"

 33%|███▎      | 329/1000 [14:31<33:55,  3.03s/it]

Question: What is the Date when yelena isinbayeva was the Athlete, with a Record of 4.90m(16ft0¾in)?

Real Answer: SELECT date FROM table_name_45 WHERE athlete = "yelena isinbayeva" AND record = "4.90m(16ft0¾in)"
Generated Answer: SELECT date FROM table_name_45 WHERE athlete = "yelena isinbayeva" AND record = "4.90m(16ft0¾in)"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT date FROM table_name_45 WHERE athlete = "yelena isinbayeva" AND record = "4.90m(16ft0¾in)"')


Success!
Success Answer: SELECT date FROM table_name_45 WHERE athlete = "yelena isinbayeva" AND record = "4.90m(16ft0¾in)"

 33%|███▎      | 330/1000 [14:34<32:35,  2.92s/it]

Question: How many licenses have mind workstation software?

Real Answer: SELECT COUNT(license) FROM table_15038373_1 WHERE software = "Mind WorkStation"
Generated Answer: SELECT COUNT(license) FROM table_15038373_1 WHERE software = "Mind Workstation"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(license) FROM table_15038373_1 WHERE software = "Mind Workstation"')


Real Answer: SELECT COUNT(license) FROM table_15038373_1 WHERE software = "Mind WorkStation"
Failed Answer: SELECT COUNT(license) FROM table_15038373_1 WHERE software = "Mind Workstation"

 33%|███▎      | 331/1000 [14:39<40:49,  3.66s/it]

Question: Who were the starting actors in the time frame of  tuesday 22:00~22:54 8 april 2008 to 17 june 2008?

Real Answer: SELECT starring_actors FROM table_18539834_2 WHERE time_frame = "Tuesday 22:00~22:54 8 April 2008 to 17 June 2008"
Generated Answer: SELECT starring_actors FROM table_18539834_2 WHERE time_frame = "Tuesday 22:00~22:54 8 April 2008 to 17 June 2008"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT starring_actors FROM table_18539834_2 WHERE time_frame = "Tuesday 22:00~22:54 8 April 2008 to 17 June 2008"')


Success!
Success Answer: SELECT starring_actors FROM table_18539834_2 WHERE time_frame = "Tuesday 22:00~22:54 8 April 2008 to 17 June 2008"

 33%|███▎      | 332/1000 [14:44<45:15,  4.07s/it]

Question: List the forename and surname of all distinct drivers who once had laptime less than 93000 milliseconds?

Real Answer: SELECT DISTINCT T1.forename, T1.surname FROM drivers AS T1 JOIN laptimes AS T2 ON T1.driverid = T2.driverid WHERE T2.milliseconds < 93000
Generated Answer: SELECT DISTINCT T1.forename, T1.surname FROM drivers AS T1 JOIN laptimes AS T2 ON T1.driverid = T2.driverid WHERE T2.milliseconds < 93000


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT DISTINCT T1.forename, T1.surname FROM drivers AS T1 JOIN laptimes AS T2 ON T1.driverid = T2.driverid WHERE T2.milliseconds < 93000')


Success!
Success Answer: SELECT DISTINCT T1.forename, T1.surname FROM drivers AS T1 JOIN laptimes AS T2 ON T1.driverid = T2.driverid WHERE T2.milliseconds < 93000

 33%|███▎      | 333/1000 [14:47<41:31,  3.74s/it]

Question: What date did the Green-Communists receive 5.7%?

Real Answer: SELECT date_released FROM table_1881642_1 WHERE green_communist = "5.7%"
Generated Answer: SELECT date_released FROM table_1881642_1 WHERE green_communist = "5.7%"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date_released FROM table_1881642_1 WHERE green_communist = "5.7%"')


Success!
Success Answer: SELECT date_released FROM table_1881642_1 WHERE green_communist = "5.7%"

 33%|███▎      | 334/1000 [14:50<37:19,  3.36s/it]

Question: What label released a CD in 1988?

Real Answer: SELECT label FROM table_name_37 WHERE date = "1988" AND format = "cd"
Generated Answer: SELECT label FROM table_name_37 WHERE date = "1988" AND format = "cd"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT label FROM table_name_37 WHERE date = "1988" AND format = "cd"')


Success!
Success Answer: SELECT label FROM table_name_37 WHERE date = "1988" AND format = "cd"

 34%|███▎      | 335/1000 [14:52<35:48,  3.23s/it]

Question: what is the score when the outcome is winner against yevgeny kafelnikov?

Real Answer: SELECT score FROM table_name_51 WHERE outcome = "winner" AND opponent = "yevgeny kafelnikov"
Generated Answer: SELECT score FROM table_name_51 WHERE outcome = "winner" AND opponent = "yevgeny kafelnikov"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT score FROM table_name_51 WHERE outcome = "winner" AND opponent = "yevgeny kafelnikov"')


Success!
Success Answer: SELECT score FROM table_name_51 WHERE outcome = "winner" AND opponent = "yevgeny kafelnikov"

 34%|███▎      | 336/1000 [14:53<27:57,  2.53s/it]

Question: What is the total checking balance in all accounts?

Real Answer: SELECT SUM(balance) FROM checking
Generated Answer: SELECT SUM(balance) FROM checking


Similarity Score: 1.0
Feedback: ('approve', 'SELECT SUM(balance) FROM checking')


Success!
Success Answer: SELECT SUM(balance) FROM checking

 34%|███▎      | 337/1000 [14:58<34:30,  3.12s/it]

Question: What is the TV Channel that shows the cartoon "The Rise of the Blue Beetle!"? List the TV Channel's series name.

Real Answer: SELECT T1.series_name FROM TV_Channel AS T1 JOIN Cartoon AS T2 ON T1.id = T2.Channel WHERE T2.Title = "The Rise of the Blue Beetle!"
Generated Answer: SELECT T1.series_name FROM TV_Channel AS T1 JOIN Cartoon AS T2 ON T1.id = T2.Channel WHERE T2.Title = "The Rise of the Blue Beetle!"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT T1.series_name FROM TV_Channel AS T1 JOIN Cartoon AS T2 ON T1.id = T2.Channel WHERE T2.Title = "The Rise of the Blue Beetle!"')


Success!
Success Answer: SELECT T1.series_name FROM TV_Channel AS T1 JOIN Cartoon AS T2 ON T1.id = T2.Channel WHERE T2.Title = "The Rise of the Blue Beetle!"

 34%|███▍      | 338/1000 [15:00<30:24,  2.76s/it]

Question: Name the Place of seve ballesteros?

Real Answer: SELECT place FROM table_name_35 WHERE player = "seve ballesteros"
Generated Answer: SELECT place FROM table_name_35 WHERE player = "seve ballesteros"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT place FROM table_name_35 WHERE player = "seve ballesteros"')


Success!
Success Answer: SELECT place FROM table_name_35 WHERE player = "seve ballesteros"

 34%|███▍      | 339/1000 [15:02<27:12,  2.47s/it]

Question: What win method has a time of 2:32?

Real Answer: SELECT method FROM table_name_71 WHERE time = "2:32"
Generated Answer: SELECT method FROM table_name_71 WHERE time = "2:32"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT method FROM table_name_71 WHERE time = "2:32"')


Success!
Success Answer: SELECT method FROM table_name_71 WHERE time = "2:32"

 34%|███▍      | 340/1000 [15:05<31:09,  2.83s/it]

Question: Which Years in Orlando has a Nationality of united states, a Position of center, and a Player of jawann oldham?

Real Answer: SELECT years_in_orlando FROM table_name_10 WHERE nationality = "united states" AND position = "center" AND player = "jawann oldham"
Generated Answer: SELECT years_in_orlando FROM table_name_10 WHERE nationality = "united states" AND position = "center" AND player = "jawann oldham"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT years_in_orlando FROM table_name_10 WHERE nationality = "united states" AND position = "center" AND player = "jawann oldham"')


Success!
Success Answer: SELECT years_in_orlando FROM table_name_10 WHERE nationality = "united states" AND position = "center" AND player = "jawann oldham"

 34%|███▍      | 341/1000 [15:07<27:34,  2.51s/it]

Question: What is the average Total with a Gold that is larger than 4?

Real Answer: SELECT AVG(total) FROM table_name_77 WHERE gold > 4
Generated Answer: SELECT AVG(total) FROM table_name_77 WHERE gold > 4


Similarity Score: 1.0
Feedback: ('approve', 'SELECT AVG(total) FROM table_name_77 WHERE gold > 4')


Success!
Success Answer: SELECT AVG(total) FROM table_name_77 WHERE gold > 4

 34%|███▍      | 342/1000 [15:09<26:03,  2.38s/it]

Question: Who won when Peter Fleming was a runner-up?

Real Answer: SELECT champion FROM table_name_82 WHERE runner_up = "peter fleming"
Generated Answer: SELECT champion FROM table_name_82 WHERE runner_up = "peter fleming"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT champion FROM table_name_82 WHERE runner_up = "peter fleming"')


Success!
Success Answer: SELECT champion FROM table_name_82 WHERE runner_up = "peter fleming"

 34%|███▍      | 343/1000 [15:12<27:09,  2.48s/it]

Question: WHERE THE THEME WAS "YEAR THEY WERE BORN," WHAT THE TOTAL NUMBER OF RESULTS?

Real Answer: SELECT COUNT(result) FROM table_15778392_1 WHERE theme = "Year They Were Born"
Generated Answer: SELECT COUNT(result) FROM table_15778392_1 WHERE theme = "Year they were born"


Similarity Score: 0.99999964
Feedback: ('approve', 'SELECT COUNT(result) FROM table_15778392_1 WHERE theme = "Year they were born"')


Real Answer: SELECT COUNT(result) FROM table_15778392_1 WHERE theme = "Year They Were Born"
Failed Answer: SELECT COUNT(result) FROM table_15778392_1 WHERE theme = "Year they were born"

 34%|███▍      | 344/1000 [15:15<30:15,  2.77s/it]

Question: What is the lower turnout that has a byut of 50.7 and an ou psd smaller than 36.8?

Real Answer: SELECT MIN(voter_turnout) FROM table_name_62 WHERE byut = 50.7 AND ou_psd < 36.8
Generated Answer: SELECT MIN(voter_turnout) FROM table_name_62 WHERE byut = 50.7 AND ou_psd < 36.8


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(voter_turnout) FROM table_name_62 WHERE byut = 50.7 AND ou_psd < 36.8')


Success!
Success Answer: SELECT MIN(voter_turnout) FROM table_name_62 WHERE byut = 50.7 AND ou_psd < 36.8

 34%|███▍      | 345/1000 [15:18<28:41,  2.63s/it]

Question: What is the NVR Page of the ship with a Home Port of Sasebo, Japan?

Real Answer: SELECT nvr_page FROM table_name_6 WHERE home_port = "sasebo, japan"
Generated Answer: SELECT nrv_page FROM table_name_6 WHERE home_port = "sasebo, japan"


Similarity Score: 0.8799454
Feedback: ('approve', 'SELECT nrv_page FROM table_name_6 WHERE home_port = "sasebo, japan"')


Real Answer: SELECT nvr_page FROM table_name_6 WHERE home_port = "sasebo, japan"
Failed Answer: SELECT nrv_page FROM table_name_6 WHERE home_port = "sasebo, japan"

 35%|███▍      | 346/1000 [15:20<27:49,  2.55s/it]

Question: What is the courtesy title of the person whose tenure goes from 1766–1794?

Real Answer: SELECT courtesy_title FROM table_name_1 WHERE tenure = "1766–1794"
Generated Answer: SELECT courtesy_title FROM table_name_1 WHERE tenure = "1766–1794"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT courtesy_title FROM table_name_1 WHERE tenure = "1766–1794"')


Success!
Success Answer: SELECT courtesy_title FROM table_name_1 WHERE tenure = "1766–1794"

 35%|███▍      | 347/1000 [15:23<28:08,  2.59s/it]

Question: What is To Par, when Place is "T9", and when Player is "Lee Trevino"?

Real Answer: SELECT to_par FROM table_name_23 WHERE place = "t9" AND player = "lee trevino"
Generated Answer: SELECT to_par FROM table_name_23 WHERE place = "t9" AND player = "lee trevino"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT to_par FROM table_name_23 WHERE place = "t9" AND player = "lee trevino"')


Success!
Success Answer: SELECT to_par FROM table_name_23 WHERE place = "t9" AND player = "lee trevino"

 35%|███▍      | 348/1000 [15:26<29:34,  2.72s/it]

Question: What is the tournament with a 2r in 2009 and a 2r in 2010?

Real Answer: SELECT tournament FROM table_name_96 WHERE 2009 = "2r" AND 2010 = "2r"
Generated Answer: SELECT tournament FROM table_name_96 WHERE 2009 = "2r" AND 2010 = "2r"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT tournament FROM table_name_96 WHERE 2009 = "2r" AND 2010 = "2r"')


Success!
Success Answer: SELECT tournament FROM table_name_96 WHERE 2009 = "2r" AND 2010 = "2r"

 35%|███▍      | 349/1000 [15:31<38:27,  3.54s/it]

Question: If the San Antonio de Lomerio municipality percentage is 5.480, what is the total percentage for the San Julian municipality?

Real Answer: SELECT COUNT(san_julián_municipality___percentage_) FROM table_19998428_3 WHERE san_antonio_de_lomerío_municipality___percentage_ = "5.480"
Generated Answer: SELECT COUNT(san_julián_municipality___percentage_) FROM table_19998428_3 WHERE san_antonio_de_lomerío_municipality___percentage_ = "5.480"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(san_julián_municipality___percentage_) FROM table_19998428_3 WHERE san_antonio_de_lomerío_municipality___percentage_ = "5.480"')


Success!
Success Answer: SELECT COUNT(san_julián_municipality___percentage_) FROM table_19998428_3 WHERE san_antonio_de_lomerío_municipality___percentage_ = "5.480"

 35%|███▌      | 350/1000 [15:33<32:34,  3.01s/it]

Question: What is the number of points when the draws are more than 1?

Real Answer: SELECT COUNT(points) FROM table_name_57 WHERE draw > 1
Generated Answer: SELECT COUNT(points) FROM table_name_57 WHERE draw > 1


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(points) FROM table_name_57 WHERE draw > 1')


Success!
Success Answer: SELECT COUNT(points) FROM table_name_57 WHERE draw > 1

 35%|███▌      | 351/1000 [15:35<31:02,  2.87s/it]

Question: On which date did Ger Loughnane from Team Clare have a match?

Real Answer: SELECT date FROM table_name_88 WHERE team = "clare" AND player = "ger loughnane"
Generated Answer: SELECT date FROM table_name_88 WHERE team = "clare" AND player = "ger loughnane"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT date FROM table_name_88 WHERE team = "clare" AND player = "ger loughnane"')


Success!
Success Answer: SELECT date FROM table_name_88 WHERE team = "clare" AND player = "ger loughnane"

 35%|███▌      | 352/1000 [15:39<31:45,  2.94s/it]

Question: What's the lane number when time was 20.45 and the react was less than 0.164?

Real Answer: SELECT MAX(lane) FROM table_name_85 WHERE react < 0.164 AND time = "20.45"
Generated Answer: SELECT SUM(lane) FROM table_name_85 WHERE react < 0.164 AND time = "20.45"


Similarity Score: 0.73589766
Feedback: ('correct', 'SELECT MAX(lane) FROM table_name_85 WHERE react < 0.164 AND time = "20.45"')


Real Answer: SELECT MAX(lane) FROM table_name_85 WHERE react < 0.164 AND time = "20.45"
Failed Answer: SELECT SUM(lane) FROM table_name_85 WHERE react < 0.164 AND time = "20.45"

 35%|███▌      | 353/1000 [15:41<29:01,  2.69s/it]

Question: What Region has a Catalog of crgd 86136?

Real Answer: SELECT region FROM table_name_47 WHERE catalog = "crgd 86136"
Generated Answer: SELECT region FROM table_name_47 WHERE catalog = "crgd 86136"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT region FROM table_name_47 WHERE catalog = "crgd 86136"')


Success!
Success Answer: SELECT region FROM table_name_47 WHERE catalog = "crgd 86136"

 35%|███▌      | 354/1000 [15:44<30:24,  2.82s/it]

Question: On what day was the race that Cale Yarborough won in 364 laps?

Real Answer: SELECT day FROM table_22298383_1 WHERE laps = "364" AND driver = "Cale Yarborough"
Generated Answer: SELECT day FROM table_22298383_1 WHERE laps = 364 AND driver = "Cale Yarborough"


Similarity Score: 0.99663734
Feedback: ('approve', 'SELECT day FROM table_22298383_1 WHERE laps = 364 AND driver = "Cale Yarborough"')


Real Answer: SELECT day FROM table_22298383_1 WHERE laps = "364" AND driver = "Cale Yarborough"
Failed Answer: SELECT day FROM table_22298383_1 WHERE laps = 364 AND driver = "Cale Yarborough"

 36%|███▌      | 355/1000 [15:46<28:54,  2.69s/it]

Question: What European competitions have a tier of 2 and a position of 3?

Real Answer: SELECT european_competitions FROM table_name_48 WHERE tier = 2 AND pos = 3
Generated Answer: SELECT european_competitions FROM table_name_48 WHERE tier = 2 AND pos = 3


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT european_competitions FROM table_name_48 WHERE tier = 2 AND pos = 3')


Success!
Success Answer: SELECT european_competitions FROM table_name_48 WHERE tier = 2 AND pos = 3

 36%|███▌      | 356/1000 [15:48<26:11,  2.44s/it]

Question: For the game where the away team was North Melbourne, what was the venue?

Real Answer: SELECT venue FROM table_name_7 WHERE away_team = "north melbourne"
Generated Answer: SELECT venue FROM table_name_7 WHERE away_team = "north melbourne"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT venue FROM table_name_7 WHERE away_team = "north melbourne"')


Success!
Success Answer: SELECT venue FROM table_name_7 WHERE away_team = "north melbourne"

 36%|███▌      | 357/1000 [15:51<28:38,  2.67s/it]

Question: Find the number of complaints with Product Failure type for each complaint status.

Real Answer: SELECT complaint_status_code, COUNT(*) FROM complaints WHERE complaint_type_code = "Product Failure" GROUP BY complaint_status_code
Generated Answer: SELECT COUNT(*), complaint_status_code FROM complaints WHERE complaint_type_code = 'Product Failure' GROUP BY complaint_status_code


Similarity Score: 0.9744806
Feedback: ('approve', "SELECT COUNT(*), complaint_status_code FROM complaints WHERE complaint_type_code = 'Product Failure' GROUP BY complaint_status_code")


Real Answer: SELECT complaint_status_code, COUNT(*) FROM complaints WHERE complaint_type_code = "Product Failure" GROUP BY complaint_status_code
Failed Answer: SELECT COUNT(*), complaint_status_code FROM complaints WHERE complaint_type_code = 'Product Failure' GROUP BY complaint_status_code

 36%|███▌      | 358/1000 [15:53<25:37,  2.40s/it]

Question: Which Laps have Points of 29?

Real Answer: SELECT laps FROM table_name_23 WHERE points = 29
Generated Answer: SELECT laps FROM table_name_23 WHERE points = "29"


Similarity Score: 0.9914104
Feedback: ('approve', 'SELECT laps FROM table_name_23 WHERE points = "29"')


Real Answer: SELECT laps FROM table_name_23 WHERE points = 29
Failed Answer: SELECT laps FROM table_name_23 WHERE points = "29"

 36%|███▌      | 359/1000 [15:56<28:27,  2.66s/it]

Question: How many Losses have a Ballarat FL of melton south, and an Against larger than 1468?

Real Answer: SELECT COUNT(losses) FROM table_name_10 WHERE ballarat_fl = "melton south" AND against > 1468
Generated Answer: SELECT COUNT(losses) FROM table_name_10 WHERE ballarat_fl = "melton south" AND against > 1468


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(losses) FROM table_name_10 WHERE ballarat_fl = "melton south" AND against > 1468')


Success!
Success Answer: SELECT COUNT(losses) FROM table_name_10 WHERE ballarat_fl = "melton south" AND against > 1468

 36%|███▌      | 360/1000 [15:58<26:21,  2.47s/it]

Question: How many total gold medals did Australia receive?

Real Answer: SELECT COUNT(gold) FROM table_name_80 WHERE nation = "australia"
Generated Answer: SELECT COUNT(gold) FROM table_name_80 WHERE nation = "australia"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(gold) FROM table_name_80 WHERE nation = "australia"')


Success!
Success Answer: SELECT COUNT(gold) FROM table_name_80 WHERE nation = "australia"

 36%|███▌      | 361/1000 [16:01<26:10,  2.46s/it]

Question: Who is the successor for massachusetts 8th?

Real Answer: SELECT successor FROM table_228439_4 WHERE district = "Massachusetts 8th"
Generated Answer: SELECT successor FROM table_228439_4 WHERE district = "Massachusetts 8th"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT successor FROM table_228439_4 WHERE district = "Massachusetts 8th"')


Success!
Success Answer: SELECT successor FROM table_228439_4 WHERE district = "Massachusetts 8th"

 36%|███▌      | 362/1000 [16:03<24:43,  2.32s/it]

Question: What was the date of the game with 16,404 people?

Real Answer: SELECT date FROM table_name_18 WHERE attendance = "16,404"
Generated Answer: SELECT date FROM table_name_18 WHERE attendance = "16,404"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT date FROM table_name_18 WHERE attendance = "16,404"')


Success!
Success Answer: SELECT date FROM table_name_18 WHERE attendance = "16,404"

 36%|███▋      | 363/1000 [16:05<24:18,  2.29s/it]

Question: Which Pada 3 has a Pada 1 of टे te?

Real Answer: SELECT pada_3 FROM table_name_41 WHERE pada_1 = "टे te"
Generated Answer: SELECT pada_3 FROM table_name_41 WHERE pada_1 = "टे te"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT pada_3 FROM table_name_41 WHERE pada_1 = "टे te"')


Success!
Success Answer: SELECT pada_3 FROM table_name_41 WHERE pada_1 = "टे te"

 36%|███▋      | 364/1000 [16:07<23:09,  2.18s/it]

Question: What was the score for the game that had an attendance of 41,087?

Real Answer: SELECT score FROM table_name_19 WHERE attendance = "41,087"
Generated Answer: SELECT score FROM table_name_19 WHERE attendance = "41,087"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT score FROM table_name_19 WHERE attendance = "41,087"')


Success!
Success Answer: SELECT score FROM table_name_19 WHERE attendance = "41,087"

 36%|███▋      | 365/1000 [16:09<23:01,  2.18s/it]

Question: What is the home of fc thun (asl) geust?

Real Answer: SELECT home FROM table_name_83 WHERE geust = "fc thun (asl)"
Generated Answer: SELECT home FROM table_name_83 WHERE geust = "fc thun (asl)"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT home FROM table_name_83 WHERE geust = "fc thun (asl)"')


Success!
Success Answer: SELECT home FROM table_name_83 WHERE geust = "fc thun (asl)"

 37%|███▋      | 366/1000 [16:12<25:40,  2.43s/it]

Question: What is the highest number of students for schools in Campbell with pupil to teacher ratios over 25?

Real Answer: SELECT MAX(students) FROM table_name_13 WHERE city = "campbell" AND pupil_teacher_ratio > 25
Generated Answer: SELECT MAX(students) FROM table_name_13 WHERE city = "campbell" AND pupil_teacher_ratio > 25


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(students) FROM table_name_13 WHERE city = "campbell" AND pupil_teacher_ratio > 25')


Success!
Success Answer: SELECT MAX(students) FROM table_name_13 WHERE city = "campbell" AND pupil_teacher_ratio > 25

 37%|███▋      | 367/1000 [16:16<29:07,  2.76s/it]

Question: What is the smallest bronze with a Silver smaller than 2, and a Gold of 1, and a Nation of western isles, and a Total larger than 6?

Real Answer: SELECT MIN(bronze) FROM table_name_37 WHERE silver < 2 AND gold = 1 AND nation = "western isles" AND total > 6
Generated Answer: SELECT MIN(bronze) FROM table_name_37 WHERE silver < 2 AND gold = 1 AND nation = "western isles" AND total > 6


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MIN(bronze) FROM table_name_37 WHERE silver < 2 AND gold = 1 AND nation = "western isles" AND total > 6')


Success!
Success Answer: SELECT MIN(bronze) FROM table_name_37 WHERE silver < 2 AND gold = 1 AND nation = "western isles" AND total > 6

 37%|███▋      | 368/1000 [16:18<27:15,  2.59s/it]

Question: What is Position, when Points is greater than 7, and when Series is Toyota Racing Series?

Real Answer: SELECT position FROM table_name_3 WHERE points > 7 AND series = "toyota racing series"
Generated Answer: SELECT position FROM table_name_3 WHERE points > 7 AND series = "toyota racing series"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT position FROM table_name_3 WHERE points > 7 AND series = "toyota racing series"')


Success!
Success Answer: SELECT position FROM table_name_3 WHERE points > 7 AND series = "toyota racing series"

 37%|███▋      | 369/1000 [16:21<27:51,  2.65s/it]

Question: What's the total number of rounds with a win result at the sf 5: stadium event?

Real Answer: SELECT COUNT(round) FROM table_name_65 WHERE res = "win" AND event = "sf 5: stadium"
Generated Answer: SELECT COUNT(round) FROM table_name_65 WHERE res = "win" AND event = "sf 5: stadium"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(round) FROM table_name_65 WHERE res = "win" AND event = "sf 5: stadium"')


Success!
Success Answer: SELECT COUNT(round) FROM table_name_65 WHERE res = "win" AND event = "sf 5: stadium"

 37%|███▋      | 370/1000 [16:25<34:09,  3.25s/it]

Question: Which rank has a smaller area (sq mi) than 48, and an area (km2) greater than 104, and an island of sula, sogn og fjordane?

Real Answer: SELECT rank FROM table_name_12 WHERE area__sq_mi_ < 48 AND area__km²_ > 104 AND island = "sula, sogn og fjordane"
Generated Answer: SELECT COUNT(rank) FROM table_name_12 WHERE area__sq_mi_ < 48 AND area__km²_ > 104 AND island = "sula, sogn og fjordane"


Similarity Score: 0.83105195
Feedback: ('approve', 'SELECT COUNT(rank) FROM table_name_12 WHERE area__sq_mi_ < 48 AND area__km²_ > 104 AND island = "sula, sogn og fjordane"')


Real Answer: SELECT rank FROM table_name_12 WHERE area__sq_mi_ < 48 AND area__km²_ > 104 AND island = "sula, sogn og fjordane"
Failed Answer: SELECT COUNT(rank) FROM table_name_12 WHERE area__sq_mi_ < 48 AND area__km²_ > 104 AND island = "sula, sogn og fjordane"

 37%|███▋      | 371/1000 [16:28<31:30,  3.01s/it]

Question: Who is the opponent of the game played on November 20, 1995?

Real Answer: SELECT opponent FROM table_name_66 WHERE date = "november 20, 1995"
Generated Answer: SELECT opponent FROM table_name_66 WHERE date = "november 20, 1995"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT opponent FROM table_name_66 WHERE date = "november 20, 1995"')


Success!
Success Answer: SELECT opponent FROM table_name_66 WHERE date = "november 20, 1995"

 37%|███▋      | 372/1000 [16:31<31:09,  2.98s/it]

Question: What is the group a winner for modena?

Real Answer: SELECT group_a_winner FROM table_1137142_1 WHERE group_b_winner = "Modena"
Generated Answer: SELECT group_a_winner FROM table_1137142_1 WHERE group_b_winner = "Modena"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT group_a_winner FROM table_1137142_1 WHERE group_b_winner = "Modena"')


Success!
Success Answer: SELECT group_a_winner FROM table_1137142_1 WHERE group_b_winner = "Modena"

 37%|███▋      | 373/1000 [16:34<32:30,  3.11s/it]

Question: Show the carriers that have both phones with memory smaller than 32 and phones with memory bigger than 64.

Real Answer: SELECT Carrier FROM phone WHERE Memory_in_G < 32 INTERSECT SELECT Carrier FROM phone WHERE Memory_in_G > 64
Generated Answer: SELECT Carrier FROM phone WHERE Memory_in_G < 32 INTERSECT SELECT Carrier FROM phone WHERE Memory_in_G > 64


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT Carrier FROM phone WHERE Memory_in_G < 32 INTERSECT SELECT Carrier FROM phone WHERE Memory_in_G > 64')


Success!
Success Answer: SELECT Carrier FROM phone WHERE Memory_in_G < 32 INTERSECT SELECT Carrier FROM phone WHERE Memory_in_G > 64

 37%|███▋      | 374/1000 [16:37<31:08,  2.99s/it]

Question: What year did Karl Schnabl win the Winter Olympics?

Real Answer: SELECT winter_olympics FROM table_174491_2 WHERE winner = "Karl Schnabl"
Generated Answer: SELECT winter_olympics FROM table_174491_2 WHERE winner = "Karl Schnabl"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT winter_olympics FROM table_174491_2 WHERE winner = "Karl Schnabl"')


Success!
Success Answer: SELECT winter_olympics FROM table_174491_2 WHERE winner = "Karl Schnabl"

 38%|███▊      | 375/1000 [16:39<29:44,  2.86s/it]

Question: What opponents played Waldstadion in a game?

Real Answer: SELECT opponent FROM table_24951872_2 WHERE game_site = "Waldstadion"
Generated Answer: SELECT opponent FROM table_24951872_2 WHERE game_site = "Waldstadion"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT opponent FROM table_24951872_2 WHERE game_site = "Waldstadion"')


Success!
Success Answer: SELECT opponent FROM table_24951872_2 WHERE game_site = "Waldstadion"

 38%|███▊      | 376/1000 [16:41<27:06,  2.61s/it]

Question: Which Score has a Time of 2:28?

Real Answer: SELECT score FROM table_name_41 WHERE time = "2:28"
Generated Answer: SELECT score FROM table_name_41 WHERE time = "2:28"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT score FROM table_name_41 WHERE time = "2:28"')


Success!
Success Answer: SELECT score FROM table_name_41 WHERE time = "2:28"

 38%|███▊      | 377/1000 [16:46<34:28,  3.32s/it]

Question: How many gold medals has the club with the most coaches won?

Real Answer: SELECT T1.club_id, T1.gold FROM match_result AS T1 JOIN coach AS T2 ON T1.club_id = T2.club_id GROUP BY T1.club_id ORDER BY COUNT(*) DESC LIMIT 1
Generated Answer: SELECT T1.gold FROM match_result AS T1 JOIN coach AS T2 ON T1.club_id = T2.club_id GROUP BY T1.club_id ORDER BY COUNT(*) DESC LIMIT 1


Similarity Score: 0.9885214
Feedback: ('approve', 'SELECT T1.gold FROM match_result AS T1 JOIN coach AS T2 ON T1.club_id = T2.club_id GROUP BY T1.club_id ORDER BY COUNT(*) DESC LIMIT 1')


Real Answer: SELECT T1.club_id, T1.gold FROM match_result AS T1 JOIN coach AS T2 ON T1.club_id = T2.club_id GROUP BY T1.club_id ORDER BY COUNT(*) DESC LIMIT 1
Failed Answer: SELECT T1.gold FROM match_result AS T1 JOIN coach AS T2 ON T1.club_id = T2.club_id GROUP BY T1.club_id ORDER BY COUNT(*) DESC LIMIT 1

 38%|███▊      | 378/1000 [16:49<33:57,  3.28s/it]

Question: What is the year when sigourney weaver was nominated for best actress?

Real Answer: SELECT year__ceremony_ FROM table_name_26 WHERE category = "best actress" AND actor_actress = "sigourney weaver"
Generated Answer: SELECT year__ceremony_ FROM table_name_26 WHERE category = "best actress" AND actor_actress = "sigourney weaver"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT year__ceremony_ FROM table_name_26 WHERE category = "best actress" AND actor_actress = "sigourney weaver"')


Success!
Success Answer: SELECT year__ceremony_ FROM table_name_26 WHERE category = "best actress" AND actor_actress = "sigourney weaver"

 38%|███▊      | 379/1000 [16:56<42:50,  4.14s/it]

Question: What are the create dates, states, and phone numbers of the votes that were for the contestant named 'Tabatha Gehling'?

Real Answer: SELECT T2.created, T2.state, T2.phone_number FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number = T2.contestant_number WHERE T1.contestant_name = 'Tabatha Gehling'
Generated Answer: SELECT T1.created, T1.state, T1.phone_number FROM votes AS T1 JOIN contestants AS T2 ON T1.contestant_number = T2.contestant_number WHERE T2.contestant_name = 'Tabatha Gehling'


Similarity Score: 0.9948873
Feedback: ('approve', "SELECT T1.created, T1.state, T1.phone_number FROM votes AS T1 JOIN contestants AS T2 ON T1.contestant_number = T2.contestant_number WHERE T2.contestant_name = 'Tabatha Gehling'")


Real Answer: SELECT T2.created, T2.state, T2.phone_number FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number = T2.contestant_number WHERE T1.contestant_name = 'Tabatha Gehling'
Failed Answer: SELECT T1.created, T1.state, T1.phone_number FROM votes AS T1 JOIN contestants AS T2 ON T1.contestant_number = T2.contestant_number WHERE T2.contestant_name = 'Tabatha Gehling'

 38%|███▊      | 380/1000 [16:57<35:58,  3.48s/it]

Question: what is the place for bryce molder?

Real Answer: SELECT place FROM table_name_31 WHERE player = "bryce molder"
Generated Answer: SELECT place FROM table_name_31 WHERE player = "bryce molder"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT place FROM table_name_31 WHERE player = "bryce molder"')


Success!
Success Answer: SELECT place FROM table_name_31 WHERE player = "bryce molder"

 38%|███▊      | 381/1000 [16:59<30:20,  2.94s/it]

Question: What is the type of the document named "David CV"?

Real Answer: SELECT document_type_code FROM documents WHERE document_name = "David CV"
Generated Answer: SELECT document_type_code FROM documents WHERE document_name = "David CV"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT document_type_code FROM documents WHERE document_name = "David CV"')


Success!
Success Answer: SELECT document_type_code FROM documents WHERE document_name = "David CV"

 38%|███▊      | 382/1000 [17:01<26:10,  2.54s/it]

Question: Which Catalog has a Country of Japan?

Real Answer: SELECT catalog FROM table_name_71 WHERE country = "japan"
Generated Answer: SELECT catalog FROM table_name_71 WHERE country = "japan"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT catalog FROM table_name_71 WHERE country = "japan"')


Success!
Success Answer: SELECT catalog FROM table_name_71 WHERE country = "japan"

 38%|███▊      | 383/1000 [17:02<23:34,  2.29s/it]

Question: What school does the Blue Raiders belong to?

Real Answer: SELECT school FROM table_name_16 WHERE team = "blue raiders"
Generated Answer: SELECT school FROM table_name_16 WHERE team = "blue raiders"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT school FROM table_name_16 WHERE team = "blue raiders"')


Success!
Success Answer: SELECT school FROM table_name_16 WHERE team = "blue raiders"

 38%|███▊      | 384/1000 [17:05<24:08,  2.35s/it]

Question: What was the placing of the race in which Chic won by 8gf?

Real Answer: SELECT placing FROM table_name_58 WHERE beat_by = "won" AND distance = "8gf"
Generated Answer: SELECT placing FROM table_name_58 WHERE beat_by = "8gf" AND distance = "race"


Similarity Score: 0.93483007
Feedback: ('approve', 'SELECT placing FROM table_name_58 WHERE beat_by = "8gf" AND distance = "race"')


Real Answer: SELECT placing FROM table_name_58 WHERE beat_by = "won" AND distance = "8gf"
Failed Answer: SELECT placing FROM table_name_58 WHERE beat_by = "8gf" AND distance = "race"

 38%|███▊      | 385/1000 [17:07<24:34,  2.40s/it]

Question: what is the average tournaments played when cuts made is 14?

Real Answer: SELECT AVG(tournaments_played) FROM table_name_63 WHERE cuts_made = 14
Generated Answer: SELECT AVG(tournaments_played) FROM table_name_63 WHERE cuts_made = 14


Similarity Score: 1.0
Feedback: ('approve', 'SELECT AVG(tournaments_played) FROM table_name_63 WHERE cuts_made = 14')


Success!
Success Answer: SELECT AVG(tournaments_played) FROM table_name_63 WHERE cuts_made = 14

 39%|███▊      | 386/1000 [17:09<22:43,  2.22s/it]

Question: What is the Place of the Player with a To par of –6?

Real Answer: SELECT place FROM table_name_96 WHERE to_par = "–6"
Generated Answer: SELECT place FROM table_name_96 WHERE to_par = "–6"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT place FROM table_name_96 WHERE to_par = "–6"')


Success!
Success Answer: SELECT place FROM table_name_96 WHERE to_par = "–6"

 39%|███▊      | 387/1000 [17:12<25:17,  2.48s/it]

Question: What sum of Attendance has a Week smaller than 10, and a Result of l 30-21?

Real Answer: SELECT SUM(attendance) FROM table_name_18 WHERE week < 10 AND result = "l 30-21"
Generated Answer: SELECT SUM(attendance) FROM table_name_18 WHERE week < 10 AND result = "l 30-21"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT SUM(attendance) FROM table_name_18 WHERE week < 10 AND result = "l 30-21"')


Success!
Success Answer: SELECT SUM(attendance) FROM table_name_18 WHERE week < 10 AND result = "l 30-21"

 39%|███▉      | 388/1000 [17:14<23:13,  2.28s/it]

Question: What is the fewest number of golds for teams with 0 silver?

Real Answer: SELECT MIN(gold) FROM table_name_54 WHERE silver < 0
Generated Answer: SELECT MIN(gold) FROM table_name_54 WHERE silver < 0


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT MIN(gold) FROM table_name_54 WHERE silver < 0')


Success!
Success Answer: SELECT MIN(gold) FROM table_name_54 WHERE silver < 0

 39%|███▉      | 389/1000 [17:17<24:56,  2.45s/it]

Question: If the player is Corey Pavin when he had a To par of over 7, what was the sum of his totals?

Real Answer: SELECT SUM(total) FROM table_name_77 WHERE to_par > 7 AND player = "corey pavin"
Generated Answer: SELECT SUM(total) FROM table_name_77 WHERE to_par > 7 AND player = "corey pavin"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT SUM(total) FROM table_name_77 WHERE to_par > 7 AND player = "corey pavin"')


Success!
Success Answer: SELECT SUM(total) FROM table_name_77 WHERE to_par > 7 AND player = "corey pavin"

 39%|███▉      | 390/1000 [17:20<27:25,  2.70s/it]

Question: What is the sockets associated with a brand name of Core i3-3xx0m?

Real Answer: SELECT socket FROM table_24538587_11 WHERE brand_name__list_ = "Core i3-3xx0M"
Generated Answer: SELECT socket FROM table_24538587_11 WHERE brand_name__list_ = "Core i3-3xx0m"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT socket FROM table_24538587_11 WHERE brand_name__list_ = "Core i3-3xx0m"')


Real Answer: SELECT socket FROM table_24538587_11 WHERE brand_name__list_ = "Core i3-3xx0M"
Failed Answer: SELECT socket FROM table_24538587_11 WHERE brand_name__list_ = "Core i3-3xx0m"

 39%|███▉      | 391/1000 [17:23<26:22,  2.60s/it]

Question: What is the highest wins a tournament with 3 cuts and more than 4 events has?

Real Answer: SELECT MAX(wins) FROM table_name_27 WHERE cuts_made = 3 AND events > 4
Generated Answer: SELECT MAX(wins) FROM table_name_27 WHERE cuts_made = 3 AND events > 4


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT MAX(wins) FROM table_name_27 WHERE cuts_made = 3 AND events > 4')


Success!
Success Answer: SELECT MAX(wins) FROM table_name_27 WHERE cuts_made = 3 AND events > 4

 39%|███▉      | 392/1000 [17:25<25:51,  2.55s/it]

Question: In what location were the fatalities unknown for the Ju-52 aircraft?

Real Answer: SELECT location FROM table_name_12 WHERE fatalities = "unknown" AND aircraft = "ju-52"
Generated Answer: SELECT location FROM table_name_12 WHERE fatalities = "unknown" AND aircraft = "ju-52"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT location FROM table_name_12 WHERE fatalities = "unknown" AND aircraft = "ju-52"')


Success!
Success Answer: SELECT location FROM table_name_12 WHERE fatalities = "unknown" AND aircraft = "ju-52"

 39%|███▉      | 393/1000 [17:28<27:46,  2.75s/it]

Question: Name the highest year with rank of 22 and accolade of singles of 1999

Real Answer: SELECT MAX(year) FROM table_name_89 WHERE accolade = "singles of 1999" AND rank = "22"
Generated Answer: SELECT MAX(year) FROM table_name_89 WHERE accolade = "singles of 1999" AND rank = 22


Similarity Score: 0.997933
Feedback: ('approve', 'SELECT MAX(year) FROM table_name_89 WHERE accolade = "singles of 1999" AND rank = 22')


Real Answer: SELECT MAX(year) FROM table_name_89 WHERE accolade = "singles of 1999" AND rank = "22"
Failed Answer: SELECT MAX(year) FROM table_name_89 WHERE accolade = "singles of 1999" AND rank = 22

 39%|███▉      | 394/1000 [17:32<29:18,  2.90s/it]

Question: Who is the gagarin cup winner when avangard omsk is the gagarin cup finalist?

Real Answer: SELECT gagarin_cup_winner FROM table_name_17 WHERE gagarin_cup_finalist = "avangard omsk"
Generated Answer: SELECT gagarin_cup_winner FROM table_name_17 WHERE gagarin_cup_finalist = "avangard omsk"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT gagarin_cup_winner FROM table_name_17 WHERE gagarin_cup_finalist = "avangard omsk"')


Success!
Success Answer: SELECT gagarin_cup_winner FROM table_name_17 WHERE gagarin_cup_finalist = "avangard omsk"

 40%|███▉      | 395/1000 [17:34<28:27,  2.82s/it]

Question: Omar Burleson was the incumbent in what district?

Real Answer: SELECT district FROM table_1342013_42 WHERE incumbent = "Omar Burleson"
Generated Answer: SELECT district FROM table_1342013_42 WHERE incumbent = "Omar Burleson"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT district FROM table_1342013_42 WHERE incumbent = "Omar Burleson"')


Success!
Success Answer: SELECT district FROM table_1342013_42 WHERE incumbent = "Omar Burleson"

 40%|███▉      | 396/1000 [17:37<28:02,  2.79s/it]

Question: What was the little league team from Kentucky when the little league team from Illinois was Rock Falls LL Rock Falls?

Real Answer: SELECT kentucky FROM table_18461045_1 WHERE illinois = "Rock Falls LL Rock Falls"
Generated Answer: SELECT kentucky FROM table_18461045_1 WHERE illinois = "Rock Falls LL Rock Falls"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT kentucky FROM table_18461045_1 WHERE illinois = "Rock Falls LL Rock Falls"')


Success!
Success Answer: SELECT kentucky FROM table_18461045_1 WHERE illinois = "Rock Falls LL Rock Falls"

 40%|███▉      | 397/1000 [17:41<31:28,  3.13s/it]

Question: What was the result for the 1966 fifa world cup qualification in mexico city, mexico and a goal over 8?

Real Answer: SELECT result FROM table_name_41 WHERE venue = "mexico city, mexico" AND competition = "1966 fifa world cup qualification" AND goal > 8
Generated Answer: SELECT result FROM table_name_41 WHERE venue = "mexico city, mexico" AND competition = "1966 fifa world cup qualification" AND goal > 8


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT result FROM table_name_41 WHERE venue = "mexico city, mexico" AND competition = "1966 fifa world cup qualification" AND goal > 8')


Success!
Success Answer: SELECT result FROM table_name_41 WHERE venue = "mexico city, mexico" AND competition = "1966 fifa world cup qualification" AND goal > 8

 40%|███▉      | 398/1000 [17:42<26:21,  2.63s/it]

Question: Which country has a rank of 2?

Real Answer: SELECT country FROM table_name_93 WHERE rank = 2
Generated Answer: SELECT country FROM table_name_93 WHERE rank = 2


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT country FROM table_name_93 WHERE rank = 2')


Success!
Success Answer: SELECT country FROM table_name_93 WHERE rank = 2

 40%|███▉      | 399/1000 [17:46<28:24,  2.84s/it]

Question: In the Canadian Grand Prix, what tyre was used when Jacky Ickx held pole position?

Real Answer: SELECT tyre FROM table_name_50 WHERE pole_position = "jacky ickx" AND race = "canadian grand prix"
Generated Answer: SELECT tyre FROM table_name_50 WHERE pole_position = "jacky ickx" AND race = "canadian grand prix"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT tyre FROM table_name_50 WHERE pole_position = "jacky ickx" AND race = "canadian grand prix"')


Success!
Success Answer: SELECT tyre FROM table_name_50 WHERE pole_position = "jacky ickx" AND race = "canadian grand prix"

 40%|████      | 400/1000 [17:48<27:40,  2.77s/it]

Question: What is the league name for the regular season status of 2nd, mid atlantic?

Real Answer: SELECT league FROM table_16636344_1 WHERE regular_season = "2nd, Mid Atlantic"
Generated Answer: SELECT league FROM table_16636344_1 WHERE regular_season = "2nd, Mid Atlantic"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT league FROM table_16636344_1 WHERE regular_season = "2nd, Mid Atlantic"')


Success!
Success Answer: SELECT league FROM table_16636344_1 WHERE regular_season = "2nd, Mid Atlantic"

 40%|████      | 401/1000 [17:56<41:17,  4.14s/it]

Question: What teams played in Washington, DC the year that Ramapo LL Ramapo was the game in New York?

Real Answer: SELECT washington, _dc FROM table_13012165_1 WHERE new_york = "Ramapo LL Ramapo"
Generated Answer: SELECT washington FROM table_13012165_1 WHERE _dc = (SELECT new_york FROM table_13012165_1 WHERE Ramapo LL Ramapo = (SELECT _dc FROM table_13012165_1 WHERE new_york = Ramapo LL Ramapo))


Similarity Score: 0.81497306
Feedback: ('approve', 'SELECT washington FROM table_13012165_1 WHERE _dc = (SELECT new_york FROM table_13012165_1 WHERE Ramapo LL Ramapo = (SELECT _dc FROM table_13012165_1 WHERE new_york = Ramapo LL Ramapo))')


Real Answer: SELECT washington, _dc FROM table_13012165_1 WHERE new_york = "Ramapo LL Ramapo"
Failed Answer: SELECT washington FROM table_13012165_1 WHERE _dc = (SELECT new_york FROM table_13012165_1 WHERE Ramapo LL Ramapo = (SELECT _dc FROM table_13012165_1 WHERE new_york = Ramapo LL Ramapo))

 40%|████      | 402/1000 [17:59<38:26,  3.86s/it]

Question: What is the Country of the T2 Place Player with a Score of 69-69-69=207?

Real Answer: SELECT country FROM table_name_2 WHERE place = "t2" AND score = 69 - 69 - 69 = 207
Generated Answer: SELECT country FROM table_name_2 WHERE place = "t2" AND score = 69 - 69 - 69 = 207


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT country FROM table_name_2 WHERE place = "t2" AND score = 69 - 69 - 69 = 207')


Success!
Success Answer: SELECT country FROM table_name_2 WHERE place = "t2" AND score = 69 - 69 - 69 = 207

 40%|████      | 403/1000 [18:01<32:05,  3.23s/it]

Question: What Time has a Year of 1984?

Real Answer: SELECT time FROM table_name_77 WHERE year = 1984
Generated Answer: SELECT time FROM table_name_77 WHERE year = "1984"


Similarity Score: 0.99385
Feedback: ('approve', 'SELECT time FROM table_name_77 WHERE year = "1984"')


Real Answer: SELECT time FROM table_name_77 WHERE year = 1984
Failed Answer: SELECT time FROM table_name_77 WHERE year = "1984"

 40%|████      | 404/1000 [18:02<27:49,  2.80s/it]

Question: What is the highest number of losses when there are under 1 games played?

Real Answer: SELECT MAX(lost) FROM table_name_43 WHERE played < 1
Generated Answer: SELECT MAX(lost) FROM table_name_43 WHERE played < 1


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MAX(lost) FROM table_name_43 WHERE played < 1')


Success!
Success Answer: SELECT MAX(lost) FROM table_name_43 WHERE played < 1

 40%|████      | 405/1000 [18:05<26:36,  2.68s/it]

Question: What was the record for the October 16 game?

Real Answer: SELECT record FROM table_27537518_4 WHERE date = "October 16"
Generated Answer: SELECT record FROM table_27537518_4 WHERE date = "October 16"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT record FROM table_27537518_4 WHERE date = "October 16"')


Success!
Success Answer: SELECT record FROM table_27537518_4 WHERE date = "October 16"

 41%|████      | 406/1000 [18:10<35:20,  3.57s/it]

Question: Find the names of customers who either have an deputy policy or uniformed policy.

Real Answer: SELECT DISTINCT t2.customer_details FROM policies AS t1 JOIN customers AS t2 ON t1.customer_id = t2.customer_id WHERE t1.policy_type_code = "Deputy" OR t1.policy_type_code = "Uniform"
Generated Answer: SELECT T1.customer_details FROM customers AS T1 JOIN policies AS T2 ON T1.customer_id = T2.customer_id WHERE T2.policy_type_code = 'deputy' OR T2.policy_type_code = 'uniformed'


Similarity Score: 0.9382106
Feedback: ('approve', "SELECT T1.customer_details FROM customers AS T1 JOIN policies AS T2 ON T1.customer_id = T2.customer_id WHERE T2.policy_type_code = 'deputy' OR T2.policy_type_code = 'uniformed'")


Real Answer: SELECT DISTINCT t2.customer_details FROM policies AS t1 JOIN customers AS t2 ON t1.customer_id = t2.customer_id WHERE t1.policy_type_code = "Deputy" OR t1.policy_type_code = "Uniform"
Failed Answer: SELECT T1.customer_details FROM customers AS T1 JOIN policies AS T2 ON T1.customer_id = T2.customer_id WHERE T2.policy_type_code = 'deputy' OR T2.policy_type_code = 'uniformed'

 41%|████      | 407/1000 [18:12<29:10,  2.95s/it]

Question: What is Date, when Week is 11?

Real Answer: SELECT date FROM table_name_45 WHERE week = 11
Generated Answer: SELECT date FROM table_name_45 WHERE week = 11


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_45 WHERE week = 11')


Success!
Success Answer: SELECT date FROM table_name_45 WHERE week = 11

 41%|████      | 408/1000 [18:13<23:00,  2.33s/it]

Question: What is the average training hours of all players?

Real Answer: SELECT AVG(HS) FROM Player
Generated Answer: SELECT AVG(HS) FROM Player


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT AVG(HS) FROM Player')


Success!
Success Answer: SELECT AVG(HS) FROM Player

 41%|████      | 409/1000 [18:17<28:04,  2.85s/it]

Question: What is the average of the swimsuit smaller than 9.545 , of Iowa, with an evening gown larger than 9.625?

Real Answer: SELECT AVG(average) FROM table_name_34 WHERE swimsuit < 9.545 AND state = "iowa" AND evening_gown > 9.625
Generated Answer: SELECT SUM(average) FROM table_name_34 WHERE swimsuit < 9.545 AND state = "iowa" AND evening_gown > 9.625


Similarity Score: 0.84551626
Feedback: ('approve', 'SELECT SUM(average) FROM table_name_34 WHERE swimsuit < 9.545 AND state = "iowa" AND evening_gown > 9.625')


Real Answer: SELECT AVG(average) FROM table_name_34 WHERE swimsuit < 9.545 AND state = "iowa" AND evening_gown > 9.625
Failed Answer: SELECT SUM(average) FROM table_name_34 WHERE swimsuit < 9.545 AND state = "iowa" AND evening_gown > 9.625

 41%|████      | 410/1000 [18:19<27:00,  2.75s/it]

Question: Who were the candidates in the district whose incumbent is Bill Pascrell?

Real Answer: SELECT candidates FROM table_1341453_32 WHERE incumbent = "Bill Pascrell"
Generated Answer: SELECT candidates FROM table_1341453_32 WHERE incumbent = "Bill Pascrell"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT candidates FROM table_1341453_32 WHERE incumbent = "Bill Pascrell"')


Success!
Success Answer: SELECT candidates FROM table_1341453_32 WHERE incumbent = "Bill Pascrell"

 41%|████      | 411/1000 [18:21<23:44,  2.42s/it]

Question: In which city is MUB located?

Real Answer: SELECT city FROM table_name_29 WHERE abbr = "mub"
Generated Answer: SELECT city FROM table_name_29 WHERE abbr = "mub"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT city FROM table_name_29 WHERE abbr = "mub"')


Success!
Success Answer: SELECT city FROM table_name_29 WHERE abbr = "mub"

 41%|████      | 412/1000 [18:24<24:16,  2.48s/it]

Question: On what date was the opponent in the final Gwinyai Tongoona?

Real Answer: SELECT date FROM table_name_62 WHERE opponent_in_the_final = "gwinyai tongoona"
Generated Answer: SELECT date FROM table_name_62 WHERE opponent_in_the_final = "gwinyai tongoona"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT date FROM table_name_62 WHERE opponent_in_the_final = "gwinyai tongoona"')


Success!
Success Answer: SELECT date FROM table_name_62 WHERE opponent_in_the_final = "gwinyai tongoona"

 41%|████▏     | 413/1000 [18:26<24:44,  2.53s/it]

Question: who had high points on march 27?

Real Answer: SELECT high_points FROM table_27722734_10 WHERE date = "March 27"
Generated Answer: SELECT high_points FROM table_27722734_10 WHERE date = "March 27"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT high_points FROM table_27722734_10 WHERE date = "March 27"')


Success!
Success Answer: SELECT high_points FROM table_27722734_10 WHERE date = "March 27"

 41%|████▏     | 414/1000 [18:29<25:08,  2.57s/it]

Question: Which team had a manager replaced by Ebrahim Talebi?

Real Answer: SELECT team FROM table_22297140_3 WHERE replaced_by = "Ebrahim Talebi"
Generated Answer: SELECT team FROM table_22297140_3 WHERE replaced_by = "Ebrahim Talebi"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT team FROM table_22297140_3 WHERE replaced_by = "Ebrahim Talebi"')


Success!
Success Answer: SELECT team FROM table_22297140_3 WHERE replaced_by = "Ebrahim Talebi"

 42%|████▏     | 415/1000 [18:31<22:57,  2.35s/it]

Question: When was there a game at Kardinia Park?

Real Answer: SELECT date FROM table_name_78 WHERE venue = "kardinia park"
Generated Answer: SELECT date FROM table_name_78 WHERE venue = "kardinia park"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT date FROM table_name_78 WHERE venue = "kardinia park"')


Success!
Success Answer: SELECT date FROM table_name_78 WHERE venue = "kardinia park"

 42%|████▏     | 416/1000 [18:33<21:10,  2.18s/it]

Question: What is the height for Nikola Franković?

Real Answer: SELECT height FROM table_name_45 WHERE name = "nikola franković"
Generated Answer: SELECT height FROM table_name_45 WHERE name = "nikola franković"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT height FROM table_name_45 WHERE name = "nikola franković"')


Success!
Success Answer: SELECT height FROM table_name_45 WHERE name = "nikola franković"

 42%|████▏     | 417/1000 [18:35<21:49,  2.25s/it]

Question: Where is Interlake located?

Real Answer: SELECT location FROM table_13759592_2 WHERE institution = "Interlake"
Generated Answer: SELECT location FROM table_13759592_2 WHERE institution = "Interlake"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT location FROM table_13759592_2 WHERE institution = "Interlake"')


Success!
Success Answer: SELECT location FROM table_13759592_2 WHERE institution = "Interlake"

 42%|████▏     | 418/1000 [18:37<22:06,  2.28s/it]

Question: Who was the opponent at the game that had a loss of Hendrickson (0-1)?

Real Answer: SELECT opponent FROM table_name_93 WHERE loss = "hendrickson (0-1)"
Generated Answer: SELECT opponent FROM table_name_93 WHERE loss = "hendrickson (0-1)"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT opponent FROM table_name_93 WHERE loss = "hendrickson (0-1)"')


Success!
Success Answer: SELECT opponent FROM table_name_93 WHERE loss = "hendrickson (0-1)"

 42%|████▏     | 419/1000 [18:41<26:15,  2.71s/it]

Question: how many literate males are there that has a district population of 6.65?

Real Answer: SELECT Literate AS male FROM table_28939145_2 WHERE _percentage_of_district_population = "6.65"
Generated Answer: SELECT COUNT(Literate) FROM table_28939145_2 WHERE _percentage_of_district_population = "6.65"


Similarity Score: 0.85166264
Feedback: ('approve', 'SELECT COUNT(Literate) FROM table_28939145_2 WHERE _percentage_of_district_population = "6.65"')


Real Answer: SELECT Literate AS male FROM table_28939145_2 WHERE _percentage_of_district_population = "6.65"
Failed Answer: SELECT COUNT(Literate) FROM table_28939145_2 WHERE _percentage_of_district_population = "6.65"

 42%|████▏     | 420/1000 [18:44<26:55,  2.79s/it]

Question: What is Last Appearance, when Wins is less than 1, when Losses is 1, and when School is Oklahoma State?

Real Answer: SELECT last_appearance FROM table_name_65 WHERE wins < 1 AND losses = 1 AND school = "oklahoma state"
Generated Answer: SELECT last_appearance FROM table_name_65 WHERE wins < 1 AND losses = 1 AND school = "oklahoma state"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT last_appearance FROM table_name_65 WHERE wins < 1 AND losses = 1 AND school = "oklahoma state"')


Success!
Success Answer: SELECT last_appearance FROM table_name_65 WHERE wins < 1 AND losses = 1 AND school = "oklahoma state"

 42%|████▏     | 421/1000 [18:46<25:14,  2.62s/it]

Question: What is the parent magazine for Dengeki 5pb.?

Real Answer: SELECT parent_magazine FROM table_name_42 WHERE title = "dengeki 5pb."
Generated Answer: SELECT parent_magazine FROM table_name_42 WHERE title = "dengeki 5pb."


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT parent_magazine FROM table_name_42 WHERE title = "dengeki 5pb."')


Success!
Success Answer: SELECT parent_magazine FROM table_name_42 WHERE title = "dengeki 5pb."

 42%|████▏     | 422/1000 [18:49<24:32,  2.55s/it]

Question: What is the playoffs 2 result of season 2010-11?

Real Answer: SELECT playoffs_2 FROM table_name_18 WHERE season = "2010-11"
Generated Answer: SELECT playoffs_2 FROM table_name_18 WHERE season = "2010-11"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT playoffs_2 FROM table_name_18 WHERE season = "2010-11"')


Success!
Success Answer: SELECT playoffs_2 FROM table_name_18 WHERE season = "2010-11"

 42%|████▏     | 423/1000 [18:52<26:29,  2.75s/it]

Question: what is the average wins when the podiums is more than 1, points is 80 and starts is less than 28?

Real Answer: SELECT AVG(wins) FROM table_name_49 WHERE podiums > 1 AND points = 80 AND starts < 28
Generated Answer: SELECT AVG(wins) FROM table_name_49 WHERE podiums > 1 AND points = 80 AND starts < 28


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT AVG(wins) FROM table_name_49 WHERE podiums > 1 AND points = 80 AND starts < 28')


Success!
Success Answer: SELECT AVG(wins) FROM table_name_49 WHERE podiums > 1 AND points = 80 AND starts < 28

 42%|████▏     | 424/1000 [18:55<26:44,  2.79s/it]

Question: How many parties were first elected in 1805?

Real Answer: SELECT COUNT(party) FROM table_2668374_18 WHERE first_elected = "1805"
Generated Answer: SELECT COUNT(party) FROM table_2668374_18 WHERE first_elected = 1805


Similarity Score: 0.995781
Feedback: ('approve', 'SELECT COUNT(party) FROM table_2668374_18 WHERE first_elected = 1805')


Real Answer: SELECT COUNT(party) FROM table_2668374_18 WHERE first_elected = "1805"
Failed Answer: SELECT COUNT(party) FROM table_2668374_18 WHERE first_elected = 1805

 42%|████▎     | 425/1000 [18:57<26:06,  2.72s/it]

Question: Who's the inventor when it was mutated from Redsport Type 2, has a stripe pattern and a spur habit?

Real Answer: SELECT "inventor" FROM table_name_2 WHERE habit = "spur" AND pattern = "stripe" AND mutated_from = "redsport type 2"
Generated Answer: SELECT mutated_from FROM table_name_2 WHERE pattern = "stripe" AND habit = "spur"


Similarity Score: 0.64396304
Feedback: ('correct', 'SELECT "inventor" FROM table_name_2 WHERE habit = "spur" AND pattern = "stripe" AND mutated_from = "redsport type 2"')


Real Answer: SELECT "inventor" FROM table_name_2 WHERE habit = "spur" AND pattern = "stripe" AND mutated_from = "redsport type 2"
Failed Answer: SELECT mutated_from FROM table_name_2 WHERE pattern = "stripe" AND habit = "spur"

 43%|████▎     | 426/1000 [19:01<27:37,  2.89s/it]

Question: What is the total grid number where the time/retired is +58.182 and the lap number is less than 67?

Real Answer: SELECT SUM(grid) FROM table_name_12 WHERE time_retired = "+58.182" AND laps < 67
Generated Answer: SELECT SUM(grid) FROM table_name_12 WHERE time_retired = "+58.182" AND laps < 67


Similarity Score: 1.0
Feedback: ('approve', 'SELECT SUM(grid) FROM table_name_12 WHERE time_retired = "+58.182" AND laps < 67')


Success!
Success Answer: SELECT SUM(grid) FROM table_name_12 WHERE time_retired = "+58.182" AND laps < 67

 43%|████▎     | 427/1000 [19:03<26:43,  2.80s/it]

Question: What were highest points received from someone using a zabel-wsp with a position greater than 7?

Real Answer: SELECT MAX(points) FROM table_name_15 WHERE equipment = "zabel-wsp" AND position > 7
Generated Answer: SELECT MAX(points) FROM table_name_15 WHERE equipment = "zabel-wsp" AND position > 7


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MAX(points) FROM table_name_15 WHERE equipment = "zabel-wsp" AND position > 7')


Success!
Success Answer: SELECT MAX(points) FROM table_name_15 WHERE equipment = "zabel-wsp" AND position > 7

 43%|████▎     | 428/1000 [19:05<24:00,  2.52s/it]

Question: What was the result when the partner was magdalena maleeva?

Real Answer: SELECT result FROM table_name_16 WHERE partner = "magdalena maleeva"
Generated Answer: SELECT result FROM table_name_16 WHERE partner = "magdalena maleeva"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT result FROM table_name_16 WHERE partner = "magdalena maleeva"')


Success!
Success Answer: SELECT result FROM table_name_16 WHERE partner = "magdalena maleeva"

 43%|████▎     | 429/1000 [19:07<23:45,  2.50s/it]

Question: Who directed  series # 422?

Real Answer: SELECT director FROM table_25800134_11 WHERE series__number = 422
Generated Answer: SELECT director FROM table_25800134_11 WHERE series__number = 422


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT director FROM table_25800134_11 WHERE series__number = 422')


Success!
Success Answer: SELECT director FROM table_25800134_11 WHERE series__number = 422

 43%|████▎     | 430/1000 [19:09<21:42,  2.28s/it]

Question: What is the total where the gold is larger than 2?

Real Answer: SELECT COUNT(total) FROM table_name_46 WHERE gold > 2
Generated Answer: SELECT COUNT(total) FROM table_name_46 WHERE gold > 2


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(total) FROM table_name_46 WHERE gold > 2')


Success!
Success Answer: SELECT COUNT(total) FROM table_name_46 WHERE gold > 2

 43%|████▎     | 431/1000 [19:11<20:56,  2.21s/it]

Question: What was the date of the game in week 3?

Real Answer: SELECT date FROM table_21761882_4 WHERE week = 3
Generated Answer: SELECT date FROM table_21761882_4 WHERE week = 3


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT date FROM table_21761882_4 WHERE week = 3')


Success!
Success Answer: SELECT date FROM table_21761882_4 WHERE week = 3

 43%|████▎     | 432/1000 [19:14<21:38,  2.29s/it]

Question: What is terrence ross' nationality

Real Answer: SELECT nationality FROM table_10015132_16 WHERE player = "Terrence Ross"
Generated Answer: SELECT nationality FROM table_10015132_16 WHERE player = "Terrence Ross"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT nationality FROM table_10015132_16 WHERE player = "Terrence Ross"')


Success!
Success Answer: SELECT nationality FROM table_10015132_16 WHERE player = "Terrence Ross"

 43%|████▎     | 433/1000 [19:16<20:17,  2.15s/it]

Question: What is the bowling score of season 1907?

Real Answer: SELECT bowling FROM table_name_23 WHERE season = "1907"
Generated Answer: SELECT bowling FROM table_name_23 WHERE season = "1907"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT bowling FROM table_name_23 WHERE season = "1907"')


Success!
Success Answer: SELECT bowling FROM table_name_23 WHERE season = "1907"

 43%|████▎     | 434/1000 [19:18<20:28,  2.17s/it]

Question: What is the title for season 2?

Real Answer: SELECT title FROM table_11630008_4 WHERE season_no = 2
Generated Answer: SELECT title FROM table_11630008_4 WHERE season_no = 2


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT title FROM table_11630008_4 WHERE season_no = 2')


Success!
Success Answer: SELECT title FROM table_11630008_4 WHERE season_no = 2

 44%|████▎     | 435/1000 [19:20<21:37,  2.30s/it]

Question: What is the average Gold entry for the Netherlands that also has a Bronze entry that is greater than 0?

Real Answer: SELECT AVG(gold) FROM table_name_19 WHERE nation = "netherlands" AND bronze > 0
Generated Answer: SELECT AVG(gold) FROM table_name_19 WHERE nation = "netherlands" AND bronze > 0


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT AVG(gold) FROM table_name_19 WHERE nation = "netherlands" AND bronze > 0')


Success!
Success Answer: SELECT AVG(gold) FROM table_name_19 WHERE nation = "netherlands" AND bronze > 0

 44%|████▎     | 436/1000 [19:23<22:40,  2.41s/it]

Question: What was the original air date of an episode set in 1544?

Real Answer: SELECT original_air_date FROM table_10413597_5 WHERE setting = "1544"
Generated Answer: SELECT original_air_date FROM table_10413597_5 WHERE setting = "1544"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT original_air_date FROM table_10413597_5 WHERE setting = "1544"')


Success!
Success Answer: SELECT original_air_date FROM table_10413597_5 WHERE setting = "1544"

 44%|████▎     | 437/1000 [19:26<25:08,  2.68s/it]

Question: Name the date of winning score being 67-67-63=197

Real Answer: SELECT date FROM table_1590652_4 WHERE winning_score = 67 - 67 - 63 = 197
Generated Answer: SELECT date FROM table_1590652_4 WHERE winning_score = 67 - 67 - 63 = 197


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT date FROM table_1590652_4 WHERE winning_score = 67 - 67 - 63 = 197')


Success!
Success Answer: SELECT date FROM table_1590652_4 WHERE winning_score = 67 - 67 - 63 = 197

 44%|████▍     | 438/1000 [19:29<24:59,  2.67s/it]

Question: How many years was Louis Armstrong performing?

Real Answer: SELECT COUNT(year) FROM table_name_51 WHERE performer_s_ = "louis armstrong"
Generated Answer: SELECT COUNT(year) FROM table_name_51 WHERE performer_s_ = "louis armstrong"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT COUNT(year) FROM table_name_51 WHERE performer_s_ = "louis armstrong"')


Success!
Success Answer: SELECT COUNT(year) FROM table_name_51 WHERE performer_s_ = "louis armstrong"

 44%|████▍     | 439/1000 [19:32<24:37,  2.63s/it]

Question: How many deaths did the eyar with exactly 6 hurricanes have?

Real Answer: SELECT COUNT(deaths) FROM table_2930244_4 WHERE number_of_hurricanes = 6
Generated Answer: SELECT deaths FROM table_2930244_4 WHERE number_of_hurricanes = 6


Similarity Score: 0.90858614
Feedback: ('approve', 'SELECT deaths FROM table_2930244_4 WHERE number_of_hurricanes = 6')


Real Answer: SELECT COUNT(deaths) FROM table_2930244_4 WHERE number_of_hurricanes = 6
Failed Answer: SELECT deaths FROM table_2930244_4 WHERE number_of_hurricanes = 6

 44%|████▍     | 440/1000 [19:40<41:18,  4.43s/it]

Question: Return the different names of cities that are in Asia and for which Chinese is the official language.

Real Answer: SELECT DISTINCT T3.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code = T2.CountryCode JOIN city AS T3 ON T1.Code = T3.CountryCode WHERE T2.IsOfficial = 'T' AND T2.Language = 'Chinese' AND T1.Continent = "Asia"
Generated Answer: SELECT T1.Name FROM city AS T1 JOIN country AS T2 ON T1.CountryCode = T2.Code WHERE T2.Continent = 'Asia' INTERSECT SELECT T1.Name FROM city AS T1 JOIN countrylanguage AS T2 ON T1.CountryCode = T2.CountryCode WHERE T2.IsOfficial = 'Yes' AND T2.Language = 'Chinese'


Similarity Score: 0.7993758
Feedback: ('correct', 'SELECT DISTINCT T3.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code = T2.CountryCode JOIN city AS T3 ON T1.Code = T3.CountryCode WHERE T2.IsOfficial = \'T\' AND T2.Language = \'Chinese\' AND T1.Continent = "Asia"')


Real Answer: SELECT DISTINCT T3.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code = T2.CountryCode JOIN city AS T3 ON T1.Code = T3.CountryCode WHERE T2.IsOfficial = 'T' AND T2.Language = 'Chinese' AND T1.Continent = "Asia"
Failed Answer: SELECT T1.Name FROM city AS T1 JOIN country AS T2 ON T1.CountryCode = T2.Code WHERE T2.Continent = 'Asia' INTERSECT SELECT T1.Name FROM city AS T1 JOIN countrylanguage AS T2 ON T1.CountryCode = T2.CountryCode WHERE T2.IsOfficial = 'Yes' AND T2.Language = 'Chinese'

 44%|████▍     | 441/1000 [19:44<38:58,  4.18s/it]

Question: Name the sum of spectators for time more than 20.05 and team #2 of estonia

Real Answer: SELECT SUM(spectators) FROM table_name_66 WHERE time___cest__ > 20.05 AND team__number2 = "estonia"
Generated Answer: SELECT SUM(spectators) FROM table_name_66 WHERE time___cest__ > 20.05 AND team__number2 = "estonia"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT SUM(spectators) FROM table_name_66 WHERE time___cest__ > 20.05 AND team__number2 = "estonia"')


Success!
Success Answer: SELECT SUM(spectators) FROM table_name_66 WHERE time___cest__ > 20.05 AND team__number2 = "estonia"

 44%|████▍     | 442/1000 [19:46<34:20,  3.69s/it]

Question: What engine had a JBW chassis in 1960?

Real Answer: SELECT engine FROM table_name_49 WHERE chassis = "jbw" AND year = 1960
Generated Answer: SELECT engine FROM table_name_49 WHERE chassis = "jbw" AND year = 1960


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT engine FROM table_name_49 WHERE chassis = "jbw" AND year = 1960')


Success!
Success Answer: SELECT engine FROM table_name_49 WHERE chassis = "jbw" AND year = 1960

 44%|████▍     | 443/1000 [19:48<29:39,  3.19s/it]

Question: What was their record when they played at Riverfront Stadium?

Real Answer: SELECT record FROM table_name_25 WHERE game_site = "riverfront stadium"
Generated Answer: SELECT record FROM table_name_25 WHERE game_site = "riverfront stadium"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT record FROM table_name_25 WHERE game_site = "riverfront stadium"')


Success!
Success Answer: SELECT record FROM table_name_25 WHERE game_site = "riverfront stadium"

 44%|████▍     | 444/1000 [19:51<28:32,  3.08s/it]

Question: What is the color code with a temperature classification of ordinary?

Real Answer: SELECT color_code__with_fusible_link_ FROM table_name_67 WHERE temperature_classification = "ordinary"
Generated Answer: SELECT color_code__with_fusible_link_ FROM table_name_67 WHERE temperature_classification = "ordinary"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT color_code__with_fusible_link_ FROM table_name_67 WHERE temperature_classification = "ordinary"')


Success!
Success Answer: SELECT color_code__with_fusible_link_ FROM table_name_67 WHERE temperature_classification = "ordinary"

 44%|████▍     | 445/1000 [19:54<27:43,  3.00s/it]

Question: What is Mike Skinner's Chevrolet's Car #?

Real Answer: SELECT COUNT(car__number) FROM table_name_74 WHERE make = "chevrolet" AND driver = "mike skinner"
Generated Answer: SELECT car__number FROM table_name_74 WHERE make = "chevrolet" AND driver = "mike skinner"


Similarity Score: 0.77541876
Feedback: ('correct', 'SELECT COUNT(car__number) FROM table_name_74 WHERE make = "chevrolet" AND driver = "mike skinner"')


Real Answer: SELECT COUNT(car__number) FROM table_name_74 WHERE make = "chevrolet" AND driver = "mike skinner"
Failed Answer: SELECT car__number FROM table_name_74 WHERE make = "chevrolet" AND driver = "mike skinner"

 45%|████▍     | 446/1000 [19:57<26:33,  2.88s/it]

Question: Who was the champion boxer?

Real Answer: SELECT celebrity FROM table_14345690_2 WHERE famous_for = "Champion boxer"
Generated Answer: SELECT celebrity FROM table_14345690_2 WHERE famous_for = "Champion Boxer"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT celebrity FROM table_14345690_2 WHERE famous_for = "Champion Boxer"')


Real Answer: SELECT celebrity FROM table_14345690_2 WHERE famous_for = "Champion boxer"
Failed Answer: SELECT celebrity FROM table_14345690_2 WHERE famous_for = "Champion Boxer"

 45%|████▍     | 447/1000 [19:59<24:21,  2.64s/it]

Question: Which deputy took office in 1976?

Real Answer: SELECT name FROM table_name_97 WHERE took_office = "1976"
Generated Answer: SELECT name FROM table_name_97 WHERE took_office = "1976"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT name FROM table_name_97 WHERE took_office = "1976"')


Success!
Success Answer: SELECT name FROM table_name_97 WHERE took_office = "1976"

 45%|████▍     | 448/1000 [20:01<22:37,  2.46s/it]

Question: Who manufactured the motorcycle that did 24 laps and 9 grids?

Real Answer: SELECT manufacturer FROM table_name_84 WHERE laps = 24 AND grid = 9
Generated Answer: SELECT manufacturer FROM table_name_84 WHERE laps = 24 AND grid = 9


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT manufacturer FROM table_name_84 WHERE laps = 24 AND grid = 9')


Success!
Success Answer: SELECT manufacturer FROM table_name_84 WHERE laps = 24 AND grid = 9

 45%|████▍     | 449/1000 [20:04<24:55,  2.71s/it]

Question: How many ends lost when shot % is 88 and ends won are 31?

Real Answer: SELECT COUNT(ends_lost) FROM table_name_72 WHERE shot_pct = 88 AND ends_won = 31
Generated Answer: SELECT COUNT(ends_lost) FROM table_name_72 WHERE shot_pct = "88" AND ends_won = "31"


Similarity Score: 0.9931228
Feedback: ('approve', 'SELECT COUNT(ends_lost) FROM table_name_72 WHERE shot_pct = "88" AND ends_won = "31"')


Real Answer: SELECT COUNT(ends_lost) FROM table_name_72 WHERE shot_pct = 88 AND ends_won = 31
Failed Answer: SELECT COUNT(ends_lost) FROM table_name_72 WHERE shot_pct = "88" AND ends_won = "31"

 45%|████▌     | 450/1000 [20:07<26:30,  2.89s/it]

Question: Who placed in t5 and scored 73-69-68=210?

Real Answer: SELECT player FROM table_name_76 WHERE place = "t5" AND score = 73 - 69 - 68 = 210
Generated Answer: SELECT player FROM table_name_76 WHERE place = "t5" AND score = 73 - 69 - 68 = 210


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT player FROM table_name_76 WHERE place = "t5" AND score = 73 - 69 - 68 = 210')


Success!
Success Answer: SELECT player FROM table_name_76 WHERE place = "t5" AND score = 73 - 69 - 68 = 210

 45%|████▌     | 451/1000 [20:09<24:01,  2.62s/it]

Question: Which #/ County has a Location of ossian?

Real Answer: SELECT _number___county FROM table_name_88 WHERE location = "ossian"
Generated Answer: SELECT _number___county FROM table_name_88 WHERE location = "ossian"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT _number___county FROM table_name_88 WHERE location = "ossian"')


Success!
Success Answer: SELECT _number___county FROM table_name_88 WHERE location = "ossian"

 45%|████▌     | 452/1000 [20:11<22:46,  2.49s/it]

Question: What player was the number 1 draft pick?

Real Answer: SELECT player FROM table_25085059_1 WHERE pick__number = 1
Generated Answer: SELECT player FROM table_25085059_1 WHERE pick__number = 1


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT player FROM table_25085059_1 WHERE pick__number = 1')


Success!
Success Answer: SELECT player FROM table_25085059_1 WHERE pick__number = 1

 45%|████▌     | 453/1000 [20:14<21:49,  2.39s/it]

Question: Which school was Chris Robinson from?

Real Answer: SELECT school_club_team FROM table_name_60 WHERE player = "chris robinson"
Generated Answer: SELECT school_club_team FROM table_name_60 WHERE player = "chris robinson"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT school_club_team FROM table_name_60 WHERE player = "chris robinson"')


Success!
Success Answer: SELECT school_club_team FROM table_name_60 WHERE player = "chris robinson"

 45%|████▌     | 454/1000 [20:15<19:35,  2.15s/it]

Question: Which team played in the Darida venue?

Real Answer: SELECT venue FROM table_name_26 WHERE team = "darida"
Generated Answer: SELECT venue FROM table_name_26 WHERE team = "darida"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT venue FROM table_name_26 WHERE team = "darida"')


Success!
Success Answer: SELECT venue FROM table_name_26 WHERE team = "darida"

 46%|████▌     | 455/1000 [20:17<19:47,  2.18s/it]

Question: What team was in 1st plate in a year later than 1956?

Real Answer: SELECT 1 AS st_place_team FROM table_name_84 WHERE year > 1956
Generated Answer: SELECT 1 AS st_plate FROM table_name_84 WHERE year > 1956


Similarity Score: 0.6531982
Feedback: ('correct', 'SELECT 1 AS st_place_team FROM table_name_84 WHERE year > 1956')


Real Answer: SELECT 1 AS st_place_team FROM table_name_84 WHERE year > 1956
Failed Answer: SELECT 1 AS st_plate FROM table_name_84 WHERE year > 1956

 46%|████▌     | 456/1000 [20:19<18:12,  2.01s/it]

Question: What venue is in Long Beach?

Real Answer: SELECT venue FROM table_name_73 WHERE city = "long beach"
Generated Answer: SELECT venue FROM table_name_73 WHERE city = "long beach"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT venue FROM table_name_73 WHERE city = "long beach"')


Success!
Success Answer: SELECT venue FROM table_name_73 WHERE city = "long beach"

 46%|████▌     | 457/1000 [20:22<19:50,  2.19s/it]

Question: what's the grsecurity with dbeingtribution being debian / ubuntu

Real Answer: SELECT grsecurity FROM table_1357052_6 WHERE distribution = "Debian / Ubuntu"
Generated Answer: SELECT grsecurity FROM table_1357052_6 WHERE distribution = "Debian / Ubuntu"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT grsecurity FROM table_1357052_6 WHERE distribution = "Debian / Ubuntu"')


Success!
Success Answer: SELECT grsecurity FROM table_1357052_6 WHERE distribution = "Debian / Ubuntu"

 46%|████▌     | 458/1000 [20:25<23:40,  2.62s/it]

Question: What is the Label of the September 20, 2008 release with Catalog number RTRADCD491?

Real Answer: SELECT label FROM table_name_22 WHERE catalog = "rtradcd491" AND date = "september 20, 2008"
Generated Answer: SELECT label FROM table_name_22 WHERE catalog = "rtradcd491" AND date = "september 20, 2008"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT label FROM table_name_22 WHERE catalog = "rtradcd491" AND date = "september 20, 2008"')


Success!
Success Answer: SELECT label FROM table_name_22 WHERE catalog = "rtradcd491" AND date = "september 20, 2008"

 46%|████▌     | 459/1000 [20:28<23:43,  2.63s/it]

Question: How many "series" were in the 12th "position?

Real Answer: SELECT COUNT(series) FROM table_26473176_1 WHERE position = "12th"
Generated Answer: SELECT COUNT(series) FROM table_26473176_1 WHERE position = "12th"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(series) FROM table_26473176_1 WHERE position = "12th"')


Success!
Success Answer: SELECT COUNT(series) FROM table_26473176_1 WHERE position = "12th"

 46%|████▌     | 460/1000 [20:31<23:58,  2.66s/it]

Question: What was the title of the episode with 5.04 million viewers?

Real Answer: SELECT original_title FROM table_17641206_4 WHERE viewership = "5.04 million"
Generated Answer: SELECT original_title FROM table_17641206_4 WHERE viewership = "5.04 million"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT original_title FROM table_17641206_4 WHERE viewership = "5.04 million"')


Success!
Success Answer: SELECT original_title FROM table_17641206_4 WHERE viewership = "5.04 million"

 46%|████▌     | 461/1000 [20:33<22:32,  2.51s/it]

Question: What was the earliest week when the New Orleans Saints were the opponents?

Real Answer: SELECT MIN(week) FROM table_name_31 WHERE opponent = "new orleans saints"
Generated Answer: SELECT MIN(week) FROM table_name_31 WHERE opponent = "new orleans saints"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(week) FROM table_name_31 WHERE opponent = "new orleans saints"')


Success!
Success Answer: SELECT MIN(week) FROM table_name_31 WHERE opponent = "new orleans saints"

 46%|████▌     | 462/1000 [20:35<21:48,  2.43s/it]

Question: Name the location for 2-1 record

Real Answer: SELECT location FROM table_23192661_3 WHERE record = "2-1"
Generated Answer: SELECT location FROM table_23192661_3 WHERE record = "2-1"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT location FROM table_23192661_3 WHERE record = "2-1"')


Success!
Success Answer: SELECT location FROM table_23192661_3 WHERE record = "2-1"

 46%|████▋     | 463/1000 [20:38<21:58,  2.46s/it]

Question: What is under drafted when pro team is arizona cardinals?

Real Answer: SELECT drafted FROM table_1198175_1 WHERE pro_team = "Arizona Cardinals"
Generated Answer: SELECT drafted FROM table_1198175_1 WHERE pro_team = "Arizona Cardinals"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT drafted FROM table_1198175_1 WHERE pro_team = "Arizona Cardinals"')


Success!
Success Answer: SELECT drafted FROM table_1198175_1 WHERE pro_team = "Arizona Cardinals"

 46%|████▋     | 464/1000 [20:40<22:46,  2.55s/it]

Question: What is the longitude of the feature named Razia Patera?

Real Answer: SELECT longitude FROM table_16799784_8 WHERE name = "Razia Patera"
Generated Answer: SELECT longitude FROM table_16799784_8 WHERE name = "Razia Patera"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT longitude FROM table_16799784_8 WHERE name = "Razia Patera"')


Success!
Success Answer: SELECT longitude FROM table_16799784_8 WHERE name = "Razia Patera"

 46%|████▋     | 465/1000 [20:44<26:15,  2.94s/it]

Question: The population is 2,107's dominant religion is?

Real Answer: SELECT dominant_religion__2002_ FROM table_2562572_39 WHERE population__2011_ = "2,107"
Generated Answer: SELECT dominant_religion__2002_ FROM table_2562572_39 WHERE population__2011_ = "2,107"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT dominant_religion__2002_ FROM table_2562572_39 WHERE population__2011_ = "2,107"')


Success!
Success Answer: SELECT dominant_religion__2002_ FROM table_2562572_39 WHERE population__2011_ = "2,107"

 47%|████▋     | 466/1000 [20:46<22:23,  2.52s/it]

Question: Who was the opposition for the player who has a total of 10 points?

Real Answer: SELECT opposition FROM table_name_72 WHERE total = 10
Generated Answer: SELECT opposition FROM table_name_72 WHERE total = 10


Similarity Score: 1.0
Feedback: ('approve', 'SELECT opposition FROM table_name_72 WHERE total = 10')


Success!
Success Answer: SELECT opposition FROM table_name_72 WHERE total = 10

 47%|████▋     | 467/1000 [20:48<20:14,  2.28s/it]

Question: Which fire has dry metal?

Real Answer: SELECT fire FROM table_name_24 WHERE metal = "dry"
Generated Answer: SELECT fire FROM table_name_24 WHERE metal = "dry"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT fire FROM table_name_24 WHERE metal = "dry"')


Success!
Success Answer: SELECT fire FROM table_name_24 WHERE metal = "dry"

 47%|████▋     | 468/1000 [20:50<20:16,  2.29s/it]

Question: What is Olivier Jacque's Time/Retired?

Real Answer: SELECT time_retired FROM table_name_43 WHERE rider = "olivier jacque"
Generated Answer: SELECT time_retired FROM table_name_43 WHERE rider = "olivier jacque"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT time_retired FROM table_name_43 WHERE rider = "olivier jacque"')


Success!
Success Answer: SELECT time_retired FROM table_name_43 WHERE rider = "olivier jacque"

 47%|████▋     | 469/1000 [20:54<24:09,  2.73s/it]

Question: How many votes went to other candidates in the county that gave 1.9% votes to them, and 160,390 total votes to Bush?

Real Answer: SELECT MIN(others_number) FROM table_name_12 WHERE others_percentage = "1.9%" AND bush_number < 160 OFFSET 390
Generated Answer: SELECT MAX(others_number) FROM table_name_12 WHERE others_percentage = "1.9%" AND bush_number > 160 OFFSET 390


Similarity Score: 0.8760979
Feedback: ('approve', 'SELECT MAX(others_number) FROM table_name_12 WHERE others_percentage = "1.9%" AND bush_number > 160 OFFSET 390')


Real Answer: SELECT MIN(others_number) FROM table_name_12 WHERE others_percentage = "1.9%" AND bush_number < 160 OFFSET 390
Failed Answer: SELECT MAX(others_number) FROM table_name_12 WHERE others_percentage = "1.9%" AND bush_number > 160 OFFSET 390

 47%|████▋     | 470/1000 [20:56<23:58,  2.71s/it]

Question: what is the location when the year is after 1974 and the date is september 19?

Real Answer: SELECT location FROM table_name_36 WHERE year > 1974 AND date = "september 19"
Generated Answer: SELECT location FROM table_name_36 WHERE year > 1974 AND date = "september 19"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT location FROM table_name_36 WHERE year > 1974 AND date = "september 19"')


Success!
Success Answer: SELECT location FROM table_name_36 WHERE year > 1974 AND date = "september 19"

 47%|████▋     | 471/1000 [20:59<24:37,  2.79s/it]

Question: When columbia, south carolina is the hometown what is the lowest age?

Real Answer: SELECT MIN(age) FROM table_1859855_2 WHERE hometown = "Columbia, South Carolina"
Generated Answer: SELECT MIN(age) FROM table_1859855_2 WHERE hometown = "Columbia, South Carolina"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MIN(age) FROM table_1859855_2 WHERE hometown = "Columbia, South Carolina"')


Success!
Success Answer: SELECT MIN(age) FROM table_1859855_2 WHERE hometown = "Columbia, South Carolina"

 47%|████▋     | 472/1000 [21:03<26:12,  2.98s/it]

Question: What is the number for years 1985-88

Real Answer: SELECT MIN(no) FROM table_11545282_18 WHERE years_for_jazz = "1985-88"
Generated Answer: SELECT MAX(no) FROM table_11545282_18 WHERE years_for_jazz = "1985-88"


Similarity Score: 0.7510539
Feedback: ('correct', 'SELECT MIN(no) FROM table_11545282_18 WHERE years_for_jazz = "1985-88"')


Real Answer: SELECT MIN(no) FROM table_11545282_18 WHERE years_for_jazz = "1985-88"
Failed Answer: SELECT MAX(no) FROM table_11545282_18 WHERE years_for_jazz = "1985-88"

 47%|████▋     | 473/1000 [21:06<25:56,  2.95s/it]

Question: What is the name of the visitor team who played home team Chicago Black Hawks on March 20?

Real Answer: SELECT visitor FROM table_name_77 WHERE home = "chicago black hawks" AND date = "march 20"
Generated Answer: SELECT visitor FROM table_name_77 WHERE home = "chicago black hawks" AND date = "march 20"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT visitor FROM table_name_77 WHERE home = "chicago black hawks" AND date = "march 20"')


Success!
Success Answer: SELECT visitor FROM table_name_77 WHERE home = "chicago black hawks" AND date = "march 20"

 47%|████▋     | 474/1000 [21:08<25:13,  2.88s/it]

Question: what are the minimum points for tommy kendall?

Real Answer: SELECT MIN(points) FROM table_27781212_1 WHERE driver = "Tommy Kendall"
Generated Answer: SELECT MIN(points) FROM table_27781212_1 WHERE driver = "Tommy Kendall"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(points) FROM table_27781212_1 WHERE driver = "Tommy Kendall"')


Success!
Success Answer: SELECT MIN(points) FROM table_27781212_1 WHERE driver = "Tommy Kendall"

 48%|████▊     | 475/1000 [21:12<27:51,  3.18s/it]

Question: List the name of physicians who never took any appointment.

Real Answer: SELECT name FROM physician EXCEPT SELECT T2.name FROM appointment AS T1 JOIN physician AS T2 ON T1.Physician = T2.EmployeeID
Generated Answer: SELECT name FROM physician WHERE NOT EmployeeID IN (SELECT T1.Physician FROM appointment AS T1 JOIN physician AS T2 ON T1.Physician = T2.EmployeeID)


Similarity Score: 0.861522
Feedback: ('approve', 'SELECT name FROM physician WHERE NOT EmployeeID IN (SELECT T1.Physician FROM appointment AS T1 JOIN physician AS T2 ON T1.Physician = T2.EmployeeID)')


Real Answer: SELECT name FROM physician EXCEPT SELECT T2.name FROM appointment AS T1 JOIN physician AS T2 ON T1.Physician = T2.EmployeeID
Failed Answer: SELECT name FROM physician WHERE NOT EmployeeID IN (SELECT T1.Physician FROM appointment AS T1 JOIN physician AS T2 ON T1.Physician = T2.EmployeeID)

 48%|████▊     | 476/1000 [21:14<24:09,  2.77s/it]

Question: What horse for jara?

Real Answer: SELECT horse FROM table_name_43 WHERE jockey = "jara"
Generated Answer: SELECT horse FROM table_name_43 WHERE jockey = "jara"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT horse FROM table_name_43 WHERE jockey = "jara"')


Success!
Success Answer: SELECT horse FROM table_name_43 WHERE jockey = "jara"

 48%|████▊     | 477/1000 [21:17<25:36,  2.94s/it]

Question: For nhl team is san jose sharks mention all the college/junior/club team

Real Answer: SELECT college_junior_club_team FROM table_2781227_4 WHERE nhl_team = "San Jose Sharks"
Generated Answer: SELECT college_junior_club_team FROM table_2781227_4 WHERE nhl_team = "San Jose Sharks"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT college_junior_club_team FROM table_2781227_4 WHERE nhl_team = "San Jose Sharks"')


Success!
Success Answer: SELECT college_junior_club_team FROM table_2781227_4 WHERE nhl_team = "San Jose Sharks"

 48%|████▊     | 478/1000 [21:20<23:49,  2.74s/it]

Question: What did the away team score when the crowd was larger than 6,872?

Real Answer: SELECT away_team AS score FROM table_name_55 WHERE crowd > 6 OFFSET 872
Generated Answer: SELECT away_team AS score FROM table_name_55 WHERE crowd > 6 OFFSET 872


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT away_team AS score FROM table_name_55 WHERE crowd > 6 OFFSET 872')


Success!
Success Answer: SELECT away_team AS score FROM table_name_55 WHERE crowd > 6 OFFSET 872

 48%|████▊     | 479/1000 [21:23<26:06,  3.01s/it]

Question: what is the maximum aircraft movements with international passengers being 21002260

Real Answer: SELECT MAX(aircraft_movements) FROM table_13836704_9 WHERE international_passengers = 21002260
Generated Answer: SELECT MAX(aircraft_movements) FROM table_13836704_9 WHERE international_passengers = 21002260


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(aircraft_movements) FROM table_13836704_9 WHERE international_passengers = 21002260')


Success!
Success Answer: SELECT MAX(aircraft_movements) FROM table_13836704_9 WHERE international_passengers = 21002260

 48%|████▊     | 480/1000 [21:26<25:53,  2.99s/it]

Question: Name the number in series for number 38

Real Answer: SELECT MIN(no_in_series) FROM table_18335117_5 WHERE no_overall = 38
Generated Answer: SELECT MAX(no_in_series) FROM table_18335117_5 WHERE no_overall = 38


Similarity Score: 0.7707144
Feedback: ('correct', 'SELECT MIN(no_in_series) FROM table_18335117_5 WHERE no_overall = 38')


Real Answer: SELECT MIN(no_in_series) FROM table_18335117_5 WHERE no_overall = 38
Failed Answer: SELECT MAX(no_in_series) FROM table_18335117_5 WHERE no_overall = 38

 48%|████▊     | 481/1000 [21:29<24:26,  2.83s/it]

Question: What is the smallest crowd with the away team of North Melbourne?

Real Answer: SELECT MIN(crowd) FROM table_name_61 WHERE away_team = "north melbourne"
Generated Answer: SELECT MIN(crowd) FROM table_name_61 WHERE away_team = "north melbourne"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(crowd) FROM table_name_61 WHERE away_team = "north melbourne"')


Success!
Success Answer: SELECT MIN(crowd) FROM table_name_61 WHERE away_team = "north melbourne"

 48%|████▊     | 482/1000 [21:32<24:52,  2.88s/it]

Question: How many events have a time of 1:48.322?

Real Answer: SELECT event FROM table_16308030_1 WHERE time = "1:48.322"
Generated Answer: SELECT COUNT(event) FROM table_16308030_1 WHERE time = "1:48.322"


Similarity Score: 0.8504545
Feedback: ('approve', 'SELECT COUNT(event) FROM table_16308030_1 WHERE time = "1:48.322"')


Real Answer: SELECT event FROM table_16308030_1 WHERE time = "1:48.322"
Failed Answer: SELECT COUNT(event) FROM table_16308030_1 WHERE time = "1:48.322"

 48%|████▊     | 483/1000 [21:33<21:31,  2.50s/it]

Question: WHich province has an IATA of WNZ?

Real Answer: SELECT province FROM table_name_7 WHERE iata = "wnz"
Generated Answer: SELECT province FROM table_name_7 WHERE iata = "wnz"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT province FROM table_name_7 WHERE iata = "wnz"')


Success!
Success Answer: SELECT province FROM table_name_7 WHERE iata = "wnz"

 48%|████▊     | 484/1000 [21:35<20:01,  2.33s/it]

Question: On average, how many wins have a rank lower than 1?

Real Answer: SELECT AVG(wins) FROM table_name_14 WHERE rank < 1
Generated Answer: SELECT AVG(wins) FROM table_name_14 WHERE rank < 1


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT AVG(wins) FROM table_name_14 WHERE rank < 1')


Success!
Success Answer: SELECT AVG(wins) FROM table_name_14 WHERE rank < 1

 48%|████▊     | 485/1000 [21:37<18:46,  2.19s/it]

Question: What is the party of the california 35 district?

Real Answer: SELECT party FROM table_name_4 WHERE district = "california 35"
Generated Answer: SELECT party FROM table_name_4 WHERE district = "california 35"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT party FROM table_name_4 WHERE district = "california 35"')


Success!
Success Answer: SELECT party FROM table_name_4 WHERE district = "california 35"

 49%|████▊     | 486/1000 [21:39<17:28,  2.04s/it]

Question: Which method has the record of 11-1?

Real Answer: SELECT method FROM table_name_4 WHERE record = "11-1"
Generated Answer: SELECT method FROM table_name_4 WHERE record = "11-1"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT method FROM table_name_4 WHERE record = "11-1"')


Success!
Success Answer: SELECT method FROM table_name_4 WHERE record = "11-1"

 49%|████▊     | 487/1000 [21:41<17:52,  2.09s/it]

Question: What is the french word for fribourg?

Real Answer: SELECT french FROM table_name_72 WHERE common_english = "fribourg"
Generated Answer: SELECT french FROM table_name_72 WHERE common_english = "fribourg"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT french FROM table_name_72 WHERE common_english = "fribourg"')


Success!
Success Answer: SELECT french FROM table_name_72 WHERE common_english = "fribourg"

 49%|████▉     | 488/1000 [21:43<17:32,  2.06s/it]

Question: What is the largest goal ratio with Goals smaller than 0?

Real Answer: SELECT MAX(goal_ratio) FROM table_name_73 WHERE goals < 0
Generated Answer: SELECT MAX(goal_ratio) FROM table_name_73 WHERE goals < 0


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(goal_ratio) FROM table_name_73 WHERE goals < 0')


Success!
Success Answer: SELECT MAX(goal_ratio) FROM table_name_73 WHERE goals < 0

 49%|████▉     | 489/1000 [21:47<23:17,  2.73s/it]

Question: Show the record companies shared by orchestras founded before 2003 and after 2003.

Real Answer: SELECT Record_Company FROM orchestra WHERE Year_of_Founded < 2003 INTERSECT SELECT Record_Company FROM orchestra WHERE Year_of_Founded > 2003
Generated Answer: SELECT Record_Company FROM orchestra WHERE Year_of_founded < 2003 INTERSECT SELECT Record_Company FROM orchestra WHERE Year_of_founded > 2003


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT Record_Company FROM orchestra WHERE Year_of_founded < 2003 INTERSECT SELECT Record_Company FROM orchestra WHERE Year_of_founded > 2003')


Real Answer: SELECT Record_Company FROM orchestra WHERE Year_of_Founded < 2003 INTERSECT SELECT Record_Company FROM orchestra WHERE Year_of_Founded > 2003
Failed Answer: SELECT Record_Company FROM orchestra WHERE Year_of_founded < 2003 INTERSECT SELECT Record_Company FROM orchestra WHERE Year_of_founded > 2003

 49%|████▉     | 490/1000 [21:49<20:56,  2.46s/it]

Question: How many goals have a Result of 12 – 0?

Real Answer: SELECT goals FROM table_name_33 WHERE result = "12 – 0"
Generated Answer: SELECT goals FROM table_name_33 WHERE result = "12 – 0"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT goals FROM table_name_33 WHERE result = "12 – 0"')


Success!
Success Answer: SELECT goals FROM table_name_33 WHERE result = "12 – 0"

 49%|████▉     | 491/1000 [21:52<21:37,  2.55s/it]

Question: Who is the elevator with the cardinalatial title of Deacon of SS. Sergio e Bacco?

Real Answer: SELECT elevator FROM table_name_14 WHERE cardinalatial_title = "deacon of ss. sergio e bacco"
Generated Answer: SELECT elevator FROM table_name_14 WHERE cardinalatial_title = "deacon of ss. sergio e bacco"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT elevator FROM table_name_14 WHERE cardinalatial_title = "deacon of ss. sergio e bacco"')


Success!
Success Answer: SELECT elevator FROM table_name_14 WHERE cardinalatial_title = "deacon of ss. sergio e bacco"

 49%|████▉     | 492/1000 [21:57<28:21,  3.35s/it]

Question: What is the Type with a Location with justus lipsius building, brussels, and a Year of 2012, and a President with herman van rompuy (1st term), and a Date with 23 may?

Real Answer: SELECT type FROM table_name_59 WHERE location = "justus lipsius building, brussels" AND year = 2012 AND president = "herman van rompuy (1st term)" AND date = "23 may"
Generated Answer: SELECT type FROM table_name_59 WHERE location = "justus lipsius building, brussels" AND year = 2012 AND president = "herman van rompuy (1st term)" AND date = "23 may"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT type FROM table_name_59 WHERE location = "justus lipsius building, brussels" AND year = 2012 AND president = "herman van rompuy (1st term)" AND date = "23 may"')


Success!
Success Answer: SELECT type FROM table_name_59 WHERE location = "justus lipsius building, brussels" AND year = 2012 AND president = "herman van rompuy (1st term)" AND date = "23 may"

 49%|████▉     | 493/1000 [21:59<25:06,  2.97s/it]

Question: What were the lowest points on march 2?

Real Answer: SELECT MIN(points) FROM table_name_56 WHERE date = "march 2"
Generated Answer: SELECT MIN(points) FROM table_name_56 WHERE date = "march 2"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT MIN(points) FROM table_name_56 WHERE date = "march 2"')


Success!
Success Answer: SELECT MIN(points) FROM table_name_56 WHERE date = "march 2"

 49%|████▉     | 494/1000 [22:05<32:53,  3.90s/it]

Question: Which Hanyu Pinyin has a GDP in 2011 larger than 688.02 billion yuan and a regional population of 8,700,400 in 2010?

Real Answer: SELECT hanyu_pinyin FROM table_name_98 WHERE gdp_2011__billion_yuan_ > 688.02 AND regional_population_2010_ = "8,700,400"
Generated Answer: SELECT hanyu_pinyin FROM table_name_98 WHERE gdp_2011__billion_yuan_ > 688.02 AND regional_population_2010_ = 8 OFFSET 700 OFFSET 400


Similarity Score: 0.7982749
Feedback: ('correct', 'SELECT hanyu_pinyin FROM table_name_98 WHERE gdp_2011__billion_yuan_ > 688.02 AND regional_population_2010_ = "8,700,400"')


Real Answer: SELECT hanyu_pinyin FROM table_name_98 WHERE gdp_2011__billion_yuan_ > 688.02 AND regional_population_2010_ = "8,700,400"
Failed Answer: SELECT hanyu_pinyin FROM table_name_98 WHERE gdp_2011__billion_yuan_ > 688.02 AND regional_population_2010_ = 8 OFFSET 700 OFFSET 400

 50%|████▉     | 495/1000 [22:07<27:55,  3.32s/it]

Question: What is Tie No, when Away Team is "Millwall"?

Real Answer: SELECT tie_no FROM table_name_71 WHERE away_team = "millwall"
Generated Answer: SELECT tie_no FROM table_name_71 WHERE away_team = "millwall"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT tie_no FROM table_name_71 WHERE away_team = "millwall"')


Success!
Success Answer: SELECT tie_no FROM table_name_71 WHERE away_team = "millwall"

 50%|████▉     | 496/1000 [22:11<30:01,  3.57s/it]

Question: Which region (year) has Abigail at number 7, Sophia at number 1 and Aaliyah at number 5?

Real Answer: SELECT region__year_ FROM table_name_12 WHERE no_7 = "abigail" AND no_1 = "sophia" AND no_5 = "aaliyah"
Generated Answer: SELECT region__year_ FROM table_name_12 WHERE no_7 = "abigail" AND no_1 = "sophia" AND no_5 = "aaliyah"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT region__year_ FROM table_name_12 WHERE no_7 = "abigail" AND no_1 = "sophia" AND no_5 = "aaliyah"')


Success!
Success Answer: SELECT region__year_ FROM table_name_12 WHERE no_7 = "abigail" AND no_1 = "sophia" AND no_5 = "aaliyah"

 50%|████▉     | 497/1000 [22:14<27:03,  3.23s/it]

Question: Who wrote episode number 28?

Real Answer: SELECT written_by FROM table_26561506_1 WHERE no = 28
Generated Answer: SELECT written_by FROM table_26561506_1 WHERE no = 28


Similarity Score: 1.0
Feedback: ('approve', 'SELECT written_by FROM table_26561506_1 WHERE no = 28')


Success!
Success Answer: SELECT written_by FROM table_26561506_1 WHERE no = 28

 50%|████▉     | 498/1000 [22:18<30:36,  3.66s/it]

Question: Which Purpose has an Elevation + Height of 0 + metres (ft), a Location of bikini, namu (charlie), and a Yield of 220 kt?

Real Answer: SELECT purpose FROM table_name_37 WHERE elevation_ + _height = "0 + metres (ft)" AND location = "bikini, namu (charlie)" AND yield = "220 kt"
Generated Answer: SELECT purpose FROM table_name_37 WHERE elevation_ & _height = "0 + metres (ft)" AND location = "bikini, namu (charlie)" AND yield = "220 kt"


Similarity Score: 0.9955024
Feedback: ('approve', 'SELECT purpose FROM table_name_37 WHERE elevation_ & _height = "0 + metres (ft)" AND location = "bikini, namu (charlie)" AND yield = "220 kt"')


Real Answer: SELECT purpose FROM table_name_37 WHERE elevation_ + _height = "0 + metres (ft)" AND location = "bikini, namu (charlie)" AND yield = "220 kt"
Failed Answer: SELECT purpose FROM table_name_37 WHERE elevation_ & _height = "0 + metres (ft)" AND location = "bikini, namu (charlie)" AND yield = "220 kt"

 50%|████▉     | 499/1000 [22:22<30:33,  3.66s/it]

Question: How many years were lightweight class on february 28, 2009?

Real Answer: SELECT COUNT(year) FROM table_name_87 WHERE weight_class = "lightweight" AND date = "february 28, 2009"
Generated Answer: SELECT COUNT(year) FROM table_name_87 WHERE weight_class = "lightweight" AND date = "february 28, 2009"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(year) FROM table_name_87 WHERE weight_class = "lightweight" AND date = "february 28, 2009"')


Success!
Success Answer: SELECT COUNT(year) FROM table_name_87 WHERE weight_class = "lightweight" AND date = "february 28, 2009"

 50%|█████     | 500/1000 [22:25<28:02,  3.36s/it]

Question: What is the most Champions League assists for those with a total of 6 and position of Midfielder?

Real Answer: SELECT MAX(Champions) AS league FROM table_name_48 WHERE total = 6 AND position = "midfielder"
Generated Answer: SELECT MAX(Champions) FROM table_name_48 WHERE total = 6 AND position = "midfielder"


Similarity Score: 0.95472103
Feedback: ('approve', 'SELECT MAX(Champions) FROM table_name_48 WHERE total = 6 AND position = "midfielder"')


Real Answer: SELECT MAX(Champions) AS league FROM table_name_48 WHERE total = 6 AND position = "midfielder"
Failed Answer: SELECT MAX(Champions) FROM table_name_48 WHERE total = 6 AND position = "midfielder"

 50%|█████     | 501/1000 [22:27<24:17,  2.92s/it]

Question: What is the Game with a Record of 19-15?

Real Answer: SELECT game FROM table_name_71 WHERE record = "19-15"
Generated Answer: SELECT game FROM table_name_71 WHERE record = "19-15"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT game FROM table_name_71 WHERE record = "19-15"')


Success!
Success Answer: SELECT game FROM table_name_71 WHERE record = "19-15"

 50%|█████     | 502/1000 [22:29<22:12,  2.68s/it]

Question: What record company did pianist Solomon Cutner record for?

Real Answer: SELECT record_company FROM table_name_51 WHERE pianist = "solomon cutner"
Generated Answer: SELECT record_company FROM table_name_51 WHERE pianist = "solomon cutner"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT record_company FROM table_name_51 WHERE pianist = "solomon cutner"')


Success!
Success Answer: SELECT record_company FROM table_name_51 WHERE pianist = "solomon cutner"

 50%|█████     | 503/1000 [22:31<20:09,  2.43s/it]

Question: Which School/Club Team has a Pick of 198?

Real Answer: SELECT school_club_team FROM table_name_7 WHERE pick = 198
Generated Answer: SELECT school_club_team FROM table_name_7 WHERE pick = 198


Similarity Score: 1.0
Feedback: ('approve', 'SELECT school_club_team FROM table_name_7 WHERE pick = 198')


Success!
Success Answer: SELECT school_club_team FROM table_name_7 WHERE pick = 198

 50%|█████     | 504/1000 [22:32<16:39,  2.01s/it]

Question: What is the average score of submissions?

Real Answer: SELECT AVG(Scores) FROM submission
Generated Answer: SELECT AVG(Scores) FROM submission


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT AVG(Scores) FROM submission')


Success!
Success Answer: SELECT AVG(Scores) FROM submission

 50%|█████     | 505/1000 [22:35<20:40,  2.51s/it]

Question: What was the total mintage for years after 2002 that had a 85th Anniversary of Vimy Ridge theme?

Real Answer: SELECT COUNT(mintage) FROM table_name_68 WHERE theme = "85th anniversary of vimy ridge" AND year > 2002
Generated Answer: SELECT COUNT(mintage) FROM table_name_68 WHERE theme = "85th anniversary of vimy ridge" AND year > 2002


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(mintage) FROM table_name_68 WHERE theme = "85th anniversary of vimy ridge" AND year > 2002')


Success!
Success Answer: SELECT COUNT(mintage) FROM table_name_68 WHERE theme = "85th anniversary of vimy ridge" AND year > 2002

 51%|█████     | 506/1000 [22:38<20:23,  2.48s/it]

Question: What was the score on October 24, 2005?

Real Answer: SELECT score FROM table_name_55 WHERE date = "october 24, 2005"
Generated Answer: SELECT score FROM table_name_55 WHERE date = "october 24, 2005"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT score FROM table_name_55 WHERE date = "october 24, 2005"')


Success!
Success Answer: SELECT score FROM table_name_55 WHERE date = "october 24, 2005"

 51%|█████     | 507/1000 [22:40<19:10,  2.33s/it]

Question: On what Date is the Minnesota Vikings the Opponent?

Real Answer: SELECT date FROM table_name_71 WHERE opponent = "minnesota vikings"
Generated Answer: SELECT date FROM table_name_71 WHERE opponent = "minnesota vikings"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_71 WHERE opponent = "minnesota vikings"')


Success!
Success Answer: SELECT date FROM table_name_71 WHERE opponent = "minnesota vikings"

 51%|█████     | 508/1000 [22:43<21:07,  2.58s/it]

Question: What kind of edition was released September 23, 2008 from the United States?

Real Answer: SELECT edition FROM table_name_69 WHERE date = "september 23, 2008" AND region = "united states"
Generated Answer: SELECT edition FROM table_name_69 WHERE date = "september 23, 2008" AND region = "united states"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT edition FROM table_name_69 WHERE date = "september 23, 2008" AND region = "united states"')


Success!
Success Answer: SELECT edition FROM table_name_69 WHERE date = "september 23, 2008" AND region = "united states"

 51%|█████     | 509/1000 [22:45<19:43,  2.41s/it]

Question: Which lowest goals for number had a played number of less than 34?

Real Answer: SELECT MIN(goals_for) FROM table_name_95 WHERE played < 34
Generated Answer: SELECT MIN(goals_for) FROM table_name_95 WHERE played < 34


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(goals_for) FROM table_name_95 WHERE played < 34')


Success!
Success Answer: SELECT MIN(goals_for) FROM table_name_95 WHERE played < 34

 51%|█████     | 510/1000 [22:47<20:01,  2.45s/it]

Question: What was the 1845 disposal for sussex?

Real Answer: SELECT 1845 AS _disposal FROM table_1184344_1 WHERE name = "Sussex"
Generated Answer: SELECT 1845 FROM table_1184344_1 WHERE name = "Sussex"


Similarity Score: 0.80562484
Feedback: ('approve', 'SELECT 1845 FROM table_1184344_1 WHERE name = "Sussex"')


Real Answer: SELECT 1845 AS _disposal FROM table_1184344_1 WHERE name = "Sussex"
Failed Answer: SELECT 1845 FROM table_1184344_1 WHERE name = "Sussex"

 51%|█████     | 511/1000 [22:50<20:55,  2.57s/it]

Question: How many wins did Team Autotecnica, with 0 podiums, have?

Real Answer: SELECT wins FROM table_name_82 WHERE podiums = "0" AND team = "team autotecnica"
Generated Answer: SELECT COUNT(wins) FROM table_name_82 WHERE podiums = 0 AND team = "autotecnica"


Similarity Score: 0.8535544
Feedback: ('approve', 'SELECT COUNT(wins) FROM table_name_82 WHERE podiums = 0 AND team = "autotecnica"')


Real Answer: SELECT wins FROM table_name_82 WHERE podiums = "0" AND team = "team autotecnica"
Failed Answer: SELECT COUNT(wins) FROM table_name_82 WHERE podiums = 0 AND team = "autotecnica"

 51%|█████     | 512/1000 [22:53<21:11,  2.61s/it]

Question: What is the amount of Draws for the game that had a score of 45+7 and a position below 3?

Real Answer: SELECT COUNT(draws) FROM table_name_29 WHERE points = "45+7" AND position < 3
Generated Answer: SELECT COUNT(draws) FROM table_name_29 WHERE points = "45+7" AND position < 3


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(draws) FROM table_name_29 WHERE points = "45+7" AND position < 3')


Success!
Success Answer: SELECT COUNT(draws) FROM table_name_29 WHERE points = "45+7" AND position < 3

 51%|█████▏    | 513/1000 [22:56<22:35,  2.78s/it]

Question: When deutsche grammophon is the label how many clairons are there?

Real Answer: SELECT COUNT(clairon) FROM table_29728787_1 WHERE label = "Deutsche Grammophon"
Generated Answer: SELECT COUNT(clairon) FROM table_29728787_1 WHERE label = "Deutsche Grammophon"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(clairon) FROM table_29728787_1 WHERE label = "Deutsche Grammophon"')


Success!
Success Answer: SELECT COUNT(clairon) FROM table_29728787_1 WHERE label = "Deutsche Grammophon"

 51%|█████▏    | 514/1000 [22:59<22:09,  2.74s/it]

Question: What is the name of the video game magazine that was issued bimonthly?

Real Answer: SELECT title FROM table_name_36 WHERE magazine_type = "video game" AND frequency = "bimonthly"
Generated Answer: SELECT title FROM table_name_36 WHERE magazine_type = "video game" AND frequency = "bimonthly"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT title FROM table_name_36 WHERE magazine_type = "video game" AND frequency = "bimonthly"')


Success!
Success Answer: SELECT title FROM table_name_36 WHERE magazine_type = "video game" AND frequency = "bimonthly"

 52%|█████▏    | 515/1000 [23:01<20:24,  2.53s/it]

Question: What is the average Attendance for the final round?

Real Answer: SELECT AVG(attendance) FROM table_name_54 WHERE round = "final"
Generated Answer: SELECT AVG(attendance) FROM table_name_54 WHERE round = "final"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT AVG(attendance) FROM table_name_54 WHERE round = "final"')


Success!
Success Answer: SELECT AVG(attendance) FROM table_name_54 WHERE round = "final"

 52%|█████▏    | 516/1000 [23:03<20:00,  2.48s/it]

Question: What was the date of the game when the opponent was the Miami Dolphins?

Real Answer: SELECT date FROM table_17782308_1 WHERE opponent = "Miami Dolphins"
Generated Answer: SELECT date FROM table_17782308_1 WHERE opponent = "Miami Dolphins"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT date FROM table_17782308_1 WHERE opponent = "Miami Dolphins"')


Success!
Success Answer: SELECT date FROM table_17782308_1 WHERE opponent = "Miami Dolphins"

 52%|█████▏    | 517/1000 [23:05<18:28,  2.30s/it]

Question: Who was the Away team on the result of 1-5 aet?

Real Answer: SELECT away FROM table_name_61 WHERE result = "1-5 aet"
Generated Answer: SELECT away FROM table_name_61 WHERE result = "1-5 aet"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT away FROM table_name_61 WHERE result = "1-5 aet"')


Success!
Success Answer: SELECT away FROM table_name_61 WHERE result = "1-5 aet"

 52%|█████▏    | 518/1000 [23:08<20:06,  2.50s/it]

Question: How many years have an accolade of 50 best albums of the year, with #3 as the rank?

Real Answer: SELECT SUM(year) FROM table_name_6 WHERE accolade = "50 best albums of the year" AND rank = "#3"
Generated Answer: SELECT SUM(year) FROM table_name_6 WHERE accolade = "50 best albums of the year" AND rank = "#3"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT SUM(year) FROM table_name_6 WHERE accolade = "50 best albums of the year" AND rank = "#3"')


Success!
Success Answer: SELECT SUM(year) FROM table_name_6 WHERE accolade = "50 best albums of the year" AND rank = "#3"

 52%|█████▏    | 519/1000 [23:11<21:40,  2.70s/it]

Question: What is the c (nf/km) when the r (ω/km) is 463.59?

Real Answer: SELECT c__nf_km_ FROM table_261642_3 WHERE r__ω_km_ = "463.59"
Generated Answer: SELECT c__nf_km_ FROM table_261642_3 WHERE r__ω_km_ = "463.59"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT c__nf_km_ FROM table_261642_3 WHERE r__ω_km_ = "463.59"')


Success!
Success Answer: SELECT c__nf_km_ FROM table_261642_3 WHERE r__ω_km_ = "463.59"

 52%|█████▏    | 520/1000 [23:13<19:27,  2.43s/it]

Question: On what date was Tie #26 played?

Real Answer: SELECT date FROM table_name_90 WHERE tie_no = "26"
Generated Answer: SELECT date FROM table_name_90 WHERE tie_no = "26"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date FROM table_name_90 WHERE tie_no = "26"')


Success!
Success Answer: SELECT date FROM table_name_90 WHERE tie_no = "26"

 52%|█████▏    | 521/1000 [23:16<20:50,  2.61s/it]

Question: How many games had three pointers where the number of points was 581?

Real Answer: SELECT COUNT(three_pointers) FROM table_22824324_2 WHERE points = 581
Generated Answer: SELECT COUNT(three_pointers) FROM table_22824324_2 WHERE points = 581


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(three_pointers) FROM table_22824324_2 WHERE points = 581')


Success!
Success Answer: SELECT COUNT(three_pointers) FROM table_22824324_2 WHERE points = 581

 52%|█████▏    | 522/1000 [23:18<18:43,  2.35s/it]

Question: What date is associated with the Spunk label?

Real Answer: SELECT date FROM table_name_76 WHERE label = "spunk"
Generated Answer: SELECT date FROM table_name_76 WHERE label = "spunk"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date FROM table_name_76 WHERE label = "spunk"')


Success!
Success Answer: SELECT date FROM table_name_76 WHERE label = "spunk"

 52%|█████▏    | 523/1000 [23:20<18:09,  2.28s/it]

Question: What is the video ratio on channel 14.2?

Real Answer: SELECT video FROM table_name_75 WHERE channel = 14.2
Generated Answer: SELECT video AS :ratio FROM table_name_75 WHERE channel = "14.2"


Similarity Score: 0.84484625
Feedback: ('approve', 'SELECT video AS :ratio FROM table_name_75 WHERE channel = "14.2"')


Real Answer: SELECT video FROM table_name_75 WHERE channel = 14.2
Failed Answer: SELECT video AS :ratio FROM table_name_75 WHERE channel = "14.2"

 52%|█████▏    | 524/1000 [23:22<18:46,  2.37s/it]

Question: Name the record for july 18

Real Answer: SELECT record FROM table_17103645_10 WHERE date = "July 18"
Generated Answer: SELECT record FROM table_17103645_10 WHERE date = "July 18"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT record FROM table_17103645_10 WHERE date = "July 18"')


Success!
Success Answer: SELECT record FROM table_17103645_10 WHERE date = "July 18"

 52%|█████▎    | 525/1000 [23:25<19:01,  2.40s/it]

Question: How many years were they nominated for outstanding musical?

Real Answer: SELECT COUNT(year) FROM table_name_93 WHERE nominee = "outstanding musical"
Generated Answer: SELECT COUNT(year) FROM table_name_93 WHERE nominee = "outstanding musical"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(year) FROM table_name_93 WHERE nominee = "outstanding musical"')


Success!
Success Answer: SELECT COUNT(year) FROM table_name_93 WHERE nominee = "outstanding musical"

 53%|█████▎    | 526/1000 [23:27<18:45,  2.37s/it]

Question: What is Tournament, when Runner(s)-Up is Garth Mulroy?

Real Answer: SELECT tournament FROM table_name_70 WHERE runner_s__up = "garth mulroy"
Generated Answer: SELECT tournament FROM table_name_70 WHERE runner_s__up = "garth mulroy"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT tournament FROM table_name_70 WHERE runner_s__up = "garth mulroy"')


Success!
Success Answer: SELECT tournament FROM table_name_70 WHERE runner_s__up = "garth mulroy"

 53%|█████▎    | 527/1000 [23:29<18:04,  2.29s/it]

Question: What is the earliest launch that was from Beijing?

Real Answer: SELECT MIN(launch) FROM table_name_58 WHERE origin = "beijing"
Generated Answer: SELECT MIN(launch) FROM table_name_58 WHERE origin = "beijing"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(launch) FROM table_name_58 WHERE origin = "beijing"')


Success!
Success Answer: SELECT MIN(launch) FROM table_name_58 WHERE origin = "beijing"

 53%|█████▎    | 528/1000 [23:32<17:51,  2.27s/it]

Question: What machine did Keith T. Gawler ride?

Real Answer: SELECT machine FROM table_name_76 WHERE rider = "keith t. gawler"
Generated Answer: SELECT machine FROM table_name_76 WHERE rider = "keith t. gawler"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT machine FROM table_name_76 WHERE rider = "keith t. gawler"')


Success!
Success Answer: SELECT machine FROM table_name_76 WHERE rider = "keith t. gawler"

 53%|█████▎    | 529/1000 [23:36<22:03,  2.81s/it]

Question: When is the earliest year with a Torque of 330n·m (243lb·ft) @ 2000-2500?

Real Answer: SELECT MIN(year) FROM table_name_55 WHERE torque = "330n·m (243lb·ft) @ 2000-2500"
Generated Answer: SELECT MIN(year) FROM table_name_55 WHERE torque = "330n·m (243lb·ft) @ 2000-2500"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MIN(year) FROM table_name_55 WHERE torque = "330n·m (243lb·ft) @ 2000-2500"')


Success!
Success Answer: SELECT MIN(year) FROM table_name_55 WHERE torque = "330n·m (243lb·ft) @ 2000-2500"

 53%|█████▎    | 530/1000 [23:39<22:37,  2.89s/it]

Question: What is the enrollment for Foote Field?

Real Answer: SELECT MAX(enrollment) FROM table_12896884_1 WHERE football_stadium = "Foote Field"
Generated Answer: SELECT MIN(enrollment) FROM table_12896884_1 WHERE football_stadium = "Foote Field"


Similarity Score: 0.74488425
Feedback: ('correct', 'SELECT MAX(enrollment) FROM table_12896884_1 WHERE football_stadium = "Foote Field"')


Real Answer: SELECT MAX(enrollment) FROM table_12896884_1 WHERE football_stadium = "Foote Field"
Failed Answer: SELECT MIN(enrollment) FROM table_12896884_1 WHERE football_stadium = "Foote Field"

 53%|█████▎    | 531/1000 [23:41<21:10,  2.71s/it]

Question: Which home has a Decision of kolzig, and a Date of november 5?

Real Answer: SELECT home FROM table_name_9 WHERE decision = "kolzig" AND date = "november 5"
Generated Answer: SELECT home FROM table_name_9 WHERE decision = "kolzig" AND date = "november 5"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT home FROM table_name_9 WHERE decision = "kolzig" AND date = "november 5"')


Success!
Success Answer: SELECT home FROM table_name_9 WHERE decision = "kolzig" AND date = "november 5"

 53%|█████▎    | 532/1000 [23:43<20:05,  2.58s/it]

Question: What was the score of the game when the team reached a record of 6-9?

Real Answer: SELECT score FROM table_10595672_1 WHERE record = "6-9"
Generated Answer: SELECT score FROM table_10595672_1 WHERE record = "6-9"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT score FROM table_10595672_1 WHERE record = "6-9"')


Success!
Success Answer: SELECT score FROM table_10595672_1 WHERE record = "6-9"

 53%|█████▎    | 533/1000 [23:46<20:42,  2.66s/it]

Question: Which Games played has a Points of 6, and Goals scored larger than 12?

Real Answer: SELECT MAX(games_played) FROM table_name_83 WHERE points = 6 AND goals_scored > 12
Generated Answer: SELECT MAX(games_played) FROM table_name_83 WHERE points = 6 AND goals_scored > 12


Similarity Score: 0.99999964
Feedback: ('approve', 'SELECT MAX(games_played) FROM table_name_83 WHERE points = 6 AND goals_scored > 12')


Success!
Success Answer: SELECT MAX(games_played) FROM table_name_83 WHERE points = 6 AND goals_scored > 12

 53%|█████▎    | 534/1000 [23:48<18:14,  2.35s/it]

Question: What was the score in 1969?

Real Answer: SELECT score FROM table_name_9 WHERE year = "1969"
Generated Answer: SELECT score FROM table_name_9 WHERE year = 1969


Similarity Score: 0.9913639
Feedback: ('approve', 'SELECT score FROM table_name_9 WHERE year = 1969')


Real Answer: SELECT score FROM table_name_9 WHERE year = "1969"
Failed Answer: SELECT score FROM table_name_9 WHERE year = 1969

 54%|█████▎    | 535/1000 [23:50<17:43,  2.29s/it]

Question: Who are the rowers ranked greater than 3 from Finland?

Real Answer: SELECT rowers FROM table_name_42 WHERE rank > 3 AND country = "finland"
Generated Answer: SELECT rowers FROM table_name_42 WHERE rank > 3 AND country = "finland"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT rowers FROM table_name_42 WHERE rank > 3 AND country = "finland"')


Success!
Success Answer: SELECT rowers FROM table_name_42 WHERE rank > 3 AND country = "finland"

 54%|█████▎    | 536/1000 [23:52<16:45,  2.17s/it]

Question: In what Week was the Locking Dance?

Real Answer: SELECT MAX(week) FROM table_name_16 WHERE dance = "locking"
Generated Answer: SELECT MIN(week) FROM table_name_16 WHERE dance = "locking"


Similarity Score: 0.8845489
Feedback: ('approve', 'SELECT MIN(week) FROM table_name_16 WHERE dance = "locking"')


Real Answer: SELECT MAX(week) FROM table_name_16 WHERE dance = "locking"
Failed Answer: SELECT MIN(week) FROM table_name_16 WHERE dance = "locking"

 54%|█████▎    | 537/1000 [23:54<17:07,  2.22s/it]

Question: What is the average game that has December 6 as the date?

Real Answer: SELECT AVG(game) FROM table_name_91 WHERE date = "december 6"
Generated Answer: SELECT AVG(game) FROM table_name_91 WHERE date = "december 6"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT AVG(game) FROM table_name_91 WHERE date = "december 6"')


Success!
Success Answer: SELECT AVG(game) FROM table_name_91 WHERE date = "december 6"

 54%|█████▍    | 538/1000 [23:58<20:12,  2.62s/it]

Question: What is the lowest geohash length when the lat bits are less than 7, and the km error of ±2500?

Real Answer: SELECT MIN(geohash_length) FROM table_name_94 WHERE lat_bits < 7 AND km_error = "±2500"
Generated Answer: SELECT MIN(geohash_length) FROM table_name_94 WHERE lat_bits < 7 AND km_error = "±2500"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MIN(geohash_length) FROM table_name_94 WHERE lat_bits < 7 AND km_error = "±2500"')


Success!
Success Answer: SELECT MIN(geohash_length) FROM table_name_94 WHERE lat_bits < 7 AND km_error = "±2500"

 54%|█████▍    | 539/1000 [24:00<20:31,  2.67s/it]

Question: Name the period for uruguay

Real Answer: SELECT period FROM table_24565004_19 WHERE nationality² = "Uruguay"
Generated Answer: SELECT period FROM table_24565004_19 WHERE nationality² = "Uruguay"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT period FROM table_24565004_19 WHERE nationality² = "Uruguay"')


Success!
Success Answer: SELECT period FROM table_24565004_19 WHERE nationality² = "Uruguay"

 54%|█████▍    | 540/1000 [24:02<19:06,  2.49s/it]

Question: What is the number of the game that was played in the time of 2:38?

Real Answer: SELECT MAX(game) FROM table_name_95 WHERE time = "2:38"
Generated Answer: SELECT MAX(game) FROM table_name_95 WHERE time = "2:38"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(game) FROM table_name_95 WHERE time = "2:38"')


Success!
Success Answer: SELECT MAX(game) FROM table_name_95 WHERE time = "2:38"

 54%|█████▍    | 541/1000 [24:05<19:42,  2.58s/it]

Question: When driver yuji tachikawa had a make of lexus, what team did he represent?

Real Answer: SELECT team FROM table_name_38 WHERE make = "lexus" AND drivers = "yuji tachikawa"
Generated Answer: SELECT team FROM table_name_38 WHERE make = "lexus" AND drivers = "yuji tachikawa"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT team FROM table_name_38 WHERE make = "lexus" AND drivers = "yuji tachikawa"')


Success!
Success Answer: SELECT team FROM table_name_38 WHERE make = "lexus" AND drivers = "yuji tachikawa"

 54%|█████▍    | 542/1000 [24:08<20:40,  2.71s/it]

Question: How many games did they play on january 11?

Real Answer: SELECT COUNT(location_attendance) FROM table_27882867_6 WHERE date = "January 11"
Generated Answer: SELECT COUNT(location_attendance) FROM table_27882867_6 WHERE date = "January 11"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(location_attendance) FROM table_27882867_6 WHERE date = "January 11"')


Success!
Success Answer: SELECT COUNT(location_attendance) FROM table_27882867_6 WHERE date = "January 11"

 54%|█████▍    | 543/1000 [24:11<19:53,  2.61s/it]

Question: Who was the opponent on November 26, 1989?

Real Answer: SELECT opponent FROM table_name_86 WHERE date = "november 26, 1989"
Generated Answer: SELECT opponent FROM table_name_86 WHERE date = "november 26, 1989"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT opponent FROM table_name_86 WHERE date = "november 26, 1989"')


Success!
Success Answer: SELECT opponent FROM table_name_86 WHERE date = "november 26, 1989"

 54%|█████▍    | 544/1000 [24:14<20:47,  2.74s/it]

Question: How many significant relationships list Will as a virtue?

Real Answer: SELECT COUNT(significant_relationship) FROM table_1058787_1 WHERE virtues = "Will"
Generated Answer: SELECT COUNT(significant_relationship) FROM table_1058787_1 WHERE virtues = "Will"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(significant_relationship) FROM table_1058787_1 WHERE virtues = "Will"')


Success!
Success Answer: SELECT COUNT(significant_relationship) FROM table_1058787_1 WHERE virtues = "Will"

 55%|█████▍    | 545/1000 [24:16<20:34,  2.71s/it]

Question: what re the high assists for january 29?

Real Answer: SELECT high_assists FROM table_29982187_4 WHERE date = "January 29"
Generated Answer: SELECT high_assists FROM table_29982187_4 WHERE date = "January 29"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT high_assists FROM table_29982187_4 WHERE date = "January 29"')


Success!
Success Answer: SELECT high_assists FROM table_29982187_4 WHERE date = "January 29"

 55%|█████▍    | 546/1000 [24:19<20:19,  2.69s/it]

Question: Who built the ship that is 42.8 m long and was delivered in 2007?

Real Answer: SELECT builder FROM table_name_83 WHERE length = "42.8 m" AND delivery = 2007
Generated Answer: SELECT builder FROM table_name_83 WHERE length = "42.8 m" AND delivery = "2007"


Similarity Score: 0.99728
Feedback: ('approve', 'SELECT builder FROM table_name_83 WHERE length = "42.8 m" AND delivery = "2007"')


Real Answer: SELECT builder FROM table_name_83 WHERE length = "42.8 m" AND delivery = 2007
Failed Answer: SELECT builder FROM table_name_83 WHERE length = "42.8 m" AND delivery = "2007"

 55%|█████▍    | 547/1000 [24:21<19:17,  2.55s/it]

Question: What date is for Venue of jjb stadium, and a Result of w?

Real Answer: SELECT date FROM table_name_14 WHERE venue = "jjb stadium" AND result = "w"
Generated Answer: SELECT date FROM table_name_14 WHERE venue = "jjb stadium" AND result = "w"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date FROM table_name_14 WHERE venue = "jjb stadium" AND result = "w"')


Success!
Success Answer: SELECT date FROM table_name_14 WHERE venue = "jjb stadium" AND result = "w"

 55%|█████▍    | 548/1000 [24:24<18:50,  2.50s/it]

Question: When the venue is away and the opponents are the bracknell bees, what is the competition?

Real Answer: SELECT competition FROM table_name_88 WHERE venue = "away" AND opponent = "bracknell bees"
Generated Answer: SELECT competition FROM table_name_88 WHERE venue = "away" AND opponent = "bracknell bees"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT competition FROM table_name_88 WHERE venue = "away" AND opponent = "bracknell bees"')


Success!
Success Answer: SELECT competition FROM table_name_88 WHERE venue = "away" AND opponent = "bracknell bees"

 55%|█████▍    | 549/1000 [24:26<18:09,  2.42s/it]

Question: Who was the host team when the Miami Dolphins were the visiting team?

Real Answer: SELECT host_team FROM table_name_33 WHERE visiting_team = "miami dolphins"
Generated Answer: SELECT host_team FROM table_name_33 WHERE visiting_team = "miami dolphins"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT host_team FROM table_name_33 WHERE visiting_team = "miami dolphins"')


Success!
Success Answer: SELECT host_team FROM table_name_33 WHERE visiting_team = "miami dolphins"

 55%|█████▌    | 550/1000 [24:28<17:54,  2.39s/it]

Question: What is the venue in 2011, when the state is California?

Real Answer: SELECT venue FROM table_name_5 WHERE state = "california" AND year = 2011
Generated Answer: SELECT venue FROM table_name_5 WHERE state = "california" AND year = "2011"


Similarity Score: 0.9959326
Feedback: ('approve', 'SELECT venue FROM table_name_5 WHERE state = "california" AND year = "2011"')


Real Answer: SELECT venue FROM table_name_5 WHERE state = "california" AND year = 2011
Failed Answer: SELECT venue FROM table_name_5 WHERE state = "california" AND year = "2011"

 55%|█████▌    | 551/1000 [24:30<16:49,  2.25s/it]

Question: Who played Melbourne as the home team?

Real Answer: SELECT home_team FROM table_name_38 WHERE away_team = "melbourne"
Generated Answer: SELECT home_team FROM table_name_38 WHERE away_team = "melbourne"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT home_team FROM table_name_38 WHERE away_team = "melbourne"')


Success!
Success Answer: SELECT home_team FROM table_name_38 WHERE away_team = "melbourne"

 55%|█████▌    | 552/1000 [24:33<17:51,  2.39s/it]

Question: How much money did the player ranked above 3 with under 28 events earn?

Real Answer: SELECT COUNT(earnings___) AS $__ FROM table_name_43 WHERE events < 28 AND rank < 3
Generated Answer: SELECT COUNT(earnings___) AS $__ FROM table_name_43 WHERE events < 28 AND rank < 3


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(earnings___) AS $__ FROM table_name_43 WHERE events < 28 AND rank < 3')


Success!
Success Answer: SELECT COUNT(earnings___) AS $__ FROM table_name_43 WHERE events < 28 AND rank < 3

 55%|█████▌    | 553/1000 [24:35<18:00,  2.42s/it]

Question: How many attended on march 1?

Real Answer: SELECT AVG(attendance) FROM table_name_19 WHERE date = "march 1"
Generated Answer: SELECT SUM(attendance) FROM table_name_19 WHERE date = "march 1"


Similarity Score: 0.82949245
Feedback: ('approve', 'SELECT SUM(attendance) FROM table_name_19 WHERE date = "march 1"')


Real Answer: SELECT AVG(attendance) FROM table_name_19 WHERE date = "march 1"
Failed Answer: SELECT SUM(attendance) FROM table_name_19 WHERE date = "march 1"

 55%|█████▌    | 554/1000 [24:37<15:56,  2.14s/it]

Question: Find the total revenue for each manufacturer.

Real Answer: SELECT SUM(revenue), name FROM manufacturers GROUP BY name
Generated Answer: SELECT COUNT(revenue), name FROM manufacturers GROUP BY name


Similarity Score: 0.897748
Feedback: ('approve', 'SELECT COUNT(revenue), name FROM manufacturers GROUP BY name')


Real Answer: SELECT SUM(revenue), name FROM manufacturers GROUP BY name
Failed Answer: SELECT COUNT(revenue), name FROM manufacturers GROUP BY name

 56%|█████▌    | 555/1000 [24:39<16:05,  2.17s/it]

Question: All players are position mark polak.

Real Answer: SELECT position FROM table_1013129_10 WHERE player = "Mark Polak"
Generated Answer: SELECT position FROM table_1013129_10 WHERE player = "Mark Polak"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT position FROM table_1013129_10 WHERE player = "Mark Polak"')


Success!
Success Answer: SELECT position FROM table_1013129_10 WHERE player = "Mark Polak"

 56%|█████▌    | 556/1000 [24:41<15:59,  2.16s/it]

Question: If the episode was number 234, what was it's timeslot?

Real Answer: SELECT timeslot FROM table_2639433_4 WHERE episodes = 234
Generated Answer: SELECT timeslot FROM table_2639433_4 WHERE episodes = 234


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT timeslot FROM table_2639433_4 WHERE episodes = 234')


Success!
Success Answer: SELECT timeslot FROM table_2639433_4 WHERE episodes = 234

 56%|█████▌    | 557/1000 [24:43<14:44,  2.00s/it]

Question: What was the result of the bout that led to a 4-4 record?

Real Answer: SELECT res FROM table_name_1 WHERE record = "4-4"
Generated Answer: SELECT res FROM table_name_1 WHERE record = "4-4"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT res FROM table_name_1 WHERE record = "4-4"')


Success!
Success Answer: SELECT res FROM table_name_1 WHERE record = "4-4"

 56%|█████▌    | 558/1000 [24:45<16:15,  2.21s/it]

Question: What is the 2007 value for the 2006 wta premier tournaments?

Real Answer: SELECT 2007 FROM table_name_25 WHERE 2006 = "wta premier tournaments"
Generated Answer: SELECT 2007 FROM table_name_25 WHERE 2006 = "wta premier tournaments"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT 2007 FROM table_name_25 WHERE 2006 = "wta premier tournaments"')


Success!
Success Answer: SELECT 2007 FROM table_name_25 WHERE 2006 = "wta premier tournaments"

 56%|█████▌    | 559/1000 [24:48<17:04,  2.32s/it]

Question: Who had the highest assists in game 75?

Real Answer: SELECT high_assists FROM table_27733909_10 WHERE game = 75
Generated Answer: SELECT high_assists FROM table_27733909_10 WHERE game = 75


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT high_assists FROM table_27733909_10 WHERE game = 75')


Success!
Success Answer: SELECT high_assists FROM table_27733909_10 WHERE game = 75

 56%|█████▌    | 560/1000 [24:50<17:11,  2.34s/it]

Question: If the French Open tournament had 2r in 2012, what was it in 2010?

Real Answer: SELECT 2010 FROM table_name_31 WHERE 2012 = "2r" AND tournament = "french open"
Generated Answer: SELECT 2010 FROM table_name_31 WHERE 2012 = "2r"


Similarity Score: 0.79253507
Feedback: ('correct', 'SELECT 2010 FROM table_name_31 WHERE 2012 = "2r" AND tournament = "french open"')


Real Answer: SELECT 2010 FROM table_name_31 WHERE 2012 = "2r" AND tournament = "french open"
Failed Answer: SELECT 2010 FROM table_name_31 WHERE 2012 = "2r"

 56%|█████▌    | 561/1000 [24:53<17:39,  2.41s/it]

Question: Which 2nd leg has pamesa valencia for team #2?

Real Answer: SELECT 2 AS nd_leg FROM table_name_52 WHERE team__number2 = "pamesa valencia"
Generated Answer: SELECT 2 AS nd_leg FROM table_name_52 WHERE team__number2 = "pamesa valencia"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT 2 AS nd_leg FROM table_name_52 WHERE team__number2 = "pamesa valencia"')


Success!
Success Answer: SELECT 2 AS nd_leg FROM table_name_52 WHERE team__number2 = "pamesa valencia"

 56%|█████▌    | 562/1000 [24:57<20:29,  2.81s/it]

Question: What is the status code, mobile phone number and email address of customer with last name as Kohler or first name as Marina?

Real Answer: SELECT customer_status_code, cell_mobile_phone_number, email_address FROM Customers WHERE first_name = "Marina" OR last_name = "Kohler"
Generated Answer: SELECT customer_status_code, cell_mobile_phone_number, email_address FROM Customers WHERE first_name = "Marina" OR last_name = "Kohler"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT customer_status_code, cell_mobile_phone_number, email_address FROM Customers WHERE first_name = "Marina" OR last_name = "Kohler"')


Success!
Success Answer: SELECT customer_status_code, cell_mobile_phone_number, email_address FROM Customers WHERE first_name = "Marina" OR last_name = "Kohler"

 56%|█████▋    | 563/1000 [24:58<18:10,  2.50s/it]

Question: What Ratio has a Unit of zolotnik?

Real Answer: SELECT ratio FROM table_name_57 WHERE unit = "zolotnik"
Generated Answer: SELECT ratio FROM table_name_57 WHERE unit = "zolotnik"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT ratio FROM table_name_57 WHERE unit = "zolotnik"')


Success!
Success Answer: SELECT ratio FROM table_name_57 WHERE unit = "zolotnik"

 56%|█████▋    | 564/1000 [25:02<19:38,  2.70s/it]

Question: Which IHSAA Football Class has an IHSAA Class of aa, and an Enrollment of 475?

Real Answer: SELECT ihsaa_football_class FROM table_name_14 WHERE ihsaa_class = "aa" AND enrollment = 475
Generated Answer: SELECT ihsaa_football_class FROM table_name_14 WHERE ihsaa_class = "aa" AND enrollment = 475


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT ihsaa_football_class FROM table_name_14 WHERE ihsaa_class = "aa" AND enrollment = 475')


Success!
Success Answer: SELECT ihsaa_football_class FROM table_name_14 WHERE ihsaa_class = "aa" AND enrollment = 475

 56%|█████▋    | 565/1000 [25:06<22:27,  3.10s/it]

Question: What was the average number of laps completed by KTM riders, with times of +56.440 and grid values under 11?

Real Answer: SELECT AVG(laps) FROM table_name_92 WHERE manufacturer = "ktm" AND time_retired = "+56.440" AND grid < 11
Generated Answer: SELECT AVG(laps) FROM table_name_92 WHERE manufacturer = "ktm" AND time_retired = "+56.440" AND grid < 11


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT AVG(laps) FROM table_name_92 WHERE manufacturer = "ktm" AND time_retired = "+56.440" AND grid < 11')


Success!
Success Answer: SELECT AVG(laps) FROM table_name_92 WHERE manufacturer = "ktm" AND time_retired = "+56.440" AND grid < 11

 57%|█████▋    | 566/1000 [25:08<21:41,  3.00s/it]

Question: On what surface was the game played with a score of  6–4, 6–4?

Real Answer: SELECT surface FROM table_177273_2 WHERE score = "6–4, 6–4"
Generated Answer: SELECT surface FROM table_177273_2 WHERE score = "6–4, 6–4"


Similarity Score: 1.0000004
Feedback: ('approve', 'SELECT surface FROM table_177273_2 WHERE score = "6–4, 6–4"')


Success!
Success Answer: SELECT surface FROM table_177273_2 WHERE score = "6–4, 6–4"

 57%|█████▋    | 567/1000 [25:13<25:45,  3.57s/it]

Question: What were the quarterfinals in the round of 32 was  S williams / V williams ( usa ) l 6–4, 5–7, 1–6?

Real Answer: SELECT quarterfinals FROM table_17289604_38 WHERE round_of_32 = "S Williams / V Williams ( USA ) L 6–4, 5–7, 1–6"
Generated Answer: SELECT quarterfinals FROM table_17289604_38 WHERE round_of_32 = "S Williams / V Williams ( USA ) L 6–4, 5–7, 1–6"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT quarterfinals FROM table_17289604_38 WHERE round_of_32 = "S Williams / V Williams ( USA ) L 6–4, 5–7, 1–6"')


Success!
Success Answer: SELECT quarterfinals FROM table_17289604_38 WHERE round_of_32 = "S Williams / V Williams ( USA ) L 6–4, 5–7, 1–6"

 57%|█████▋    | 568/1000 [25:15<22:07,  3.07s/it]

Question: What is the average Number, when Position is Forward?

Real Answer: SELECT AVG(number) FROM table_name_13 WHERE position = "forward"
Generated Answer: SELECT AVG(number) FROM table_name_13 WHERE position = "forward"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT AVG(number) FROM table_name_13 WHERE position = "forward"')


Success!
Success Answer: SELECT AVG(number) FROM table_name_13 WHERE position = "forward"

 57%|█████▋    | 569/1000 [25:18<20:21,  2.83s/it]

Question: What is the series 4 with sarah newman in series 1?

Real Answer: SELECT series_4 FROM table_name_70 WHERE series_1 = "sarah newman"
Generated Answer: SELECT series_4 FROM table_name_70 WHERE series_1 = "sarah newman"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT series_4 FROM table_name_70 WHERE series_1 = "sarah newman"')


Success!
Success Answer: SELECT series_4 FROM table_name_70 WHERE series_1 = "sarah newman"

 57%|█████▋    | 570/1000 [25:20<19:31,  2.72s/it]

Question: Which public college has a nickname of The Grenadiers?

Real Answer: SELECT institution FROM table_name_30 WHERE type = "public" AND nickname = "grenadiers"
Generated Answer: SELECT institution FROM table_name_30 WHERE type = "public college" AND nickname = "the grenadiers"


Similarity Score: 0.90465677
Feedback: ('approve', 'SELECT institution FROM table_name_30 WHERE type = "public college" AND nickname = "the grenadiers"')


Real Answer: SELECT institution FROM table_name_30 WHERE type = "public" AND nickname = "grenadiers"
Failed Answer: SELECT institution FROM table_name_30 WHERE type = "public college" AND nickname = "the grenadiers"

 57%|█████▋    | 571/1000 [25:23<19:04,  2.67s/it]

Question: What was Laura Diaz's score for place t9?

Real Answer: SELECT score FROM table_name_72 WHERE place = "t9" AND player = "laura diaz"
Generated Answer: SELECT score FROM table_name_72 WHERE place = "t9" AND player = "laura diaz"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT score FROM table_name_72 WHERE place = "t9" AND player = "laura diaz"')


Success!
Success Answer: SELECT score FROM table_name_72 WHERE place = "t9" AND player = "laura diaz"

 57%|█████▋    | 572/1000 [25:25<18:08,  2.54s/it]

Question: What state is susana martinez from?

Real Answer: SELECT state FROM table_name_72 WHERE current_governor = "susana martinez"
Generated Answer: SELECT state FROM table_name_72 WHERE current_governor = "susana martinez"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT state FROM table_name_72 WHERE current_governor = "susana martinez"')


Success!
Success Answer: SELECT state FROM table_name_72 WHERE current_governor = "susana martinez"

 57%|█████▋    | 573/1000 [25:28<18:33,  2.61s/it]

Question: Who are all the motogp winners when the circuit was Catalunya?

Real Answer: SELECT motogp_winner FROM table_26781017_1 WHERE circuit = "Catalunya"
Generated Answer: SELECT motogp_winner FROM table_26781017_1 WHERE circuit = "Catalunya"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT motogp_winner FROM table_26781017_1 WHERE circuit = "Catalunya"')


Success!
Success Answer: SELECT motogp_winner FROM table_26781017_1 WHERE circuit = "Catalunya"

 57%|█████▋    | 574/1000 [25:32<22:26,  3.16s/it]

Question: What is the BBC 2 rank when BBC 1 is 1st rank and the total viewing is 9,840,000?

Real Answer: SELECT bbc_two_rank FROM table_name_2 WHERE bbc_one_rank = "1st" AND bbc_one_total_viewing = "9,840,000"
Generated Answer: SELECT bbc_two_rank FROM table_name_2 WHERE bbc_one_rank = "1st" AND bbc_one_total_viewing = "9,840,000"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT bbc_two_rank FROM table_name_2 WHERE bbc_one_rank = "1st" AND bbc_one_total_viewing = "9,840,000"')


Success!
Success Answer: SELECT bbc_two_rank FROM table_name_2 WHERE bbc_one_rank = "1st" AND bbc_one_total_viewing = "9,840,000"

 57%|█████▊    | 575/1000 [25:34<20:10,  2.85s/it]

Question: Tell me the lost with tie of 0 and drawn of 47

Real Answer: SELECT lost FROM table_name_20 WHERE tied = "0" AND drawn = "47"
Generated Answer: SELECT lost FROM table_name_20 WHERE tied = "0" AND drawn = "47"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT lost FROM table_name_20 WHERE tied = "0" AND drawn = "47"')


Success!
Success Answer: SELECT lost FROM table_name_20 WHERE tied = "0" AND drawn = "47"

 58%|█████▊    | 576/1000 [25:36<18:11,  2.58s/it]

Question: Which player had 9 blocks?

Real Answer: SELECT player FROM table_25353861_5 WHERE blocks = 9
Generated Answer: SELECT player FROM table_25353861_5 WHERE blocks = 9


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT player FROM table_25353861_5 WHERE blocks = 9')


Success!
Success Answer: SELECT player FROM table_25353861_5 WHERE blocks = 9

 58%|█████▊    | 577/1000 [25:39<18:58,  2.69s/it]

Question: What year was mcmahon stadium founded?

Real Answer: SELECT MAX(founded) FROM table_27599216_6 WHERE football_stadium = "McMahon Stadium"
Generated Answer: SELECT MIN(founded) FROM table_27599216_6 WHERE football_stadium = "McMAhon Stadium"


Similarity Score: 0.7275388
Feedback: ('correct', 'SELECT MAX(founded) FROM table_27599216_6 WHERE football_stadium = "McMahon Stadium"')


Real Answer: SELECT MAX(founded) FROM table_27599216_6 WHERE football_stadium = "McMahon Stadium"
Failed Answer: SELECT MIN(founded) FROM table_27599216_6 WHERE football_stadium = "McMAhon Stadium"

 58%|█████▊    | 578/1000 [25:42<19:06,  2.72s/it]

Question: How many launch dates are there for digital transmission?

Real Answer: SELECT COUNT(launch_date) FROM table_22274142_1 WHERE transmission = "Digital"
Generated Answer: SELECT COUNT(launch_date) FROM table_22274142_1 WHERE transmission = "Digital"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT COUNT(launch_date) FROM table_22274142_1 WHERE transmission = "Digital"')


Success!
Success Answer: SELECT COUNT(launch_date) FROM table_22274142_1 WHERE transmission = "Digital"

 58%|█████▊    | 579/1000 [25:44<17:03,  2.43s/it]

Question: What is the Score of the Burnley Home game?

Real Answer: SELECT score FROM table_name_57 WHERE home_team = "burnley"
Generated Answer: SELECT score FROM table_name_57 WHERE home_team = "burnley"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT score FROM table_name_57 WHERE home_team = "burnley"')


Success!
Success Answer: SELECT score FROM table_name_57 WHERE home_team = "burnley"

 58%|█████▊    | 580/1000 [25:46<16:26,  2.35s/it]

Question: How many Laps were there in 2010?

Real Answer: SELECT SUM(laps) FROM table_name_46 WHERE year = 2010
Generated Answer: SELECT SUM(laps) FROM table_name_46 WHERE year = 2010


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT SUM(laps) FROM table_name_46 WHERE year = 2010')


Success!
Success Answer: SELECT SUM(laps) FROM table_name_46 WHERE year = 2010

 58%|█████▊    | 581/1000 [25:49<18:07,  2.60s/it]

Question: Name the manner of departure for elvio selighini

Real Answer: SELECT manner_of_departure FROM table_17275810_7 WHERE replaced_by = "Elvio Selighini"
Generated Answer: SELECT manner_of_departure FROM table_17275810_7 WHERE replaced_by = "Elvio Selighini"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT manner_of_departure FROM table_17275810_7 WHERE replaced_by = "Elvio Selighini"')


Success!
Success Answer: SELECT manner_of_departure FROM table_17275810_7 WHERE replaced_by = "Elvio Selighini"

 58%|█████▊    | 582/1000 [25:51<17:18,  2.48s/it]

Question: What city has the home team of the brisbane broncos?

Real Answer: SELECT city FROM table_name_88 WHERE home_team_s = "brisbane broncos"
Generated Answer: SELECT city FROM table_name_88 WHERE home_team_s = "brisbane broncos"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT city FROM table_name_88 WHERE home_team_s = "brisbane broncos"')


Success!
Success Answer: SELECT city FROM table_name_88 WHERE home_team_s = "brisbane broncos"

 58%|█████▊    | 583/1000 [25:54<18:12,  2.62s/it]

Question: Which song was written by Nigel Stock and is 4:12 long?

Real Answer: SELECT title FROM table_name_58 WHERE songwriter_s_ = "nigel stock" AND time = "4:12"
Generated Answer: SELECT title FROM table_name_58 WHERE songwriter_s_ = "nigel stock" AND time = "4:12"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT title FROM table_name_58 WHERE songwriter_s_ = "nigel stock" AND time = "4:12"')


Success!
Success Answer: SELECT title FROM table_name_58 WHERE songwriter_s_ = "nigel stock" AND time = "4:12"

 58%|█████▊    | 584/1000 [25:56<16:56,  2.44s/it]

Question: What was the score of the match played on 5 September 2001?

Real Answer: SELECT score FROM table_name_38 WHERE date = "5 september 2001"
Generated Answer: SELECT score FROM table_name_38 WHERE date = "5 september 2001"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT score FROM table_name_38 WHERE date = "5 september 2001"')


Success!
Success Answer: SELECT score FROM table_name_38 WHERE date = "5 september 2001"

 58%|█████▊    | 585/1000 [25:59<16:56,  2.45s/it]

Question: What's listed for the Turnout % with a Ngilu of 30,535?

Real Answer: SELECT turnout__percentage FROM table_name_32 WHERE ngilu = "30,535"
Generated Answer: SELECT turnout__percentage FROM table_name_32 WHERE ngilu = "30,535"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT turnout__percentage FROM table_name_32 WHERE ngilu = "30,535"')


Success!
Success Answer: SELECT turnout__percentage FROM table_name_32 WHERE ngilu = "30,535"

 59%|█████▊    | 586/1000 [26:01<16:02,  2.33s/it]

Question: I want the NHL team for wade belak

Real Answer: SELECT nhl_team FROM table_name_87 WHERE player = "wade belak"
Generated Answer: SELECT nhl_team FROM table_name_87 WHERE player = "wade belak"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT nhl_team FROM table_name_87 WHERE player = "wade belak"')


Success!
Success Answer: SELECT nhl_team FROM table_name_87 WHERE player = "wade belak"

 59%|█████▊    | 587/1000 [26:03<15:57,  2.32s/it]

Question: Who is the Player with a Score of 70-72=142? Question 3

Real Answer: SELECT player FROM table_name_20 WHERE score = 70 - 72 = 142
Generated Answer: SELECT player FROM table_name_20 WHERE score = 70 - 72 = 142


Similarity Score: 1.0
Feedback: ('approve', 'SELECT player FROM table_name_20 WHERE score = 70 - 72 = 142')


Success!
Success Answer: SELECT player FROM table_name_20 WHERE score = 70 - 72 = 142

 59%|█████▉    | 588/1000 [26:06<16:49,  2.45s/it]

Question: What's the HC for the Euro I standard?

Real Answer: SELECT hc__g_kwh_ FROM table_2780146_6 WHERE standard = "Euro I"
Generated Answer: SELECT hc__g_kwh_ FROM table_2780146_6 WHERE standard = "Euro I"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT hc__g_kwh_ FROM table_2780146_6 WHERE standard = "Euro I"')


Success!
Success Answer: SELECT hc__g_kwh_ FROM table_2780146_6 WHERE standard = "Euro I"

 59%|█████▉    | 589/1000 [26:09<18:53,  2.76s/it]

Question: Ismaël Bangoura with a rank larger than 5 after the year 2005 was moving to what football club?

Real Answer: SELECT moving_to FROM table_name_39 WHERE year > 2005 AND rank > 5 AND name = "ismaël bangoura"
Generated Answer: SELECT moving_to FROM table_name_39 WHERE year > 2005 AND rank > 5 AND name = "ismaël bangoura"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT moving_to FROM table_name_39 WHERE year > 2005 AND rank > 5 AND name = "ismaël bangoura"')


Success!
Success Answer: SELECT moving_to FROM table_name_39 WHERE year > 2005 AND rank > 5 AND name = "ismaël bangoura"

 59%|█████▉    | 590/1000 [26:11<17:52,  2.62s/it]

Question: What is First Member, when Election is "1871 by-election"?

Real Answer: SELECT first_member FROM table_name_95 WHERE election = "1871 by-election"
Generated Answer: SELECT first_member FROM table_name_95 WHERE election = "1871 by-election"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT first_member FROM table_name_95 WHERE election = "1871 by-election"')


Success!
Success Answer: SELECT first_member FROM table_name_95 WHERE election = "1871 by-election"

 59%|█████▉    | 591/1000 [26:13<16:05,  2.36s/it]

Question: What is the name when winter is the transfer window?

Real Answer: SELECT name FROM table_name_47 WHERE transfer_window = "winter"
Generated Answer: SELECT name FROM table_name_47 WHERE transfer_window = "winter"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT name FROM table_name_47 WHERE transfer_window = "winter"')


Success!
Success Answer: SELECT name FROM table_name_47 WHERE transfer_window = "winter"

 59%|█████▉    | 592/1000 [26:17<18:25,  2.71s/it]

Question: On July 31, 2008, what are the Democrat: Vivian Davis Figures percentages?

Real Answer: SELECT democrat AS :_vivian_davis_figures FROM table_16751596_12 WHERE dates_administered = "July 31, 2008"
Generated Answer: SELECT democrat FROM table_16751596_12 WHERE dates_administered = "July 31, 2008"


Similarity Score: 0.89445245
Feedback: ('approve', 'SELECT democrat FROM table_16751596_12 WHERE dates_administered = "July 31, 2008"')


Real Answer: SELECT democrat AS :_vivian_davis_figures FROM table_16751596_12 WHERE dates_administered = "July 31, 2008"
Failed Answer: SELECT democrat FROM table_16751596_12 WHERE dates_administered = "July 31, 2008"

 59%|█████▉    | 593/1000 [26:19<17:50,  2.63s/it]

Question: What is the home score with a crowd larger than 25,603?

Real Answer: SELECT home_team AS score FROM table_name_44 WHERE crowd > 25 OFFSET 603
Generated Answer: SELECT home_team AS score FROM table_name_44 WHERE crowd > 25 OFFSET 603


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT home_team AS score FROM table_name_44 WHERE crowd > 25 OFFSET 603')


Success!
Success Answer: SELECT home_team AS score FROM table_name_44 WHERE crowd > 25 OFFSET 603

 59%|█████▉    | 594/1000 [26:22<18:57,  2.80s/it]

Question: How many school/club teams have a player named Manuel Luis Quezon?

Real Answer: SELECT COUNT(number) FROM table_15463188_17 WHERE school_club_team = "Manuel Luis Quezon"
Generated Answer: SELECT COUNT(number) FROM table_15463188_17 WHERE school_club_team = "Manuel Luis Quezon"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(number) FROM table_15463188_17 WHERE school_club_team = "Manuel Luis Quezon"')


Success!
Success Answer: SELECT COUNT(number) FROM table_15463188_17 WHERE school_club_team = "Manuel Luis Quezon"

 60%|█████▉    | 595/1000 [26:24<16:14,  2.40s/it]

Question: Which opponent had a round of SF?

Real Answer: SELECT opponent FROM table_name_45 WHERE round = "sf"
Generated Answer: SELECT opponent FROM table_name_45 WHERE round = "sf"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT opponent FROM table_name_45 WHERE round = "sf"')


Success!
Success Answer: SELECT opponent FROM table_name_45 WHERE round = "sf"

 60%|█████▉    | 596/1000 [26:26<15:50,  2.35s/it]

Question: when was the death of the person with husband Charles, 1st dauphin?

Real Answer: SELECT death FROM table_name_1 WHERE husband = "charles, 1st dauphin"
Generated Answer: SELECT death FROM table_name_1 WHERE husband = "charles, 1st dauphin"


Similarity Score: 0.9999996
Feedback: ('approve', 'SELECT death FROM table_name_1 WHERE husband = "charles, 1st dauphin"')


Success!
Success Answer: SELECT death FROM table_name_1 WHERE husband = "charles, 1st dauphin"

 60%|█████▉    | 597/1000 [26:28<15:40,  2.33s/it]

Question: What was the high rebounds for the game that had a score of w 76-66?

Real Answer: SELECT high_rebounds FROM table_name_83 WHERE score = "w 76-66"
Generated Answer: SELECT high_rebounds FROM table_name_83 WHERE score = "w 76-66"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT high_rebounds FROM table_name_83 WHERE score = "w 76-66"')


Success!
Success Answer: SELECT high_rebounds FROM table_name_83 WHERE score = "w 76-66"

 60%|█████▉    | 598/1000 [26:31<16:53,  2.52s/it]

Question: How tall is the Anqing Bridge which opened prior to 2011?

Real Answer: SELECT height_of_bridge_structure FROM table_name_8 WHERE opened < 2011 AND name = "anqing bridge"
Generated Answer: SELECT height_of_bridge_structure FROM table_name_8 WHERE opened < 2011 AND name = "anqing bridge"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT height_of_bridge_structure FROM table_name_8 WHERE opened < 2011 AND name = "anqing bridge"')


Success!
Success Answer: SELECT height_of_bridge_structure FROM table_name_8 WHERE opened < 2011 AND name = "anqing bridge"

 60%|█████▉    | 599/1000 [26:33<15:42,  2.35s/it]

Question: What instrumental has chven-s as the adverbial?

Real Answer: SELECT instrumental FROM table_name_87 WHERE adverbial = "chven-s"
Generated Answer: SELECT instrumental FROM table_name_87 WHERE adverbial = "chven-s"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT instrumental FROM table_name_87 WHERE adverbial = "chven-s"')


Success!
Success Answer: SELECT instrumental FROM table_name_87 WHERE adverbial = "chven-s"

 60%|██████    | 600/1000 [26:35<15:11,  2.28s/it]

Question: What is the position of player Tiffany Garofano (2)?

Real Answer: SELECT position FROM table_name_59 WHERE player = "tiffany garofano (2)"
Generated Answer: SELECT position FROM table_name_59 WHERE player = "tiffany garofano (2)"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT position FROM table_name_59 WHERE player = "tiffany garofano (2)"')


Success!
Success Answer: SELECT position FROM table_name_59 WHERE player = "tiffany garofano (2)"

 60%|██████    | 601/1000 [26:38<15:44,  2.37s/it]

Question: What is the total when gold is 1, and rank is more than 4, and bronze is 0?

Real Answer: SELECT COUNT(total) FROM table_name_1 WHERE gold = 1 AND rank > 4 AND bronze = 0
Generated Answer: SELECT COUNT(total) FROM table_name_1 WHERE gold = 1 AND rank > 4 AND bronze = 0


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT COUNT(total) FROM table_name_1 WHERE gold = 1 AND rank > 4 AND bronze = 0')


Success!
Success Answer: SELECT COUNT(total) FROM table_name_1 WHERE gold = 1 AND rank > 4 AND bronze = 0

 60%|██████    | 602/1000 [26:41<16:27,  2.48s/it]

Question: What is the draw for the artist Ketil Stokkan which has less than 44 points?

Real Answer: SELECT MIN(draw) FROM table_name_89 WHERE artist = "ketil stokkan" AND points < 44
Generated Answer: SELECT SUM(draw) FROM table_name_89 WHERE artist = "ketil stokkan" AND points < 44


Similarity Score: 0.7725873
Feedback: ('correct', 'SELECT MIN(draw) FROM table_name_89 WHERE artist = "ketil stokkan" AND points < 44')


Real Answer: SELECT MIN(draw) FROM table_name_89 WHERE artist = "ketil stokkan" AND points < 44
Failed Answer: SELECT SUM(draw) FROM table_name_89 WHERE artist = "ketil stokkan" AND points < 44

 60%|██████    | 603/1000 [26:43<15:16,  2.31s/it]

Question: Which position has a School of petal high school?

Real Answer: SELECT position FROM table_name_71 WHERE school = "petal high school"
Generated Answer: SELECT position FROM table_name_71 WHERE school = "petal high school"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT position FROM table_name_71 WHERE school = "petal high school"')


Success!
Success Answer: SELECT position FROM table_name_71 WHERE school = "petal high school"

 60%|██████    | 604/1000 [26:46<17:19,  2.63s/it]

Question: What is the capital of the country with a population density per km² of 15.6/km² (/sqmi)?

Real Answer: SELECT capital FROM table_26769_1 WHERE population_density_per_km² = "15.6/km² (/sqmi)"
Generated Answer: SELECT capital FROM table_26769_1 WHERE population_density_per_km² = "15.6/km² (/sqmi)"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT capital FROM table_26769_1 WHERE population_density_per_km² = "15.6/km² (/sqmi)"')


Success!
Success Answer: SELECT capital FROM table_26769_1 WHERE population_density_per_km² = "15.6/km² (/sqmi)"

 60%|██████    | 605/1000 [26:48<16:43,  2.54s/it]

Question: What's Dorain Anneck's pick number?

Real Answer: SELECT pick FROM table_1013129_3 WHERE player = "Dorain Anneck"
Generated Answer: SELECT pick FROM table_1013129_3 WHERE player = "Dorain Anneck"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT pick FROM table_1013129_3 WHERE player = "Dorain Anneck"')


Success!
Success Answer: SELECT pick FROM table_1013129_3 WHERE player = "Dorain Anneck"

 61%|██████    | 606/1000 [26:51<16:12,  2.47s/it]

Question: player is jim henshall what are all the position

Real Answer: SELECT position FROM table_26996293_2 WHERE player = "Jim Henshall"
Generated Answer: SELECT position FROM table_26996293_2 WHERE player = "Jim Henshall"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT position FROM table_26996293_2 WHERE player = "Jim Henshall"')


Success!
Success Answer: SELECT position FROM table_26996293_2 WHERE player = "Jim Henshall"

 61%|██████    | 607/1000 [26:53<15:08,  2.31s/it]

Question: What horse has a 66.452 result?

Real Answer: SELECT horse FROM table_name_69 WHERE result = "66.452"
Generated Answer: SELECT horse FROM table_name_69 WHERE result = "66.452"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT horse FROM table_name_69 WHERE result = "66.452"')


Success!
Success Answer: SELECT horse FROM table_name_69 WHERE result = "66.452"

 61%|██████    | 608/1000 [26:55<14:46,  2.26s/it]

Question: What is the rank in 1940?

Real Answer: SELECT rank FROM table_name_26 WHERE year = "1940"
Generated Answer: SELECT COUNT(rank) FROM table_name_26 WHERE year = "1940"


Similarity Score: 0.84344447
Feedback: ('approve', 'SELECT COUNT(rank) FROM table_name_26 WHERE year = "1940"')


Real Answer: SELECT rank FROM table_name_26 WHERE year = "1940"
Failed Answer: SELECT COUNT(rank) FROM table_name_26 WHERE year = "1940"

 61%|██████    | 609/1000 [26:57<14:04,  2.16s/it]

Question: What is the year for the ocean?

Real Answer: SELECT year FROM table_name_47 WHERE english_title = "the ocean"
Generated Answer: SELECT year FROM table_name_47 WHERE english_title = "the ocean"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT year FROM table_name_47 WHERE english_title = "the ocean"')


Success!
Success Answer: SELECT year FROM table_name_47 WHERE english_title = "the ocean"

 61%|██████    | 610/1000 [26:59<14:16,  2.20s/it]

Question: Who directed series episode number 201?

Real Answer: SELECT director FROM table_26866519_1 WHERE series__number = 201
Generated Answer: SELECT director FROM table_26866519_1 WHERE series__number = 201


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT director FROM table_26866519_1 WHERE series__number = 201')


Success!
Success Answer: SELECT director FROM table_26866519_1 WHERE series__number = 201

 61%|██████    | 611/1000 [27:01<14:47,  2.28s/it]

Question: What engine has g tyres and is driven by elio de angelis?

Real Answer: SELECT engine FROM table_name_30 WHERE tyres = "g" AND driver = "elio de angelis"
Generated Answer: SELECT engine FROM table_name_30 WHERE tyres = "g" AND driver = "elio de angelis"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT engine FROM table_name_30 WHERE tyres = "g" AND driver = "elio de angelis"')


Success!
Success Answer: SELECT engine FROM table_name_30 WHERE tyres = "g" AND driver = "elio de angelis"

 61%|██████    | 612/1000 [27:03<13:05,  2.03s/it]

Question: What are the names of wrestlers days held less than 100?

Real Answer: SELECT Name FROM wrestler WHERE Days_held < 100
Generated Answer: SELECT Name FROM wrestler WHERE Days_held < 100


Similarity Score: 1.0
Feedback: ('approve', 'SELECT Name FROM wrestler WHERE Days_held < 100')


Success!
Success Answer: SELECT Name FROM wrestler WHERE Days_held < 100

 61%|██████▏   | 613/1000 [27:05<13:34,  2.11s/it]

Question: Which To par  has a Year(s) won of 1983?

Real Answer: SELECT to_par FROM table_name_15 WHERE year_s__won = "1983"
Generated Answer: SELECT to_par FROM table_name_15 WHERE year_s__won = "1983"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT to_par FROM table_name_15 WHERE year_s__won = "1983"')


Success!
Success Answer: SELECT to_par FROM table_name_15 WHERE year_s__won = "1983"

 61%|██████▏   | 614/1000 [27:07<13:05,  2.03s/it]

Question: Which species of bacteria has 5,566 genes?

Real Answer: SELECT strain FROM table_name_35 WHERE genes = "5,566"
Generated Answer: SELECT strain FROM table_name_35 WHERE genes = "5,566"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT strain FROM table_name_35 WHERE genes = "5,566"')


Success!
Success Answer: SELECT strain FROM table_name_35 WHERE genes = "5,566"

 62%|██████▏   | 615/1000 [27:09<12:36,  1.96s/it]

Question: What aircraft is located at S of Avion?

Real Answer: SELECT aircraft FROM table_name_3 WHERE location = "s of avion"
Generated Answer: SELECT aircraft FROM table_name_3 WHERE location = "s of avion"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT aircraft FROM table_name_3 WHERE location = "s of avion"')


Success!
Success Answer: SELECT aircraft FROM table_name_3 WHERE location = "s of avion"

 62%|██████▏   | 616/1000 [27:12<15:04,  2.36s/it]

Question: How many years was the chassis a lotus-ford 38/7?

Real Answer: SELECT COUNT(year) FROM table_181892_4 WHERE chassis = "Lotus-Ford 38/7"
Generated Answer: SELECT COUNT(year) FROM table_181892_4 WHERE chassis = "Lotus-Ford 38/7"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT COUNT(year) FROM table_181892_4 WHERE chassis = "Lotus-Ford 38/7"')


Success!
Success Answer: SELECT COUNT(year) FROM table_181892_4 WHERE chassis = "Lotus-Ford 38/7"

 62%|██████▏   | 617/1000 [27:14<14:34,  2.28s/it]

Question: What is the tournament called for the Big Sky Conference?

Real Answer: SELECT conference AS Tournament FROM table_24248450_3 WHERE conference = "Big Sky conference"
Generated Answer: SELECT tournament FROM table_24248450_3 WHERE conference = "Big Sky"


Similarity Score: 0.9421375
Feedback: ('approve', 'SELECT tournament FROM table_24248450_3 WHERE conference = "Big Sky"')


Real Answer: SELECT conference AS Tournament FROM table_24248450_3 WHERE conference = "Big Sky conference"
Failed Answer: SELECT tournament FROM table_24248450_3 WHERE conference = "Big Sky"

 62%|██████▏   | 618/1000 [27:17<15:41,  2.46s/it]

Question: What is the area (square km) where the arrondissement is millau?

Real Answer: SELECT MIN(area__square_km_) FROM table_1175233_1 WHERE arrondissement = "Millau"
Generated Answer: SELECT MAX(area__square_km_) FROM table_1175233_1 WHERE arrondissement = "Millau"


Similarity Score: 0.6401114
Feedback: ('correct', 'SELECT MIN(area__square_km_) FROM table_1175233_1 WHERE arrondissement = "Millau"')


Real Answer: SELECT MIN(area__square_km_) FROM table_1175233_1 WHERE arrondissement = "Millau"
Failed Answer: SELECT MAX(area__square_km_) FROM table_1175233_1 WHERE arrondissement = "Millau"

 62%|██████▏   | 619/1000 [27:19<15:13,  2.40s/it]

Question: WHICH Outcome IS ON 18 july 1993?

Real Answer: SELECT outcome FROM table_name_70 WHERE date = "18 july 1993"
Generated Answer: SELECT outcome FROM table_name_70 WHERE date = "18 july 1993"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT outcome FROM table_name_70 WHERE date = "18 july 1993"')


Success!
Success Answer: SELECT outcome FROM table_name_70 WHERE date = "18 july 1993"

 62%|██████▏   | 620/1000 [27:22<16:28,  2.60s/it]

Question: What is the lowest number of cuts made when her best finish is t4?

Real Answer: SELECT MIN(cuts_made) FROM table_14853156_2 WHERE best_finish = "T4"
Generated Answer: SELECT MIN(cuts_made) FROM table_14853156_2 WHERE best_finish = "T4"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MIN(cuts_made) FROM table_14853156_2 WHERE best_finish = "T4"')


Success!
Success Answer: SELECT MIN(cuts_made) FROM table_14853156_2 WHERE best_finish = "T4"

 62%|██████▏   | 621/1000 [27:24<15:27,  2.45s/it]

Question: What are the notes for 6:31.16?

Real Answer: SELECT notes FROM table_name_85 WHERE time = "6:31.16"
Generated Answer: SELECT notes FROM table_name_85 WHERE time = "6:31.16"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT notes FROM table_name_85 WHERE time = "6:31.16"')


Success!
Success Answer: SELECT notes FROM table_name_85 WHERE time = "6:31.16"

 62%|██████▏   | 622/1000 [27:28<16:40,  2.65s/it]

Question: Who did Teo Fabi drive for when he won and had pole position?

Real Answer: SELECT winning_team FROM table_name_74 WHERE winning_driver = "teo fabi" AND pole_position = "teo fabi"
Generated Answer: SELECT winning_team FROM table_name_74 WHERE winning_driver = "teo fabi" AND pole_position = "teo fabi"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT winning_team FROM table_name_74 WHERE winning_driver = "teo fabi" AND pole_position = "teo fabi"')


Success!
Success Answer: SELECT winning_team FROM table_name_74 WHERE winning_driver = "teo fabi" AND pole_position = "teo fabi"

 62%|██████▏   | 623/1000 [27:31<17:49,  2.84s/it]

Question: What is the average attendance for the games after week 2 on September 23, 1973?

Real Answer: SELECT AVG(attendance) FROM table_name_31 WHERE date = "september 23, 1973" AND week > 2
Generated Answer: SELECT AVG(attendance) FROM table_name_31 WHERE date = "september 23, 1973" AND week > 2


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT AVG(attendance) FROM table_name_31 WHERE date = "september 23, 1973" AND week > 2')


Success!
Success Answer: SELECT AVG(attendance) FROM table_name_31 WHERE date = "september 23, 1973" AND week > 2

 62%|██████▏   | 624/1000 [27:34<17:47,  2.84s/it]

Question: When did the episode originally air with a nick production number of 945?

Real Answer: SELECT original_air_date FROM table_2655016_10 WHERE nick_prod__number = 945
Generated Answer: SELECT original_air_date FROM table_2655016_10 WHERE nick_prod__number = 945


Similarity Score: 1.0
Feedback: ('approve', 'SELECT original_air_date FROM table_2655016_10 WHERE nick_prod__number = 945')


Success!
Success Answer: SELECT original_air_date FROM table_2655016_10 WHERE nick_prod__number = 945

 62%|██████▎   | 625/1000 [27:37<18:32,  2.97s/it]

Question: Name the cyrillic name for lazarevo

Real Answer: SELECT cyrillic_name_other_names FROM table_2562572_35 WHERE settlement = "Lazarevo"
Generated Answer: SELECT cyrillic_name_other_names FROM table_2562572_35 WHERE settlement = "Lazarevo"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT cyrillic_name_other_names FROM table_2562572_35 WHERE settlement = "Lazarevo"')


Success!
Success Answer: SELECT cyrillic_name_other_names FROM table_2562572_35 WHERE settlement = "Lazarevo"

 63%|██████▎   | 626/1000 [27:39<16:50,  2.70s/it]

Question: Which 1995's tournament was the French Open?

Real Answer: SELECT 1995 FROM table_name_61 WHERE tournament = "french open"
Generated Answer: SELECT 1995 FROM table_name_61 WHERE tournament = "french open"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT 1995 FROM table_name_61 WHERE tournament = "french open"')


Success!
Success Answer: SELECT 1995 FROM table_name_61 WHERE tournament = "french open"

 63%|██████▎   | 627/1000 [27:41<15:48,  2.54s/it]

Question: What's the Total (kg) of a Snatch of 132.5?

Real Answer: SELECT total__kg_ FROM table_name_86 WHERE snatch = 132.5
Generated Answer: SELECT total__kg_ FROM table_name_86 WHERE snatch = 132.5


Similarity Score: 1.0
Feedback: ('approve', 'SELECT total__kg_ FROM table_name_86 WHERE snatch = 132.5')


Success!
Success Answer: SELECT total__kg_ FROM table_name_86 WHERE snatch = 132.5

 63%|██████▎   | 628/1000 [27:43<14:50,  2.39s/it]

Question: Which skip has Zrinka Muhek as Second?

Real Answer: SELECT skip FROM table_name_90 WHERE second = "zrinka muhek"
Generated Answer: SELECT skip FROM table_name_90 WHERE second = "zrinka muhek"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT skip FROM table_name_90 WHERE second = "zrinka muhek"')


Success!
Success Answer: SELECT skip FROM table_name_90 WHERE second = "zrinka muhek"

 63%|██████▎   | 629/1000 [27:46<15:53,  2.57s/it]

Question: How many candidates won the election in the district whose incumbent is Bud Shuster?

Real Answer: SELECT COUNT(candidates) FROM table_1341604_39 WHERE incumbent = "Bud Shuster"
Generated Answer: SELECT COUNT(candidates) FROM table_1341604_39 WHERE incumbent = "Bud Shuster"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(candidates) FROM table_1341604_39 WHERE incumbent = "Bud Shuster"')


Success!
Success Answer: SELECT COUNT(candidates) FROM table_1341604_39 WHERE incumbent = "Bud Shuster"

 63%|██████▎   | 630/1000 [27:48<14:44,  2.39s/it]

Question: Which manufacturer made a locomotive with a type of 4-6-4t?

Real Answer: SELECT manufacturer FROM table_name_40 WHERE type = "4-6-4t"
Generated Answer: SELECT manufacturer FROM table_name_40 WHERE type = "4-6-4t"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT manufacturer FROM table_name_40 WHERE type = "4-6-4t"')


Success!
Success Answer: SELECT manufacturer FROM table_name_40 WHERE type = "4-6-4t"

 63%|██████▎   | 631/1000 [27:50<14:09,  2.30s/it]

Question: Which Raison Blue has the highest nicotine?

Real Answer: SELECT MAX(nicotine) FROM table_name_40 WHERE name = "raison blue"
Generated Answer: SELECT MAX(nicotine) FROM table_name_40 WHERE name = "raison blue"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT MAX(nicotine) FROM table_name_40 WHERE name = "raison blue"')


Success!
Success Answer: SELECT MAX(nicotine) FROM table_name_40 WHERE name = "raison blue"

 63%|██████▎   | 632/1000 [27:52<13:46,  2.25s/it]

Question: What catalog uses the stereo compact cassette format?

Real Answer: SELECT catalog FROM table_name_10 WHERE format = "stereo compact cassette"
Generated Answer: SELECT catalog FROM table_name_10 WHERE format = "stereo compact cassette"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT catalog FROM table_name_10 WHERE format = "stereo compact cassette"')


Success!
Success Answer: SELECT catalog FROM table_name_10 WHERE format = "stereo compact cassette"

 63%|██████▎   | 633/1000 [27:55<15:03,  2.46s/it]

Question: Who is the Opponent in the final after 1983 with an Outcome of runner-up?

Real Answer: SELECT opponent_in_the_final FROM table_name_48 WHERE outcome = "runner-up" AND date > 1983
Generated Answer: SELECT opponent_in_the_final FROM table_name_48 WHERE outcome = "runner-up" AND date > 1983


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT opponent_in_the_final FROM table_name_48 WHERE outcome = "runner-up" AND date > 1983')


Success!
Success Answer: SELECT opponent_in_the_final FROM table_name_48 WHERE outcome = "runner-up" AND date > 1983

 63%|██████▎   | 634/1000 [27:58<15:07,  2.48s/it]

Question: What is the example in English for a tone of mid rising-falling?

Real Answer: SELECT example_meaning_in_english FROM table_name_1 WHERE tone = "mid rising-falling"
Generated Answer: SELECT example_meaning_in_english FROM table_name_1 WHERE tone = "mid rising-falling"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT example_meaning_in_english FROM table_name_1 WHERE tone = "mid rising-falling"')


Success!
Success Answer: SELECT example_meaning_in_english FROM table_name_1 WHERE tone = "mid rising-falling"

 64%|██████▎   | 635/1000 [28:00<15:12,  2.50s/it]

Question: What country has a to par larger than 5 and a player John Mahaffey?

Real Answer: SELECT country FROM table_name_38 WHERE to_par > 5 AND player = "john mahaffey"
Generated Answer: SELECT country FROM table_name_38 WHERE to_par > 5 AND player = "john mahaffey"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT country FROM table_name_38 WHERE to_par > 5 AND player = "john mahaffey"')


Success!
Success Answer: SELECT country FROM table_name_38 WHERE to_par > 5 AND player = "john mahaffey"

 64%|██████▎   | 636/1000 [28:03<15:48,  2.60s/it]

Question: When was the home team Essendon?

Real Answer: SELECT date FROM table_29126507_1 WHERE home_team = "Essendon"
Generated Answer: SELECT date FROM table_29126507_1 WHERE home_team = "Essendon"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT date FROM table_29126507_1 WHERE home_team = "Essendon"')


Success!
Success Answer: SELECT date FROM table_29126507_1 WHERE home_team = "Essendon"

 64%|██████▎   | 637/1000 [28:06<15:22,  2.54s/it]

Question: What was the name of the catalog released on 19 July 2008?

Real Answer: SELECT catalog FROM table_name_55 WHERE date = "19 july 2008"
Generated Answer: SELECT catalog FROM table_name_55 WHERE date = "19 july 2008"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT catalog FROM table_name_55 WHERE date = "19 july 2008"')


Success!
Success Answer: SELECT catalog FROM table_name_55 WHERE date = "19 july 2008"

 64%|██████▍   | 638/1000 [28:08<14:01,  2.32s/it]

Question: How many products are there under the category "Seeds"?

Real Answer: SELECT COUNT(*) FROM products WHERE product_category_code = "Seeds"
Generated Answer: SELECT COUNT(*) FROM products WHERE product_category_code = "Seeds"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(*) FROM products WHERE product_category_code = "Seeds"')


Success!
Success Answer: SELECT COUNT(*) FROM products WHERE product_category_code = "Seeds"

 64%|██████▍   | 639/1000 [28:12<18:47,  3.12s/it]

Question: Saint-Blaise-Sur-Richelieu is smaller than 68.42 km^2, what is the population of this type M municipality?

Real Answer: SELECT MIN(population) FROM table_name_64 WHERE type = "m" AND name = "saint-blaise-sur-richelieu" AND area__km_2__ < 68.42
Generated Answer: SELECT SUM(population) FROM table_name_64 WHERE type = "municipality" AND name = "saint-blaise-sur-richelieu" AND area__km_2__ < 68.42


Similarity Score: 0.7444893
Feedback: ('correct', 'SELECT MIN(population) FROM table_name_64 WHERE type = "m" AND name = "saint-blaise-sur-richelieu" AND area__km_2__ < 68.42')


Real Answer: SELECT MIN(population) FROM table_name_64 WHERE type = "m" AND name = "saint-blaise-sur-richelieu" AND area__km_2__ < 68.42
Failed Answer: SELECT SUM(population) FROM table_name_64 WHERE type = "municipality" AND name = "saint-blaise-sur-richelieu" AND area__km_2__ < 68.42

 64%|██████▍   | 640/1000 [28:15<17:06,  2.85s/it]

Question: where are dragons used as mascots?

Real Answer: SELECT location FROM table_2439728_1 WHERE mascot = "Dragons"
Generated Answer: SELECT location FROM table_2439728_1 WHERE mascot = "Dragons"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT location FROM table_2439728_1 WHERE mascot = "Dragons"')


Success!
Success Answer: SELECT location FROM table_2439728_1 WHERE mascot = "Dragons"

 64%|██████▍   | 641/1000 [28:17<16:02,  2.68s/it]

Question: What category was the nominated in after 2008?

Real Answer: SELECT category FROM table_name_31 WHERE outcome = "nominated" AND year > 2008
Generated Answer: SELECT category FROM table_name_31 WHERE outcome = "nominated" AND year > 2008


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT category FROM table_name_31 WHERE outcome = "nominated" AND year > 2008')


Success!
Success Answer: SELECT category FROM table_name_31 WHERE outcome = "nominated" AND year > 2008

 64%|██████▍   | 642/1000 [28:19<14:45,  2.47s/it]

Question: Which club has 275 points?

Real Answer: SELECT club FROM table_name_16 WHERE points_for = "275"
Generated Answer: SELECT club FROM table_name_16 WHERE points_for = "275"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT club FROM table_name_16 WHERE points_for = "275"')


Success!
Success Answer: SELECT club FROM table_name_16 WHERE points_for = "275"

 64%|██████▍   | 643/1000 [28:21<14:25,  2.42s/it]

Question: What format is dated October 29, 2004?

Real Answer: SELECT format FROM table_name_8 WHERE date = "october 29, 2004"
Generated Answer: SELECT format FROM table_name_8 WHERE date = "october 29, 2004"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT format FROM table_name_8 WHERE date = "october 29, 2004"')


Success!
Success Answer: SELECT format FROM table_name_8 WHERE date = "october 29, 2004"

 64%|██████▍   | 644/1000 [28:24<14:16,  2.41s/it]

Question: What Australian Marquee team is Michael Beauchamp a captain of?

Real Answer: SELECT australian_marquee FROM table_name_13 WHERE captain = "michael beauchamp"
Generated Answer: SELECT australian_marquee FROM table_name_13 WHERE captain = "michael beauchamp"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT australian_marquee FROM table_name_13 WHERE captain = "michael beauchamp"')


Success!
Success Answer: SELECT australian_marquee FROM table_name_13 WHERE captain = "michael beauchamp"

 64%|██████▍   | 645/1000 [28:26<13:32,  2.29s/it]

Question: Which state is Mount Chiginagak located in?

Real Answer: SELECT state FROM table_name_8 WHERE mountain_peak = "mount chiginagak"
Generated Answer: SELECT state FROM table_name_8 WHERE mountain_peak = "mount chiginagak"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT state FROM table_name_8 WHERE mountain_peak = "mount chiginagak"')


Success!
Success Answer: SELECT state FROM table_name_8 WHERE mountain_peak = "mount chiginagak"

 65%|██████▍   | 646/1000 [28:28<13:30,  2.29s/it]

Question: What is Scott Hoch with a Score of 66 Country?

Real Answer: SELECT country FROM table_name_36 WHERE score = 66 AND player = "scott hoch"
Generated Answer: SELECT country FROM table_name_36 WHERE score = 66 AND player = "scott hoch"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT country FROM table_name_36 WHERE score = 66 AND player = "scott hoch"')


Success!
Success Answer: SELECT country FROM table_name_36 WHERE score = 66 AND player = "scott hoch"

 65%|██████▍   | 647/1000 [28:31<15:19,  2.60s/it]

Question: If the amount of U.S. viewers is 2.14 million, who was the episode directed by?

Real Answer: SELECT directed_by FROM table_23399481_2 WHERE us_viewers__in_millions_ = "2.14"
Generated Answer: SELECT directed_by FROM table_23399481_2 WHERE us_viewers__in_millions_ = "2.14"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT directed_by FROM table_23399481_2 WHERE us_viewers__in_millions_ = "2.14"')


Success!
Success Answer: SELECT directed_by FROM table_23399481_2 WHERE us_viewers__in_millions_ = "2.14"

 65%|██████▍   | 648/1000 [28:33<13:42,  2.34s/it]

Question: What language is the film Marion Bridge?

Real Answer: SELECT language FROM table_name_46 WHERE film = "marion bridge"
Generated Answer: SELECT language FROM table_name_46 WHERE film = "marion bridge"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT language FROM table_name_46 WHERE film = "marion bridge"')


Success!
Success Answer: SELECT language FROM table_name_46 WHERE film = "marion bridge"

 65%|██████▍   | 649/1000 [28:35<13:53,  2.38s/it]

Question: Which club was in Position 1 in 1959-1960?

Real Answer: SELECT clubs FROM table_name_59 WHERE position_in_1959_1960 = "1"
Generated Answer: SELECT clubs FROM table_name_59 WHERE position_in_1959_1960 = 1


Similarity Score: 0.98604536
Feedback: ('approve', 'SELECT clubs FROM table_name_59 WHERE position_in_1959_1960 = 1')


Real Answer: SELECT clubs FROM table_name_59 WHERE position_in_1959_1960 = "1"
Failed Answer: SELECT clubs FROM table_name_59 WHERE position_in_1959_1960 = 1

 65%|██████▌   | 650/1000 [28:38<13:32,  2.32s/it]

Question: What is the lowest draw that is greater than 0 and byes greater than 0?

Real Answer: SELECT MIN(losses) FROM table_name_8 WHERE draws > 0 AND byes > 0
Generated Answer: SELECT MIN(losses) FROM table_name_8 WHERE draws > 0 AND byes > 0


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(losses) FROM table_name_8 WHERE draws > 0 AND byes > 0')


Success!
Success Answer: SELECT MIN(losses) FROM table_name_8 WHERE draws > 0 AND byes > 0

 65%|██████▌   | 651/1000 [28:41<14:29,  2.49s/it]

Question: Which Opponent has a January larger than 8, and a Game smaller than 48, and a Score of 5–3?

Real Answer: SELECT opponent FROM table_name_77 WHERE january > 8 AND game < 48 AND score = "5–3"
Generated Answer: SELECT opponent FROM table_name_77 WHERE january > 8 AND game < 48 AND score = "5–3"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT opponent FROM table_name_77 WHERE january > 8 AND game < 48 AND score = "5–3"')


Success!
Success Answer: SELECT opponent FROM table_name_77 WHERE january > 8 AND game < 48 AND score = "5–3"

 65%|██████▌   | 652/1000 [28:43<14:42,  2.54s/it]

Question: What is the Score of the game @ San Antonio on June 20?

Real Answer: SELECT score FROM table_name_81 WHERE opponent = "@ san antonio" AND date = "june 20"
Generated Answer: SELECT score FROM table_name_81 WHERE opponent = "@ san antonio" AND date = "june 20"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT score FROM table_name_81 WHERE opponent = "@ san antonio" AND date = "june 20"')


Success!
Success Answer: SELECT score FROM table_name_81 WHERE opponent = "@ san antonio" AND date = "june 20"

 65%|██████▌   | 653/1000 [28:45<13:35,  2.35s/it]

Question: What is the name of the venue where home team st kilda played?

Real Answer: SELECT venue FROM table_name_83 WHERE home_team = "st kilda"
Generated Answer: SELECT venue FROM table_name_83 WHERE home_team = "st kilda"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT venue FROM table_name_83 WHERE home_team = "st kilda"')


Success!
Success Answer: SELECT venue FROM table_name_83 WHERE home_team = "st kilda"

 65%|██████▌   | 654/1000 [28:49<16:30,  2.86s/it]

Question: What were the winnings for the score of 66-64-67-71=268?

Real Answer: SELECT winnings__$_ FROM table_28498999_4 WHERE score = 66 - 64 - 67 - 71 = 268
Generated Answer: SELECT winnings__$_ FROM table_28498999_4 WHERE score = 66 - 64 - 67 - 71 = 268


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT winnings__$_ FROM table_28498999_4 WHERE score = 66 - 64 - 67 - 71 = 268')


Success!
Success Answer: SELECT winnings__$_ FROM table_28498999_4 WHERE score = 66 - 64 - 67 - 71 = 268

 66%|██████▌   | 655/1000 [28:52<16:31,  2.87s/it]

Question: What is the average Finish, when Team is "Buck Baker", and when Start is less than 13?

Real Answer: SELECT AVG(finish) FROM table_name_39 WHERE team = "buck baker" AND start < 13
Generated Answer: SELECT AVG(finish) FROM table_name_39 WHERE team = "buck baker" AND start < 13


Similarity Score: 1.0
Feedback: ('approve', 'SELECT AVG(finish) FROM table_name_39 WHERE team = "buck baker" AND start < 13')


Success!
Success Answer: SELECT AVG(finish) FROM table_name_39 WHERE team = "buck baker" AND start < 13

 66%|██████▌   | 656/1000 [28:55<16:38,  2.90s/it]

Question: Name the total number of titles for 3x5655

Real Answer: SELECT COUNT(title) FROM table_24222929_2 WHERE production_code = "3X5655"
Generated Answer: SELECT COUNT(title) FROM table_24222929_2 WHERE production_code = "3X5655"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(title) FROM table_24222929_2 WHERE production_code = "3X5655"')


Success!
Success Answer: SELECT COUNT(title) FROM table_24222929_2 WHERE production_code = "3X5655"

 66%|██████▌   | 657/1000 [29:00<19:19,  3.38s/it]

Question: Name the most municipalities for alto alentejo province (partly ribatejo)

Real Answer: SELECT MAX(municipalities) FROM table_221375_1 WHERE province_of_1936 = "Alto Alentejo Province (partly Ribatejo)"
Generated Answer: SELECT MAX(municipalities) FROM table_221375_1 WHERE province_of_1936 = "Alto Alentejo Province (partly Ribatejo)"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT MAX(municipalities) FROM table_221375_1 WHERE province_of_1936 = "Alto Alentejo Province (partly Ribatejo)"')


Success!
Success Answer: SELECT MAX(municipalities) FROM table_221375_1 WHERE province_of_1936 = "Alto Alentejo Province (partly Ribatejo)"

 66%|██████▌   | 658/1000 [29:01<16:39,  2.92s/it]

Question: Which rank has 1 silver medal and more than 1 gold medal?

Real Answer: SELECT rank FROM table_name_38 WHERE silver = 1 AND gold > 1
Generated Answer: SELECT rank FROM table_name_38 WHERE silver = 1 AND gold > 1


Similarity Score: 0.9999997
Feedback: ('approve', 'SELECT rank FROM table_name_38 WHERE silver = 1 AND gold > 1')


Success!
Success Answer: SELECT rank FROM table_name_38 WHERE silver = 1 AND gold > 1

 66%|██████▌   | 659/1000 [29:04<15:50,  2.79s/it]

Question: What is Score, when Place is "T5", and when Player is "George Archer"?

Real Answer: SELECT score FROM table_name_7 WHERE place = "t5" AND player = "george archer"
Generated Answer: SELECT score FROM table_name_7 WHERE place = "t5" AND player = "george archer"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT score FROM table_name_7 WHERE place = "t5" AND player = "george archer"')


Success!
Success Answer: SELECT score FROM table_name_7 WHERE place = "t5" AND player = "george archer"

 66%|██████▌   | 660/1000 [29:06<14:20,  2.53s/it]

Question: Jiang Tengyi is on which team?

Real Answer: SELECT team FROM table_name_87 WHERE name = "jiang tengyi"
Generated Answer: SELECT team FROM table_name_87 WHERE name = "jiang tengyi"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT team FROM table_name_87 WHERE name = "jiang tengyi"')


Success!
Success Answer: SELECT team FROM table_name_87 WHERE name = "jiang tengyi"

 66%|██████▌   | 661/1000 [29:09<15:45,  2.79s/it]

Question: What is the percentage seats contested for the revolutionary socialist party?

Real Answer: SELECT _percentage_in_seats_contested FROM table_20728138_1 WHERE party = "Revolutionary Socialist party"
Generated Answer: SELECT _percentage_in_seats_contested FROM table_20728138_1 WHERE party = "Revolutionary Socialist Party"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT _percentage_in_seats_contested FROM table_20728138_1 WHERE party = "Revolutionary Socialist Party"')


Real Answer: SELECT _percentage_in_seats_contested FROM table_20728138_1 WHERE party = "Revolutionary Socialist party"
Failed Answer: SELECT _percentage_in_seats_contested FROM table_20728138_1 WHERE party = "Revolutionary Socialist Party"

 66%|██████▌   | 662/1000 [29:12<16:04,  2.85s/it]

Question: How many stages were won by Robbie McEwen?

Real Answer: SELECT COUNT(stage) FROM table_17672470_19 WHERE winner = "Robbie McEwen"
Generated Answer: SELECT COUNT(stage) FROM table_17672470_19 WHERE winner = "Robbie McEwen"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(stage) FROM table_17672470_19 WHERE winner = "Robbie McEwen"')


Success!
Success Answer: SELECT COUNT(stage) FROM table_17672470_19 WHERE winner = "Robbie McEwen"

 66%|██████▋   | 663/1000 [29:15<15:12,  2.71s/it]

Question: What is the largest total when the rank is 6 and there's less than 1 gold?

Real Answer: SELECT MAX(total) FROM table_name_31 WHERE rank = "6" AND gold < 1
Generated Answer: SELECT MAX(total) FROM table_name_31 WHERE rank = 6 AND gold < 1


Similarity Score: 0.9965645
Feedback: ('approve', 'SELECT MAX(total) FROM table_name_31 WHERE rank = 6 AND gold < 1')


Real Answer: SELECT MAX(total) FROM table_name_31 WHERE rank = "6" AND gold < 1
Failed Answer: SELECT MAX(total) FROM table_name_31 WHERE rank = 6 AND gold < 1

 66%|██████▋   | 664/1000 [29:17<15:08,  2.70s/it]

Question: Who was the artist who worked on the stories published in 1966?

Real Answer: SELECT artist FROM table_23963073_1 WHERE date_of_publication = 1966
Generated Answer: SELECT artist FROM table_23963073_1 WHERE date_of_publication = 1966


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT artist FROM table_23963073_1 WHERE date_of_publication = 1966')


Success!
Success Answer: SELECT artist FROM table_23963073_1 WHERE date_of_publication = 1966

 66%|██████▋   | 665/1000 [29:21<16:11,  2.90s/it]

Question: Name the least production code for  bryan moore & chris peterson

Real Answer: SELECT MIN(production_code) FROM table_27988408_1 WHERE written_by = "Bryan Moore & Chris Peterson"
Generated Answer: SELECT MIN(production_code) FROM table_27988408_1 WHERE written_by = "Bryan Moore & Chris Peterson"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MIN(production_code) FROM table_27988408_1 WHERE written_by = "Bryan Moore & Chris Peterson"')


Success!
Success Answer: SELECT MIN(production_code) FROM table_27988408_1 WHERE written_by = "Bryan Moore & Chris Peterson"

 67%|██████▋   | 666/1000 [29:23<15:00,  2.70s/it]

Question: Name the away team score for geelong away team

Real Answer: SELECT away_team AS score FROM table_name_25 WHERE away_team = "geelong"
Generated Answer: SELECT away_team AS score FROM table_name_25 WHERE away_team = "geelong"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT away_team AS score FROM table_name_25 WHERE away_team = "geelong"')


Success!
Success Answer: SELECT away_team AS score FROM table_name_25 WHERE away_team = "geelong"

 67%|██████▋   | 667/1000 [29:25<14:13,  2.56s/it]

Question: What is the average pick of the kansas city chiefs?

Real Answer: SELECT AVG(pick) FROM table_name_12 WHERE team = "kansas city chiefs"
Generated Answer: SELECT AVG(pick) FROM table_name_12 WHERE team = "kansas city chiefs"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT AVG(pick) FROM table_name_12 WHERE team = "kansas city chiefs"')


Success!
Success Answer: SELECT AVG(pick) FROM table_name_12 WHERE team = "kansas city chiefs"

 67%|██████▋   | 668/1000 [29:27<13:00,  2.35s/it]

Question: What is the Score that has an Attendance of 4 679?

Real Answer: SELECT score FROM table_name_52 WHERE attendance = "4 679"
Generated Answer: SELECT score FROM table_name_52 WHERE attendance = "4 679"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT score FROM table_name_52 WHERE attendance = "4 679"')


Success!
Success Answer: SELECT score FROM table_name_52 WHERE attendance = "4 679"

 67%|██████▋   | 669/1000 [29:29<13:02,  2.36s/it]

Question: What Winning constructor has a Name of grand prix de la marne?

Real Answer: SELECT winning_constructor FROM table_name_97 WHERE name = "grand prix de la marne"
Generated Answer: SELECT winning_constructor FROM table_name_97 WHERE name = "grand prix de la marne"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT winning_constructor FROM table_name_97 WHERE name = "grand prix de la marne"')


Success!
Success Answer: SELECT winning_constructor FROM table_name_97 WHERE name = "grand prix de la marne"

 67%|██████▋   | 670/1000 [29:32<13:11,  2.40s/it]

Question: If the Rank is 10, what was the time on Sat aug 28?

Real Answer: SELECT sat_28_aug FROM table_26986076_1 WHERE rank = 10
Generated Answer: SELECT sat_28_aug FROM table_26986076_1 WHERE rank = 10


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT sat_28_aug FROM table_26986076_1 WHERE rank = 10')


Success!
Success Answer: SELECT sat_28_aug FROM table_26986076_1 WHERE rank = 10

 67%|██████▋   | 671/1000 [29:35<14:13,  2.59s/it]

Question: What is the Proto-Germanic origin associated with an allophone of [[[|k]]]?

Real Answer: SELECT proto_germanic_origin FROM table_name_15 WHERE sound__allophone_ = "[[[|k]]]"
Generated Answer: SELECT proto_germanic_origin FROM table_name_15 WHERE sound__allophone_ = "[[[|k]]]"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT proto_germanic_origin FROM table_name_15 WHERE sound__allophone_ = "[[[|k]]]"')


Success!
Success Answer: SELECT proto_germanic_origin FROM table_name_15 WHERE sound__allophone_ = "[[[|k]]]"

 67%|██████▋   | 672/1000 [29:38<14:40,  2.68s/it]

Question: What's the highest league of the Nova Scotia Clippers with a total season of less than 4?

Real Answer: SELECT highest_league FROM table_name_2 WHERE total_seasons < 4 AND team = "nova scotia clippers"
Generated Answer: SELECT highest_league FROM table_name_2 WHERE total_seasons < 4 AND team = "nova scotia clippers"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT highest_league FROM table_name_2 WHERE total_seasons < 4 AND team = "nova scotia clippers"')


Success!
Success Answer: SELECT highest_league FROM table_name_2 WHERE total_seasons < 4 AND team = "nova scotia clippers"

 67%|██████▋   | 673/1000 [29:40<14:03,  2.58s/it]

Question: Name the original airdate for mr. buckston

Real Answer: SELECT original_airdate FROM table_name_23 WHERE identity_ies_ = "mr. buckston"
Generated Answer: SELECT original_airdate FROM table_name_23 WHERE identity_ies_ = "mr. buckston"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT original_airdate FROM table_name_23 WHERE identity_ies_ = "mr. buckston"')


Success!
Success Answer: SELECT original_airdate FROM table_name_23 WHERE identity_ies_ = "mr. buckston"

 67%|██████▋   | 674/1000 [29:42<12:04,  2.22s/it]

Question: what is the date on week 6

Real Answer: SELECT date FROM table_name_97 WHERE week = 6
Generated Answer: SELECT date FROM table_name_97 WHERE week = 6


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_97 WHERE week = 6')


Success!
Success Answer: SELECT date FROM table_name_97 WHERE week = 6

 68%|██████▊   | 675/1000 [29:44<12:28,  2.30s/it]

Question: What aorist has bude in present tense?

Real Answer: SELECT aorist FROM table_27298240_26 WHERE present = "bude"
Generated Answer: SELECT aorist FROM table_27298240_26 WHERE present = "bude"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT aorist FROM table_27298240_26 WHERE present = "bude"')


Success!
Success Answer: SELECT aorist FROM table_27298240_26 WHERE present = "bude"

 68%|██████▊   | 676/1000 [29:46<11:49,  2.19s/it]

Question: What is the verb meaning when part 2 is band?

Real Answer: SELECT verb_meaning FROM table_name_36 WHERE part_2 = "band"
Generated Answer: SELECT verb_meaning FROM table_name_36 WHERE part_2 = "band"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT verb_meaning FROM table_name_36 WHERE part_2 = "band"')


Success!
Success Answer: SELECT verb_meaning FROM table_name_36 WHERE part_2 = "band"

 68%|██████▊   | 677/1000 [29:49<12:44,  2.37s/it]

Question: when the population was 1599, what was the census ranking?

Real Answer: SELECT census_ranking FROM table_170961_2 WHERE population = 1599
Generated Answer: SELECT census_ranking FROM table_170961_2 WHERE population = 1599


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT census_ranking FROM table_170961_2 WHERE population = 1599')


Success!
Success Answer: SELECT census_ranking FROM table_170961_2 WHERE population = 1599

 68%|██████▊   | 678/1000 [29:51<12:32,  2.34s/it]

Question: Which CONMEBOL 1995 has river plate team?

Real Answer: SELECT conmebol_1995 FROM table_name_61 WHERE team = "river plate"
Generated Answer: SELECT conmebol_1995 FROM table_name_61 WHERE team = "river plate"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT conmebol_1995 FROM table_name_61 WHERE team = "river plate"')


Success!
Success Answer: SELECT conmebol_1995 FROM table_name_61 WHERE team = "river plate"

 68%|██████▊   | 679/1000 [29:53<12:14,  2.29s/it]

Question: Which Rank is the highest one that has Points smaller than 256.6?

Real Answer: SELECT MAX(rank) FROM table_name_98 WHERE points < 256.6
Generated Answer: SELECT MAX(rank) FROM table_name_98 WHERE points < 256.6


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT MAX(rank) FROM table_name_98 WHERE points < 256.6')


Success!
Success Answer: SELECT MAX(rank) FROM table_name_98 WHERE points < 256.6

 68%|██████▊   | 680/1000 [29:55<11:55,  2.24s/it]

Question: Which source date has an Internet Explorer usage of 60.2%?

Real Answer: SELECT source FROM table_name_52 WHERE internet_explorer = "60.2%"
Generated Answer: SELECT source FROM table_name_52 WHERE internet_explorer = "60.2%"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT source FROM table_name_52 WHERE internet_explorer = "60.2%"')


Success!
Success Answer: SELECT source FROM table_name_52 WHERE internet_explorer = "60.2%"

 68%|██████▊   | 681/1000 [29:59<13:38,  2.56s/it]

Question: What was the average amount of laps for competitors with a grid that was more than 11 and a Time/Retired of +28.108?

Real Answer: SELECT AVG(laps) FROM table_name_27 WHERE time_retired = "+28.108" AND grid > 11
Generated Answer: SELECT AVG(laps) FROM table_name_27 WHERE time_retired = "+28.108" AND grid > 11


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT AVG(laps) FROM table_name_27 WHERE time_retired = "+28.108" AND grid > 11')


Success!
Success Answer: SELECT AVG(laps) FROM table_name_27 WHERE time_retired = "+28.108" AND grid > 11

 68%|██████▊   | 682/1000 [30:00<12:20,  2.33s/it]

Question: What is the score of Player Tom Kite?

Real Answer: SELECT score FROM table_name_17 WHERE player = "tom kite"
Generated Answer: SELECT score FROM table_name_17 WHERE player = "tom kite"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT score FROM table_name_17 WHERE player = "tom kite"')


Success!
Success Answer: SELECT score FROM table_name_17 WHERE player = "tom kite"

 68%|██████▊   | 683/1000 [30:03<12:18,  2.33s/it]

Question: What stadium was the game held at on December 23, 2001?

Real Answer: SELECT stadium FROM table_name_2 WHERE date = "december 23, 2001"
Generated Answer: SELECT stadium FROM table_name_2 WHERE date = "december 23, 2001"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT stadium FROM table_name_2 WHERE date = "december 23, 2001"')


Success!
Success Answer: SELECT stadium FROM table_name_2 WHERE date = "december 23, 2001"

 68%|██████▊   | 684/1000 [30:05<11:29,  2.18s/it]

Question: How many stages are there?

Real Answer: SELECT MAX(stage) FROM table_25655781_17
Generated Answer: SELECT MAX(stage) FROM table_25655781_17


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT MAX(stage) FROM table_25655781_17')


Success!
Success Answer: SELECT MAX(stage) FROM table_25655781_17

 68%|██████▊   | 685/1000 [30:07<11:37,  2.21s/it]

Question: Which match was played on April 2, 2006?

Real Answer: SELECT competition FROM table_name_78 WHERE date = "april 2, 2006"
Generated Answer: SELECT competition FROM table_name_78 WHERE date = "april 2, 2006"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT competition FROM table_name_78 WHERE date = "april 2, 2006"')


Success!
Success Answer: SELECT competition FROM table_name_78 WHERE date = "april 2, 2006"

 69%|██████▊   | 686/1000 [30:10<12:49,  2.45s/it]

Question: How many Podiums have a Class of 250cc, and an F laps of 0?

Real Answer: SELECT SUM(podiums) FROM table_name_18 WHERE class = "250cc" AND f_laps = 0
Generated Answer: SELECT MAX(podiums) FROM table_name_18 WHERE class = "250cc" AND f_laps = "0"


Similarity Score: 0.77204466
Feedback: ('correct', 'SELECT SUM(podiums) FROM table_name_18 WHERE class = "250cc" AND f_laps = 0')


Real Answer: SELECT SUM(podiums) FROM table_name_18 WHERE class = "250cc" AND f_laps = 0
Failed Answer: SELECT MAX(podiums) FROM table_name_18 WHERE class = "250cc" AND f_laps = "0"

 69%|██████▊   | 687/1000 [30:13<13:24,  2.57s/it]

Question: What was the score on February 14, 1999?

Real Answer: SELECT score_in_final FROM table_name_32 WHERE date = "february 14, 1999"
Generated Answer: SELECT score_in_final FROM table_name_32 WHERE date = "february 14, 1999"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT score_in_final FROM table_name_32 WHERE date = "february 14, 1999"')


Success!
Success Answer: SELECT score_in_final FROM table_name_32 WHERE date = "february 14, 1999"

 69%|██████▉   | 688/1000 [30:15<12:47,  2.46s/it]

Question: How many Gold medals did Australia receive?

Real Answer: SELECT AVG(gold) FROM table_name_59 WHERE nation = "australia"
Generated Answer: SELECT SUM(gold) FROM table_name_59 WHERE nation = "australia"


Similarity Score: 0.78243154
Feedback: ('correct', 'SELECT AVG(gold) FROM table_name_59 WHERE nation = "australia"')


Real Answer: SELECT AVG(gold) FROM table_name_59 WHERE nation = "australia"
Failed Answer: SELECT SUM(gold) FROM table_name_59 WHERE nation = "australia"

 69%|██████▉   | 689/1000 [30:17<11:47,  2.28s/it]

Question: Which Surface has a Place of lappeenranta?

Real Answer: SELECT surface FROM table_name_54 WHERE place = "lappeenranta"
Generated Answer: SELECT surface FROM table_name_54 WHERE place = "lappeenranta"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT surface FROM table_name_54 WHERE place = "lappeenranta"')


Success!
Success Answer: SELECT surface FROM table_name_54 WHERE place = "lappeenranta"

 69%|██████▉   | 690/1000 [30:19<11:56,  2.31s/it]

Question: What was the departure time of the train that arrived at 21.26?

Real Answer: SELECT departure FROM table_18365784_3 WHERE arrival = "21.26"
Generated Answer: SELECT departure FROM table_18365784_3 WHERE arrival = "21.26"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT departure FROM table_18365784_3 WHERE arrival = "21.26"')


Success!
Success Answer: SELECT departure FROM table_18365784_3 WHERE arrival = "21.26"

 69%|██████▉   | 691/1000 [30:23<13:39,  2.65s/it]

Question: What is the place and when was the year when the women's doubles womens were Bai yang Niu Jianfeng?

Real Answer: SELECT year_location FROM table_28138035_33 WHERE womens_doubles = "Bai Yang Niu Jianfeng"
Generated Answer: SELECT year_location FROM table_28138035_33 WHERE womens_doubles = "Bai Yang Niu Jianfeng"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT year_location FROM table_28138035_33 WHERE womens_doubles = "Bai Yang Niu Jianfeng"')


Success!
Success Answer: SELECT year_location FROM table_28138035_33 WHERE womens_doubles = "Bai Yang Niu Jianfeng"

 69%|██████▉   | 692/1000 [30:26<14:04,  2.74s/it]

Question: What is the total number of grids where there were races that had a time of 34:22.335?

Real Answer: SELECT COUNT(grid) FROM table_name_60 WHERE time_retired = "34:22.335"
Generated Answer: SELECT COUNT(grid) FROM table_name_60 WHERE time_retired = "34:22.335"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(grid) FROM table_name_60 WHERE time_retired = "34:22.335"')


Success!
Success Answer: SELECT COUNT(grid) FROM table_name_60 WHERE time_retired = "34:22.335"

 69%|██████▉   | 693/1000 [30:28<13:18,  2.60s/it]

Question: What's the rank of the Province-Level Municipality?

Real Answer: SELECT rank FROM table_name_14 WHERE definition = "province-level municipality"
Generated Answer: SELECT COUNT(rank) FROM table_name_14 WHERE definition = "province-level municipality"


Similarity Score: 0.8597317
Feedback: ('approve', 'SELECT COUNT(rank) FROM table_name_14 WHERE definition = "province-level municipality"')


Real Answer: SELECT rank FROM table_name_14 WHERE definition = "province-level municipality"
Failed Answer: SELECT COUNT(rank) FROM table_name_14 WHERE definition = "province-level municipality"

 69%|██████▉   | 694/1000 [30:31<14:00,  2.75s/it]

Question: How many results where given for the vote percentage 3.1%?

Real Answer: SELECT COUNT(result) FROM table_26375386_17 WHERE vote_percentage = "3.1%"
Generated Answer: SELECT COUNT(result) FROM table_26375386_17 WHERE vote_percentage = "3.1%"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT COUNT(result) FROM table_26375386_17 WHERE vote_percentage = "3.1%"')


Success!
Success Answer: SELECT COUNT(result) FROM table_26375386_17 WHERE vote_percentage = "3.1%"

 70%|██████▉   | 695/1000 [30:33<12:38,  2.49s/it]

Question: what is the average place when lost is more than 12?

Real Answer: SELECT AVG(place) FROM table_name_13 WHERE lost > 12
Generated Answer: SELECT AVG(place) FROM table_name_13 WHERE lost > 12


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT AVG(place) FROM table_name_13 WHERE lost > 12')


Success!
Success Answer: SELECT AVG(place) FROM table_name_13 WHERE lost > 12

 70%|██████▉   | 696/1000 [30:35<11:45,  2.32s/it]

Question: Where is the headquarters of the place whose abbreviation is hy?

Real Answer: SELECT headquarters FROM table_1610301_1 WHERE code = "HY"
Generated Answer: SELECT headquarters FROM table_1610301_1 WHERE code = "HY"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT headquarters FROM table_1610301_1 WHERE code = "HY"')


Success!
Success Answer: SELECT headquarters FROM table_1610301_1 WHERE code = "HY"

 70%|██████▉   | 697/1000 [30:37<11:42,  2.32s/it]

Question: What left office does the First Minister of henry mcleish belong to?

Real Answer: SELECT left_office FROM table_name_49 WHERE first_minister = "henry mcleish"
Generated Answer: SELECT left_office FROM table_name_49 WHERE first_minister = "henry mcleish"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT left_office FROM table_name_49 WHERE first_minister = "henry mcleish"')


Success!
Success Answer: SELECT left_office FROM table_name_49 WHERE first_minister = "henry mcleish"

 70%|██████▉   | 698/1000 [30:39<11:24,  2.27s/it]

Question: Show all allergy types and the number of allergies in each type.

Real Answer: SELECT allergytype, COUNT(*) FROM Allergy_type GROUP BY allergytype
Generated Answer: SELECT allergytype, COUNT(*) FROM Allergy_type GROUP BY allergytype


Similarity Score: 1.0
Feedback: ('approve', 'SELECT allergytype, COUNT(*) FROM Allergy_type GROUP BY allergytype')


Success!
Success Answer: SELECT allergytype, COUNT(*) FROM Allergy_type GROUP BY allergytype

 70%|██████▉   | 699/1000 [30:42<12:33,  2.50s/it]

Question: What is the largest Decile with Years of 1–8, anAuthority of state, and a Roll of 141?

Real Answer: SELECT MAX(decile) FROM table_name_46 WHERE years = "1–8" AND authority = "state" AND roll = 141
Generated Answer: SELECT MAX(decile) FROM table_name_46 WHERE years = 1 AND authority = "state" AND roll = 141


Similarity Score: 0.994103
Feedback: ('approve', 'SELECT MAX(decile) FROM table_name_46 WHERE years = 1 AND authority = "state" AND roll = 141')


Real Answer: SELECT MAX(decile) FROM table_name_46 WHERE years = "1–8" AND authority = "state" AND roll = 141
Failed Answer: SELECT MAX(decile) FROM table_name_46 WHERE years = 1 AND authority = "state" AND roll = 141

 70%|███████   | 700/1000 [30:44<12:02,  2.41s/it]

Question: Venue of thessaloniki (without participation) had what score?

Real Answer: SELECT score FROM table_name_99 WHERE venue = "thessaloniki (without participation)"
Generated Answer: SELECT score FROM table_name_99 WHERE venue = "thessaloniki (without participation)"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT score FROM table_name_99 WHERE venue = "thessaloniki (without participation)"')


Success!
Success Answer: SELECT score FROM table_name_99 WHERE venue = "thessaloniki (without participation)"

 70%|███████   | 701/1000 [30:47<12:41,  2.55s/it]

Question: How many jury votes for the televote of 7?

Real Answer: SELECT jury_votes FROM table_19763199_4 WHERE televotes = 7
Generated Answer: SELECT COUNT(jury_votes) FROM table_19763199_4 WHERE televotes = "7"


Similarity Score: 0.89229643
Feedback: ('approve', 'SELECT COUNT(jury_votes) FROM table_19763199_4 WHERE televotes = "7"')


Real Answer: SELECT jury_votes FROM table_19763199_4 WHERE televotes = 7
Failed Answer: SELECT COUNT(jury_votes) FROM table_19763199_4 WHERE televotes = "7"

 70%|███████   | 702/1000 [30:51<13:51,  2.79s/it]

Question: What is the time or retired time for timo glock with under 70 laps and a grid number greater than 15?

Real Answer: SELECT time_retired FROM table_name_72 WHERE laps < 70 AND grid > 15 AND driver = "timo glock"
Generated Answer: SELECT time_retired FROM table_name_72 WHERE laps < 70 AND grid > 15 AND driver = "timo glock"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT time_retired FROM table_name_72 WHERE laps < 70 AND grid > 15 AND driver = "timo glock"')


Success!
Success Answer: SELECT time_retired FROM table_name_72 WHERE laps < 70 AND grid > 15 AND driver = "timo glock"

 70%|███████   | 703/1000 [30:54<13:59,  2.83s/it]

Question: What is the lap total for the grid under 15 that retired due to transmission?

Real Answer: SELECT SUM(laps) FROM table_name_65 WHERE grid < 15 AND time_retired = "transmission"
Generated Answer: SELECT SUM(laps) FROM table_name_65 WHERE grid < 15 AND time_retired = "transmission"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT SUM(laps) FROM table_name_65 WHERE grid < 15 AND time_retired = "transmission"')


Success!
Success Answer: SELECT SUM(laps) FROM table_name_65 WHERE grid < 15 AND time_retired = "transmission"

 70%|███████   | 704/1000 [30:55<12:16,  2.49s/it]

Question: What was the score when Pittsburgh was the visitor?

Real Answer: SELECT score FROM table_name_42 WHERE visitor = "pittsburgh"
Generated Answer: SELECT score FROM table_name_42 WHERE visitor = "pittsburgh"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT score FROM table_name_42 WHERE visitor = "pittsburgh"')


Success!
Success Answer: SELECT score FROM table_name_42 WHERE visitor = "pittsburgh"

 70%|███████   | 705/1000 [30:57<11:34,  2.35s/it]

Question: What is the Season with a Big Ten that is 2nd (386)?

Real Answer: SELECT season FROM table_name_6 WHERE big_ten = "2nd (386)"
Generated Answer: SELECT season FROM table_name_6 WHERE big_ten = "2nd (386)"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT season FROM table_name_6 WHERE big_ten = "2nd (386)"')


Success!
Success Answer: SELECT season FROM table_name_6 WHERE big_ten = "2nd (386)"

 71%|███████   | 706/1000 [31:00<12:08,  2.48s/it]

Question: WHen jaime aff and christine langner are the performers what is the subject?

Real Answer: SELECT subject FROM table_191105_3 WHERE performed_by = "Jaime Aff and Christine Langner"
Generated Answer: SELECT subject FROM table_191105_3 WHERE performed_by = "Jaime Aff And Christine Langner"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT subject FROM table_191105_3 WHERE performed_by = "Jaime Aff And Christine Langner"')


Real Answer: SELECT subject FROM table_191105_3 WHERE performed_by = "Jaime Aff and Christine Langner"
Failed Answer: SELECT subject FROM table_191105_3 WHERE performed_by = "Jaime Aff And Christine Langner"

 71%|███████   | 707/1000 [31:02<11:53,  2.43s/it]

Question: Name the position for british columbia

Real Answer: SELECT position FROM table_28059992_2 WHERE college = "British Columbia"
Generated Answer: SELECT position FROM table_28059992_2 WHERE college = "British Columbia"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT position FROM table_28059992_2 WHERE college = "British Columbia"')


Success!
Success Answer: SELECT position FROM table_28059992_2 WHERE college = "British Columbia"

 71%|███████   | 708/1000 [31:05<12:17,  2.53s/it]

Question: what is the lowest top-25 when the events is less than 17 and top-5 is more than 0?

Real Answer: SELECT MIN(top_25) FROM table_name_47 WHERE events < 17 AND top_5 > 0
Generated Answer: SELECT MIN(top_25) FROM table_name_47 WHERE events < 17 AND top_5 > 0


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MIN(top_25) FROM table_name_47 WHERE events < 17 AND top_5 > 0')


Success!
Success Answer: SELECT MIN(top_25) FROM table_name_47 WHERE events < 17 AND top_5 > 0

 71%|███████   | 709/1000 [31:07<11:48,  2.43s/it]

Question: What was the result when the opponent was manchester united in venue h?

Real Answer: SELECT result FROM table_name_45 WHERE opponent = "manchester united" AND venue = "h"
Generated Answer: SELECT result FROM table_name_45 WHERE opponent = "manchester united" AND venue = "h"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT result FROM table_name_45 WHERE opponent = "manchester united" AND venue = "h"')


Success!
Success Answer: SELECT result FROM table_name_45 WHERE opponent = "manchester united" AND venue = "h"

 71%|███████   | 710/1000 [31:10<12:03,  2.50s/it]

Question: What is Swimmer, when Year is less than 2011, and when Time is "53.06"?

Real Answer: SELECT swimmer FROM table_name_64 WHERE year < 2011 AND time = "53.06"
Generated Answer: SELECT swimmer FROM table_name_64 WHERE year < 2011 AND time = "53.06"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT swimmer FROM table_name_64 WHERE year < 2011 AND time = "53.06"')


Success!
Success Answer: SELECT swimmer FROM table_name_64 WHERE year < 2011 AND time = "53.06"

 71%|███████   | 711/1000 [31:12<10:40,  2.22s/it]

Question: List every album whose title starts with A in alphabetical order.

Real Answer: SELECT title FROM albums WHERE title LIKE 'A%' ORDER BY title
Generated Answer: SELECT title FROM albums WHERE title LIKE "%A%" ORDER BY title


Similarity Score: 0.91716325
Feedback: ('approve', 'SELECT title FROM albums WHERE title LIKE "%A%" ORDER BY title')


Real Answer: SELECT title FROM albums WHERE title LIKE 'A%' ORDER BY title
Failed Answer: SELECT title FROM albums WHERE title LIKE "%A%" ORDER BY title

 71%|███████   | 712/1000 [31:13<09:47,  2.04s/it]

Question: Who is the driver for laps of 45

Real Answer: SELECT driver FROM table_name_62 WHERE laps = 45
Generated Answer: SELECT driver FROM table_name_62 WHERE laps = 45


Similarity Score: 1.0
Feedback: ('approve', 'SELECT driver FROM table_name_62 WHERE laps = 45')


Success!
Success Answer: SELECT driver FROM table_name_62 WHERE laps = 45

 71%|███████▏  | 713/1000 [31:18<13:35,  2.84s/it]

Question: Which Numbers (Quantity Ordered) have a Fuel Propulsion of cng, and a Year smaller than 2008, and a Make/ Model of nabi 40-lfw?

Real Answer: SELECT numbers__quantity_ordered_ FROM table_name_96 WHERE fuel_propulsion = "cng" AND year < 2008 AND make__model = "nabi 40-lfw"
Generated Answer: SELECT numbers__quantity_ordered_ FROM table_name_96 WHERE fuel_propulsion = "cng" AND year < 2008 AND make__model = "nabi 40-lfw"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT numbers__quantity_ordered_ FROM table_name_96 WHERE fuel_propulsion = "cng" AND year < 2008 AND make__model = "nabi 40-lfw"')


Success!
Success Answer: SELECT numbers__quantity_ordered_ FROM table_name_96 WHERE fuel_propulsion = "cng" AND year < 2008 AND make__model = "nabi 40-lfw"

 71%|███████▏  | 714/1000 [31:21<13:23,  2.81s/it]

Question: In the tournament that has 15 events, and less than 6 top-25's, how many top-5's did he have?

Real Answer: SELECT SUM(top_5) FROM table_name_76 WHERE events = 15 AND top_25 < 6
Generated Answer: SELECT SUM(top_5) FROM table_name_76 WHERE events = 15 AND top_25 < 6


Similarity Score: 1.0
Feedback: ('approve', 'SELECT SUM(top_5) FROM table_name_76 WHERE events = 15 AND top_25 < 6')


Success!
Success Answer: SELECT SUM(top_5) FROM table_name_76 WHERE events = 15 AND top_25 < 6

 72%|███████▏  | 715/1000 [31:24<14:29,  3.05s/it]

Question: Who has a Team classification of la vie claire, a stage of 20, a General classification of greg lemond?

Real Answer: SELECT winner FROM table_name_80 WHERE team_classification = "la vie claire" AND general_classification = "greg lemond" AND stage = "20"
Generated Answer: SELECT winner FROM table_name_80 WHERE team_classification = "la vie claire" AND general_classification = "greg lemond" AND stage = "20"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT winner FROM table_name_80 WHERE team_classification = "la vie claire" AND general_classification = "greg lemond" AND stage = "20"')


Success!
Success Answer: SELECT winner FROM table_name_80 WHERE team_classification = "la vie claire" AND general_classification = "greg lemond" AND stage = "20"

 72%|███████▏  | 716/1000 [31:26<12:53,  2.72s/it]

Question: what is the Identifier with 94.9 fm Frequency

Real Answer: SELECT identifier FROM table_name_19 WHERE frequency = "94.9 fm"
Generated Answer: SELECT identifier FROM table_name_19 WHERE frequency = "94.9 fm"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT identifier FROM table_name_19 WHERE frequency = "94.9 fm"')


Success!
Success Answer: SELECT identifier FROM table_name_19 WHERE frequency = "94.9 fm"

 72%|███████▏  | 717/1000 [31:29<12:20,  2.62s/it]

Question: List the builder from 1930.

Real Answer: SELECT builder FROM table_22481967_1 WHERE date = "1930"
Generated Answer: SELECT builder FROM table_22481967_1 WHERE date = "1930"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT builder FROM table_22481967_1 WHERE date = "1930"')


Success!
Success Answer: SELECT builder FROM table_22481967_1 WHERE date = "1930"

 72%|███████▏  | 718/1000 [31:30<10:58,  2.33s/it]

Question: What pick number was the player that went to baylor college?

Real Answer: SELECT pick FROM table_name_55 WHERE college = "baylor"
Generated Answer: SELECT pick FROM table_name_55 WHERE college = "baylor"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT pick FROM table_name_55 WHERE college = "baylor"')


Success!
Success Answer: SELECT pick FROM table_name_55 WHERE college = "baylor"

 72%|███████▏  | 719/1000 [31:32<10:30,  2.24s/it]

Question: What's the first elected year of the district who's been the last one to do so?

Real Answer: SELECT MAX(first_elected) FROM table_1341472_12
Generated Answer: SELECT MAX(first_elected) FROM table_1341472_12


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT MAX(first_elected) FROM table_1341472_12')


Success!
Success Answer: SELECT MAX(first_elected) FROM table_1341472_12

 72%|███████▏  | 720/1000 [31:35<11:11,  2.40s/it]

Question: How many hosts were on Seven Network?

Real Answer: SELECT COUNT(host) FROM table_14523485_9 WHERE channel = "Seven Network"
Generated Answer: SELECT COUNT(host) FROM table_14523485_9 WHERE channel = "Seven Network"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(host) FROM table_14523485_9 WHERE channel = "Seven Network"')


Success!
Success Answer: SELECT COUNT(host) FROM table_14523485_9 WHERE channel = "Seven Network"

 72%|███████▏  | 721/1000 [31:37<10:16,  2.21s/it]

Question: Which Television service has a Content of general television?

Real Answer: SELECT television_service FROM table_name_49 WHERE content = "general television"
Generated Answer: SELECT television_service FROM table_name_49 WHERE content = "general television"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT television_service FROM table_name_49 WHERE content = "general television"')


Success!
Success Answer: SELECT television_service FROM table_name_49 WHERE content = "general television"

 72%|███████▏  | 722/1000 [31:40<11:45,  2.54s/it]

Question: Which director had not nominated as a result, and had Bayan Ko: Kapit Sa Patalim as an original title?

Real Answer: SELECT director FROM table_name_51 WHERE result = "not nominated" AND original_title = "bayan ko: kapit sa patalim"
Generated Answer: SELECT director FROM table_name_51 WHERE result = "not nominated" AND original_title = "bayan ko: kapit sa patalim"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT director FROM table_name_51 WHERE result = "not nominated" AND original_title = "bayan ko: kapit sa patalim"')


Success!
Success Answer: SELECT director FROM table_name_51 WHERE result = "not nominated" AND original_title = "bayan ko: kapit sa patalim"

 72%|███████▏  | 723/1000 [31:43<12:17,  2.66s/it]

Question: What is the Set 3 on 30 may, and a Set 1 is 20–25?

Real Answer: SELECT set_3 FROM table_name_79 WHERE date = "30 may" AND set_1 = "20–25"
Generated Answer: SELECT set_3 FROM table_name_79 WHERE date = "30 may" AND set_1 = "20–25"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT set_3 FROM table_name_79 WHERE date = "30 may" AND set_1 = "20–25"')


Success!
Success Answer: SELECT set_3 FROM table_name_79 WHERE date = "30 may" AND set_1 = "20–25"

 72%|███████▏  | 724/1000 [31:45<11:31,  2.51s/it]

Question: Who is the champion with a score of 7–6, 6–0?

Real Answer: SELECT champion FROM table_name_47 WHERE score = "7–6, 6–0"
Generated Answer: SELECT champion FROM table_name_47 WHERE score = "7–6, 6–0"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT champion FROM table_name_47 WHERE score = "7–6, 6–0"')


Success!
Success Answer: SELECT champion FROM table_name_47 WHERE score = "7–6, 6–0"

 72%|███████▎  | 725/1000 [31:47<10:22,  2.26s/it]

Question: What is Date, when Home Team is "Everton"?

Real Answer: SELECT date FROM table_name_6 WHERE home_team = "everton"
Generated Answer: SELECT date FROM table_name_6 WHERE home_team = "everton"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT date FROM table_name_6 WHERE home_team = "everton"')


Success!
Success Answer: SELECT date FROM table_name_6 WHERE home_team = "everton"

 73%|███████▎  | 726/1000 [31:50<11:09,  2.44s/it]

Question: Who was No. 5 when No. 6 Mason and No. 10 Jackson?

Real Answer: SELECT no_5 FROM table_name_17 WHERE no_6 = "mason" AND no_10 = "jackson"
Generated Answer: SELECT no_5 FROM table_name_17 WHERE no_6 = "mason" AND no_10 = "jackson"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT no_5 FROM table_name_17 WHERE no_6 = "mason" AND no_10 = "jackson"')


Success!
Success Answer: SELECT no_5 FROM table_name_17 WHERE no_6 = "mason" AND no_10 = "jackson"

 73%|███████▎  | 727/1000 [31:52<10:41,  2.35s/it]

Question: How many picks for round 12?

Real Answer: SELECT COUNT(pick__number) FROM table_name_5 WHERE round = 12
Generated Answer: SELECT COUNT(pick__number) FROM table_name_5 WHERE round = 12


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(pick__number) FROM table_name_5 WHERE round = 12')


Success!
Success Answer: SELECT COUNT(pick__number) FROM table_name_5 WHERE round = 12

 73%|███████▎  | 728/1000 [31:54<10:16,  2.27s/it]

Question: What is the attendance of the location where New Orleans's team plays?

Real Answer: SELECT location_attendance FROM table_name_81 WHERE team = "new orleans"
Generated Answer: SELECT location_attendance FROM table_name_81 WHERE team = "new orleans"


Similarity Score: 0.9999995
Feedback: ('approve', 'SELECT location_attendance FROM table_name_81 WHERE team = "new orleans"')


Success!
Success Answer: SELECT location_attendance FROM table_name_81 WHERE team = "new orleans"

 73%|███████▎  | 729/1000 [31:57<11:26,  2.53s/it]

Question: What engine was used by Curb Motorsports after 1982 that had 11 points?

Real Answer: SELECT engine FROM table_name_2 WHERE year > 1982 AND points = 11 AND team = "curb motorsports"
Generated Answer: SELECT engine FROM table_name_2 WHERE year > 1982 AND points = 11 AND team = "curb motorsports"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT engine FROM table_name_2 WHERE year > 1982 AND points = 11 AND team = "curb motorsports"')


Success!
Success Answer: SELECT engine FROM table_name_2 WHERE year > 1982 AND points = 11 AND team = "curb motorsports"

 73%|███████▎  | 730/1000 [31:59<10:36,  2.36s/it]

Question: What weekday has an against of kashima antlers?

Real Answer: SELECT weekday FROM table_name_68 WHERE against = "kashima antlers"
Generated Answer: SELECT weekday FROM table_name_68 WHERE against = "kashima antlers"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT weekday FROM table_name_68 WHERE against = "kashima antlers"')


Success!
Success Answer: SELECT weekday FROM table_name_68 WHERE against = "kashima antlers"

 73%|███████▎  | 731/1000 [32:01<09:37,  2.15s/it]

Question: Which Score has a Tie no of 1?

Real Answer: SELECT score FROM table_name_22 WHERE tie_no = "1"
Generated Answer: SELECT score FROM table_name_22 WHERE tie_no = "1"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT score FROM table_name_22 WHERE tie_no = "1"')


Success!
Success Answer: SELECT score FROM table_name_22 WHERE tie_no = "1"

 73%|███████▎  | 732/1000 [32:03<09:12,  2.06s/it]

Question: what is the record when the opponent is jeff williams?

Real Answer: SELECT record FROM table_name_37 WHERE opponent = "jeff williams"
Generated Answer: SELECT record FROM table_name_37 WHERE opponent = "jeff williams"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT record FROM table_name_37 WHERE opponent = "jeff williams"')


Success!
Success Answer: SELECT record FROM table_name_37 WHERE opponent = "jeff williams"

 73%|███████▎  | 733/1000 [32:04<08:56,  2.01s/it]

Question: Name the team one for preliminary final

Real Answer: SELECT team_1 FROM table_name_74 WHERE name = "preliminary final"
Generated Answer: SELECT team_1 FROM table_name_74 WHERE name = "preliminary final"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT team_1 FROM table_name_74 WHERE name = "preliminary final"')


Success!
Success Answer: SELECT team_1 FROM table_name_74 WHERE name = "preliminary final"

 73%|███████▎  | 734/1000 [32:08<10:37,  2.40s/it]

Question: When the girls singles is lindaweni fanetri what is the mixed doubled?

Real Answer: SELECT mixed_doubles FROM table_14319023_2 WHERE girls_singles = "Lindaweni Fanetri"
Generated Answer: SELECT mixed_doubles FROM table_14319023_2 WHERE girls_singles = "Lindaweni Fanetri"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT mixed_doubles FROM table_14319023_2 WHERE girls_singles = "Lindaweni Fanetri"')


Success!
Success Answer: SELECT mixed_doubles FROM table_14319023_2 WHERE girls_singles = "Lindaweni Fanetri"

 74%|███████▎  | 735/1000 [32:10<10:43,  2.43s/it]

Question: what's the runners-up with nation being malaysia

Real Answer: SELECT runners_up FROM table_12303563_2 WHERE nation = "Malaysia"
Generated Answer: SELECT runners_up FROM table_12303563_2 WHERE nation = "Malaysia"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT runners_up FROM table_12303563_2 WHERE nation = "Malaysia"')


Success!
Success Answer: SELECT runners_up FROM table_12303563_2 WHERE nation = "Malaysia"

 74%|███████▎  | 736/1000 [32:13<11:28,  2.61s/it]

Question: What internet explorer has 1.67% as the opera, with 2012 q1 as the period?

Real Answer: SELECT internet_explorer FROM table_name_4 WHERE opera = "1.67%" AND period = "2012 q1"
Generated Answer: SELECT internet_explorer FROM table_name_4 WHERE opera = "1.67%" AND period = "2012 q1"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT internet_explorer FROM table_name_4 WHERE opera = "1.67%" AND period = "2012 q1"')


Success!
Success Answer: SELECT internet_explorer FROM table_name_4 WHERE opera = "1.67%" AND period = "2012 q1"

 74%|███████▎  | 737/1000 [32:17<12:25,  2.83s/it]

Question: What is the wheel arrangement of cf-16-4, and 16 produced?

Real Answer: SELECT wheel_arrangement FROM table_name_5 WHERE builder’s_model = "cf-16-4" AND total_produced = 16
Generated Answer: SELECT wheel_arrangement FROM table_name_5 WHERE builder’s_model = "cf-16-4" AND total_produced = 16


Similarity Score: 1.0
Feedback: ('approve', 'SELECT wheel_arrangement FROM table_name_5 WHERE builder’s_model = "cf-16-4" AND total_produced = 16')


Success!
Success Answer: SELECT wheel_arrangement FROM table_name_5 WHERE builder’s_model = "cf-16-4" AND total_produced = 16

 74%|███████▍  | 738/1000 [32:21<13:46,  3.16s/it]

Question: How many wrestlers are recorded for the chamber that's method of elimination was pinned after being hit by a lead pipe?

Real Answer: SELECT COUNT(wrestler) FROM table_24628683_2 WHERE method_of_elimination = "Pinned after being hit by a lead pipe"
Generated Answer: SELECT COUNT(wrestler) FROM table_24628683_2 WHERE method_of_elimination = "Pinned after being hit by a Lead Pipe"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(wrestler) FROM table_24628683_2 WHERE method_of_elimination = "Pinned after being hit by a Lead Pipe"')


Real Answer: SELECT COUNT(wrestler) FROM table_24628683_2 WHERE method_of_elimination = "Pinned after being hit by a lead pipe"
Failed Answer: SELECT COUNT(wrestler) FROM table_24628683_2 WHERE method_of_elimination = "Pinned after being hit by a Lead Pipe"

 74%|███████▍  | 739/1000 [32:24<14:29,  3.33s/it]

Question: Which Max 1-min wind mph (km/h) that has Dates active on september22– september28?

Real Answer: SELECT max_1_min_wind_mph__km_h_ FROM table_name_26 WHERE dates_active = "september22– september28"
Generated Answer: SELECT max_1_min_wind_mph__km_h_ FROM table_name_26 WHERE dates_active = "september22– september28"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT max_1_min_wind_mph__km_h_ FROM table_name_26 WHERE dates_active = "september22– september28"')


Success!
Success Answer: SELECT max_1_min_wind_mph__km_h_ FROM table_name_26 WHERE dates_active = "september22– september28"

 74%|███████▍  | 740/1000 [32:28<15:11,  3.50s/it]

Question: How many instruments does the song "Badlands" use?

Real Answer: SELECT COUNT(DISTINCT instrument) FROM instruments AS T1 JOIN songs AS T2 ON T1.songid = T2.songid WHERE title = "Badlands"
Generated Answer: SELECT COUNT(DISTINCT instrument) FROM instruments AS T1 JOIN songs AS T2 ON T1.songid = T2.songid WHERE title = "Badlands"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(DISTINCT instrument) FROM instruments AS T1 JOIN songs AS T2 ON T1.songid = T2.songid WHERE title = "Badlands"')


Success!
Success Answer: SELECT COUNT(DISTINCT instrument) FROM instruments AS T1 JOIN songs AS T2 ON T1.songid = T2.songid WHERE title = "Badlands"

 74%|███████▍  | 741/1000 [32:31<14:21,  3.33s/it]

Question: Which result happened more recently than week 2, and had a date of November 30, 1958?

Real Answer: SELECT result FROM table_name_98 WHERE week > 2 AND date = "november 30, 1958"
Generated Answer: SELECT result FROM table_name_98 WHERE week > 2 AND date = "november 30, 1958"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT result FROM table_name_98 WHERE week > 2 AND date = "november 30, 1958"')


Success!
Success Answer: SELECT result FROM table_name_98 WHERE week > 2 AND date = "november 30, 1958"

 74%|███████▍  | 742/1000 [32:33<12:18,  2.86s/it]

Question: What was the Score on March 1?

Real Answer: SELECT score FROM table_name_18 WHERE date = "march 1"
Generated Answer: SELECT score FROM table_name_18 WHERE date = "march 1"


Similarity Score: 0.99999964
Feedback: ('approve', 'SELECT score FROM table_name_18 WHERE date = "march 1"')


Success!
Success Answer: SELECT score FROM table_name_18 WHERE date = "march 1"

 74%|███████▍  | 743/1000 [32:36<11:59,  2.80s/it]

Question: what is the swimsuit score when the semifinal average score is 8.367 (10)?

Real Answer: SELECT swimsuit FROM table_name_86 WHERE semifinal_average = "8.367 (10)"
Generated Answer: SELECT swimsuit FROM table_name_86 WHERE semifinal_average = "8.367 (10)"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT swimsuit FROM table_name_86 WHERE semifinal_average = "8.367 (10)"')


Success!
Success Answer: SELECT swimsuit FROM table_name_86 WHERE semifinal_average = "8.367 (10)"

 74%|███████▍  | 744/1000 [32:40<14:18,  3.35s/it]

Question: What is the density (hab/km²) with a population under 1 year-old censo 2007(hab) of * data from the census taken by the Inei?

Real Answer: SELECT density__hab__km²__ FROM table_name_21 WHERE population_under_1_year_old_censo_2007_hab_ = "* data from the census taken by the inei"
Generated Answer: SELECT density__hab__km²__ FROM table_name_21 WHERE population_under_1_year_old_censo_2007_hab_ = "* data from the census taken by the Inei"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT density__hab__km²__ FROM table_name_21 WHERE population_under_1_year_old_censo_2007_hab_ = "* data from the census taken by the Inei"')


Real Answer: SELECT density__hab__km²__ FROM table_name_21 WHERE population_under_1_year_old_censo_2007_hab_ = "* data from the census taken by the inei"
Failed Answer: SELECT density__hab__km²__ FROM table_name_21 WHERE population_under_1_year_old_censo_2007_hab_ = "* data from the census taken by the Inei"

 74%|███████▍  | 745/1000 [32:43<13:48,  3.25s/it]

Question: Name the total number of games for w 112-94

Real Answer: SELECT COUNT(game) FROM table_27882867_4 WHERE score = "W 112-94"
Generated Answer: SELECT COUNT(game) FROM table_27882867_4 WHERE score = "W 112-94"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(game) FROM table_27882867_4 WHERE score = "W 112-94"')


Success!
Success Answer: SELECT COUNT(game) FROM table_27882867_4 WHERE score = "W 112-94"

 75%|███████▍  | 746/1000 [32:45<12:19,  2.91s/it]

Question: Who is from flower mound, tx?

Real Answer: SELECT player FROM table_name_47 WHERE hometown = "flower mound, tx"
Generated Answer: SELECT player FROM table_name_47 WHERE hometown = "flower mound, tx"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT player FROM table_name_47 WHERE hometown = "flower mound, tx"')


Success!
Success Answer: SELECT player FROM table_name_47 WHERE hometown = "flower mound, tx"

 75%|███████▍  | 747/1000 [32:48<11:43,  2.78s/it]

Question: What school is in Brechin?

Real Answer: SELECT external_link FROM table_21563298_1 WHERE location = "Brechin"
Generated Answer: SELECT external_link FROM table_21563298_1 WHERE location = "Brechin"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT external_link FROM table_21563298_1 WHERE location = "Brechin"')


Success!
Success Answer: SELECT external_link FROM table_21563298_1 WHERE location = "Brechin"

 75%|███████▍  | 748/1000 [32:50<11:22,  2.71s/it]

Question: What was the least number of heats with more than 8 lanes for the Nationality of Germany?

Real Answer: SELECT MIN(heat) FROM table_name_88 WHERE nationality = "germany" AND lane > 8
Generated Answer: SELECT MIN(heat) FROM table_name_88 WHERE nationality = "germany" AND lane > 8


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT MIN(heat) FROM table_name_88 WHERE nationality = "germany" AND lane > 8')


Success!
Success Answer: SELECT MIN(heat) FROM table_name_88 WHERE nationality = "germany" AND lane > 8

 75%|███████▍  | 749/1000 [32:53<10:52,  2.60s/it]

Question: Name the candidate for south carolina 1?

Real Answer: SELECT candidates FROM table_1342359_39 WHERE district = "South Carolina 1"
Generated Answer: SELECT candidates FROM table_1342359_39 WHERE district = "South Carolina 1"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT candidates FROM table_1342359_39 WHERE district = "South Carolina 1"')


Success!
Success Answer: SELECT candidates FROM table_1342359_39 WHERE district = "South Carolina 1"

 75%|███████▌  | 750/1000 [32:54<09:36,  2.31s/it]

Question: Who came in 3rd when Matej žagar won?

Real Answer: SELECT 3 AS rd_place FROM table_name_30 WHERE winners = "matej žagar"
Generated Answer: SELECT winners FROM table_name_30 WHERE winners = "3rd"


Similarity Score: 0.7651889
Feedback: ('correct', 'SELECT 3 AS rd_place FROM table_name_30 WHERE winners = "matej žagar"')


Real Answer: SELECT 3 AS rd_place FROM table_name_30 WHERE winners = "matej žagar"
Failed Answer: SELECT winners FROM table_name_30 WHERE winners = "3rd"

 75%|███████▌  | 751/1000 [32:56<08:36,  2.07s/it]

Question: What season did he have 7 appearances?

Real Answer: SELECT season FROM table_name_91 WHERE apps = 7
Generated Answer: SELECT season FROM table_name_91 WHERE apps = "7"


Similarity Score: 0.98936105
Feedback: ('approve', 'SELECT season FROM table_name_91 WHERE apps = "7"')


Real Answer: SELECT season FROM table_name_91 WHERE apps = 7
Failed Answer: SELECT season FROM table_name_91 WHERE apps = "7"

 75%|███████▌  | 752/1000 [32:58<08:42,  2.11s/it]

Question: What is every value for sacks if interceptions is 19?

Real Answer: SELECT sacks FROM table_27487336_1 WHERE interceptions = "19"
Generated Answer: SELECT sacks FROM table_27487336_1 WHERE interceptions = 19


Similarity Score: 0.98834395
Feedback: ('approve', 'SELECT sacks FROM table_27487336_1 WHERE interceptions = 19')


Real Answer: SELECT sacks FROM table_27487336_1 WHERE interceptions = "19"
Failed Answer: SELECT sacks FROM table_27487336_1 WHERE interceptions = 19

 75%|███████▌  | 753/1000 [33:00<08:19,  2.02s/it]

Question: Name the loss with record of 45-59

Real Answer: SELECT loss FROM table_name_87 WHERE record = "45-59"
Generated Answer: SELECT loss FROM table_name_87 WHERE record = "45-59"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT loss FROM table_name_87 WHERE record = "45-59"')


Success!
Success Answer: SELECT loss FROM table_name_87 WHERE record = "45-59"

 75%|███████▌  | 754/1000 [33:02<08:44,  2.13s/it]

Question: When was brian lemay born?

Real Answer: SELECT date_of_birth__age_ FROM table_name_1 WHERE player = "brian lemay"
Generated Answer: SELECT date_of_birth__age_ FROM table_name_1 WHERE player = "brian lemay"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date_of_birth__age_ FROM table_name_1 WHERE player = "brian lemay"')


Success!
Success Answer: SELECT date_of_birth__age_ FROM table_name_1 WHERE player = "brian lemay"

 76%|███████▌  | 755/1000 [33:05<09:29,  2.32s/it]

Question: What is Party, when Results is "Re-Elected", and when District is "Louisiana 5"?

Real Answer: SELECT party FROM table_name_76 WHERE results = "re-elected" AND district = "louisiana 5"
Generated Answer: SELECT party FROM table_name_76 WHERE results = "re-elected" AND district = "louisiana 5"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT party FROM table_name_76 WHERE results = "re-elected" AND district = "louisiana 5"')


Success!
Success Answer: SELECT party FROM table_name_76 WHERE results = "re-elected" AND district = "louisiana 5"

 76%|███████▌  | 756/1000 [33:07<08:32,  2.10s/it]

Question: Who was the opponent for game 73?

Real Answer: SELECT opponent FROM table_name_10 WHERE game = "73"
Generated Answer: SELECT opponent FROM table_name_10 WHERE game = 73


Similarity Score: 0.9893208
Feedback: ('approve', 'SELECT opponent FROM table_name_10 WHERE game = 73')


Real Answer: SELECT opponent FROM table_name_10 WHERE game = "73"
Failed Answer: SELECT opponent FROM table_name_10 WHERE game = 73

 76%|███████▌  | 757/1000 [33:09<08:21,  2.06s/it]

Question: Which Position has a School/Club Team of stanford?

Real Answer: SELECT position FROM table_name_15 WHERE school_club_team = "stanford"
Generated Answer: SELECT position FROM table_name_15 WHERE school_club_team = "stanford"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT position FROM table_name_15 WHERE school_club_team = "stanford"')


Success!
Success Answer: SELECT position FROM table_name_15 WHERE school_club_team = "stanford"

 76%|███████▌  | 758/1000 [33:11<08:47,  2.18s/it]

Question: What position did Nell McAndrew finish?

Real Answer: SELECT finished FROM table_14345690_2 WHERE celebrity = "Nell McAndrew"
Generated Answer: SELECT finished FROM table_14345690_2 WHERE celebrity = "Nell McAndrew"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT finished FROM table_14345690_2 WHERE celebrity = "Nell McAndrew"')


Success!
Success Answer: SELECT finished FROM table_14345690_2 WHERE celebrity = "Nell McAndrew"

 76%|███████▌  | 759/1000 [33:13<08:15,  2.05s/it]

Question: WHAT COUNTRY HAS A PLAYER NAMED JACK NICKLAUS?

Real Answer: SELECT country FROM table_name_25 WHERE player = "jack nicklaus"
Generated Answer: SELECT country FROM table_name_25 WHERE player = "jack nicklaus"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT country FROM table_name_25 WHERE player = "jack nicklaus"')


Success!
Success Answer: SELECT country FROM table_name_25 WHERE player = "jack nicklaus"

 76%|███████▌  | 760/1000 [33:15<08:22,  2.09s/it]

Question: Tell me the shigella for yersinia yopb

Real Answer: SELECT shigella FROM table_name_52 WHERE yersinia = "yopb"
Generated Answer: SELECT shigella FROM table_name_52 WHERE yersinia = "yopb"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT shigella FROM table_name_52 WHERE yersinia = "yopb"')


Success!
Success Answer: SELECT shigella FROM table_name_52 WHERE yersinia = "yopb"

 76%|███████▌  | 761/1000 [33:18<09:45,  2.45s/it]

Question: What is the total number in attendance for the game after week 8 that was on November 25, 1979?

Real Answer: SELECT COUNT(attendance) FROM table_name_49 WHERE week > 8 AND date = "november 25, 1979"
Generated Answer: SELECT COUNT(attendance) FROM table_name_49 WHERE week > 8 AND date = "november 25, 1979"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(attendance) FROM table_name_49 WHERE week > 8 AND date = "november 25, 1979"')


Success!
Success Answer: SELECT COUNT(attendance) FROM table_name_49 WHERE week > 8 AND date = "november 25, 1979"

 76%|███████▌  | 762/1000 [33:21<10:40,  2.69s/it]

Question: What is the lowest attendance for December 14, 1958 after week 12?

Real Answer: SELECT MIN(attendance) FROM table_name_76 WHERE date = "december 14, 1958" AND week > 12
Generated Answer: SELECT MIN(attendance) FROM table_name_76 WHERE date = "december 14, 1958" AND week > 12


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MIN(attendance) FROM table_name_76 WHERE date = "december 14, 1958" AND week > 12')


Success!
Success Answer: SELECT MIN(attendance) FROM table_name_76 WHERE date = "december 14, 1958" AND week > 12

 76%|███████▋  | 763/1000 [33:25<11:40,  2.96s/it]

Question: Who is the leader of the party which has Seats less than 28, a percentage of votes 54.03, and more votes than 120,801?

Real Answer: SELECT leader FROM table_name_18 WHERE seats < 28 AND percentage = "54.03" AND votes > 120 OFFSET 801
Generated Answer: SELECT leader FROM table_name_18 WHERE seats < 28 AND percentage = "54.03" AND votes > 120 OFFSET 801


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT leader FROM table_name_18 WHERE seats < 28 AND percentage = "54.03" AND votes > 120 OFFSET 801')


Success!
Success Answer: SELECT leader FROM table_name_18 WHERE seats < 28 AND percentage = "54.03" AND votes > 120 OFFSET 801

 76%|███████▋  | 764/1000 [33:27<09:52,  2.51s/it]

Question: What is Player, when Place is "1"?

Real Answer: SELECT player FROM table_name_66 WHERE place = "1"
Generated Answer: SELECT player FROM table_name_66 WHERE place = "1"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT player FROM table_name_66 WHERE place = "1"')


Success!
Success Answer: SELECT player FROM table_name_66 WHERE place = "1"

 76%|███████▋  | 765/1000 [33:29<09:16,  2.37s/it]

Question: When the strike rate is 70.10, what is the balls?

Real Answer: SELECT balls FROM table_name_36 WHERE strike_rate = "70.10"
Generated Answer: SELECT balls FROM table_name_36 WHERE strike_rate = "70.10"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT balls FROM table_name_36 WHERE strike_rate = "70.10"')


Success!
Success Answer: SELECT balls FROM table_name_36 WHERE strike_rate = "70.10"

 77%|███████▋  | 766/1000 [33:34<12:22,  3.17s/it]

Question: What is the color code and description of the product named "chervil"?

Real Answer: SELECT t1.color_code, t2.color_description FROM products AS t1 JOIN ref_colors AS t2 ON t1.color_code = t2.color_code WHERE t1.product_name = "chervil"
Generated Answer: SELECT T1.color_code, T2.color_description FROM products AS T1 JOIN ref_colors AS T2 ON T1.color_code = T2.color_code WHERE T1.product_name = "chervil"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT T1.color_code, T2.color_description FROM products AS T1 JOIN ref_colors AS T2 ON T1.color_code = T2.color_code WHERE T1.product_name = "chervil"')


Real Answer: SELECT t1.color_code, t2.color_description FROM products AS t1 JOIN ref_colors AS t2 ON t1.color_code = t2.color_code WHERE t1.product_name = "chervil"
Failed Answer: SELECT T1.color_code, T2.color_description FROM products AS T1 JOIN ref_colors AS T2 ON T1.color_code = T2.color_code WHERE T1.product_name = "chervil"

 77%|███████▋  | 767/1000 [33:36<11:24,  2.94s/it]

Question: What was the score in the game on May 11?

Real Answer: SELECT score FROM table_11963601_11 WHERE date = "May 11"
Generated Answer: SELECT score FROM table_11963601_11 WHERE date = "May 11"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT score FROM table_11963601_11 WHERE date = "May 11"')


Success!
Success Answer: SELECT score FROM table_11963601_11 WHERE date = "May 11"

 77%|███████▋  | 768/1000 [33:39<11:40,  3.02s/it]

Question: How many schools did darryl dawkins play for

Real Answer: SELECT COUNT(school_club_team) FROM table_11545282_4 WHERE player = "Darryl Dawkins"
Generated Answer: SELECT COUNT(school_club_team) FROM table_11545282_4 WHERE player = "Darryl Dawkins"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT COUNT(school_club_team) FROM table_11545282_4 WHERE player = "Darryl Dawkins"')


Success!
Success Answer: SELECT COUNT(school_club_team) FROM table_11545282_4 WHERE player = "Darryl Dawkins"

 77%|███████▋  | 769/1000 [33:41<10:28,  2.72s/it]

Question: For the game that ended with a record of 28-35-1, what was the decision?

Real Answer: SELECT decision FROM table_name_22 WHERE record = "28-35-1"
Generated Answer: SELECT decision FROM table_name_22 WHERE record = "28-35-1"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT decision FROM table_name_22 WHERE record = "28-35-1"')


Success!
Success Answer: SELECT decision FROM table_name_22 WHERE record = "28-35-1"

 77%|███████▋  | 770/1000 [33:43<09:39,  2.52s/it]

Question: What is the highest number of extra points?

Real Answer: SELECT MAX(extra_points) FROM table_14342480_15
Generated Answer: SELECT MAX(extra_points) FROM table_14342480_15


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MAX(extra_points) FROM table_14342480_15')


Success!
Success Answer: SELECT MAX(extra_points) FROM table_14342480_15

 77%|███████▋  | 771/1000 [33:46<09:55,  2.60s/it]

Question: Who was the head coach in season 2?

Real Answer: SELECT head_coach FROM table_14015965_1 WHERE previous_season = "2"
Generated Answer: SELECT head_coach FROM table_14015965_1 WHERE previous_season = "Season 2"


Similarity Score: 0.9745911
Feedback: ('approve', 'SELECT head_coach FROM table_14015965_1 WHERE previous_season = "Season 2"')


Real Answer: SELECT head_coach FROM table_14015965_1 WHERE previous_season = "2"
Failed Answer: SELECT head_coach FROM table_14015965_1 WHERE previous_season = "Season 2"

 77%|███████▋  | 772/1000 [33:48<09:33,  2.51s/it]

Question: Which Rank has a Years of 1998–present?

Real Answer: SELECT AVG(rank) FROM table_name_82 WHERE years = "1998–present"
Generated Answer: SELECT SUM(rank) FROM table_name_82 WHERE years = "1998–present"


Similarity Score: 0.77227104
Feedback: ('correct', 'SELECT AVG(rank) FROM table_name_82 WHERE years = "1998–present"')


Real Answer: SELECT AVG(rank) FROM table_name_82 WHERE years = "1998–present"
Failed Answer: SELECT SUM(rank) FROM table_name_82 WHERE years = "1998–present"

 77%|███████▋  | 773/1000 [33:51<09:17,  2.46s/it]

Question: What is the highest Purse for aug 3–5?

Real Answer: SELECT MAX(purse__) AS $_ FROM table_name_80 WHERE dates = "aug 3–5"
Generated Answer: SELECT MAX(purse__) FROM table_name_80 WHERE dates = "aug 3–5"


Similarity Score: 0.9932807
Feedback: ('approve', 'SELECT MAX(purse__) FROM table_name_80 WHERE dates = "aug 3–5"')


Real Answer: SELECT MAX(purse__) AS $_ FROM table_name_80 WHERE dates = "aug 3–5"
Failed Answer: SELECT MAX(purse__) FROM table_name_80 WHERE dates = "aug 3–5"

 77%|███████▋  | 774/1000 [33:55<11:01,  2.93s/it]

Question: In the circuit Showevent Olympiastadion München, where the winning driver is Bruno Spengler, what is the pole position?

Real Answer: SELECT pole_position FROM table_26267607_2 WHERE winning_driver = "Bruno Spengler" AND circuit = "Showevent Olympiastadion München"
Generated Answer: SELECT pole_position FROM table_26267607_2 WHERE winning_driver = "Bruno Spengler" AND circuit = "Showevent Olympiastadion München"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT pole_position FROM table_26267607_2 WHERE winning_driver = "Bruno Spengler" AND circuit = "Showevent Olympiastadion München"')


Success!
Success Answer: SELECT pole_position FROM table_26267607_2 WHERE winning_driver = "Bruno Spengler" AND circuit = "Showevent Olympiastadion München"

 78%|███████▊  | 775/1000 [33:58<11:12,  2.99s/it]

Question: Who was the Class A winner when the Class C winner was David Haynes?

Real Answer: SELECT class_a_winner FROM table_24852622_1 WHERE class_c_winner = "David Haynes"
Generated Answer: SELECT class_a_winner FROM table_24852622_1 WHERE class_c_winner = "David Haynes"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT class_a_winner FROM table_24852622_1 WHERE class_c_winner = "David Haynes"')


Success!
Success Answer: SELECT class_a_winner FROM table_24852622_1 WHERE class_c_winner = "David Haynes"

 78%|███████▊  | 776/1000 [34:00<10:15,  2.75s/it]

Question: What is the away team's score when the away team is geelong?

Real Answer: SELECT away_team AS score FROM table_name_16 WHERE away_team = "geelong"
Generated Answer: SELECT away_team AS score FROM table_name_16 WHERE away_team = "geelong"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT away_team AS score FROM table_name_16 WHERE away_team = "geelong"')


Success!
Success Answer: SELECT away_team AS score FROM table_name_16 WHERE away_team = "geelong"

 78%|███████▊  | 777/1000 [34:03<10:15,  2.76s/it]

Question: If the grand total is 5814, what is the total non qatar?

Real Answer: SELECT total_non_qatar FROM table_26214389_3 WHERE grand_total = 5814
Generated Answer: SELECT total_non_qatar FROM table_26214389_3 WHERE grand_total = 5814


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT total_non_qatar FROM table_26214389_3 WHERE grand_total = 5814')


Success!
Success Answer: SELECT total_non_qatar FROM table_26214389_3 WHERE grand_total = 5814

 78%|███████▊  | 778/1000 [34:08<12:20,  3.34s/it]

Question: When 21' 18.87 106.209mph is Tuesday August 24th what is Monday August 23rd?

Real Answer: SELECT mon_23_aug FROM table_26986076_5 WHERE tues_24_aug = "21' 18.87 106.209mph"
Generated Answer: SELECT mon_23_aug FROM table_26986076_5 WHERE tues_24_aug = "21' 18.87 106.209mph"


Similarity Score: 1.0000005
Feedback: ('approve', 'SELECT mon_23_aug FROM table_26986076_5 WHERE tues_24_aug = "21\' 18.87 106.209mph"')


Success!
Success Answer: SELECT mon_23_aug FROM table_26986076_5 WHERE tues_24_aug = "21' 18.87 106.209mph"

 78%|███████▊  | 779/1000 [34:13<14:21,  3.90s/it]

Question: For each phone, show its names and total number of stocks.

Real Answer: SELECT T2.Name, SUM(T1.Num_of_stock) FROM phone_market AS T1 JOIN phone AS T2 ON T1.Phone_ID = T2.Phone_ID GROUP BY T2.Name
Generated Answer: SELECT T1.Name, SUM(T2.Num_of_stock) FROM phone AS T1 JOIN phone_market AS T2 ON T1.Phone_ID = T2.Phone_ID GROUP BY T1.Phone_ID


Similarity Score: 0.98659766
Feedback: ('approve', 'SELECT T1.Name, SUM(T2.Num_of_stock) FROM phone AS T1 JOIN phone_market AS T2 ON T1.Phone_ID = T2.Phone_ID GROUP BY T1.Phone_ID')


Real Answer: SELECT T2.Name, SUM(T1.Num_of_stock) FROM phone_market AS T1 JOIN phone AS T2 ON T1.Phone_ID = T2.Phone_ID GROUP BY T2.Name
Failed Answer: SELECT T1.Name, SUM(T2.Num_of_stock) FROM phone AS T1 JOIN phone_market AS T2 ON T1.Phone_ID = T2.Phone_ID GROUP BY T1.Phone_ID

 78%|███████▊  | 780/1000 [34:15<12:37,  3.44s/it]

Question: Which City has a Stadium of stadio artemio franchi, florence?

Real Answer: SELECT city FROM table_name_80 WHERE stadium = "stadio artemio franchi, florence"
Generated Answer: SELECT city FROM table_name_80 WHERE stadium = "stadio artemio franchi, florence"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT city FROM table_name_80 WHERE stadium = "stadio artemio franchi, florence"')


Success!
Success Answer: SELECT city FROM table_name_80 WHERE stadium = "stadio artemio franchi, florence"

 78%|███████▊  | 781/1000 [34:17<11:21,  3.11s/it]

Question: What is the earliest day in November with a record of 15-7-1?

Real Answer: SELECT MIN(november) FROM table_name_67 WHERE record = "15-7-1"
Generated Answer: SELECT MIN(november) FROM table_name_67 WHERE record = "15-7-1"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MIN(november) FROM table_name_67 WHERE record = "15-7-1"')


Success!
Success Answer: SELECT MIN(november) FROM table_name_67 WHERE record = "15-7-1"

 78%|███████▊  | 782/1000 [34:21<11:38,  3.21s/it]

Question: Where is the locality with Ofsted less than 106478 for Meadowbank Primary and Nursery School?

Real Answer: SELECT locality FROM table_name_47 WHERE ofsted < 106478 AND school = "meadowbank primary and nursery school"
Generated Answer: SELECT locality FROM table_name_47 WHERE ofsted < 106478 AND school = "meadowbank primary and nursery school"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT locality FROM table_name_47 WHERE ofsted < 106478 AND school = "meadowbank primary and nursery school"')


Success!
Success Answer: SELECT locality FROM table_name_47 WHERE ofsted < 106478 AND school = "meadowbank primary and nursery school"

 78%|███████▊  | 783/1000 [34:23<10:35,  2.93s/it]

Question: Who was the opponent in London, England in a round less than 2?

Real Answer: SELECT opponent FROM table_name_62 WHERE location = "london, england" AND round < 2
Generated Answer: SELECT opponent FROM table_name_62 WHERE location = "london, england" AND round < 2


Similarity Score: 0.9999997
Feedback: ('approve', 'SELECT opponent FROM table_name_62 WHERE location = "london, england" AND round < 2')


Success!
Success Answer: SELECT opponent FROM table_name_62 WHERE location = "london, england" AND round < 2

 78%|███████▊  | 784/1000 [34:25<09:50,  2.74s/it]

Question: What is the first leg score in that match where Marseille was the first team?

Real Answer: SELECT 1 AS st_leg FROM table_name_85 WHERE team_1 = "marseille"
Generated Answer: SELECT 1 AS st_leg FROM table_name_85 WHERE team_1 = "marseille"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT 1 AS st_leg FROM table_name_85 WHERE team_1 = "marseille"')


Success!
Success Answer: SELECT 1 AS st_leg FROM table_name_85 WHERE team_1 = "marseille"

 78%|███████▊  | 785/1000 [34:28<10:04,  2.81s/it]

Question: Which Grid that has a Rider of mike di meglio, and Laps larger than 23?

Real Answer: SELECT AVG(grid) FROM table_name_23 WHERE rider = "mike di meglio" AND laps > 23
Generated Answer: SELECT SUM(grid) FROM table_name_23 WHERE rider = "mike di meglio" AND laps > 23


Similarity Score: 0.72322905
Feedback: ('correct', 'SELECT AVG(grid) FROM table_name_23 WHERE rider = "mike di meglio" AND laps > 23')


Real Answer: SELECT AVG(grid) FROM table_name_23 WHERE rider = "mike di meglio" AND laps > 23
Failed Answer: SELECT SUM(grid) FROM table_name_23 WHERE rider = "mike di meglio" AND laps > 23

 79%|███████▊  | 786/1000 [34:31<09:51,  2.76s/it]

Question: Name the brighton cast for jerry cruncher

Real Answer: SELECT brighton_cast FROM table_17085724_1 WHERE character = "Jerry Cruncher"
Generated Answer: SELECT brighton_cast FROM table_17085724_1 WHERE character = "Jerry Cruncher"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT brighton_cast FROM table_17085724_1 WHERE character = "Jerry Cruncher"')


Success!
Success Answer: SELECT brighton_cast FROM table_17085724_1 WHERE character = "Jerry Cruncher"

 79%|███████▊  | 787/1000 [34:35<10:56,  3.08s/it]

Question: Which nhl team has a college/junior/club team named university of notre dame (ncaa)

Real Answer: SELECT nhl_team FROM table_1213511_7 WHERE college_junior_club_team = "University of Notre Dame (NCAA)"
Generated Answer: SELECT nhl_team FROM table_1213511_7 WHERE college_junior_club_team = "University of Notre Dame (NCAA)"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT nhl_team FROM table_1213511_7 WHERE college_junior_club_team = "University of Notre Dame (NCAA)"')


Success!
Success Answer: SELECT nhl_team FROM table_1213511_7 WHERE college_junior_club_team = "University of Notre Dame (NCAA)"

 79%|███████▉  | 788/1000 [34:38<10:24,  2.95s/it]

Question: What was the QB rating for Neil lomax?

Real Answer: SELECT qb_rating FROM table_20906175_3 WHERE name = "Neil Lomax"
Generated Answer: SELECT qb_rating FROM table_20906175_3 WHERE name = "Neil Lomax"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT qb_rating FROM table_20906175_3 WHERE name = "Neil Lomax"')


Success!
Success Answer: SELECT qb_rating FROM table_20906175_3 WHERE name = "Neil Lomax"

 79%|███████▉  | 789/1000 [34:40<10:02,  2.86s/it]

Question: How many rounds were played on May 8?

Real Answer: SELECT COUNT(round) FROM table_25773116_2 WHERE date = "May 8"
Generated Answer: SELECT COUNT(round) FROM table_25773116_2 WHERE date = "May 8"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(round) FROM table_25773116_2 WHERE date = "May 8"')


Success!
Success Answer: SELECT COUNT(round) FROM table_25773116_2 WHERE date = "May 8"

 79%|███████▉  | 790/1000 [34:43<09:25,  2.69s/it]

Question: What is the total for the draw with 0 points, and less than 14 lost?

Real Answer: SELECT SUM(draw) FROM table_name_15 WHERE points = 0 AND lost < 14
Generated Answer: SELECT SUM(draw) FROM table_name_15 WHERE points = 0 AND lost < 14


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT SUM(draw) FROM table_name_15 WHERE points = 0 AND lost < 14')


Success!
Success Answer: SELECT SUM(draw) FROM table_name_15 WHERE points = 0 AND lost < 14

 79%|███████▉  | 791/1000 [34:45<08:43,  2.51s/it]

Question: What country has a time of 6:49.28?

Real Answer: SELECT country FROM table_name_38 WHERE time = "6:49.28"
Generated Answer: SELECT country FROM table_name_38 WHERE time = "6:49.28"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT country FROM table_name_38 WHERE time = "6:49.28"')


Success!
Success Answer: SELECT country FROM table_name_38 WHERE time = "6:49.28"

 79%|███████▉  | 792/1000 [34:48<09:50,  2.84s/it]

Question: What is the Length, when the Composer(s) is Sakdatorn, and when the Arranger(s) is Jitrakorn Mongkoltham?

Real Answer: SELECT length FROM table_name_4 WHERE composer_s_ = "sakdatorn" AND arranger_s_ = "jitrakorn mongkoltham"
Generated Answer: SELECT length FROM table_name_4 WHERE composer_s_ = "sakdatorn" AND arranger_s_ = "jitrakorn mongkoltham"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT length FROM table_name_4 WHERE composer_s_ = "sakdatorn" AND arranger_s_ = "jitrakorn mongkoltham"')


Success!
Success Answer: SELECT length FROM table_name_4 WHERE composer_s_ = "sakdatorn" AND arranger_s_ = "jitrakorn mongkoltham"

 79%|███████▉  | 793/1000 [34:50<08:34,  2.49s/it]

Question: Which player is from Australia?

Real Answer: SELECT player FROM table_name_88 WHERE country = "australia"
Generated Answer: SELECT player FROM table_name_88 WHERE country = "australia"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT player FROM table_name_88 WHERE country = "australia"')


Success!
Success Answer: SELECT player FROM table_name_88 WHERE country = "australia"

 79%|███████▉  | 794/1000 [34:53<08:49,  2.57s/it]

Question: What is the average Year with a Veritas rs chassis and more than 0 points?

Real Answer: SELECT AVG(year) FROM table_name_73 WHERE chassis = "veritas rs" AND points > 0
Generated Answer: SELECT AVG(year) FROM table_name_73 WHERE chassis = "veritas rs" AND points > 0


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT AVG(year) FROM table_name_73 WHERE chassis = "veritas rs" AND points > 0')


Success!
Success Answer: SELECT AVG(year) FROM table_name_73 WHERE chassis = "veritas rs" AND points > 0

 80%|███████▉  | 795/1000 [34:54<08:03,  2.36s/it]

Question: What opponent was in the match that resulted in 1-2?

Real Answer: SELECT opponent_team FROM table_name_61 WHERE result = "1-2"
Generated Answer: SELECT opponent_team FROM table_name_61 WHERE result = "1-2"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT opponent_team FROM table_name_61 WHERE result = "1-2"')


Success!
Success Answer: SELECT opponent_team FROM table_name_61 WHERE result = "1-2"

 80%|███████▉  | 796/1000 [34:57<08:24,  2.47s/it]

Question: How many Byes have Against of 1076 and Wins smaller than 13?

Real Answer: SELECT AVG(byes) FROM table_name_16 WHERE against = 1076 AND wins < 13
Generated Answer: SELECT MIN(byes) FROM table_name_16 WHERE against = 1076 AND wins < 13


Similarity Score: 0.793437
Feedback: ('correct', 'SELECT AVG(byes) FROM table_name_16 WHERE against = 1076 AND wins < 13')


Real Answer: SELECT AVG(byes) FROM table_name_16 WHERE against = 1076 AND wins < 13
Failed Answer: SELECT MIN(byes) FROM table_name_16 WHERE against = 1076 AND wins < 13

 80%|███████▉  | 797/1000 [35:00<08:38,  2.56s/it]

Question: What was the series score when st. louis was away on april 18?

Real Answer: SELECT series FROM table_name_96 WHERE visitor = "st. louis" AND date = "april 18"
Generated Answer: SELECT series FROM table_name_96 WHERE visitor = "st. louis" AND date = "april 18"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT series FROM table_name_96 WHERE visitor = "st. louis" AND date = "april 18"')


Success!
Success Answer: SELECT series FROM table_name_96 WHERE visitor = "st. louis" AND date = "april 18"

 80%|███████▉  | 798/1000 [35:02<08:15,  2.45s/it]

Question: WHAT IS THE PLAYER WITH T7 PLACE, FOR ENGLAND?

Real Answer: SELECT player FROM table_name_92 WHERE place = "t7" AND country = "england"
Generated Answer: SELECT player FROM table_name_92 WHERE place = "t7" AND country = "england"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT player FROM table_name_92 WHERE place = "t7" AND country = "england"')


Success!
Success Answer: SELECT player FROM table_name_92 WHERE place = "t7" AND country = "england"

 80%|███████▉  | 799/1000 [35:04<07:44,  2.31s/it]

Question: Which years have a displacement of 1816cc?

Real Answer: SELECT years FROM table_name_44 WHERE displacement = "1816cc"
Generated Answer: SELECT years FROM table_name_44 WHERE displacement = "1816cc"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT years FROM table_name_44 WHERE displacement = "1816cc"')


Success!
Success Answer: SELECT years FROM table_name_44 WHERE displacement = "1816cc"

 80%|████████  | 800/1000 [35:06<07:15,  2.18s/it]

Question: What is the number of entries associated with more than 11 wins?

Real Answer: SELECT entries FROM table_name_51 WHERE wins > 11
Generated Answer: SELECT COUNT(entries) FROM table_name_51 WHERE wins > 11


Similarity Score: 0.8742765
Feedback: ('approve', 'SELECT COUNT(entries) FROM table_name_51 WHERE wins > 11')


Real Answer: SELECT entries FROM table_name_51 WHERE wins > 11
Failed Answer: SELECT COUNT(entries) FROM table_name_51 WHERE wins > 11

 80%|████████  | 801/1000 [35:11<09:35,  2.89s/it]

Question: Which Seats have a Share of votes of 18%, and a Share of seats of 3%, and a General election larger than 1992?

Real Answer: SELECT MAX(seats) FROM table_name_62 WHERE share_of_votes = "18%" AND share_of_seats = "3%" AND general_election > 1992
Generated Answer: SELECT SUM(seats) FROM table_name_62 WHERE share_of_votes = "18%" AND share_of_seats = "3%" AND general_election > 1992


Similarity Score: 0.7356607
Feedback: ('correct', 'SELECT MAX(seats) FROM table_name_62 WHERE share_of_votes = "18%" AND share_of_seats = "3%" AND general_election > 1992')


Real Answer: SELECT MAX(seats) FROM table_name_62 WHERE share_of_votes = "18%" AND share_of_seats = "3%" AND general_election > 1992
Failed Answer: SELECT SUM(seats) FROM table_name_62 WHERE share_of_votes = "18%" AND share_of_seats = "3%" AND general_election > 1992

 80%|████████  | 802/1000 [35:12<08:26,  2.56s/it]

Question: What is the largest value of population?

Real Answer: SELECT MAX(population) FROM table_2374338_2
Generated Answer: SELECT MAX(population) FROM table_2374338_2


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MAX(population) FROM table_2374338_2')


Success!
Success Answer: SELECT MAX(population) FROM table_2374338_2

 80%|████████  | 803/1000 [35:15<08:16,  2.52s/it]

Question: What is the highest number of Silver medals with a Total greater than 14 and more than 15 Bronze medals?

Real Answer: SELECT MAX(silver) FROM table_name_38 WHERE total > 14 AND bronze > 15
Generated Answer: SELECT MAX(silver) FROM table_name_38 WHERE total > 14 AND bronze > 15


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MAX(silver) FROM table_name_38 WHERE total > 14 AND bronze > 15')


Success!
Success Answer: SELECT MAX(silver) FROM table_name_38 WHERE total > 14 AND bronze > 15

 80%|████████  | 804/1000 [35:17<07:26,  2.28s/it]

Question: Which Royal house has a name of ding?

Real Answer: SELECT royal_house FROM table_name_30 WHERE name = "ding"
Generated Answer: SELECT royal_house FROM table_name_30 WHERE name = "ding"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT royal_house FROM table_name_30 WHERE name = "ding"')


Success!
Success Answer: SELECT royal_house FROM table_name_30 WHERE name = "ding"

 80%|████████  | 805/1000 [35:18<06:45,  2.08s/it]

Question: Show the name of teachers aged either 32 or 33?

Real Answer: SELECT Name FROM teacher WHERE Age = 32 OR Age = 33
Generated Answer: SELECT Name FROM teacher WHERE Age = 32 OR Age = 33


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT Name FROM teacher WHERE Age = 32 OR Age = 33')


Success!
Success Answer: SELECT Name FROM teacher WHERE Age = 32 OR Age = 33

 81%|████████  | 806/1000 [35:22<08:25,  2.60s/it]

Question: During the championship where the winning score was −9 (66-69-73-71=279)?, who was the runner-up?

Real Answer: SELECT runner_s__up FROM table_name_32 WHERE winning_score = −9(66 - 69 - 73 - 71 = 279)
Generated Answer: SELECT runner_s__up FROM table_name_32 WHERE winning_score = −9(66 - 69 - 73 - 71 = 279)


Similarity Score: 1.0
Feedback: ('approve', 'SELECT runner_s__up FROM table_name_32 WHERE winning_score = −9(66 - 69 - 73 - 71 = 279)')


Success!
Success Answer: SELECT runner_s__up FROM table_name_32 WHERE winning_score = −9(66 - 69 - 73 - 71 = 279)

 81%|████████  | 807/1000 [35:24<08:13,  2.56s/it]

Question: Middletown High School uses which colors

Real Answer: SELECT colors FROM table_15475116_1 WHERE school = "Middletown High school"
Generated Answer: SELECT colors FROM table_15475116_1 WHERE school = "Middletown High school"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT colors FROM table_15475116_1 WHERE school = "Middletown High school"')


Success!
Success Answer: SELECT colors FROM table_15475116_1 WHERE school = "Middletown High school"

 81%|████████  | 808/1000 [35:27<07:56,  2.48s/it]

Question: Which player is associated with the date May 10, 1999?

Real Answer: SELECT player FROM table_name_24 WHERE date = "may 10, 1999"
Generated Answer: SELECT player FROM table_name_24 WHERE date = "may 10, 1999"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT player FROM table_name_24 WHERE date = "may 10, 1999"')


Success!
Success Answer: SELECT player FROM table_name_24 WHERE date = "may 10, 1999"

 81%|████████  | 809/1000 [35:28<06:55,  2.17s/it]

Question: Which team was played against in game 4?

Real Answer: SELECT team FROM table_name_40 WHERE game = 4
Generated Answer: SELECT team FROM table_name_40 WHERE game = 4


Similarity Score: 1.0
Feedback: ('approve', 'SELECT team FROM table_name_40 WHERE game = 4')


Success!
Success Answer: SELECT team FROM table_name_40 WHERE game = 4

 81%|████████  | 810/1000 [35:31<07:14,  2.29s/it]

Question: Which match did FCR 2001 Duisburg participate as the opponent?

Real Answer: SELECT SUM(match) FROM table_name_39 WHERE opponent = "fcr 2001 duisburg"
Generated Answer: SELECT MIN(match) FROM table_name_39 WHERE opponent = "fcr 2001 duisburg"


Similarity Score: 0.70768416
Feedback: ('correct', 'SELECT SUM(match) FROM table_name_39 WHERE opponent = "fcr 2001 duisburg"')


Real Answer: SELECT SUM(match) FROM table_name_39 WHERE opponent = "fcr 2001 duisburg"
Failed Answer: SELECT MIN(match) FROM table_name_39 WHERE opponent = "fcr 2001 duisburg"

 81%|████████  | 811/1000 [35:34<07:55,  2.51s/it]

Question: What are all the vicinity (km²) where profits magnificence (2007) is 2nd

Real Answer: SELECT area__km²_ FROM table_255812_1 WHERE income_class__2007_ = "2nd"
Generated Answer: SELECT area__km²_ FROM table_255812_1 WHERE income_class__2007_ = "2nd"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT area__km²_ FROM table_255812_1 WHERE income_class__2007_ = "2nd"')


Success!
Success Answer: SELECT area__km²_ FROM table_255812_1 WHERE income_class__2007_ = "2nd"

 81%|████████  | 812/1000 [35:37<08:30,  2.72s/it]

Question: What is the highest top-10 that has a u.s. open for the tournament, and a top-25 greater than 12?

Real Answer: SELECT MAX(top_10) FROM table_name_49 WHERE tournament = "u.s. open" AND top_25 > 12
Generated Answer: SELECT MAX(top_10) FROM table_name_49 WHERE tournament = "u.s. open" AND top_25 > 12


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MAX(top_10) FROM table_name_49 WHERE tournament = "u.s. open" AND top_25 > 12')


Success!
Success Answer: SELECT MAX(top_10) FROM table_name_49 WHERE tournament = "u.s. open" AND top_25 > 12

 81%|████████▏ | 813/1000 [35:39<08:05,  2.60s/it]

Question: What is the Label that shows on april 7, 1967?

Real Answer: SELECT label FROM table_name_77 WHERE date = "april 7, 1967"
Generated Answer: SELECT label FROM table_name_77 WHERE date = "april 7, 1967"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT label FROM table_name_77 WHERE date = "april 7, 1967"')


Success!
Success Answer: SELECT label FROM table_name_77 WHERE date = "april 7, 1967"

 81%|████████▏ | 814/1000 [35:44<09:48,  3.16s/it]

Question: What is the average edispl of the cars of model volvo?

Real Answer: SELECT AVG(T2.edispl) FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId = T2.Id WHERE T1.Model = 'volvo'
Generated Answer: SELECT AVG(edispl) FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id = T2.MakeId WHERE T2.Model = "volvo"


Similarity Score: 0.98704827
Feedback: ('approve', 'SELECT AVG(edispl) FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id = T2.MakeId WHERE T2.Model = "volvo"')


Real Answer: SELECT AVG(T2.edispl) FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId = T2.Id WHERE T1.Model = 'volvo'
Failed Answer: SELECT AVG(edispl) FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id = T2.MakeId WHERE T2.Model = "volvo"

 82%|████████▏ | 815/1000 [35:46<08:38,  2.81s/it]

Question: what is the english translation when the artist is ann christine?

Real Answer: SELECT english_translation FROM table_name_10 WHERE artist = "ann christine"
Generated Answer: SELECT english_translation FROM table_name_10 WHERE artist = "ann christine"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT english_translation FROM table_name_10 WHERE artist = "ann christine"')


Success!
Success Answer: SELECT english_translation FROM table_name_10 WHERE artist = "ann christine"

 82%|████████▏ | 816/1000 [35:47<07:26,  2.42s/it]

Question: What is the average when the matches are 11?

Real Answer: SELECT average FROM table_name_47 WHERE matches = "11"
Generated Answer: SELECT average FROM table_name_47 WHERE matches = 11


Similarity Score: 0.98393476
Feedback: ('approve', 'SELECT average FROM table_name_47 WHERE matches = 11')


Real Answer: SELECT average FROM table_name_47 WHERE matches = "11"
Failed Answer: SELECT average FROM table_name_47 WHERE matches = 11

 82%|████████▏ | 817/1000 [35:49<06:58,  2.29s/it]

Question: Name the Nationality / Opponent of rosario?

Real Answer: SELECT competition FROM table_name_64 WHERE nationality___opponent = "rosario"
Generated Answer: SELECT competition FROM table_name_64 WHERE nationality___opponent = "rosario"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT competition FROM table_name_64 WHERE nationality___opponent = "rosario"')


Success!
Success Answer: SELECT competition FROM table_name_64 WHERE nationality___opponent = "rosario"

 82%|████████▏ | 818/1000 [35:51<06:47,  2.24s/it]

Question: for the name of jamar jackson what is the total of Number?

Real Answer: SELECT COUNT(number) FROM table_name_99 WHERE name = "jamar jackson"
Generated Answer: SELECT COUNT(number) FROM table_name_99 WHERE name = "jamar jackson"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(number) FROM table_name_99 WHERE name = "jamar jackson"')


Success!
Success Answer: SELECT COUNT(number) FROM table_name_99 WHERE name = "jamar jackson"

 82%|████████▏ | 819/1000 [35:53<06:20,  2.10s/it]

Question: How many different allergy types exist?

Real Answer: SELECT COUNT(DISTINCT allergytype) FROM Allergy_type
Generated Answer: SELECT COUNT(DISTINCT allergytype) FROM Allergy_type


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(DISTINCT allergytype) FROM Allergy_type')


Success!
Success Answer: SELECT COUNT(DISTINCT allergytype) FROM Allergy_type

 82%|████████▏ | 820/1000 [35:55<05:56,  1.98s/it]

Question: What is the coin that weighs 3 g made of?

Real Answer: SELECT composition FROM table_name_33 WHERE weight = "3 g"
Generated Answer: SELECT composition FROM table_name_33 WHERE weight = "3 g"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT composition FROM table_name_33 WHERE weight = "3 g"')


Success!
Success Answer: SELECT composition FROM table_name_33 WHERE weight = "3 g"

 82%|████████▏ | 821/1000 [35:58<06:52,  2.31s/it]

Question: what is the minimum bush # with kerry # being 3938

Real Answer: SELECT MIN(bush__number) FROM table_13606924_1 WHERE kerry__number = 3938
Generated Answer: SELECT MIN(bush__number) FROM table_13606924_1 WHERE kerry__number = 3938


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MIN(bush__number) FROM table_13606924_1 WHERE kerry__number = 3938')


Success!
Success Answer: SELECT MIN(bush__number) FROM table_13606924_1 WHERE kerry__number = 3938

 82%|████████▏ | 822/1000 [36:01<07:16,  2.45s/it]

Question: When was incumbent Bud Shuster first elected?

Real Answer: SELECT first_elected FROM table_1341453_40 WHERE incumbent = "Bud Shuster"
Generated Answer: SELECT first_elected FROM table_1341453_40 WHERE incumbent = "Bud Shuster"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT first_elected FROM table_1341453_40 WHERE incumbent = "Bud Shuster"')


Success!
Success Answer: SELECT first_elected FROM table_1341453_40 WHERE incumbent = "Bud Shuster"

 82%|████████▏ | 823/1000 [36:04<07:37,  2.59s/it]

Question: What is the largest number of gold medals when the bronze medals is less than 49, and there is 22 silver medals, and the total is less than 60?

Real Answer: SELECT MAX(gold) FROM table_name_25 WHERE bronze < 49 AND silver = 22 AND total < 60
Generated Answer: SELECT MAX(gold) FROM table_name_25 WHERE bronze < 49 AND silver = 22 AND total < 60


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(gold) FROM table_name_25 WHERE bronze < 49 AND silver = 22 AND total < 60')


Success!
Success Answer: SELECT MAX(gold) FROM table_name_25 WHERE bronze < 49 AND silver = 22 AND total < 60

 82%|████████▏ | 824/1000 [36:07<07:58,  2.72s/it]

Question: What year was the brabham bt46 bt48 bt49 Chassis common?

Real Answer: SELECT AVG(year) FROM table_name_89 WHERE chassis = "brabham bt46 bt48 bt49"
Generated Answer: SELECT AVG(year) FROM table_name_89 WHERE chassis = "brabham bt46 bt48 bt49"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT AVG(year) FROM table_name_89 WHERE chassis = "brabham bt46 bt48 bt49"')


Success!
Success Answer: SELECT AVG(year) FROM table_name_89 WHERE chassis = "brabham bt46 bt48 bt49"

 82%|████████▎ | 825/1000 [36:10<08:22,  2.87s/it]

Question: What is the Length of retirement of the President with an Age at inauguration of 70years, 53days?

Real Answer: SELECT length_of_retirement FROM table_name_51 WHERE age_at_inauguration = "70years, 53days"
Generated Answer: SELECT length_of_retirement FROM table_name_51 WHERE age_at_inauguration = "70years, 53days"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT length_of_retirement FROM table_name_51 WHERE age_at_inauguration = "70years, 53days"')


Success!
Success Answer: SELECT length_of_retirement FROM table_name_51 WHERE age_at_inauguration = "70years, 53days"

 83%|████████▎ | 826/1000 [36:12<08:05,  2.79s/it]

Question: What was the round when there were 16 winners from the previous round?

Real Answer: SELECT round FROM table_28039032_1 WHERE winners_from_previous_round = "16"
Generated Answer: SELECT round FROM table_28039032_1 WHERE winners_from_previous_round = 16


Similarity Score: 0.98876864
Feedback: ('approve', 'SELECT round FROM table_28039032_1 WHERE winners_from_previous_round = 16')


Real Answer: SELECT round FROM table_28039032_1 WHERE winners_from_previous_round = "16"
Failed Answer: SELECT round FROM table_28039032_1 WHERE winners_from_previous_round = 16

 83%|████████▎ | 827/1000 [36:15<08:01,  2.78s/it]

Question: What is smallest Khmer valued less than 90 have a kau sip ALA-LC?

Real Answer: SELECT MIN(khmer) FROM table_name_9 WHERE ala_lc = "kau sip" AND value < 90
Generated Answer: SELECT MIN(khmer) FROM table_name_9 WHERE ala_lc = "kau sip" AND value < 90


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT MIN(khmer) FROM table_name_9 WHERE ala_lc = "kau sip" AND value < 90')


Success!
Success Answer: SELECT MIN(khmer) FROM table_name_9 WHERE ala_lc = "kau sip" AND value < 90

 83%|████████▎ | 828/1000 [36:17<07:23,  2.58s/it]

Question: Who is the player from Round 3 from Russia?

Real Answer: SELECT player FROM table_name_17 WHERE round = 3 AND nationality = "russia"
Generated Answer: SELECT player FROM table_name_17 WHERE round = 3 AND nationality = "russia"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT player FROM table_name_17 WHERE round = 3 AND nationality = "russia"')


Success!
Success Answer: SELECT player FROM table_name_17 WHERE round = 3 AND nationality = "russia"

 83%|████████▎ | 829/1000 [36:20<07:13,  2.54s/it]

Question: Where was the sport played on September 10, 2010?

Real Answer: SELECT site FROM table_name_55 WHERE date = "september 10, 2010"
Generated Answer: SELECT site FROM table_name_55 WHERE date = "september 10, 2010"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT site FROM table_name_55 WHERE date = "september 10, 2010"')


Success!
Success Answer: SELECT site FROM table_name_55 WHERE date = "september 10, 2010"

 83%|████████▎ | 830/1000 [36:23<07:23,  2.61s/it]

Question: What is the highest number of goals for robbie findley ranked above 10?

Real Answer: SELECT MAX(goals) FROM table_name_37 WHERE player = "robbie findley" AND rank < 10
Generated Answer: SELECT MAX(goals) FROM table_name_37 WHERE player = "robbie findley" AND rank < 10


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(goals) FROM table_name_37 WHERE player = "robbie findley" AND rank < 10')


Success!
Success Answer: SELECT MAX(goals) FROM table_name_37 WHERE player = "robbie findley" AND rank < 10

 83%|████████▎ | 831/1000 [36:25<07:30,  2.67s/it]

Question: What is the air date  the had atlasphere for event 1 before episode 11?

Real Answer: SELECT air_date FROM table_name_89 WHERE episode_number < 11 AND event_1 = "atlasphere"
Generated Answer: SELECT air_date FROM table_name_89 WHERE episode_number < 11 AND event_1 = "atlasphere"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT air_date FROM table_name_89 WHERE episode_number < 11 AND event_1 = "atlasphere"')


Success!
Success Answer: SELECT air_date FROM table_name_89 WHERE episode_number < 11 AND event_1 = "atlasphere"

 83%|████████▎ | 832/1000 [36:28<07:23,  2.64s/it]

Question: What is the smallest decile with a Name of st mary's catholic school?

Real Answer: SELECT MIN(decile) FROM table_name_70 WHERE name = "st mary's catholic school"
Generated Answer: SELECT MIN(decile) FROM table_name_70 WHERE name = "st mary's catholic school"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MIN(decile) FROM table_name_70 WHERE name = "st mary\'s catholic school"')


Success!
Success Answer: SELECT MIN(decile) FROM table_name_70 WHERE name = "st mary's catholic school"

 83%|████████▎ | 833/1000 [36:30<06:32,  2.35s/it]

Question: What did the golfer from Australia score?

Real Answer: SELECT score FROM table_name_13 WHERE country = "australia"
Generated Answer: SELECT score FROM table_name_13 WHERE country = "australia"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT score FROM table_name_13 WHERE country = "australia"')


Success!
Success Answer: SELECT score FROM table_name_13 WHERE country = "australia"

 83%|████████▎ | 834/1000 [36:33<07:21,  2.66s/it]

Question: How many tourist arrivals occurred in 2011 in the country of Italy?

Real Answer: SELECT international_tourist_arrivals__2011_ FROM table_14752049_1 WHERE country = "Italy"
Generated Answer: SELECT international_tourist_arrivals__2011_ FROM table_14752049_1 WHERE country = "Italy"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT international_tourist_arrivals__2011_ FROM table_14752049_1 WHERE country = "Italy"')


Success!
Success Answer: SELECT international_tourist_arrivals__2011_ FROM table_14752049_1 WHERE country = "Italy"

 84%|████████▎ | 835/1000 [36:36<07:44,  2.81s/it]

Question: What locations are considered centre?

Real Answer: SELECT power__mw·hr_yr_ FROM table_26387382_1 WHERE location__county_ = "Centre"
Generated Answer: SELECT power__mw·hr_yr_ FROM table_26387382_1 WHERE location__county_ = "Centre"


Similarity Score: 0.99999964
Feedback: ('approve', 'SELECT power__mw·hr_yr_ FROM table_26387382_1 WHERE location__county_ = "Centre"')


Success!
Success Answer: SELECT power__mw·hr_yr_ FROM table_26387382_1 WHERE location__county_ = "Centre"

 84%|████████▎ | 836/1000 [36:39<07:33,  2.76s/it]

Question: What is the reverse when the £1 fraction is 1/480?

Real Answer: SELECT reverse FROM table_1682865_1 WHERE £1_fraction = "1/480"
Generated Answer: SELECT reverse FROM table_1682865_1 WHERE £1_fraction = "1/480"


Similarity Score: 1.0000004
Feedback: ('approve', 'SELECT reverse FROM table_1682865_1 WHERE £1_fraction = "1/480"')


Success!
Success Answer: SELECT reverse FROM table_1682865_1 WHERE £1_fraction = "1/480"

 84%|████████▎ | 837/1000 [36:42<07:36,  2.80s/it]

Question: WHAT GOALS AGAINST HAD A GOAL FOR OF 46, AND PLAYED LESS THAN 38?

Real Answer: SELECT SUM(goals_against) FROM table_name_85 WHERE goals_for = 46 AND played < 38
Generated Answer: SELECT MAX(goals_against) FROM table_name_85 WHERE goals_for = 46 AND played < 38


Similarity Score: 0.7387073
Feedback: ('correct', 'SELECT SUM(goals_against) FROM table_name_85 WHERE goals_for = 46 AND played < 38')


Real Answer: SELECT SUM(goals_against) FROM table_name_85 WHERE goals_for = 46 AND played < 38
Failed Answer: SELECT MAX(goals_against) FROM table_name_85 WHERE goals_for = 46 AND played < 38

 84%|████████▍ | 838/1000 [36:44<07:26,  2.75s/it]

Question: What is the Place of the Player with a Score of 68-73-76=217?

Real Answer: SELECT place FROM table_name_86 WHERE score = 68 - 73 - 76 = 217
Generated Answer: SELECT place FROM table_name_86 WHERE score = 68 - 73 - 76 = 217


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT place FROM table_name_86 WHERE score = 68 - 73 - 76 = 217')


Success!
Success Answer: SELECT place FROM table_name_86 WHERE score = 68 - 73 - 76 = 217

 84%|████████▍ | 839/1000 [36:47<07:15,  2.70s/it]

Question: With the official name Quispamsis, what is the census ranking?

Real Answer: SELECT census_ranking FROM table_171236_1 WHERE official_name = "Quispamsis"
Generated Answer: SELECT census_ranking FROM table_171236_1 WHERE official_name = "Quispamsis"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT census_ranking FROM table_171236_1 WHERE official_name = "Quispamsis"')


Success!
Success Answer: SELECT census_ranking FROM table_171236_1 WHERE official_name = "Quispamsis"

 84%|████████▍ | 840/1000 [36:51<07:58,  2.99s/it]

Question: What date has a place of chernivtsi, and a race winners of etienne bax / kaspars stupelis? What

Real Answer: SELECT date FROM table_name_29 WHERE place = "chernivtsi" AND race_winners = "etienne bax / kaspars stupelis"
Generated Answer: SELECT date FROM table_name_29 WHERE place = "chernivtsi" AND race_winners = "etienne bax / kaspars stupelis"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_29 WHERE place = "chernivtsi" AND race_winners = "etienne bax / kaspars stupelis"')


Success!
Success Answer: SELECT date FROM table_name_29 WHERE place = "chernivtsi" AND race_winners = "etienne bax / kaspars stupelis"

 84%|████████▍ | 841/1000 [36:54<08:23,  3.16s/it]

Question: What is the media market ranking for the Blackhawks?

Real Answer: SELECT COUNT(media_market_ranking) FROM table_1205598_1 WHERE nhl_team_s_ = "Blackhawks"
Generated Answer: SELECT COUNT(media_market_ranking) FROM table_1205598_1 WHERE nhl_team_s_ = "Blackhawks"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(media_market_ranking) FROM table_1205598_1 WHERE nhl_team_s_ = "Blackhawks"')


Success!
Success Answer: SELECT COUNT(media_market_ranking) FROM table_1205598_1 WHERE nhl_team_s_ = "Blackhawks"

 84%|████████▍ | 842/1000 [36:57<07:59,  3.04s/it]

Question: Which date has the promoter Frank Moloney and the opponent Georgi Iliev?

Real Answer: SELECT date FROM table_name_82 WHERE promotor = "frank moloney" AND opponent = "georgi iliev"
Generated Answer: SELECT date FROM table_name_82 WHERE promotor = "frank moloney" AND opponent = "georgi iliev"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_82 WHERE promotor = "frank moloney" AND opponent = "georgi iliev"')


Success!
Success Answer: SELECT date FROM table_name_82 WHERE promotor = "frank moloney" AND opponent = "georgi iliev"

 84%|████████▍ | 843/1000 [36:59<07:22,  2.82s/it]

Question: What was the played with club tumble rfc?

Real Answer: SELECT played FROM table_12828723_5 WHERE club = "Tumble RFC"
Generated Answer: SELECT played FROM table_12828723_5 WHERE club = "Tumble RFC"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT played FROM table_12828723_5 WHERE club = "Tumble RFC"')


Success!
Success Answer: SELECT played FROM table_12828723_5 WHERE club = "Tumble RFC"

 84%|████████▍ | 844/1000 [37:01<06:29,  2.50s/it]

Question: Who was the entrant in 1971?

Real Answer: SELECT entrant FROM table_name_3 WHERE year = 1971
Generated Answer: SELECT entrant FROM table_name_3 WHERE year = 1971


Similarity Score: 1.0
Feedback: ('approve', 'SELECT entrant FROM table_name_3 WHERE year = 1971')


Success!
Success Answer: SELECT entrant FROM table_name_3 WHERE year = 1971

 84%|████████▍ | 845/1000 [37:05<07:31,  2.92s/it]

Question: What is the total number of dates of successor formal installation when the vacator was Joshua Clayton ( F )?

Real Answer: SELECT COUNT(date_of_successors_formal_installation) FROM table_224839_3 WHERE vacator = "Joshua Clayton ( F )"
Generated Answer: SELECT COUNT(date_of_successors_formal_installation) FROM table_224839_3 WHERE vacator = "Joshua Clayton ( F )"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT COUNT(date_of_successors_formal_installation) FROM table_224839_3 WHERE vacator = "Joshua Clayton ( F )"')


Success!
Success Answer: SELECT COUNT(date_of_successors_formal_installation) FROM table_224839_3 WHERE vacator = "Joshua Clayton ( F )"

 85%|████████▍ | 846/1000 [37:07<07:03,  2.75s/it]

Question: What is the largest crowd for North Melbourne home games?

Real Answer: SELECT MAX(crowd) FROM table_name_48 WHERE home_team = "north melbourne"
Generated Answer: SELECT MAX(crowd) FROM table_name_48 WHERE home_team = "north melbourne"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT MAX(crowd) FROM table_name_48 WHERE home_team = "north melbourne"')


Success!
Success Answer: SELECT MAX(crowd) FROM table_name_48 WHERE home_team = "north melbourne"

 85%|████████▍ | 847/1000 [37:10<06:40,  2.62s/it]

Question: What score points have olympic gold medalist as the rank points?

Real Answer: SELECT score_points FROM table_name_19 WHERE rank_points = "olympic gold medalist"
Generated Answer: SELECT score_points FROM table_name_19 WHERE rank_points = "olympic gold medalist"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT score_points FROM table_name_19 WHERE rank_points = "olympic gold medalist"')


Success!
Success Answer: SELECT score_points FROM table_name_19 WHERE rank_points = "olympic gold medalist"

 85%|████████▍ | 848/1000 [37:12<06:54,  2.73s/it]

Question: who won mens doubles when zhou mi won womens singles

Real Answer: SELECT mens_doubles FROM table_20361783_1 WHERE womens_singles = "Zhou Mi"
Generated Answer: SELECT mens_doubles FROM table_20361783_1 WHERE womens_singles = "Zhou Mi"


Similarity Score: 1.0000004
Feedback: ('approve', 'SELECT mens_doubles FROM table_20361783_1 WHERE womens_singles = "Zhou Mi"')


Success!
Success Answer: SELECT mens_doubles FROM table_20361783_1 WHERE womens_singles = "Zhou Mi"

 85%|████████▍ | 849/1000 [37:15<06:54,  2.75s/it]

Question: Who was the opponent in a week over 8 on December 4, 1960?

Real Answer: SELECT opponent FROM table_name_54 WHERE week > 8 AND date = "december 4, 1960"
Generated Answer: SELECT opponent FROM table_name_54 WHERE week > 8 AND date = "december 4, 1960"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT opponent FROM table_name_54 WHERE week > 8 AND date = "december 4, 1960"')


Success!
Success Answer: SELECT opponent FROM table_name_54 WHERE week > 8 AND date = "december 4, 1960"

 85%|████████▌ | 850/1000 [37:18<06:35,  2.64s/it]

Question: Which rd. occurred on 22 October?

Real Answer: SELECT MIN(rd) FROM table_1137718_2 WHERE date = "22 October"
Generated Answer: SELECT MAX(rd) FROM table_1137718_2 WHERE date = "22 October"


Similarity Score: 0.66352564
Feedback: ('correct', 'SELECT MIN(rd) FROM table_1137718_2 WHERE date = "22 October"')


Real Answer: SELECT MIN(rd) FROM table_1137718_2 WHERE date = "22 October"
Failed Answer: SELECT MAX(rd) FROM table_1137718_2 WHERE date = "22 October"

 85%|████████▌ | 851/1000 [37:21<06:47,  2.74s/it]

Question: What round was the gto winning team #48 greenwood racing?

Real Answer: SELECT rnd FROM table_13657883_2 WHERE gto_winning_team = "#48 Greenwood Racing"
Generated Answer: SELECT rnd FROM table_13657883_2 WHERE gto_winning_team = "#48 Greenwood Racing"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT rnd FROM table_13657883_2 WHERE gto_winning_team = "#48 Greenwood Racing"')


Success!
Success Answer: SELECT rnd FROM table_13657883_2 WHERE gto_winning_team = "#48 Greenwood Racing"

 85%|████████▌ | 852/1000 [37:23<06:19,  2.56s/it]

Question: What is Michigan State's position?

Real Answer: SELECT position FROM table_name_59 WHERE school_club_team = "michigan state"
Generated Answer: SELECT position FROM table_name_59 WHERE school_club_team = "michigan state"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT position FROM table_name_59 WHERE school_club_team = "michigan state"')


Success!
Success Answer: SELECT position FROM table_name_59 WHERE school_club_team = "michigan state"

 85%|████████▌ | 853/1000 [37:26<06:30,  2.66s/it]

Question: How many parties does incumbent carl vinson represent?

Real Answer: SELECT COUNT(party) FROM table_1342249_11 WHERE incumbent = "Carl Vinson"
Generated Answer: SELECT COUNT(party) FROM table_1342249_11 WHERE incumbent = "Carl Vinson"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT COUNT(party) FROM table_1342249_11 WHERE incumbent = "Carl Vinson"')


Success!
Success Answer: SELECT COUNT(party) FROM table_1342249_11 WHERE incumbent = "Carl Vinson"

 85%|████████▌ | 854/1000 [37:28<06:32,  2.69s/it]

Question: What year was incumbent Claude Fuller first elected?

Real Answer: SELECT first_elected FROM table_1342338_5 WHERE incumbent = "Claude Fuller"
Generated Answer: SELECT first_elected FROM table_1342338_5 WHERE incumbent = "Claude Fuller"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT first_elected FROM table_1342338_5 WHERE incumbent = "Claude Fuller"')


Success!
Success Answer: SELECT first_elected FROM table_1342338_5 WHERE incumbent = "Claude Fuller"

 86%|████████▌ | 855/1000 [37:31<06:24,  2.65s/it]

Question: What is the total height in meters for the building that has a less than 380.6 feet height?

Real Answer: SELECT SUM(height__m_) FROM table_name_22 WHERE height__ft_ < 380.6
Generated Answer: SELECT SUM(height__m_) FROM table_name_22 WHERE height__ft_ < 380.6


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT SUM(height__m_) FROM table_name_22 WHERE height__ft_ < 380.6')


Success!
Success Answer: SELECT SUM(height__m_) FROM table_name_22 WHERE height__ft_ < 380.6

 86%|████████▌ | 856/1000 [37:34<06:42,  2.79s/it]

Question: What is the group a winner for vis pesaro?

Real Answer: SELECT group_a_winner FROM table_1137142_1 WHERE group_c_winner = "Vis Pesaro"
Generated Answer: SELECT group_a_winner FROM table_1137142_1 WHERE group_c_winner = "Vis Pesaro"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT group_a_winner FROM table_1137142_1 WHERE group_c_winner = "Vis Pesaro"')


Success!
Success Answer: SELECT group_a_winner FROM table_1137142_1 WHERE group_c_winner = "Vis Pesaro"

 86%|████████▌ | 857/1000 [37:36<06:19,  2.66s/it]

Question: What was the highest attendance at a game that was played in tulane stadium?

Real Answer: SELECT MAX(attendance) FROM table_name_63 WHERE game_site = "tulane stadium"
Generated Answer: SELECT MAX(attendance) FROM table_name_63 WHERE game_site = "tulane stadium"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MAX(attendance) FROM table_name_63 WHERE game_site = "tulane stadium"')


Success!
Success Answer: SELECT MAX(attendance) FROM table_name_63 WHERE game_site = "tulane stadium"

 86%|████████▌ | 858/1000 [37:40<06:35,  2.78s/it]

Question: What was the Zakspeed 1500/4 1.5 l4 t chassis?

Real Answer: SELECT chassis FROM table_name_42 WHERE engine = "zakspeed 1500/4 1.5 l4 t"
Generated Answer: SELECT chassis FROM table_name_42 WHERE engine = "zakspeed 1500/4 1.5 l4"


Similarity Score: 0.998809
Feedback: ('approve', 'SELECT chassis FROM table_name_42 WHERE engine = "zakspeed 1500/4 1.5 l4"')


Real Answer: SELECT chassis FROM table_name_42 WHERE engine = "zakspeed 1500/4 1.5 l4 t"
Failed Answer: SELECT chassis FROM table_name_42 WHERE engine = "zakspeed 1500/4 1.5 l4"

 86%|████████▌ | 859/1000 [37:41<05:41,  2.43s/it]

Question: What player was drafted 252?

Real Answer: SELECT player FROM table_name_52 WHERE pick = 252
Generated Answer: SELECT player FROM table_name_52 WHERE pick = 252


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT player FROM table_name_52 WHERE pick = 252')


Success!
Success Answer: SELECT player FROM table_name_52 WHERE pick = 252

 86%|████████▌ | 860/1000 [37:43<05:16,  2.26s/it]

Question: What is the score when away team is Crystal Palace?

Real Answer: SELECT score FROM table_name_8 WHERE away_team = "crystal palace"
Generated Answer: SELECT score FROM table_name_8 WHERE away_team = "crystal palace"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT score FROM table_name_8 WHERE away_team = "crystal palace"')


Success!
Success Answer: SELECT score FROM table_name_8 WHERE away_team = "crystal palace"

 86%|████████▌ | 861/1000 [37:51<08:58,  3.87s/it]

Question: What is every episode number for the series number 3?

Real Answer: SELECT episode_no_episode_no_refers_to_the_episodes_number_in_the_overall_series, _whereas_series_no_refers_to_the_episodes_number_in_this_particular_series FROM table_27208311_1 WHERE series_no = 3
Generated Answer: SELECT episode_no_episode_no_refers_to_the_episodes_number_in_the_overall_series, _whereas_series_no_refers_to_the_episodes_number_in_this_particular_series FROM table_27208311_1 WHERE series_no = 3


Similarity Score: 1.0
Feedback: ('approve', 'SELECT episode_no_episode_no_refers_to_the_episodes_number_in_the_overall_series, _whereas_series_no_refers_to_the_episodes_number_in_this_particular_series FROM table_27208311_1 WHERE series_no = 3')


Success!
Success Answer: SELECT episode_no_episode_no_refers_to_the_episodes_number_in_the_overall_series, _whereas_series_no_refers_to_the_episodes_number_in_this_particular_series FROM table_27208311_1 WHERE series_no = 3

 86%|████████▌ | 862/1000 [37:52<07:13,  3.14s/it]

Question: What position has less than 6 Points?

Real Answer: SELECT COUNT(position) FROM table_name_63 WHERE points < 6
Generated Answer: SELECT position FROM table_name_63 WHERE points < 6


Similarity Score: 0.87205714
Feedback: ('approve', 'SELECT position FROM table_name_63 WHERE points < 6')


Real Answer: SELECT COUNT(position) FROM table_name_63 WHERE points < 6
Failed Answer: SELECT position FROM table_name_63 WHERE points < 6

 86%|████████▋ | 863/1000 [37:59<09:42,  4.26s/it]

Question: What are the id and name of the stadium where the most injury accidents happened?

Real Answer: SELECT T1.id, T1.name FROM stadium AS T1 JOIN game AS T2 ON T1.id = T2.stadium_id JOIN injury_accident AS T3 ON T2.id = T3.game_id GROUP BY T1.id ORDER BY COUNT(*) DESC LIMIT 1
Generated Answer: SELECT T1.id, T1.name FROM stadium AS T1 JOIN game AS T2 ON T1.id = T2.stadium_id JOIN injury_accident AS T3 ON T2.id = T3.game_id GROUP BY T1.id ORDER BY COUNT(*) DESC LIMIT 1


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT T1.id, T1.name FROM stadium AS T1 JOIN game AS T2 ON T1.id = T2.stadium_id JOIN injury_accident AS T3 ON T2.id = T3.game_id GROUP BY T1.id ORDER BY COUNT(*) DESC LIMIT 1')


Success!
Success Answer: SELECT T1.id, T1.name FROM stadium AS T1 JOIN game AS T2 ON T1.id = T2.stadium_id JOIN injury_accident AS T3 ON T2.id = T3.game_id GROUP BY T1.id ORDER BY COUNT(*) DESC LIMIT 1

 86%|████████▋ | 864/1000 [38:02<09:00,  3.97s/it]

Question: What was the English title of Ladrones Y Mentirosos?

Real Answer: SELECT english_title FROM table_27423508_1 WHERE spanish_title = "Ladrones y mentirosos"
Generated Answer: SELECT english_title FROM table_27423508_1 WHERE spanish_title = "Ladrones y mentirosos"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT english_title FROM table_27423508_1 WHERE spanish_title = "Ladrones y mentirosos"')


Success!
Success Answer: SELECT english_title FROM table_27423508_1 WHERE spanish_title = "Ladrones y mentirosos"

 86%|████████▋ | 865/1000 [38:06<08:28,  3.77s/it]

Question: where pageant is elite model look and year is bigger than 1993.0, who is the delegate?

Real Answer: SELECT delegate FROM table_1825751_14 WHERE pageant = "Elite Model Look" AND year > 1993.0
Generated Answer: SELECT delegate FROM table_1825751_14 WHERE pageant = "Elite Model Look" AND year > 1993.0


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT delegate FROM table_1825751_14 WHERE pageant = "Elite Model Look" AND year > 1993.0')


Success!
Success Answer: SELECT delegate FROM table_1825751_14 WHERE pageant = "Elite Model Look" AND year > 1993.0

 87%|████████▋ | 866/1000 [38:08<07:47,  3.49s/it]

Question: What is the to par of player notah begay iii from the United States?

Real Answer: SELECT to_par FROM table_name_59 WHERE country = "united states" AND player = "notah begay iii"
Generated Answer: SELECT to_par FROM table_name_59 WHERE country = "united states" AND player = "notah begay iii"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT to_par FROM table_name_59 WHERE country = "united states" AND player = "notah begay iii"')


Success!
Success Answer: SELECT to_par FROM table_name_59 WHERE country = "united states" AND player = "notah begay iii"

 87%|████████▋ | 867/1000 [38:10<06:16,  2.83s/it]

Question: Find the number of distinct type of pets.

Real Answer: SELECT COUNT(DISTINCT pettype) FROM pets
Generated Answer: SELECT COUNT(DISTINCT pettype) FROM pets


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(DISTINCT pettype) FROM pets')


Success!
Success Answer: SELECT COUNT(DISTINCT pettype) FROM pets

 87%|████████▋ | 868/1000 [38:11<05:31,  2.51s/it]

Question: what is the race on 23 october?

Real Answer: SELECT race FROM table_name_81 WHERE date = "23 october"
Generated Answer: SELECT race FROM table_name_81 WHERE date = "23 october"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT race FROM table_name_81 WHERE date = "23 october"')


Success!
Success Answer: SELECT race FROM table_name_81 WHERE date = "23 october"

 87%|████████▋ | 869/1000 [38:15<06:10,  2.83s/it]

Question: What date sent has cygnus as a constellation, and hd 190360 as a designation HD?

Real Answer: SELECT date_sent FROM table_name_65 WHERE constellation = "cygnus" AND designation_hd = "hd 190360"
Generated Answer: SELECT date_sent FROM table_name_65 WHERE constellation = "cygnus" AND designation_hd = "hd 190360"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date_sent FROM table_name_65 WHERE constellation = "cygnus" AND designation_hd = "hd 190360"')


Success!
Success Answer: SELECT date_sent FROM table_name_65 WHERE constellation = "cygnus" AND designation_hd = "hd 190360"

 87%|████████▋ | 870/1000 [38:17<05:37,  2.60s/it]

Question: At what stadium was the game with the final score of 26-24 played?

Real Answer: SELECT stadium FROM table_name_29 WHERE final_score = "26-24"
Generated Answer: SELECT stadium FROM table_name_29 WHERE final_score = "26-24"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT stadium FROM table_name_29 WHERE final_score = "26-24"')


Success!
Success Answer: SELECT stadium FROM table_name_29 WHERE final_score = "26-24"

 87%|████████▋ | 871/1000 [38:20<05:30,  2.56s/it]

Question: What team was class AA in years 1994-95?

Real Answer: SELECT class_aA FROM table_name_52 WHERE school_year = "1994-95"
Generated Answer: SELECT class_aA FROM table_name_52 WHERE school_year = "1994-95"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT class_aA FROM table_name_52 WHERE school_year = "1994-95"')


Success!
Success Answer: SELECT class_aA FROM table_name_52 WHERE school_year = "1994-95"

 87%|████████▋ | 872/1000 [38:22<05:40,  2.66s/it]

Question: Where was the BRDC International Trophy with driver Emerson Fittipaldi held?

Real Answer: SELECT venue FROM table_name_61 WHERE driver = "emerson fittipaldi" AND event = "brdc international trophy"
Generated Answer: SELECT venue FROM table_name_61 WHERE driver = "emerson fittipaldi" AND event = "brdc international trophy"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT venue FROM table_name_61 WHERE driver = "emerson fittipaldi" AND event = "brdc international trophy"')


Success!
Success Answer: SELECT venue FROM table_name_61 WHERE driver = "emerson fittipaldi" AND event = "brdc international trophy"

 87%|████████▋ | 873/1000 [38:24<05:09,  2.44s/it]

Question: What label has the catalog nebt058?

Real Answer: SELECT label FROM table_name_10 WHERE catalog = "nebt058"
Generated Answer: SELECT label FROM table_name_10 WHERE catalog = "nebt058"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT label FROM table_name_10 WHERE catalog = "nebt058"')


Success!
Success Answer: SELECT label FROM table_name_10 WHERE catalog = "nebt058"

 87%|████████▋ | 874/1000 [38:28<05:41,  2.71s/it]

Question: Race that has a Podium larger than 1, and a Season of 1982, and a flap smaller than 1 had how many number of races?

Real Answer: SELECT COUNT(race) FROM table_name_72 WHERE podium > 1 AND season = "1982" AND flap < 1
Generated Answer: SELECT COUNT(race) FROM table_name_72 WHERE podium > 1 AND season = "1982" AND flap < 1


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT COUNT(race) FROM table_name_72 WHERE podium > 1 AND season = "1982" AND flap < 1')


Success!
Success Answer: SELECT COUNT(race) FROM table_name_72 WHERE podium > 1 AND season = "1982" AND flap < 1

 88%|████████▊ | 875/1000 [38:30<05:23,  2.59s/it]

Question: How many total drawn has less than 4 lost and 8 points?

Real Answer: SELECT SUM(drawn) FROM table_name_59 WHERE lost < 4 AND points = 8
Generated Answer: SELECT SUM(drawn) FROM table_name_59 WHERE lost < 4 AND points = 8


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT SUM(drawn) FROM table_name_59 WHERE lost < 4 AND points = 8')


Success!
Success Answer: SELECT SUM(drawn) FROM table_name_59 WHERE lost < 4 AND points = 8

 88%|████████▊ | 876/1000 [38:32<05:16,  2.55s/it]

Question: Name the vacator for wisconsin 1st

Real Answer: SELECT vacator FROM table_1958768_3 WHERE district = "Wisconsin 1st"
Generated Answer: SELECT vacator FROM table_1958768_3 WHERE district = "Wisconsin 1st"


Similarity Score: 0.9999997
Feedback: ('approve', 'SELECT vacator FROM table_1958768_3 WHERE district = "Wisconsin 1st"')


Success!
Success Answer: SELECT vacator FROM table_1958768_3 WHERE district = "Wisconsin 1st"

 88%|████████▊ | 877/1000 [38:35<05:00,  2.44s/it]

Question: What was Footscray's score as the away team?

Real Answer: SELECT away_team AS score FROM table_name_94 WHERE away_team = "footscray"
Generated Answer: SELECT away_team AS score FROM table_name_94 WHERE away_team = "footscray"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT away_team AS score FROM table_name_94 WHERE away_team = "footscray"')


Success!
Success Answer: SELECT away_team AS score FROM table_name_94 WHERE away_team = "footscray"

 88%|████████▊ | 878/1000 [38:38<05:21,  2.64s/it]

Question: How many teams finished in 8th in 2008?

Real Answer: SELECT COUNT(team) FROM table_20140132_1 WHERE position_in_2008 = "8th"
Generated Answer: SELECT COUNT(team) FROM table_20140132_1 WHERE position_in_2008 = "8th"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(team) FROM table_20140132_1 WHERE position_in_2008 = "8th"')


Success!
Success Answer: SELECT COUNT(team) FROM table_20140132_1 WHERE position_in_2008 = "8th"

 88%|████████▊ | 879/1000 [38:40<05:05,  2.53s/it]

Question: What is the average of the contestant with a swimsuit less than 9.32?

Real Answer: SELECT SUM(average) FROM table_name_86 WHERE swimsuit < 9.32
Generated Answer: SELECT SUM(average) FROM table_name_86 WHERE swimsuit < 9.32


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT SUM(average) FROM table_name_86 WHERE swimsuit < 9.32')


Success!
Success Answer: SELECT SUM(average) FROM table_name_86 WHERE swimsuit < 9.32

 88%|████████▊ | 880/1000 [38:43<05:27,  2.73s/it]

Question: Which Total has an FA Cup goals of 1, and a League goals of 4 + 7?

Real Answer: SELECT AVG(total) FROM table_name_23 WHERE fa_cup_goals = "1" AND league_goals = "4 + 7"
Generated Answer: SELECT MIN(total) FROM table_name_23 WHERE fa_cup_goals = 1 AND league_goals = "4 + 7"


Similarity Score: 0.6290531
Feedback: ('correct', 'SELECT AVG(total) FROM table_name_23 WHERE fa_cup_goals = "1" AND league_goals = "4 + 7"')


Real Answer: SELECT AVG(total) FROM table_name_23 WHERE fa_cup_goals = "1" AND league_goals = "4 + 7"
Failed Answer: SELECT MIN(total) FROM table_name_23 WHERE fa_cup_goals = 1 AND league_goals = "4 + 7"

 88%|████████▊ | 881/1000 [38:46<05:13,  2.63s/it]

Question: Name the presenter 11 may

Real Answer: SELECT presenter FROM table_20466963_13 WHERE date = "11 May"
Generated Answer: SELECT presenter FROM table_20466963_13 WHERE date = "11 May"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT presenter FROM table_20466963_13 WHERE date = "11 May"')


Success!
Success Answer: SELECT presenter FROM table_20466963_13 WHERE date = "11 May"

 88%|████████▊ | 882/1000 [38:48<05:18,  2.70s/it]

Question: What is the sum of gold medal totals for nations with 1 silver, less than 2 bronze, and ranked below 10?

Real Answer: SELECT SUM(gold) FROM table_name_86 WHERE silver = 1 AND bronze < 2 AND total = 1 AND rank < 10
Generated Answer: SELECT SUM(gold) FROM table_name_86 WHERE silver = 1 AND bronze < 2 AND rank < 10


Similarity Score: 0.99531627
Feedback: ('approve', 'SELECT SUM(gold) FROM table_name_86 WHERE silver = 1 AND bronze < 2 AND rank < 10')


Real Answer: SELECT SUM(gold) FROM table_name_86 WHERE silver = 1 AND bronze < 2 AND total = 1 AND rank < 10
Failed Answer: SELECT SUM(gold) FROM table_name_86 WHERE silver = 1 AND bronze < 2 AND rank < 10

 88%|████████▊ | 883/1000 [38:51<05:17,  2.71s/it]

Question: how many winnings does jeff gordon have?

Real Answer: SELECT winnings FROM table_27781212_1 WHERE driver = "Jeff Gordon"
Generated Answer: SELECT COUNT(winnings) FROM table_27781212_1 WHERE driver = "Jeff Gordon"


Similarity Score: 0.8627135
Feedback: ('approve', 'SELECT COUNT(winnings) FROM table_27781212_1 WHERE driver = "Jeff Gordon"')


Real Answer: SELECT winnings FROM table_27781212_1 WHERE driver = "Jeff Gordon"
Failed Answer: SELECT COUNT(winnings) FROM table_27781212_1 WHERE driver = "Jeff Gordon"

 88%|████████▊ | 884/1000 [38:54<05:14,  2.71s/it]

Question: What is the number of the bowl game when attendance was 79,280?

Real Answer: SELECT MAX(_number) FROM table_15190346_2 WHERE attendance = "79,280"
Generated Answer: SELECT MAX(_number) FROM table_15190346_2 WHERE attendance = "79,280"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MAX(_number) FROM table_15190346_2 WHERE attendance = "79,280"')


Success!
Success Answer: SELECT MAX(_number) FROM table_15190346_2 WHERE attendance = "79,280"

 88%|████████▊ | 885/1000 [39:01<07:56,  4.14s/it]

Question: List the document ids of documents with the status done and type Paper, which not shipped by the shipping agent named USPS.

Real Answer: SELECT document_id FROM Documents WHERE document_status_code = "done" AND document_type_code = "Paper" EXCEPT SELECT document_id FROM Documents JOIN Ref_Shipping_Agents ON Documents.shipping_agent_code = Ref_Shipping_Agents.shipping_agent_code WHERE Ref_Shipping_Agents.shipping_agent_name = "USPS"
Generated Answer: SELECT T1.document_id FROM Documents AS T1 JOIN Ref_Shipping_Agents AS T2 ON T1.document_id = T2.document_id WHERE T1.document_status_code = 'Done' AND T1.document_type_code = 'Paper' AND T2.document_status_code <> 'Shipped'


Similarity Score: 0.87384653
Feedback: ('approve', "SELECT T1.document_id FROM Documents AS T1 JOIN Ref_Shipping_Agents AS T2 ON T1.document_id = T2.document_id WHERE T1.document_status_code = 'Done' AND T1.document_type_code = 'Paper' AND T2.document_status_code <> 'Shipped'")


Real Answer: SELECT document_id FROM Documents WHERE document_status_code = "done" AND document_type_code = "Paper" EXCEPT SELECT document_id FROM Documents JOIN Ref_Shipping_Agents ON Documents.shipping_agent_code = Ref_Shipping_Agents.shipping_agent_code WHERE Ref_Shipping_Agents.shipping_agent_name = "USPS"
Failed Answer: SELECT T1.document_id FROM Documents AS T1 JOIN Ref_Shipping_Agents AS T2 ON T1.document_id = T2.document_id WHERE T1.document_status_code = 'Done' AND T1.document_type_code = 'Paper' AND T2.document_status_code <> 'Shipped'

 89%|████████▊ | 886/1000 [39:03<06:29,  3.42s/it]

Question: What was the resolution of the fight where andre roberts record was 9-1?

Real Answer: SELECT res FROM table_name_60 WHERE record = "9-1"
Generated Answer: SELECT res FROM table_name_60 WHERE record = "9-1"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT res FROM table_name_60 WHERE record = "9-1"')


Success!
Success Answer: SELECT res FROM table_name_60 WHERE record = "9-1"

 89%|████████▊ | 887/1000 [39:05<05:28,  2.91s/it]

Question: What is the medal total of Denmark?

Real Answer: SELECT COUNT(total) FROM table_name_52 WHERE nation = "denmark"
Generated Answer: SELECT total FROM table_name_52 WHERE nation = "denmark"


Similarity Score: 0.9092381
Feedback: ('approve', 'SELECT total FROM table_name_52 WHERE nation = "denmark"')


Real Answer: SELECT COUNT(total) FROM table_name_52 WHERE nation = "denmark"
Failed Answer: SELECT total FROM table_name_52 WHERE nation = "denmark"

 89%|████████▉ | 888/1000 [39:07<04:56,  2.64s/it]

Question: What date has the Surfers Paradise International Raceway circuit?

Real Answer: SELECT date FROM table_name_52 WHERE circuit = "surfers paradise international raceway"
Generated Answer: SELECT date FROM table_name_52 WHERE circuit = "surfers paradise international raceway"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_52 WHERE circuit = "surfers paradise international raceway"')


Success!
Success Answer: SELECT date FROM table_name_52 WHERE circuit = "surfers paradise international raceway"

 89%|████████▉ | 889/1000 [39:09<04:31,  2.45s/it]

Question: What is the lowest overall pick for a player from Washington?

Real Answer: SELECT MIN(overall) FROM table_name_11 WHERE college = "washington"
Generated Answer: SELECT MIN(overall) FROM table_name_11 WHERE college = "washington"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT MIN(overall) FROM table_name_11 WHERE college = "washington"')


Success!
Success Answer: SELECT MIN(overall) FROM table_name_11 WHERE college = "washington"

 89%|████████▉ | 890/1000 [39:11<04:13,  2.30s/it]

Question: How many games that ended in a draw were played by a team with more than 15 total games?

Real Answer: SELECT COUNT(drawn) FROM table_name_78 WHERE played > 15
Generated Answer: SELECT COUNT(drawn) FROM table_name_78 WHERE played > 15


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(drawn) FROM table_name_78 WHERE played > 15')


Success!
Success Answer: SELECT COUNT(drawn) FROM table_name_78 WHERE played > 15

 89%|████████▉ | 891/1000 [39:13<03:50,  2.12s/it]

Question: What country is the player who scored 27 goals from?

Real Answer: SELECT nationality FROM table_name_71 WHERE goals = 27
Generated Answer: SELECT nationality FROM table_name_71 WHERE goals = "27"


Similarity Score: 0.9901961
Feedback: ('approve', 'SELECT nationality FROM table_name_71 WHERE goals = "27"')


Real Answer: SELECT nationality FROM table_name_71 WHERE goals = 27
Failed Answer: SELECT nationality FROM table_name_71 WHERE goals = "27"

 89%|████████▉ | 892/1000 [39:15<04:09,  2.31s/it]

Question: what date did the m3 motorsport team compete at winton motor raceway?

Real Answer: SELECT date FROM table_name_38 WHERE team = "m3 motorsport" AND circuit = "winton motor raceway"
Generated Answer: SELECT date FROM table_name_38 WHERE team = "m3 motorsport" AND circuit = "winton motor raceway"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date FROM table_name_38 WHERE team = "m3 motorsport" AND circuit = "winton motor raceway"')


Success!
Success Answer: SELECT date FROM table_name_38 WHERE team = "m3 motorsport" AND circuit = "winton motor raceway"

 89%|████████▉ | 893/1000 [39:17<04:03,  2.28s/it]

Question: what is the branding when the call sign is ckua-fm-3?

Real Answer: SELECT branding FROM table_name_33 WHERE call_sign = "ckua-fm-3"
Generated Answer: SELECT branding FROM table_name_33 WHERE call_sign = "ckua-fm-3"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT branding FROM table_name_33 WHERE call_sign = "ckua-fm-3"')


Success!
Success Answer: SELECT branding FROM table_name_33 WHERE call_sign = "ckua-fm-3"

 89%|████████▉ | 894/1000 [39:21<04:34,  2.59s/it]

Question: What is the total lane number for the United States when the mark is 6.62 and the heat is greater than 8?

Real Answer: SELECT COUNT(lane) FROM table_name_16 WHERE country = "united states" AND mark = "6.62" AND heat > 8
Generated Answer: SELECT COUNT(lane) FROM table_name_16 WHERE country = "united states" AND mark = "6.62" AND heat > 8


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(lane) FROM table_name_16 WHERE country = "united states" AND mark = "6.62" AND heat > 8')


Success!
Success Answer: SELECT COUNT(lane) FROM table_name_16 WHERE country = "united states" AND mark = "6.62" AND heat > 8

 90%|████████▉ | 895/1000 [39:23<04:20,  2.48s/it]

Question: Who had the most poinst in game 72?

Real Answer: SELECT high_points FROM table_17288825_9 WHERE game = 72
Generated Answer: SELECT high_points FROM table_17288825_9 WHERE game = 72


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT high_points FROM table_17288825_9 WHERE game = 72')


Success!
Success Answer: SELECT high_points FROM table_17288825_9 WHERE game = 72

 90%|████████▉ | 896/1000 [39:26<04:24,  2.54s/it]

Question: What is the most elevated Position that has a Points of 257, and a Bike No littler than 19?

Real Answer: SELECT MAX(position) FROM table_name_96 WHERE points = 257 AND bike_no < 19
Generated Answer: SELECT MAX(position) FROM table_name_96 WHERE points = "257" AND bike_no < 19


Similarity Score: 0.99675035
Feedback: ('approve', 'SELECT MAX(position) FROM table_name_96 WHERE points = "257" AND bike_no < 19')


Real Answer: SELECT MAX(position) FROM table_name_96 WHERE points = 257 AND bike_no < 19
Failed Answer: SELECT MAX(position) FROM table_name_96 WHERE points = "257" AND bike_no < 19

 90%|████████▉ | 897/1000 [39:27<03:58,  2.32s/it]

Question: What was the date of the Capitals game when Columbus was the home team?

Real Answer: SELECT date FROM table_name_28 WHERE home = "columbus"
Generated Answer: SELECT date FROM table_name_28 WHERE home = "columbus"


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT date FROM table_name_28 WHERE home = "columbus"')


Success!
Success Answer: SELECT date FROM table_name_28 WHERE home = "columbus"

 90%|████████▉ | 898/1000 [39:30<03:53,  2.29s/it]

Question: Name the country for the 9th and sign of g e

Real Answer: SELECT country FROM table_name_51 WHERE date = "9th" AND sign = "g e"
Generated Answer: SELECT country FROM table_name_51 WHERE date = "9th" AND sign = "g e"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT country FROM table_name_51 WHERE date = "9th" AND sign = "g e"')


Success!
Success Answer: SELECT country FROM table_name_51 WHERE date = "9th" AND sign = "g e"

 90%|████████▉ | 899/1000 [39:32<03:37,  2.15s/it]

Question: What is the minimum number of seasons?

Real Answer: SELECT MIN(season) FROM table_2140071_13
Generated Answer: SELECT MIN(season) FROM table_2140071_13


Similarity Score: 1.0
Feedback: ('approve', 'SELECT MIN(season) FROM table_2140071_13')


Success!
Success Answer: SELECT MIN(season) FROM table_2140071_13

 90%|█████████ | 900/1000 [39:34<03:53,  2.34s/it]

Question: Name the first election for john mchugh

Real Answer: SELECT COUNT(first_elected) FROM table_1341423_32 WHERE incumbent = "John McHugh"
Generated Answer: SELECT first_elected FROM table_1341423_32 WHERE incumbent = "John McChugh"


Similarity Score: 0.85737705
Feedback: ('approve', 'SELECT first_elected FROM table_1341423_32 WHERE incumbent = "John McChugh"')


Real Answer: SELECT COUNT(first_elected) FROM table_1341423_32 WHERE incumbent = "John McHugh"
Failed Answer: SELECT first_elected FROM table_1341423_32 WHERE incumbent = "John McChugh"

 90%|█████████ | 901/1000 [39:36<03:45,  2.28s/it]

Question: What is the mean game played on January 9?

Real Answer: SELECT AVG(game) FROM table_name_82 WHERE date = "january 9"
Generated Answer: SELECT AVG(game) FROM table_name_82 WHERE date = "january 9"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT AVG(game) FROM table_name_82 WHERE date = "january 9"')


Success!
Success Answer: SELECT AVG(game) FROM table_name_82 WHERE date = "january 9"

 90%|█████████ | 902/1000 [39:40<04:23,  2.69s/it]

Question: When 2006 is the year played and winter park is the fcsl team who is the player?

Real Answer: SELECT player FROM table_18373863_2 WHERE fcsl_team = "Winter Park" AND years_played = "2006"
Generated Answer: SELECT player FROM table_18373863_2 WHERE fcsl_team = "Winter Park" AND years_played = 2006


Similarity Score: 0.99719346
Feedback: ('approve', 'SELECT player FROM table_18373863_2 WHERE fcsl_team = "Winter Park" AND years_played = 2006')


Real Answer: SELECT player FROM table_18373863_2 WHERE fcsl_team = "Winter Park" AND years_played = "2006"
Failed Answer: SELECT player FROM table_18373863_2 WHERE fcsl_team = "Winter Park" AND years_played = 2006

 90%|█████████ | 903/1000 [39:42<03:49,  2.37s/it]

Question: On what date was Game 3?

Real Answer: SELECT date FROM table_name_2 WHERE game = "game 3"
Generated Answer: SELECT date FROM table_name_2 WHERE game = "game 3"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT date FROM table_name_2 WHERE game = "game 3"')


Success!
Success Answer: SELECT date FROM table_name_2 WHERE game = "game 3"

 90%|█████████ | 904/1000 [39:44<03:44,  2.34s/it]

Question: What year was Jeff Mullins?

Real Answer: SELECT MIN(year) FROM table_name_36 WHERE trainer = "jeff mullins"
Generated Answer: SELECT SUM(year) FROM table_name_36 WHERE trainer = "jeff mullins"


Similarity Score: 0.6999371
Feedback: ('correct', 'SELECT MIN(year) FROM table_name_36 WHERE trainer = "jeff mullins"')


Real Answer: SELECT MIN(year) FROM table_name_36 WHERE trainer = "jeff mullins"
Failed Answer: SELECT SUM(year) FROM table_name_36 WHERE trainer = "jeff mullins"

 90%|█████████ | 905/1000 [39:45<03:15,  2.06s/it]

Question: Which countries do not have a stadium that was opened after 2006?

Real Answer: SELECT country FROM stadium EXCEPT SELECT country FROM stadium WHERE opening_year > 2006
Generated Answer: SELECT country FROM stadium WHERE opening_year <= 2006


Similarity Score: 0.85500014
Feedback: ('approve', 'SELECT country FROM stadium WHERE opening_year <= 2006')


Real Answer: SELECT country FROM stadium EXCEPT SELECT country FROM stadium WHERE opening_year > 2006
Failed Answer: SELECT country FROM stadium WHERE opening_year <= 2006

 91%|█████████ | 906/1000 [39:48<03:31,  2.25s/it]

Question: what is the typhoid fever number for the year 1929

Real Answer: SELECT typhoid_fever FROM table_1007688_1 WHERE year = "1929"
Generated Answer: SELECT typhoid_fever FROM table_1007688_1 WHERE year = "1929"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT typhoid_fever FROM table_1007688_1 WHERE year = "1929"')


Success!
Success Answer: SELECT typhoid_fever FROM table_1007688_1 WHERE year = "1929"

 91%|█████████ | 907/1000 [39:52<04:27,  2.87s/it]

Question: how many times was the catalog number cal01 / 0091037137319?

Real Answer: SELECT COUNT(copyright_information) FROM table_27303975_3 WHERE catalog_number = "CAL01 / 0091037137319"
Generated Answer: SELECT COUNT(copyright_information) FROM table_27303975_3 WHERE catalog_number = "Cal01 / 0091037137319"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(copyright_information) FROM table_27303975_3 WHERE catalog_number = "Cal01 / 0091037137319"')


Real Answer: SELECT COUNT(copyright_information) FROM table_27303975_3 WHERE catalog_number = "CAL01 / 0091037137319"
Failed Answer: SELECT COUNT(copyright_information) FROM table_27303975_3 WHERE catalog_number = "Cal01 / 0091037137319"

 91%|█████████ | 908/1000 [39:54<03:50,  2.51s/it]

Question: Which pick played the Defensive End position?

Real Answer: SELECT pick FROM table_name_3 WHERE position = "defensive end"
Generated Answer: SELECT pick FROM table_name_3 WHERE position = "defensive end"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT pick FROM table_name_3 WHERE position = "defensive end"')


Success!
Success Answer: SELECT pick FROM table_name_3 WHERE position = "defensive end"

 91%|█████████ | 909/1000 [39:57<04:01,  2.66s/it]

Question: When Julian Illingworth was the under-19, who was the under-15?

Real Answer: SELECT under_15 FROM table_26368963_1 WHERE under_19 = "Julian Illingworth"
Generated Answer: SELECT under_15 FROM table_26368963_1 WHERE under_19 = "Julian Illingworth"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT under_15 FROM table_26368963_1 WHERE under_19 = "Julian Illingworth"')


Success!
Success Answer: SELECT under_15 FROM table_26368963_1 WHERE under_19 = "Julian Illingworth"

 91%|█████████ | 910/1000 [39:59<03:36,  2.40s/it]

Question: Which track translates to Flemish Women?

Real Answer: SELECT track FROM table_name_96 WHERE translation = "flemish women"
Generated Answer: SELECT track FROM table_name_96 WHERE translation = "flemish women"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT track FROM table_name_96 WHERE translation = "flemish women"')


Success!
Success Answer: SELECT track FROM table_name_96 WHERE translation = "flemish women"

 91%|█████████ | 911/1000 [40:01<03:19,  2.24s/it]

Question: What genre has a station of Class 95FM?

Real Answer: SELECT genre FROM table_name_53 WHERE station = "class 95fm"
Generated Answer: SELECT genre FROM table_name_53 WHERE station = "class 95fm"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT genre FROM table_name_53 WHERE station = "class 95fm"')


Success!
Success Answer: SELECT genre FROM table_name_53 WHERE station = "class 95fm"

 91%|█████████ | 912/1000 [40:03<03:03,  2.09s/it]

Question: What is the Dialcode of whitechapel?

Real Answer: SELECT dialcode FROM table_name_62 WHERE location = "whitechapel"
Generated Answer: SELECT dialcode FROM table_name_62 WHERE location = "whitechapel"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT dialcode FROM table_name_62 WHERE location = "whitechapel"')


Success!
Success Answer: SELECT dialcode FROM table_name_62 WHERE location = "whitechapel"

 91%|█████████▏| 913/1000 [40:06<03:46,  2.60s/it]

Question: What was the oilers record for the game on November 27 when the Edmonton oilers were playing at home and the Chicago Blackhawks were the visiting team?

Real Answer: SELECT record FROM table_name_85 WHERE home = "edmonton oilers" AND visitor = "chicago blackhawks" AND date = "november 27"
Generated Answer: SELECT record FROM table_name_85 WHERE home = "edmonton oilers" AND visitor = "chicago blackhawks" AND date = "november 27"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT record FROM table_name_85 WHERE home = "edmonton oilers" AND visitor = "chicago blackhawks" AND date = "november 27"')


Success!
Success Answer: SELECT record FROM table_name_85 WHERE home = "edmonton oilers" AND visitor = "chicago blackhawks" AND date = "november 27"

 91%|█████████▏| 914/1000 [40:09<03:37,  2.53s/it]

Question: What shareholders have 0 A shares?

Real Answer: SELECT shareholder_name FROM table_206359_1 WHERE a_shares = 0
Generated Answer: SELECT shareholder_name FROM table_206359_1 WHERE a_shares = 0


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT shareholder_name FROM table_206359_1 WHERE a_shares = 0')


Success!
Success Answer: SELECT shareholder_name FROM table_206359_1 WHERE a_shares = 0

 92%|█████████▏| 915/1000 [40:10<03:16,  2.31s/it]

Question: Can you tell me the Total number of Rankthat has the Lane of 4?

Real Answer: SELECT COUNT(rank) FROM table_name_67 WHERE lane = 4
Generated Answer: SELECT COUNT(rank) FROM table_name_67 WHERE lane = 4


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(rank) FROM table_name_67 WHERE lane = 4')


Success!
Success Answer: SELECT COUNT(rank) FROM table_name_67 WHERE lane = 4

 92%|█████████▏| 916/1000 [40:13<03:14,  2.31s/it]

Question: Which stadium is managed by Kari Martonen?

Real Answer: SELECT stadium FROM table_25129482_1 WHERE manager = "Kari Martonen"
Generated Answer: SELECT stadium FROM table_25129482_1 WHERE manager = "Kari Martonen"


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT stadium FROM table_25129482_1 WHERE manager = "Kari Martonen"')


Success!
Success Answer: SELECT stadium FROM table_25129482_1 WHERE manager = "Kari Martonen"

 92%|█████████▏| 917/1000 [40:16<03:28,  2.51s/it]

Question: How many route/via's are there for the ernad express?

Real Answer: SELECT COUNT(route_via) FROM table_29770377_1 WHERE train_name = "Ernad Express"
Generated Answer: SELECT COUNT(route_via) FROM table_29770377_1 WHERE train_name = "ERNAD Express"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT COUNT(route_via) FROM table_29770377_1 WHERE train_name = "ERNAD Express"')


Real Answer: SELECT COUNT(route_via) FROM table_29770377_1 WHERE train_name = "Ernad Express"
Failed Answer: SELECT COUNT(route_via) FROM table_29770377_1 WHERE train_name = "ERNAD Express"

 92%|█████████▏| 918/1000 [40:18<03:18,  2.42s/it]

Question: Set 1 of 25–20, what was Set 2?

Real Answer: SELECT set_2 FROM table_name_38 WHERE set_1 = "25–20"
Generated Answer: SELECT set_2 FROM table_name_38 WHERE set_1 = "25–20"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT set_2 FROM table_name_38 WHERE set_1 = "25–20"')


Success!
Success Answer: SELECT set_2 FROM table_name_38 WHERE set_1 = "25–20"

 92%|█████████▏| 919/1000 [40:21<03:23,  2.51s/it]

Question: How many people led in assists on game 71?

Real Answer: SELECT COUNT(high_assists) FROM table_23248940_10 WHERE game = 71
Generated Answer: SELECT COUNT(high_assists) FROM table_23248940_10 WHERE game = 71


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(high_assists) FROM table_23248940_10 WHERE game = 71')


Success!
Success Answer: SELECT COUNT(high_assists) FROM table_23248940_10 WHERE game = 71

 92%|█████████▏| 920/1000 [40:23<03:05,  2.32s/it]

Question: How many bronze medals for the nation with over 9 golds?

Real Answer: SELECT COUNT(bronze) FROM table_name_8 WHERE gold > 9
Generated Answer: SELECT COUNT(bronze) FROM table_name_8 WHERE gold > 9


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(bronze) FROM table_name_8 WHERE gold > 9')


Success!
Success Answer: SELECT COUNT(bronze) FROM table_name_8 WHERE gold > 9

 92%|█████████▏| 921/1000 [40:25<03:00,  2.29s/it]

Question: What is the Result with a Date with 22 january 2008?

Real Answer: SELECT result FROM table_name_43 WHERE date = "22 january 2008"
Generated Answer: SELECT result FROM table_name_43 WHERE date = "22 january 2008"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT result FROM table_name_43 WHERE date = "22 january 2008"')


Success!
Success Answer: SELECT result FROM table_name_43 WHERE date = "22 january 2008"

 92%|█████████▏| 922/1000 [40:27<02:46,  2.14s/it]

Question: Name the games for rubén limardo

Real Answer: SELECT games FROM table_name_66 WHERE name = "rubén limardo"
Generated Answer: SELECT games FROM table_name_66 WHERE name = "rubén limardo"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT games FROM table_name_66 WHERE name = "rubén limardo"')


Success!
Success Answer: SELECT games FROM table_name_66 WHERE name = "rubén limardo"

 92%|█████████▏| 923/1000 [40:28<02:35,  2.02s/it]

Question: Who has the minimum number of silver?

Real Answer: SELECT MIN(silver) FROM table_22355_20
Generated Answer: SELECT MIN(silver) FROM table_22355_20


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MIN(silver) FROM table_22355_20')


Success!
Success Answer: SELECT MIN(silver) FROM table_22355_20

 92%|█████████▏| 924/1000 [40:30<02:30,  1.98s/it]

Question: what is the owner of the c501

Real Answer: SELECT owner FROM table_name_2 WHERE locomotive = "c501"
Generated Answer: SELECT owner FROM table_name_2 WHERE locomotive = "c501"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT owner FROM table_name_2 WHERE locomotive = "c501"')


Success!
Success Answer: SELECT owner FROM table_name_2 WHERE locomotive = "c501"

 92%|█████████▎| 925/1000 [40:33<02:58,  2.38s/it]

Question: How many areas of 375.06 km 2 have a census ranking?

Real Answer: SELECT COUNT(census_ranking) FROM table_170969_2 WHERE area_km_2 = "375.06"
Generated Answer: SELECT COUNT(census_ranking) FROM table_170969_2 WHERE area_km_2 = "375.06"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(census_ranking) FROM table_170969_2 WHERE area_km_2 = "375.06"')


Success!
Success Answer: SELECT COUNT(census_ranking) FROM table_170969_2 WHERE area_km_2 = "375.06"

 93%|█████████▎| 926/1000 [40:36<03:00,  2.44s/it]

Question: Who won the game where the Challenge Leader is ACC (2-1)?

Real Answer: SELECT winner FROM table_1672976_6 WHERE challenge_leader = "ACC (2-1)"
Generated Answer: SELECT winner FROM table_1672976_6 WHERE challenge_leader = "ACC (2-1)"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT winner FROM table_1672976_6 WHERE challenge_leader = "ACC (2-1)"')


Success!
Success Answer: SELECT winner FROM table_1672976_6 WHERE challenge_leader = "ACC (2-1)"

 93%|█████████▎| 927/1000 [40:39<03:14,  2.67s/it]

Question: What is the number of guests for the Viking Ingvar, built earlier than 1990?

Real Answer: SELECT AVG(guests) FROM table_name_46 WHERE ship_name = "viking ingvar" AND year_built < 1990
Generated Answer: SELECT MAX(guests) FROM table_name_46 WHERE ship_name = "viking ingvar" AND year_built < 1990


Similarity Score: 0.69013786
Feedback: ('correct', 'SELECT AVG(guests) FROM table_name_46 WHERE ship_name = "viking ingvar" AND year_built < 1990')


Real Answer: SELECT AVG(guests) FROM table_name_46 WHERE ship_name = "viking ingvar" AND year_built < 1990
Failed Answer: SELECT MAX(guests) FROM table_name_46 WHERE ship_name = "viking ingvar" AND year_built < 1990

 93%|█████████▎| 928/1000 [40:42<03:14,  2.71s/it]

Question: Which round had a winning driver of Uwe Alzen, at the Sepang International circuit?

Real Answer: SELECT round FROM table_name_80 WHERE winning_driver = "uwe alzen" AND circuit = "sepang international circuit"
Generated Answer: SELECT round FROM table_name_80 WHERE winning_driver = "uwe alzen" AND circuit = "sepang international circuit"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT round FROM table_name_80 WHERE winning_driver = "uwe alzen" AND circuit = "sepang international circuit"')


Success!
Success Answer: SELECT round FROM table_name_80 WHERE winning_driver = "uwe alzen" AND circuit = "sepang international circuit"

 93%|█████████▎| 929/1000 [40:45<03:07,  2.65s/it]

Question: What was the record on december 8 when the boston bruins visited?

Real Answer: SELECT record FROM table_name_49 WHERE visitor = "boston bruins" AND date = "december 8"
Generated Answer: SELECT record FROM table_name_49 WHERE visitor = "boston bruins" AND date = "december 8"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT record FROM table_name_49 WHERE visitor = "boston bruins" AND date = "december 8"')


Success!
Success Answer: SELECT record FROM table_name_49 WHERE visitor = "boston bruins" AND date = "december 8"

 93%|█████████▎| 930/1000 [40:47<02:56,  2.52s/it]

Question: What is Date, when Runner(s)-Up is "Bo-Mee Lee"?

Real Answer: SELECT date FROM table_name_65 WHERE runner_s__up = "bo-mee lee"
Generated Answer: SELECT date FROM table_name_65 WHERE runner_s__up = "bo-mee lee"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date FROM table_name_65 WHERE runner_s__up = "bo-mee lee"')


Success!
Success Answer: SELECT date FROM table_name_65 WHERE runner_s__up = "bo-mee lee"

 93%|█████████▎| 931/1000 [40:50<03:02,  2.65s/it]

Question: What is the general classification at stage 18 that has a points classification of Tony Rominger?

Real Answer: SELECT general_classification FROM table_name_59 WHERE points_classification = "tony rominger" AND stage = "18"
Generated Answer: SELECT general_classification FROM table_name_59 WHERE points_classification = "tony rominger" AND stage = "18"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT general_classification FROM table_name_59 WHERE points_classification = "tony rominger" AND stage = "18"')


Success!
Success Answer: SELECT general_classification FROM table_name_59 WHERE points_classification = "tony rominger" AND stage = "18"

 93%|█████████▎| 932/1000 [40:53<03:11,  2.81s/it]

Question: At which games did Tunisia win a bronze in the men's 1500 m freestyle?

Real Answer: SELECT games FROM table_name_59 WHERE medal = "bronze" AND event = "men's 1500 m freestyle"
Generated Answer: SELECT games FROM table_name_59 WHERE medal = "bronze" AND event = "men's 1500 m freestyle"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT games FROM table_name_59 WHERE medal = "bronze" AND event = "men\'s 1500 m freestyle"')


Success!
Success Answer: SELECT games FROM table_name_59 WHERE medal = "bronze" AND event = "men's 1500 m freestyle"

 93%|█████████▎| 933/1000 [40:55<02:59,  2.68s/it]

Question: Name the candidates for texas 20

Real Answer: SELECT candidates FROM table_1341690_43 WHERE district = "Texas 20"
Generated Answer: SELECT candidates FROM table_1341690_43 WHERE district = "Texas 20"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT candidates FROM table_1341690_43 WHERE district = "Texas 20"')


Success!
Success Answer: SELECT candidates FROM table_1341690_43 WHERE district = "Texas 20"

 93%|█████████▎| 934/1000 [40:59<03:13,  2.93s/it]

Question: Which manager was appointed on 08.06.2010?

Real Answer: SELECT replaced_by FROM table_27091128_2 WHERE date_of_appointment = "08.06.2010"
Generated Answer: SELECT replaced_by FROM table_27091128_2 WHERE date_of_appointment = "08.06.2010"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT replaced_by FROM table_27091128_2 WHERE date_of_appointment = "08.06.2010"')


Success!
Success Answer: SELECT replaced_by FROM table_27091128_2 WHERE date_of_appointment = "08.06.2010"

 94%|█████████▎| 935/1000 [41:01<02:56,  2.71s/it]

Question: Who won the australian grand prix?

Real Answer: SELECT race AS Winner FROM table_name_53 WHERE race = "australian grand prix"
Generated Answer: SELECT race AS Winner FROM table_name_53 WHERE race = "australian grand prix"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT race AS Winner FROM table_name_53 WHERE race = "australian grand prix"')


Success!
Success Answer: SELECT race AS Winner FROM table_name_53 WHERE race = "australian grand prix"

 94%|█████████▎| 936/1000 [41:04<02:51,  2.68s/it]

Question: what are all the hometown where the average age is 16

Real Answer: SELECT hometown FROM table_26267849_2 WHERE age_s_ = "16"
Generated Answer: SELECT hometown FROM table_26267849_2 WHERE age_s_ = "16"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT hometown FROM table_26267849_2 WHERE age_s_ = "16"')


Success!
Success Answer: SELECT hometown FROM table_26267849_2 WHERE age_s_ = "16"

 94%|█████████▎| 937/1000 [41:06<02:35,  2.47s/it]

Question: List all information about customer master index, and sort them by details in descending order.

Real Answer: SELECT * FROM customer_master_index ORDER BY cmi_details DESC
Generated Answer: SELECT cmi_details FROM customer_master_index ORDER BY cmi_details DESC


Similarity Score: 0.9412919
Feedback: ('approve', 'SELECT cmi_details FROM customer_master_index ORDER BY cmi_details DESC')


Real Answer: SELECT * FROM customer_master_index ORDER BY cmi_details DESC
Failed Answer: SELECT cmi_details FROM customer_master_index ORDER BY cmi_details DESC

 94%|█████████▍| 938/1000 [41:08<02:28,  2.39s/it]

Question: What is the label for catalogue 7200222?

Real Answer: SELECT label FROM table_name_77 WHERE catalogue = "7200222"
Generated Answer: SELECT label FROM table_name_77 WHERE catalogue = "7200222"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT label FROM table_name_77 WHERE catalogue = "7200222"')


Success!
Success Answer: SELECT label FROM table_name_77 WHERE catalogue = "7200222"

 94%|█████████▍| 939/1000 [41:13<03:14,  3.19s/it]

Question: What is the name and country of origin of the artist who released a song that has "love" in its title?

Real Answer: SELECT T1.artist_name, T1.country FROM artist AS T1 JOIN song AS T2 ON T1.artist_name = T2.artist_name WHERE T2.song_name LIKE "%love%"
Generated Answer: SELECT T1.artist_name, T1.country FROM artist AS T1 JOIN song AS T2 ON T1.artist_name = T2.artist_name WHERE T2.song_name LIKE "%love%"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT T1.artist_name, T1.country FROM artist AS T1 JOIN song AS T2 ON T1.artist_name = T2.artist_name WHERE T2.song_name LIKE "%love%"')


Success!
Success Answer: SELECT T1.artist_name, T1.country FROM artist AS T1 JOIN song AS T2 ON T1.artist_name = T2.artist_name WHERE T2.song_name LIKE "%love%"

 94%|█████████▍| 940/1000 [41:16<03:11,  3.20s/it]

Question: What team placed second during the season where Western Australia placed fifth, South Australia placed sixth, and Tasmania placed fourth?

Real Answer: SELECT second FROM table_name_2 WHERE fifth = "western australia" AND sixth = "south australia" AND fourth = "tasmania"
Generated Answer: SELECT second FROM table_name_2 WHERE fifth = "western australia" AND sixth = "south australia" AND fourth = "tasmania"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT second FROM table_name_2 WHERE fifth = "western australia" AND sixth = "south australia" AND fourth = "tasmania"')


Success!
Success Answer: SELECT second FROM table_name_2 WHERE fifth = "western australia" AND sixth = "south australia" AND fourth = "tasmania"

 94%|█████████▍| 941/1000 [41:19<02:59,  3.04s/it]

Question: What is the average Gold, when Total is 2, when Silver is less than 1, and when Rank is greater than 5?

Real Answer: SELECT AVG(gold) FROM table_name_95 WHERE total = 2 AND silver < 1 AND rank > 5
Generated Answer: SELECT AVG(gold) FROM table_name_95 WHERE total = 2 AND silver < 1 AND rank > 5


Similarity Score: 0.99999976
Feedback: ('approve', 'SELECT AVG(gold) FROM table_name_95 WHERE total = 2 AND silver < 1 AND rank > 5')


Success!
Success Answer: SELECT AVG(gold) FROM table_name_95 WHERE total = 2 AND silver < 1 AND rank > 5

 94%|█████████▍| 942/1000 [41:21<02:46,  2.87s/it]

Question: What is the NFL team for the player who's college was North Carolina?

Real Answer: SELECT nfl_team FROM table_16376436_1 WHERE college = "North Carolina"
Generated Answer: SELECT nfl_team FROM table_16376436_1 WHERE college = "North Carolina"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT nfl_team FROM table_16376436_1 WHERE college = "North Carolina"')


Success!
Success Answer: SELECT nfl_team FROM table_16376436_1 WHERE college = "North Carolina"

 94%|█████████▍| 943/1000 [41:25<02:56,  3.09s/it]

Question: Which channel tv (dt) plays in San Francisco - Oakland - San Jose?

Real Answer: SELECT channel_tv___dt__ FROM table_1553485_1 WHERE city_of_license__market = "San Francisco - Oakland - San Jose"
Generated Answer: SELECT channel_tv___dt__ FROM table_1553485_1 WHERE city_of_license__market = "San Francisco - Oakland - San Jose"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT channel_tv___dt__ FROM table_1553485_1 WHERE city_of_license__market = "San Francisco - Oakland - San Jose"')


Success!
Success Answer: SELECT channel_tv___dt__ FROM table_1553485_1 WHERE city_of_license__market = "San Francisco - Oakland - San Jose"

 94%|█████████▍| 944/1000 [41:26<02:27,  2.63s/it]

Question: Show different teams of technicians and the number of technicians in each team.

Real Answer: SELECT Team, COUNT(*) FROM technician GROUP BY Team
Generated Answer: SELECT Team, COUNT(*) FROM technician GROUP BY Team


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT Team, COUNT(*) FROM technician GROUP BY Team')


Success!
Success Answer: SELECT Team, COUNT(*) FROM technician GROUP BY Team

 94%|█████████▍| 945/1000 [41:29<02:20,  2.55s/it]

Question: What is the rank when the game was at dnipro stadium , kremenchuk?

Real Answer: SELECT rank FROM table_name_55 WHERE location = "dnipro stadium , kremenchuk"
Generated Answer: SELECT rank FROM table_name_55 WHERE location = "dnipro stadium, kremenchuk"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT rank FROM table_name_55 WHERE location = "dnipro stadium, kremenchuk"')


Real Answer: SELECT rank FROM table_name_55 WHERE location = "dnipro stadium , kremenchuk"
Failed Answer: SELECT rank FROM table_name_55 WHERE location = "dnipro stadium, kremenchuk"

 95%|█████████▍| 946/1000 [41:31<02:18,  2.56s/it]

Question: Where did they play and how many attended in the game against minnesota?

Real Answer: SELECT location_attendance FROM table_13619105_3 WHERE team = "Minnesota"
Generated Answer: SELECT location_attendance FROM table_13619105_3 WHERE team = "Minnesota"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT location_attendance FROM table_13619105_3 WHERE team = "Minnesota"')


Success!
Success Answer: SELECT location_attendance FROM table_13619105_3 WHERE team = "Minnesota"

 95%|█████████▍| 947/1000 [41:35<02:26,  2.77s/it]

Question: Which Termination of Mission has a Presentation of Credentials on October 29, 1981

Real Answer: SELECT termination_of_mission FROM table_name_5 WHERE presentation_of_credentials = "october 29, 1981"
Generated Answer: SELECT termination_of_mission FROM table_name_5 WHERE presentation_of_credentials = "october 29, 1981"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT termination_of_mission FROM table_name_5 WHERE presentation_of_credentials = "october 29, 1981"')


Success!
Success Answer: SELECT termination_of_mission FROM table_name_5 WHERE presentation_of_credentials = "october 29, 1981"

 95%|█████████▍| 948/1000 [41:37<02:21,  2.71s/it]

Question: Who was the opponent for the 2003 davis cup europe/africa group ii?

Real Answer: SELECT opponent FROM table_name_23 WHERE edition = "2003 davis cup europe/africa group ii"
Generated Answer: SELECT opponent FROM table_name_23 WHERE edition = "2003 davis cup europe/africa group ii"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT opponent FROM table_name_23 WHERE edition = "2003 davis cup europe/africa group ii"')


Success!
Success Answer: SELECT opponent FROM table_name_23 WHERE edition = "2003 davis cup europe/africa group ii"

 95%|█████████▍| 949/1000 [41:40<02:12,  2.60s/it]

Question: During which week was the earliest game with an attendance of 65,904 people?

Real Answer: SELECT MIN(week) FROM table_name_58 WHERE attendance = "65,904"
Generated Answer: SELECT MIN(week) FROM table_name_58 WHERE attendance = "65,904"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MIN(week) FROM table_name_58 WHERE attendance = "65,904"')


Success!
Success Answer: SELECT MIN(week) FROM table_name_58 WHERE attendance = "65,904"

 95%|█████████▌| 950/1000 [41:42<02:08,  2.57s/it]

Question: What is the most number of losses for teams with 5 wins and an against value under 1607?

Real Answer: SELECT MAX(losses) FROM table_name_65 WHERE wins = 5 AND against < 1607
Generated Answer: SELECT MAX(losses) FROM table_name_65 WHERE wins = 5 AND against < 1607


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT MAX(losses) FROM table_name_65 WHERE wins = 5 AND against < 1607')


Success!
Success Answer: SELECT MAX(losses) FROM table_name_65 WHERE wins = 5 AND against < 1607

 95%|█████████▌| 951/1000 [41:44<02:01,  2.49s/it]

Question: Which constructor makes the ej15 ej15b chassis?

Real Answer: SELECT constructor FROM table_name_98 WHERE chassis = "ej15 ej15b"
Generated Answer: SELECT constructor FROM table_name_98 WHERE chassis = "ej15 ej15b"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT constructor FROM table_name_98 WHERE chassis = "ej15 ej15b"')


Success!
Success Answer: SELECT constructor FROM table_name_98 WHERE chassis = "ej15 ej15b"

 95%|█████████▌| 952/1000 [41:47<02:05,  2.62s/it]

Question: What is the height of the Tides with less than 34 floors?

Real Answer: SELECT height_feet___m FROM table_name_68 WHERE floors < 34 AND name = "the tides"
Generated Answer: SELECT COUNT(height_feet___m) FROM table_name_68 WHERE floors < 34 AND name = "tides"


Similarity Score: 0.8625149
Feedback: ('approve', 'SELECT COUNT(height_feet___m) FROM table_name_68 WHERE floors < 34 AND name = "tides"')


Real Answer: SELECT height_feet___m FROM table_name_68 WHERE floors < 34 AND name = "the tides"
Failed Answer: SELECT COUNT(height_feet___m) FROM table_name_68 WHERE floors < 34 AND name = "tides"

 95%|█████████▌| 953/1000 [41:50<02:00,  2.56s/it]

Question: What is the greatest money list ranking that has a Top 25 higher than 2?

Real Answer: SELECT MAX(money_list_rank) FROM table_name_44 WHERE top_25 < 2
Generated Answer: SELECT MAX(money_list_rank) FROM table_name_44 WHERE top_25 > 2


Similarity Score: 0.9976296
Feedback: ('approve', 'SELECT MAX(money_list_rank) FROM table_name_44 WHERE top_25 > 2')


Real Answer: SELECT MAX(money_list_rank) FROM table_name_44 WHERE top_25 < 2
Failed Answer: SELECT MAX(money_list_rank) FROM table_name_44 WHERE top_25 > 2

 95%|█████████▌| 954/1000 [41:53<02:14,  2.93s/it]

Question: What are the points against for 2001, and games won of 5 (3)?

Real Answer: SELECT points_against___tests__ FROM table_name_16 WHERE year_s_ = 2001 AND games_won___tests__ = "5 (3)"
Generated Answer: SELECT points_against___tests__ FROM table_name_16 WHERE year_s_ = "2001" AND games_won___tests__ = "5 (3)"


Similarity Score: 0.99129754
Feedback: ('approve', 'SELECT points_against___tests__ FROM table_name_16 WHERE year_s_ = "2001" AND games_won___tests__ = "5 (3)"')


Real Answer: SELECT points_against___tests__ FROM table_name_16 WHERE year_s_ = 2001 AND games_won___tests__ = "5 (3)"
Failed Answer: SELECT points_against___tests__ FROM table_name_16 WHERE year_s_ = "2001" AND games_won___tests__ = "5 (3)"

 96%|█████████▌| 955/1000 [41:55<01:58,  2.64s/it]

Question: What is the total amount of points when the played number was less than 12?

Real Answer: SELECT SUM(points) FROM table_name_93 WHERE played < 12
Generated Answer: SELECT SUM(points) FROM table_name_93 WHERE played < 12


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT SUM(points) FROM table_name_93 WHERE played < 12')


Success!
Success Answer: SELECT SUM(points) FROM table_name_93 WHERE played < 12

 96%|█████████▌| 956/1000 [42:00<02:17,  3.13s/it]

Question: what is the date of birth for the player with goals less than 4, games more than 1, years at club, 1945 and named jim young?

Real Answer: SELECT date_of_birth FROM table_name_66 WHERE goals < 4 AND games > 1 AND years_at_club = "1945" AND player = "jim young"
Generated Answer: SELECT date_of_birth FROM table_name_66 WHERE goals < 4 AND games > 1 AND years_at_club = "1945" AND player = "jim young"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT date_of_birth FROM table_name_66 WHERE goals < 4 AND games > 1 AND years_at_club = "1945" AND player = "jim young"')


Success!
Success Answer: SELECT date_of_birth FROM table_name_66 WHERE goals < 4 AND games > 1 AND years_at_club = "1945" AND player = "jim young"

 96%|█████████▌| 957/1000 [42:02<02:06,  2.94s/it]

Question: What team played on March 20?

Real Answer: SELECT team FROM table_17102076_9 WHERE date = "March 20"
Generated Answer: SELECT team FROM table_17102076_9 WHERE date = "March 20"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT team FROM table_17102076_9 WHERE date = "March 20"')


Success!
Success Answer: SELECT team FROM table_17102076_9 WHERE date = "March 20"

 96%|█████████▌| 958/1000 [42:06<02:17,  3.29s/it]

Question: What is the result for Melbourne when Gold Coast, Perth, Auckland, and Sydney are no?

Real Answer: SELECT melbourne FROM table_name_1 WHERE gold_coast = "no" AND perth = "no" AND auckland = "no" AND sydney = "no"
Generated Answer: SELECT melbourne FROM table_name_1 WHERE gold_coast = "no" AND perth = "no" AND auckland = "no" AND sydney = "no"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT melbourne FROM table_name_1 WHERE gold_coast = "no" AND perth = "no" AND auckland = "no" AND sydney = "no"')


Success!
Success Answer: SELECT melbourne FROM table_name_1 WHERE gold_coast = "no" AND perth = "no" AND auckland = "no" AND sydney = "no"

 96%|█████████▌| 959/1000 [42:09<02:12,  3.23s/it]

Question: Which division has an average home attendance of 2.459?

Real Answer: SELECT division___section FROM table_1816947_2 WHERE average_attendance_home = "2.459"
Generated Answer: SELECT division___section FROM table_1816947_2 WHERE average_attendance_home = "2.459"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT division___section FROM table_1816947_2 WHERE average_attendance_home = "2.459"')


Success!
Success Answer: SELECT division___section FROM table_1816947_2 WHERE average_attendance_home = "2.459"

 96%|█████████▌| 960/1000 [42:12<02:00,  3.02s/it]

Question: Name the most wins where position is 16th

Real Answer: SELECT MAX(wins) FROM table_1708050_3 WHERE position = "16th"
Generated Answer: SELECT MAX(wins) FROM table_1708050_3 WHERE position = "16th"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT MAX(wins) FROM table_1708050_3 WHERE position = "16th"')


Success!
Success Answer: SELECT MAX(wins) FROM table_1708050_3 WHERE position = "16th"

 96%|█████████▌| 961/1000 [42:14<01:52,  2.88s/it]

Question: In the race involving Billy Lee Evans as the seated Representative, was he elected again?

Real Answer: SELECT result FROM table_1341663_11 WHERE incumbent = "Billy Lee Evans"
Generated Answer: SELECT result FROM table_1341663_11 WHERE incumbent = "Billy Lee Evans"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT result FROM table_1341663_11 WHERE incumbent = "Billy Lee Evans"')


Success!
Success Answer: SELECT result FROM table_1341663_11 WHERE incumbent = "Billy Lee Evans"

 96%|█████████▌| 962/1000 [42:17<01:43,  2.74s/it]

Question: What is the pole position of the Belgian Grand Prix?

Real Answer: SELECT pole_position FROM table_name_27 WHERE grand_prix = "belgian grand prix"
Generated Answer: SELECT pole_position FROM table_name_27 WHERE grand_prix = "belgian grand prix"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT pole_position FROM table_name_27 WHERE grand_prix = "belgian grand prix"')


Success!
Success Answer: SELECT pole_position FROM table_name_27 WHERE grand_prix = "belgian grand prix"

 96%|█████████▋| 963/1000 [42:21<01:53,  3.07s/it]

Question: When nac breda came in third place and psv eindhoven was the winner who is the top scorer?

Real Answer: SELECT top_scorer FROM table_20867295_2 WHERE winner = "PSV Eindhoven" AND third_place = "NAC Breda"
Generated Answer: SELECT top_scorer FROM table_20867295_2 WHERE winner = "PSV Eindhoven" AND third_place = "NAC Breda"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT top_scorer FROM table_20867295_2 WHERE winner = "PSV Eindhoven" AND third_place = "NAC Breda"')


Success!
Success Answer: SELECT top_scorer FROM table_20867295_2 WHERE winner = "PSV Eindhoven" AND third_place = "NAC Breda"

 96%|█████████▋| 964/1000 [42:23<01:41,  2.82s/it]

Question: What's the name of the award that Edward Jeffreys was the writer?

Real Answer: SELECT award FROM table_name_64 WHERE writer_s_ = "edward jeffreys"
Generated Answer: SELECT award FROM table_name_64 WHERE writer_s_ = "edward jeffreys"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT award FROM table_name_64 WHERE writer_s_ = "edward jeffreys"')


Success!
Success Answer: SELECT award FROM table_name_64 WHERE writer_s_ = "edward jeffreys"

 96%|█████████▋| 965/1000 [42:25<01:34,  2.70s/it]

Question: What was the result before week 13 when they played the Oakland Raiders?

Real Answer: SELECT result FROM table_name_33 WHERE week < 13 AND opponent = "oakland raiders"
Generated Answer: SELECT result FROM table_name_33 WHERE week < 13 AND opponent = "oakland raiders"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT result FROM table_name_33 WHERE week < 13 AND opponent = "oakland raiders"')


Success!
Success Answer: SELECT result FROM table_name_33 WHERE week < 13 AND opponent = "oakland raiders"

 97%|█████████▋| 966/1000 [42:29<01:39,  2.94s/it]

Question: How many authors or editors are there for the book title elf child?

Real Answer: SELECT COUNT(author_s__or_editor_s_) FROM table_20193855_2 WHERE book_title = "Elf Child"
Generated Answer: SELECT COUNT(author_s__or_editor_s_) FROM table_20193855_2 WHERE book_title = "Elf Child"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT COUNT(author_s__or_editor_s_) FROM table_20193855_2 WHERE book_title = "Elf Child"')


Success!
Success Answer: SELECT COUNT(author_s__or_editor_s_) FROM table_20193855_2 WHERE book_title = "Elf Child"

 97%|█████████▋| 967/1000 [42:39<02:48,  5.12s/it]

Question: What instrument did the musician with last name "Heilo" use in the song "Le Pop"?

Real Answer: SELECT T4.instrument FROM Performance AS T1 JOIN Band AS T2 ON T1.bandmate = T2.id JOIN Songs AS T3 ON T3.SongId = T1.SongId JOIN Instruments AS T4 ON T4.songid = T3.songid AND T4.bandmateid = T2.id WHERE T2.lastname = "Heilo" AND T3.title = "Le Pop"
Generated Answer: SELECT T1.instrument FROM Instruments AS T1 JOIN Performance AS T2 ON T1.songid = T2.SongId JOIN Band AS T3 ON T3.id = T2.bandmateid WHERE T3.lastname = "Heilo" INTERSECT SELECT T1.instrument FROM Instruments AS T1 JOIN Performance AS T2 ON T1.songid = T2.SongId WHERE T2.title = "Le Pop"


Similarity Score: 0.9016521
Feedback: ('approve', 'SELECT T1.instrument FROM Instruments AS T1 JOIN Performance AS T2 ON T1.songid = T2.SongId JOIN Band AS T3 ON T3.id = T2.bandmateid WHERE T3.lastname = "Heilo" INTERSECT SELECT T1.instrument FROM Instruments AS T1 JOIN Performance AS T2 ON T1.songid = T2.SongId WHERE T2.title = "Le Pop"')


Real Answer: SELECT T4.instrument FROM Performance AS T1 JOIN Band AS T2 ON T1.bandmate = T2.id JOIN Songs AS T3 ON T3.SongId = T1.SongId JOIN Instruments AS T4 ON T4.songid = T3.songid AND T4.bandmateid = T2.id WHERE T2.lastname = "Heilo" AND T3.title = "Le Pop"
Failed Answer: SELECT T1.instrument FROM Instruments AS T1 JOIN Performance AS T2 ON T1.songid = T2.SongId JOIN Band AS T3 ON T3.id = T2.bandmateid WHERE T3.lastname = "Heilo" INTERSECT SELECT T1.instrument FROM Instruments AS T1 JOIN Performance AS T2 ON T1.songid = T2.SongId WHERE T2.title = "Le Pop"

 97%|█████████▋| 968/1000 [42:42<02:21,  4.43s/it]

Question: How many platforms have nanaly fletch as the character?

Real Answer: SELECT COUNT(platform) FROM table_28178595_2 WHERE character = "Nanaly Fletch"
Generated Answer: SELECT COUNT(platform) FROM table_28178595_2 WHERE character = "Nanaly Fletch"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT COUNT(platform) FROM table_28178595_2 WHERE character = "Nanaly Fletch"')


Success!
Success Answer: SELECT COUNT(platform) FROM table_28178595_2 WHERE character = "Nanaly Fletch"

 97%|█████████▋| 969/1000 [42:45<02:01,  3.93s/it]

Question: What is Spandau 04 Player Jens Pohlmann's Pos.?

Real Answer: SELECT pos FROM table_name_1 WHERE club = "spandau 04" AND name = "jens pohlmann"
Generated Answer: SELECT pos FROM table_name_1 WHERE club = "spandau 04" AND name = "jens pohlmann"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT pos FROM table_name_1 WHERE club = "spandau 04" AND name = "jens pohlmann"')


Success!
Success Answer: SELECT pos FROM table_name_1 WHERE club = "spandau 04" AND name = "jens pohlmann"

 97%|█████████▋| 970/1000 [42:47<01:41,  3.38s/it]

Question: What was the competition on 25/08/07?

Real Answer: SELECT competition FROM table_name_52 WHERE date = "25/08/07"
Generated Answer: SELECT competition FROM table_name_52 WHERE date = "25/08/07"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT competition FROM table_name_52 WHERE date = "25/08/07"')


Success!
Success Answer: SELECT competition FROM table_name_52 WHERE date = "25/08/07"

 97%|█████████▋| 971/1000 [42:54<02:14,  4.64s/it]

Question: Find the name of the club that has the most female students.

Real Answer: SELECT t1.clubname FROM club AS t1 JOIN member_of_club AS t2 ON t1.clubid = t2.clubid JOIN student AS t3 ON t2.stuid = t3.stuid WHERE t3.sex = "F" GROUP BY t1.clubname ORDER BY COUNT(*) DESC LIMIT 1
Generated Answer: SELECT T1.clubname FROM club AS T1 JOIN member_of_club AS T2 ON T1.clubid = T2.clubid JOIN student AS T3 ON T2.stuid = T3.stuid WHERE T3.sex = 'F' GROUP BY T1.clubid ORDER BY COUNT(*) DESC LIMIT 1


Similarity Score: 0.99788105
Feedback: ('approve', "SELECT T1.clubname FROM club AS T1 JOIN member_of_club AS T2 ON T1.clubid = T2.clubid JOIN student AS T3 ON T2.stuid = T3.stuid WHERE T3.sex = 'F' GROUP BY T1.clubid ORDER BY COUNT(*) DESC LIMIT 1")


Real Answer: SELECT t1.clubname FROM club AS t1 JOIN member_of_club AS t2 ON t1.clubid = t2.clubid JOIN student AS t3 ON t2.stuid = t3.stuid WHERE t3.sex = "F" GROUP BY t1.clubname ORDER BY COUNT(*) DESC LIMIT 1
Failed Answer: SELECT T1.clubname FROM club AS T1 JOIN member_of_club AS T2 ON T1.clubid = T2.clubid JOIN student AS T3 ON T2.stuid = T3.stuid WHERE T3.sex = 'F' GROUP BY T1.clubid ORDER BY COUNT(*) DESC LIMIT 1

 97%|█████████▋| 972/1000 [42:57<01:54,  4.08s/it]

Question: How old is the person with the height of m (ft 3⁄4 in)?

Real Answer: SELECT age FROM table_24192031_2 WHERE height = "m (ft 3⁄4 in)"
Generated Answer: SELECT age FROM table_24192031_2 WHERE height = "m (ft 3⁄4 in)"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT age FROM table_24192031_2 WHERE height = "m (ft 3⁄4 in)"')


Success!
Success Answer: SELECT age FROM table_24192031_2 WHERE height = "m (ft 3⁄4 in)"

 97%|█████████▋| 973/1000 [43:00<01:37,  3.62s/it]

Question: What's the Points average with a Lost of 21, and Position of 22?

Real Answer: SELECT AVG(points) FROM table_name_36 WHERE lost = 21 AND position = 22
Generated Answer: SELECT AVG(points) FROM table_name_36 WHERE lost = 21 AND position = 22


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT AVG(points) FROM table_name_36 WHERE lost = 21 AND position = 22')


Success!
Success Answer: SELECT AVG(points) FROM table_name_36 WHERE lost = 21 AND position = 22

 97%|█████████▋| 974/1000 [43:02<01:23,  3.22s/it]

Question: Who provided lyrics or music to the artist Cube?

Real Answer: SELECT lyrics__l____music__m_ FROM table_name_46 WHERE artist = "cube"
Generated Answer: SELECT lyrics__l____music__m_ FROM table_name_46 WHERE artist = "cube"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT lyrics__l____music__m_ FROM table_name_46 WHERE artist = "cube"')


Success!
Success Answer: SELECT lyrics__l____music__m_ FROM table_name_46 WHERE artist = "cube"

 98%|█████████▊| 975/1000 [43:04<01:14,  2.99s/it]

Question: Who was the high scorer in the game when the team was 1-4?

Real Answer: SELECT high_points FROM table_13619105_3 WHERE record = "1-4"
Generated Answer: SELECT high_points FROM table_13619105_3 WHERE record = "1-4"


Similarity Score: 0.99999964
Feedback: ('approve', 'SELECT high_points FROM table_13619105_3 WHERE record = "1-4"')


Success!
Success Answer: SELECT high_points FROM table_13619105_3 WHERE record = "1-4"

 98%|█████████▊| 976/1000 [43:06<01:04,  2.71s/it]

Question: Who is the away team when there are 15 ties?

Real Answer: SELECT away_team FROM table_name_57 WHERE tie_no = "15"
Generated Answer: SELECT away_team FROM table_name_57 WHERE tie_no = "15"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT away_team FROM table_name_57 WHERE tie_no = "15"')


Success!
Success Answer: SELECT away_team FROM table_name_57 WHERE tie_no = "15"

 98%|█████████▊| 977/1000 [43:09<00:59,  2.58s/it]

Question: What is the inductioin for 1975–1976?

Real Answer: SELECT induction FROM table_name_93 WHERE years = "1975–1976"
Generated Answer: SELECT induction FROM table_name_93 WHERE years = "1975–1976"


Similarity Score: 1.0000002
Feedback: ('approve', 'SELECT induction FROM table_name_93 WHERE years = "1975–1976"')


Success!
Success Answer: SELECT induction FROM table_name_93 WHERE years = "1975–1976"

 98%|█████████▊| 978/1000 [43:11<00:57,  2.60s/it]

Question: What is the district for carl vinson?

Real Answer: SELECT district FROM table_1341930_11 WHERE incumbent = "Carl Vinson"
Generated Answer: SELECT district FROM table_1341930_11 WHERE incumbent = "Carl Vinson"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT district FROM table_1341930_11 WHERE incumbent = "Carl Vinson"')


Success!
Success Answer: SELECT district FROM table_1341930_11 WHERE incumbent = "Carl Vinson"

 98%|█████████▊| 979/1000 [43:13<00:49,  2.36s/it]

Question: In what Round was Pick #12 drafted?

Real Answer: SELECT round FROM table_name_53 WHERE pick__number = 12
Generated Answer: SELECT round FROM table_name_53 WHERE pick__number = "12"


Similarity Score: 0.99498063
Feedback: ('approve', 'SELECT round FROM table_name_53 WHERE pick__number = "12"')


Real Answer: SELECT round FROM table_name_53 WHERE pick__number = 12
Failed Answer: SELECT round FROM table_name_53 WHERE pick__number = "12"

 98%|█████████▊| 980/1000 [43:17<00:55,  2.79s/it]

Question: What gun has a time to feet ratio of 18.8 at 55 degrees?

Real Answer: SELECT gun FROM table_16439764_1 WHERE time_to_ft__m__at_55°__seconds_ = "18.8"
Generated Answer: SELECT gun FROM table_16439764_1 WHERE time_to_ft__m__at_55°__seconds_ = "18.8"


Similarity Score: 0.99999994
Feedback: ('approve', 'SELECT gun FROM table_16439764_1 WHERE time_to_ft__m__at_55°__seconds_ = "18.8"')


Success!
Success Answer: SELECT gun FROM table_16439764_1 WHERE time_to_ft__m__at_55°__seconds_ = "18.8"

 98%|█████████▊| 981/1000 [43:21<00:57,  3.04s/it]

Question: What won the Best Female Artist if People's Male MC won the Best Female Lyricist?

Real Answer: SELECT best_female_artist FROM table_22546460_4 WHERE best_female_lyricist = "People's Male MC"
Generated Answer: SELECT best_female_artist FROM table_22546460_4 WHERE best_female_lyricist = "People's Male MC"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT best_female_artist FROM table_22546460_4 WHERE best_female_lyricist = "People\'s Male MC"')


Success!
Success Answer: SELECT best_female_artist FROM table_22546460_4 WHERE best_female_lyricist = "People's Male MC"

 98%|█████████▊| 982/1000 [43:22<00:47,  2.66s/it]

Question: How many laps were there when the start was 12?

Real Answer: SELECT COUNT(laps) FROM table_name_69 WHERE start = "12"
Generated Answer: SELECT laps FROM table_name_69 WHERE start = "12"


Similarity Score: 0.88435507
Feedback: ('approve', 'SELECT laps FROM table_name_69 WHERE start = "12"')


Real Answer: SELECT COUNT(laps) FROM table_name_69 WHERE start = "12"
Failed Answer: SELECT laps FROM table_name_69 WHERE start = "12"

 98%|█████████▊| 983/1000 [43:26<00:47,  2.82s/it]

Question: What is the largest district for delegate Cheryl Glenn, that she had taken after 2006?

Real Answer: SELECT MAX(district) FROM table_name_30 WHERE delegate = "cheryl glenn" AND took_office > 2006
Generated Answer: SELECT MAX(district) FROM table_name_30 WHERE delegate = "cheryl glenn" AND took_office > 2006


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT MAX(district) FROM table_name_30 WHERE delegate = "cheryl glenn" AND took_office > 2006')


Success!
Success Answer: SELECT MAX(district) FROM table_name_30 WHERE delegate = "cheryl glenn" AND took_office > 2006

 98%|█████████▊| 984/1000 [43:29<00:47,  2.94s/it]

Question: What is the number of stages where the teams classification leader is Cervélo Testteam?

Real Answer: SELECT COUNT(stage) FROM table_26010857_13 WHERE teams_classification = "Cervélo TestTeam"
Generated Answer: SELECT COUNT(stage) FROM table_26010857_13 WHERE teams_classification = "Cervélo Testteam"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT COUNT(stage) FROM table_26010857_13 WHERE teams_classification = "Cervélo Testteam"')


Real Answer: SELECT COUNT(stage) FROM table_26010857_13 WHERE teams_classification = "Cervélo TestTeam"
Failed Answer: SELECT COUNT(stage) FROM table_26010857_13 WHERE teams_classification = "Cervélo Testteam"

 98%|█████████▊| 985/1000 [43:31<00:40,  2.70s/it]

Question: What's the genre of developer(s) Lionhead Studios?

Real Answer: SELECT genre FROM table_name_41 WHERE developer_s_ = "lionhead studios"
Generated Answer: SELECT genre FROM table_name_41 WHERE developer_s_ = "lionhead studios"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT genre FROM table_name_41 WHERE developer_s_ = "lionhead studios"')


Success!
Success Answer: SELECT genre FROM table_name_41 WHERE developer_s_ = "lionhead studios"

 99%|█████████▊| 986/1000 [43:33<00:34,  2.46s/it]

Question: What is the score of the home team, bath city?

Real Answer: SELECT score FROM table_name_16 WHERE home_team = "bath city"
Generated Answer: SELECT score FROM table_name_16 WHERE home_team = "bath city"


Similarity Score: 1.0000001
Feedback: ('approve', 'SELECT score FROM table_name_16 WHERE home_team = "bath city"')


Success!
Success Answer: SELECT score FROM table_name_16 WHERE home_team = "bath city"

 99%|█████████▊| 987/1000 [43:34<00:28,  2.20s/it]

Question: Which driver drove in grid 19?

Real Answer: SELECT driver FROM table_name_12 WHERE grid = 19
Generated Answer: SELECT driver FROM table_name_12 WHERE grid = 19


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT driver FROM table_name_12 WHERE grid = 19')


Success!
Success Answer: SELECT driver FROM table_name_12 WHERE grid = 19

 99%|█████████▉| 988/1000 [43:37<00:28,  2.40s/it]

Question: Which season is Euroleague with Greek Cup?

Real Answer: SELECT season FROM table_name_4 WHERE european_cup = "euroleague" AND national_cup = "greek cup"
Generated Answer: SELECT season FROM table_name_4 WHERE european_cup = "euroleague" AND national_cup = "greek cup"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT season FROM table_name_4 WHERE european_cup = "euroleague" AND national_cup = "greek cup"')


Success!
Success Answer: SELECT season FROM table_name_4 WHERE european_cup = "euroleague" AND national_cup = "greek cup"

 99%|█████████▉| 989/1000 [43:40<00:25,  2.34s/it]

Question: What was the team 1 when Red Star (D1) was team 2?

Real Answer: SELECT team_1 FROM table_name_60 WHERE team_2 = "red star (d1)"
Generated Answer: SELECT team_1 FROM table_name_60 WHERE team_2 = "red star (d1)"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT team_1 FROM table_name_60 WHERE team_2 = "red star (d1)"')


Success!
Success Answer: SELECT team_1 FROM table_name_60 WHERE team_2 = "red star (d1)"

 99%|█████████▉| 990/1000 [43:40<00:19,  1.90s/it]

Question: Show the title and director for all films.

Real Answer: SELECT title, directed_by FROM film
Generated Answer: SELECT title, directed_by FROM film


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT title, directed_by FROM film')


Success!
Success Answer: SELECT title, directed_by FROM film

 99%|█████████▉| 991/1000 [43:44<00:22,  2.52s/it]

Question: When total costs (2005) are $700,116, what is the cost per capita?

Real Answer: SELECT cost_per_capita FROM table_12340907_1 WHERE total_costs__2005_ = "$700,116"
Generated Answer: SELECT cost_per_capita FROM table_12340907_1 WHERE total_costs__2005_ = "$700,116"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT cost_per_capita FROM table_12340907_1 WHERE total_costs__2005_ = "$700,116"')


Success!
Success Answer: SELECT cost_per_capita FROM table_12340907_1 WHERE total_costs__2005_ = "$700,116"

 99%|█████████▉| 992/1000 [43:48<00:23,  2.92s/it]

Question: What is the Interregnum ended for Count Palatine of Saxony of john george ii, elector of saxony?

Real Answer: SELECT interregnum_ended FROM table_name_69 WHERE count_palatine_of_saxony = "john george ii, elector of saxony"
Generated Answer: SELECT interregnum_ended FROM table_name_69 WHERE count_palatine_of_saxony = "john george ii, elector of saxony"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT interregnum_ended FROM table_name_69 WHERE count_palatine_of_saxony = "john george ii, elector of saxony"')


Success!
Success Answer: SELECT interregnum_ended FROM table_name_69 WHERE count_palatine_of_saxony = "john george ii, elector of saxony"

 99%|█████████▉| 993/1000 [43:51<00:19,  2.75s/it]

Question: Who won the US Open in 1937?

Real Answer: SELECT player FROM table_197638_6 WHERE us_open = 1937
Generated Answer: SELECT player FROM table_197638_6 WHERE us_open = "1937"


Similarity Score: 0.9896717
Feedback: ('approve', 'SELECT player FROM table_197638_6 WHERE us_open = "1937"')


Real Answer: SELECT player FROM table_197638_6 WHERE us_open = 1937
Failed Answer: SELECT player FROM table_197638_6 WHERE us_open = "1937"

 99%|█████████▉| 994/1000 [43:53<00:16,  2.68s/it]

Question: Which country has a $46,426 median family income?

Real Answer: SELECT county FROM table_name_34 WHERE median_family_income = "$46,426"
Generated Answer: SELECT county FROM table_name_34 WHERE median_family_income = "$46,426"


Similarity Score: 0.9999999
Feedback: ('approve', 'SELECT county FROM table_name_34 WHERE median_family_income = "$46,426"')


Success!
Success Answer: SELECT county FROM table_name_34 WHERE median_family_income = "$46,426"

100%|█████████▉| 995/1000 [43:55<00:11,  2.39s/it]

Question: What is the team's record on februrary 23?

Real Answer: SELECT record FROM table_name_29 WHERE february = 23
Generated Answer: SELECT record FROM table_name_29 WHERE february = "23"


Similarity Score: 0.99266267
Feedback: ('approve', 'SELECT record FROM table_name_29 WHERE february = "23"')


Real Answer: SELECT record FROM table_name_29 WHERE february = 23
Failed Answer: SELECT record FROM table_name_29 WHERE february = "23"

100%|█████████▉| 996/1000 [43:56<00:08,  2.15s/it]

Question: What name is the goals of 25?

Real Answer: SELECT name FROM table_name_18 WHERE goals = 25
Generated Answer: SELECT name FROM table_name_18 WHERE goals = "25"


Similarity Score: 0.98986864
Feedback: ('approve', 'SELECT name FROM table_name_18 WHERE goals = "25"')


Real Answer: SELECT name FROM table_name_18 WHERE goals = 25
Failed Answer: SELECT name FROM table_name_18 WHERE goals = "25"

100%|█████████▉| 997/1000 [43:58<00:06,  2.09s/it]

Question: What is the Home team with a crowd relevant to footscray?

Real Answer: SELECT crowd FROM table_name_33 WHERE home_team = "footscray"
Generated Answer: SELECT crowd FROM table_name_33 WHERE home_team = "footscray"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT crowd FROM table_name_33 WHERE home_team = "footscray"')


Success!
Success Answer: SELECT crowd FROM table_name_33 WHERE home_team = "footscray"

100%|█████████▉| 998/1000 [44:00<00:03,  1.97s/it]

Question: What is Player, when To Par is less than 14?

Real Answer: SELECT player FROM table_name_28 WHERE to_par < 14
Generated Answer: SELECT player FROM table_name_28 WHERE to_par < 14


Similarity Score: 0.9999998
Feedback: ('approve', 'SELECT player FROM table_name_28 WHERE to_par < 14')


Success!
Success Answer: SELECT player FROM table_name_28 WHERE to_par < 14

100%|█████████▉| 999/1000 [44:02<00:01,  1.96s/it]

Question: Can you tell me the Chassis that has the Year of 1977?

Real Answer: SELECT chassis FROM table_name_47 WHERE year = 1977
Generated Answer: SELECT chassis FROM table_name_47 WHERE year = "1977"


Similarity Score: 0.99522567
Feedback: ('approve', 'SELECT chassis FROM table_name_47 WHERE year = "1977"')


Real Answer: SELECT chassis FROM table_name_47 WHERE year = 1977
Failed Answer: SELECT chassis FROM table_name_47 WHERE year = "1977"

100%|██████████| 1000/1000 [44:04<00:00,  2.64s/it]

Question: What's the length of the model with 500 E body style?

Real Answer: SELECT length FROM table_1773707_2 WHERE body_style = "500 E"
Generated Answer: SELECT length FROM table_1773707_2 WHERE body_style = "500 E"


Similarity Score: 1.0
Feedback: ('approve', 'SELECT length FROM table_1773707_2 WHERE body_style = "500 E"')


Success!
Success Answer: SELECT length FROM table_1773707_2 WHERE body_style = "500 E"


Similarity Scores: [1.0, 1.0, 0.9883720930232558, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9672131147540983, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9875, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9733333333333334, 1.0, 1.0, 1.0, 1.0, 0.9811320754716981, 1.0, 0.8321167883211679, 0.9496402877697842, 1.0, 1.0, 1.0, 0.9558823529411765, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.950354609929078, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9559748427672956, 1.0, 0.9692307692307692, 1.0, 0.987012987012987, 1.0, 1.0, 1.0, 1.0, 0.9803921568627451, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9795918367346939, 1.0, 1.0, 1.0, 0.8928571428571429, 1.0, 0.994413407821229, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9797979797979798, 1.0, 0.9895833333333334, 1.0, 0.9791666666666666, 0.9782608695652174, 1.0, 1.0, 0.944, 0.9465648854961832, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.8924731182795699, 1.0, 1.0, 1.0, 1.0, 0.9795918367346939, 1.0, 1.0, 0.9661016949152542, 1.0, 0.9814814814814815, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.935251798561151, 1.0, 1.0, 0.5229885057471264, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9818181818181818, 0.9665071770334929, 1.0, 1.0, 0.991869918699187, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.989247311827957, 0.9927007299270073, 1.0, 1.0, 1.0, 1.0, 1.0, 0.4743083003952569, 1.0, 0.9726027397260274, 1.0, 0.9565217391304348, 1.0, 1.0, 1.0, 1.0, 0.9868421052631579, 1.0, 1.0, 1.0, 0.9841269841269841, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.98, 1.0, 0.9421487603305785, 1.0, 1.0, 1.0, 1.0, 0.9803921568627451, 1.0, 0.96, 1.0, 1.0, 1.0, 0.9805825242718447, 0.9338235294117647, 0.9285714285714286, 0.9852941176470589, 1.0, 1.0, 1.0, 1.0, 0.9420289855072463, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.7447447447447447, 0.9621621621621622, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9855072463768116, 1.0, 1.0, 0.8829787234042553, 1.0, 0.9681528662420382, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.906832298136646, 0.9705882352941176, 0.8047808764940239, 1.0, 1.0, 0.9813084112149533, 1.0, 1.0, 0.9482758620689655, 1.0, 0.6844444444444444, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9672131147540983, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9838709677419355, 1.0, 1.0, 1.0, 0.9772727272727273, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9866666666666667, 1.0, 1.0, 1.0, 0.9770114942528736, 0.9767441860465116, 1.0, 0.9617486338797814, 1.0, 1.0, 0.9661016949152542, 1.0, 1.0, 1.0, 1.0, 0.9571428571428572, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9885057471264368, 1.0, 1.0, 0.9873417721518988, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9615384615384616, 1.0, 0.9850746268656716, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9736842105263158, 1.0, 0.9879518072289156, 1.0, 1.0, 0.8623188405797102, 0.9795918367346939, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.970954356846473, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9333333333333333, 1.0, 0.9368421052631579, 1.0, 1.0, 1.0, 1.0, 0.9171974522292994, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9871794871794872, 1.0, 1.0, 0.9885057471264368, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.38095238095238093, 1.0, 0.9795918367346939, 1.0, 1.0, 0.7823691460055097, 1.0, 1.0, 0.9724770642201835, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9206349206349206, 1.0, 1.0, 1.0, 1.0, 0.9855072463768116, 0.6699507389162561, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.948905109489051, 0.39436619718309857, 1.0, 1.0, 1.0, 1.0, 0.9633507853403142, 0.9864864864864865, 1.0, 1.0, 0.9761904761904762, 1.0, 1.0, 1.0, 1.0, 1.0, 0.957983193277311, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9736842105263158, 1.0, 1.0, 0.9714285714285714, 1.0, 1.0, 0.8181818181818182, 1.0, 1.0, 1.0, 1.0, 0.9705882352941176, 1.0, 0.943089430894309, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9862068965517241, 1.0, 1.0, 1.0, 1.0, 0.9083969465648855, 1.0, 1.0, 1.0, 0.993103448275862, 1.0, 0.945054945054945, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.8925619834710744, 0.9146341463414634, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.896551724137931, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9759036144578314, 1.0, 1.0, 1.0, 0.9795918367346939, 1.0, 0.9661016949152542, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9875, 1.0, 1.0, 1.0, 0.9868421052631579, 1.0, 1.0, 0.953125, 0.9545454545454546, 1.0, 1.0, 1.0, 1.0, 1.0, 0.7441860465116279, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9368421052631579, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9642857142857143, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.8617021276595744, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9761904761904762, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9345794392523364, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.8322981366459627, 0.9753086419753086, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9433962264150944, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.984375, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9904761904761905, 1.0, 0.9850746268656716, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9615384615384616, 1.0, 0.9516129032258065, 1.0, 1.0, 1.0, 1.0, 0.9575757575757575, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9795918367346939, 1.0, 0.9291338582677166, 1.0, 1.0, 1.0, 1.0, 0.9887640449438202, 1.0, 1.0, 1.0, 1.0, 0.959349593495935, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9824561403508771, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9928571428571429, 1.0, 1.0, 1.0, 1.0, 1.0, 0.7580645161290323, 0.9791666666666666, 0.9833333333333333, 1.0, 1.0, 1.0, 0.9803921568627451, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9556962025316456, 1.0, 1.0, 1.0, 1.0, 0.950354609929078, 0.953125, 0.9538461538461539, 1.0, 1.0, 1.0, 1.0, 1.0, 0.8863636363636364, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9634146341463414, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9583333333333334, 1.0, 1.0, 1.0, 0.9333333333333333, 0.983739837398374, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9726027397260274, 1.0, 1.0, 1.0, 0.8372093023255814, 1.0, 0.9811320754716981, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9864864864864865, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9759036144578314, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9672131147540983, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9864864864864865, 1.0, 1.0, 1.0, 0.9357798165137615, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9550561797752809, 1.0, 0.9139784946236559, 0.9496402877697842, 1.0, 0.2916666666666667, 1.0, 0.9411764705882353, 1.0, 1.0, 1.0, 0.9818181818181818, 1.0, 1.0, 1.0, 1.0, 0.9871794871794872, 1.0, 1.0, 1.0, 0.9358974358974359, 1.0, 0.9893617021276596, 1.0, 0.9696969696969697, 0.7323943661971831, 1.0, 0.9807692307692307, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.95, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9789473684210527, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9090909090909091, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9934640522875817, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.935672514619883, 0.9841269841269841, 0.9907407407407407, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.4065934065934066, 1.0, 1.0, 1.0, 0.9238578680203046, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9821428571428571, 1.0, 1.0, 0.9357798165137615, 1.0, 0.9888888888888889, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9818181818181818, 1.0, 0.9811320754716981, 0.9791666666666666, 1.0, 1.0, 0.9807692307692307, 1.0]
RLHF Scores: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
Accuracy - exact match: 81.70%
Average Similarity: 98.76%
Average RLHF Score: 95.90%